Repository wp-media/wp-rocket, pull requests merged in 2018-10, with the labels that each got.

#1211 Fixed WeePie Cookie Allow plugin compatibility
  inc/3rd-party/plugins/cookies/weepie-cookie-allow.php
Labels: 3rd party, Module: cache, Type: enhancement, community

#1214 Prevent direct access to the log file
  inc/admin/upgrader.php
  inc/classes/class-logger.php
  inc/classes/class-secure-stream-logger.php
  phpcs.xml
Labels: Module: Logger, Severity: trivial, Type: enhancement

#1219 Improved compatibility with Cookie Notice plugin
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/cookie-notice.php
  inc/3rd-party/plugins/cookies/cookie-notice.php
Labels: 3rd party, Module: cache, Type: enhancement

#1218 Fixes #1199: the fatal staging debug logger
  inc/admin/upgrader.php
  inc/functions/files.php
  inc/process-autoloader.php
Labels: Severity: minor, Type: bug

#1223 Fixes #78 Allow serving mobile cache version to tablets
  inc/admin/upgrader.php
  inc/front/process.php
  inc/functions/files.php
Labels: Module: cache, Type: enhancement

#1222 Update the preload system
  composer.json
  composer.lock
  inc/3rd-party/hosting/pagely.php
  inc/3rd-party/hosting/pressidium.php
  inc/3rd-party/hosting/savvii.php
  inc/3rd-party/hosting/wpengine.php
  inc/3rd-party/plugins/seo/all-in-one-seo-pack.php
  inc/3rd-party/plugins/seo/yoast-seo.php
  inc/3rd-party/plugins/varnish-http-purge.php
  inc/3rd-party/themes/studiopress.php
  inc/admin/options.php
  inc/admin/ui/notices.php
  inc/admin/upgrader.php
  inc/classes/admin/settings/class-beacon.php
  inc/classes/admin/settings/class-page.php
  inc/classes/admin/settings/class-settings.php
  inc/classes/class-plugin.php
  inc/classes/preload/class-abstract-preload.php
  inc/classes/preload/class-full-process.php
  inc/classes/preload/class-homepage.php
  inc/classes/preload/class-partial-process.php
  inc/classes/preload/class-sitemap.php
  inc/classes/subscriber/preload/class-partial-preload-subscriber.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
  inc/classes/subscriber/preload/class-sitemap-preload-subscriber.php
  inc/common/cron.php
  inc/common/purge.php
  inc/deprecated/3.2.php
  inc/deprecated/deprecated.php
  inc/functions/bots.php
  inc/functions/preload.php
  inc/main.php
  wp-rocket.php
Labels: Module: preload, Type: enhancement

#1228 Add a new Image Optimization settings tab
  assets/css/wpr-admin-common.css
  assets/css/wpr-admin.css
  assets/img/imagify-hover.svg
  assets/img/imagify.jpg
  assets/img/imagify.svg
  assets/img/logo-imagify.png
  assets/img/logo-imagify.svg
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/admin/ui/notices.php
  inc/classes/admin/settings/class-page.php
  inc/classes/admin/settings/class-render.php
  inc/classes/class-plugin.php
  inc/deprecated/3.2.php
  inc/vendors/classes/class-imagify-partner.php
  src/js/global/pageManager.js
  src/scss/base/_icons.scss
  src/scss/components/_imagify.scss
  src/scss/components/_menuItem.scss
  src/scss/main.scss
  views/settings/page-sections/imagify.php
  views/settings/page.php
Labels: Type: enhancement

#1225 Support CDN for favicons
  inc/classes/class-plugin.php
  inc/classes/optimization/class-cdn-favicons.php
  inc/classes/subscriber/Optimization/class-cdn-favicons-subscriber.php
  inc/functions/options.php
Labels: Module: CDN, Type: new feature

#1212 Control heartbeat
  assets/css/wpr-admin-rtl.css
  assets/img/heartbeat-hover.svg
  assets/img/heartbeat.svg
  assets/js/wpr-admin.js.map
  composer.lock
  inc/admin/upgrader.php
  inc/classes/admin/settings/class-beacon.php
  inc/classes/admin/settings/class-page.php
  inc/classes/admin/settings/class-settings.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/class-heartbeat-subscriber.php
  package.json
  src/js/global/main.js
  src/scss/base/_icons.scss
  src/scss/components/_menuItem.scss
  src/scss/rtl.scss
  views/settings/fields/one-click-addon.php
  views/settings/fields/rocket-addon.php
  views/settings/fields/select.php
  views/settings/page-sections/cloudflare.php
  views/settings/page-sections/dashboard.php
  views/settings/page-sections/heartbeat.php
  views/settings/page.php
Labels: Module: Heartbeat, Type: new feature

#1237 Custom logger html formatter
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/classes/admin/class-logs.php
  inc/classes/logger/class-html-formatter.php
  inc/classes/logger/class-logger.php
  inc/classes/logger/class-stream-handler.php
  inc/classes/optimization/CSS/class-combine-google-fonts.php
  inc/classes/optimization/CSS/class-combine.php
  inc/classes/optimization/CSS/class-minify.php
  inc/classes/optimization/JS/class-combine.php
  inc/classes/optimization/JS/class-minify.php
  inc/front/process.php
  inc/functions/options.php
  inc/process-autoloader.php
  views/settings/page-sections/tools.php
Labels: Module: Logger, Type: enhancement

#1203 Facebook pixel cache busting
  assets/img/logo-facebook.svg
  inc/admin/upgrader.php
  inc/classes/admin/settings/class-beacon.php
  inc/classes/admin/settings/class-page.php
  inc/classes/busting/class-abstract-busting.php
  inc/classes/busting/class-busting-factory.php
  inc/classes/busting/class-facebook-pickles.php
  inc/classes/busting/class-facebook-sdk.php
  inc/classes/busting/class-google-tag-manager.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/class-facebook-tracking-cache-busting-subscriber.php
  inc/classes/subscriber/class-google-tracking-cache-busting-subscriber.php
  inc/main.php
Labels: Module: Facebook Pixel Addon, Type: new feature

#1246 Fixes #1243 #1244: Facebook pixel
  inc/classes/busting/class-facebook-pickles.php
  inc/classes/busting/class-facebook-sdk.php
Labels: Severity: minor, Type: bug

#1254 Fixes #1253: CDN on favicon doesn't work with relative path
  inc/classes/optimization/class-cdn-favicons.php
Labels: Module: CDN, Type: bug

#1258 Fixes #1255: Facebook files not replaced in some implementations
  inc/classes/busting/class-facebook-pickles.php
Labels: Module: Facebook Pixel Addon, Severity: minor, Type: bug

#1263 Fixes #1248 #1250 #1251 Preload enhancements
  inc/admin/options.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
  inc/functions/preload.php
  inc/main.php
Labels: Module: preload, Type: enhancement

#1265 Fixes #1256: Sucuri cache sync as add-on
  assets/css/wpr-admin.css
  assets/img/logo-sucuri.png
  inc/admin/upgrader.php
  inc/classes/admin/settings/class-beacon.php
  inc/classes/admin/settings/class-page.php
  inc/classes/admin/settings/class-render.php
  inc/classes/admin/settings/class-settings.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/plugins/security/class-sucuri-subscriber.php
  views/settings/page-sections/sucuri-cache.php
Labels: 3rd party, Module: cache, Type: bug

#1272 Fixes #1268: PHP Warning in class-cdn-favicons.php
  inc/classes/optimization/class-cdn-favicons.php
Labels: Module: CDN, Type: bug

#1274 Fixes #1273: Update uninstall.php to reflect custom cache folders
  uninstall.php
Labels: Type: bug

#1277 Fixes #1276: missing CDN on favicon type
  inc/classes/optimization/class-cdn-favicons.php
Labels: Module: CDN, Type: enhancement

#1279 Fixes #1247 Add the WebP MIME type to the mod_expires htaccess rules
  inc/3rd-party/hosting/godaddy.php
  inc/3rd-party/hosting/o2switch.php
  inc/functions/htaccess.php
Labels: Module: browser cache, Type: enhancement

#1283 Fixes #1189 remove protocol from 3rd party URL for combine JS exclusion
  inc/classes/admin/settings/class-settings.php
Labels: Module: file optimization, Type: enhancement

#1285 Fixes #1234 Improve query strings handling in process.php
  inc/front/process.php
Labels: Module: cache, Type: bug

#1286 Fixes #1207: Disabling WPML via WPML Network Setup causes PHP Fatal Error on Multisite
  inc/common/admin-bar.php
  inc/common/purge.php
  inc/functions/files.php
  inc/functions/i18n.php
Labels: 3rd party, Type: bug

#1284 Closes #1029 Hide My Account section with a constant
  views/settings/page-sections/dashboard.php
Labels: Module: dashboard, Type: enhancement

#1288 Fixes #45 Serve gzipped HTML file
  inc/front/process.php
Labels: Module: cache, Type: enhancement

#1289 Fixes #1238: show children checkboxes
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  src/js/global/fields.js
Labels: Module: preload, Type: bug

#1290 Closes #1227: Beaver builder parallax CDN compatibility
  inc/3rd-party/plugins/page-builder/beaver-builder.php
Labels: 3rd party, Module: CDN, Type: enhancement, community

#535 CDN fix for custom uploads path
  inc/front/cdn.php
Labels: Module: CDN, Severity: minor, Type: enhancement, community

#1291 Fixes #521 Rewrite images URL with CDN URL if images zone is selected
  inc/front/cdn.php
Labels: Module: CDN, Type: enhancement
