Repository wp-media/wp-rocket, pull requests merged in 2018-08, with the labels that each got.

#1101 Update translations for 3.1
  languages/rocket-cs_CZ.mo
  languages/rocket-cs_CZ.po
  languages/rocket-de_DE.mo
  languages/rocket-de_DE.po
  languages/rocket-es_ES.mo
  languages/rocket-es_ES.po
  languages/rocket-fr_FR.mo
  languages/rocket-fr_FR.po
  languages/rocket-it_IT.mo
  languages/rocket-it_IT.po
  languages/rocket-ru_RU.mo
  languages/rocket-ru_RU.po
  languages/rocket-tr_TR.mo
  languages/rocket-tr_TR.po
  languages/rocket-zh_CN.mo
  languages/rocket-zh_CN.po
  languages/rocket.pot
Labels: i18n

#1106 Fix #1104 custom cron schedules removed when Google Tracking addon is not active
  inc/classes/subscriber/class-google-tracking-cache-busting-subscriber.php
Labels: Module: Google Tracking Addon, Severity: minor, Type: bug

#1107 Fixes #1100: plugin network deactivation
  inc/classes/admin/deactivation/class-deactivation-intent.php
Labels: Type: bug

#1108 Fixes #1017 correct position of show sidebard slider for RTL
  assets/css/wpr-admin-rtl.css
  gulpfile.js
  src/scss/rtl.scss
Labels: Severity: trivial, Type: bug, design

#1109 Fix #1092 Prevent display of the show sidebar slider on license screen
  views/settings/page.php
Labels: Severity: trivial, Type: bug, design

#1112 Fixes #1111 PHP Fatal Error in deprecated function call
  inc/deprecated.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1114 Fixes #309: create config directory before config files
  inc/functions/files.php
Labels: Module: cache, Severity: minor, Type: bug

#1113 Fix JS Errors When Using HubSpot Forms
  inc/classes/optimization/JS/class-combine.php
  package-lock.json
  package.json
Labels: Module: file optimization, Severity: minor, Type: bug, community

#1116 Coupons.com Advertisement Fix
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Severity: minor, Type: bug, community

#1121 Exclude text/x-template type from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1119 Rewrite URL to path conversion function
  inc/classes/optimization/CSS/class-combine.php
  inc/classes/optimization/CSS/class-minify.php
  inc/classes/optimization/JS/class-combine.php
  inc/classes/optimization/JS/class-minify.php
  inc/classes/optimization/class-cache-dynamic-resource.php
  inc/classes/optimization/class-remove-query-string.php
  inc/functions/formatting.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1122 Fixes #121: REST routes exclusion in multisite sub-sites
  inc/3rd-party/plugins/wp-rest-api.php
  inc/admin/upgrader.php
  inc/functions/admin.php
  inc/functions/options.php
Labels: Module: cache, Severity: minor, Type: bug

#1124 3.1.1.1
  inc/functions/admin.php
  inc/functions/options.php
  wp-rocket.php
Labels: Severity: major, Type: bug

#1130 Fixes Display Issue When Using Jupiter Theme
  inc/classes/optimization/JS/class-combine.php
  inc/functions/admin.php
  inc/functions/options.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1134 Excludes Dynamic NewsPaper Theme View Count JS
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1142 Fix #1126 exclude Nextend Social Login inline JS from combine
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1143 Fix #1135 exclude getClicky inline JS from combine
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1144 Fix #1137 exclude googleadservices inline and external JS from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1145 Fix #1138 use an allowlist for inline scripts to combine
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Severity: minor, Type: enhancement

#1146 Fix #1139 exclude loadCSS from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1147 Fix #1140 parse HTML without comments for scripts/styles
  inc/classes/optimization/CSS/class-combine.php
  inc/classes/optimization/CSS/class-minify.php
  inc/classes/optimization/JS/class-combine.php
  inc/classes/optimization/JS/class-minify.php
  inc/classes/optimization/class-remove-query-string.php
Labels: Module: file optimization, Severity: minor, Type: enhancement

#1148 Fix #1141 Prevent PHP fatal error for get_home_path()
  inc/3rd-party/plugins/ecommerce/give.php
Labels: 3rd party, Severity: minor, Type: bug

#1150 Fix #1149 exclude matomo inline JS from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1156 Fixes #1153 exclude convertkit from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1154 Fixes #1022 & #1117 Defer JS exclusion using regex
  inc/front/deferred-js.php
  inc/functions/options.php
Labels: Module: file optimization, Type: enhancement

#1157 Fixes #1086 incorrect conditional in get_rocket_htaccess_web_fonts_access()
  inc/functions/htaccess.php
Labels: Module: browser cache, Severity: trivial, Type: bug

#1159 Fixes #914 replace trim by preg_replace
  inc/front/process.php
Labels: Module: cache, Severity: minor, Type: bug

#1158 Fixes #1020 prevent fatal error when importing options and CF is not active
  inc/admin/options.php
Labels: Module: cloudflare, Severity: minor, Type: bug

#1163 Fixes #1062 #1128 #1132 Combine JS exclusions improvements
  inc/admin/upgrader.php
  inc/classes/admin/settings/class-page.php
  inc/classes/admin/settings/class-settings.php
  inc/classes/optimization/JS/class-abstract-js-optimization.php
  inc/classes/optimization/JS/class-combine.php
  inc/functions/formatting.php
Labels: Module: file optimization, Severity: major, Type: enhancement

#1172 Once the page is loaded, remove the CPCSS style tag via JS
  inc/classes/class-rocket-critical-css.php
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Type: enhancement
