Repository wp-media/wp-rocket, pull requests merged in 2018-12, with the labels that each got.

#1403 Fixes #1388: Logged-in user cache: customizer link in admin bar is hidden
  inc/classes/subscriber/Optimization/class-ie-conditionals-subscriber.php
Labels: Module: cache, Severity: trivial, Type: bug

#1402 Fixes #1374: Rollback from 3.1.4 to 3.0.5.1 doesn't work
  inc/admin/admin.php
  inc/classes/class-wp-rocket-requirements-check.php
Labels: Module: dashboard, Severity: minor, Type: bug

#1401 Fixes #1385: Error 404 on FB pixel config file
  inc/classes/busting/class-facebook-pickles.php
Labels: Module: Facebook Pixel Addon, Severity: minor, Type: bug

#1400 Fixes #1369: PHP Parse Error Facebook Pixel
  inc/classes/busting/class-facebook-pickles.php
  inc/classes/busting/class-facebook-sdk.php
Labels: Module: Facebook Pixel Addon, Severity: minor, Type: bug

#1399 Closes #1356: Display a warning message when the Sucuri API has a bad format
  inc/classes/admin/settings/class-page.php
  inc/classes/admin/settings/class-settings.php
  inc/classes/subscriber/third-party/plugins/security/class-sucuri-subscriber.php
Labels: Module: Sucuri, Type: enhancement

#1380 Added support for Rank Math SEO Plugin's Sitemap
  inc/3rd-party/plugins/seo/rank-math-seo.php
Labels: 3rd party, Module: preload, Type: enhancement, community

#1413 Closes #1361 Add new notice about WP Rocket Footer JS
  inc/admin/ui/notices.php
Labels: Module: dashboard, Type: enhancement

#1412 Fixes #1393 Correctly apply CDN on images URL when using the All zone
  inc/front/cdn.php
Labels: Module: CDN, Severity: minor, Type: bug

#1411 Fixes #1386 Decode special characters on the URL before parsing it with wp_parse_url
  inc/front/lazyload.php
Labels: Module: lazyload, Severity: minor, Type: bug

#1408 Closes #1362 Lazyload genesis images
  inc/front/lazyload.php
Labels: Module: lazyload, Type: enhancement

#1407 Closes #1376 #1371 Auto exclude additional inline JS from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Type: enhancement

#1406 Closes #1378 Auto-exclude Hubspot from defer JS
  inc/functions/options.php
Labels: Module: file optimization, Type: enhancement

#1405 Closes #1373 Exclude elementor_library & oceanwp_library CPT from CPCSS generation
  inc/classes/class-rocket-critical-css.php
Labels: Module: file optimization, Type: enhancement

#1404 Closes #1391 add placeholder to the CNAME field input
  views/settings/fields/cnames.php
Labels: Module: CDN, Type: enhancement

#1409 Fixes #1370 Prevent PHP warning and notice on preload
  inc/classes/preload/class-homepage.php
  inc/functions/formatting.php
Labels: Module: preload, Severity: minor, Type: bug

#1414 Exclude "_thriveCurrentPost" inline JavaScript to avoid the cache dir…
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Type: enhancement

#1415 Exclude "widget.reviewability.com" from JS combination
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Type: enhancement

#1397 Exclude Report Broken Link JS
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Type: enhancement, community

#1396 Exclude wpRestNonce (found in newspaper theme)
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Type: enhancement, community

#1422 Closes #1356
  inc/classes/admin/settings/class-settings.php
Labels: Module: Sucuri, Type: enhancement

#1434 Fixes #1430 Allow json upload after WP latest security update
  inc/admin/admin.php
  inc/functions/admin.php
Labels: Module: tools, Severity: minor, Type: bug

#1432 Fixes #1346: Tags inserted between the <iframe> tag break the iframes lazyload feature
  inc/front/lazyload.php
Labels: Module: lazyload, Severity: minor, Type: bug

#1435 Minifies/Combines/Cache busts assets with a relative URL
  inc/functions/formatting.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1439 Closes #1395: Update "Return to Plugins page" link on Rollback to "WP Rocket settings" page
  inc/admin/admin.php
Labels: Module: dashboard, Type: enhancement

#1436 Fixes #757 Correctly rewrite url() path in CSS
  inc/classes/optimization/CSS/class-combine.php
  inc/classes/optimization/CSS/class-minify.php
  inc/classes/optimization/CSS/trait-path-rewriter.php
  inc/classes/optimization/class-cache-dynamic-resource.php
  inc/classes/optimization/class-remove-query-string.php
  inc/vendors/classes/class-minify-css-urirewriter.php
Labels: Module: file optimization, Severity: minor, Type: bug

#1437 Closes #1087 Clear cache on current theme update
  inc/common/purge.php
Labels: Module: cache, Type: enhancement

#1443 Closes #910 Improve cache deletion with multilingual plugins
  inc/common/purge.php
Labels: Module: cache, Type: enhancement

#1444 Fixes #672 Can't clear cache if no language is set in Polylang
  inc/3rd-party/plugins/i18n/polylang.php
  inc/functions/i18n.php
Labels: 3rd party, Module: cache, Severity: minor, Type: bug

#1447 Fixes #1026 Minification not applied when using TLD in WPML/Polylang
  inc/functions/formatting.php
Labels: 3rd party, Module: file optimization, Severity: major, Type: bug

#1442 Fixes #804 Prevent fatal error if Polylang function is not available
  inc/common/purge.php
Labels: 3rd party, Module: cache, Severity: minor, Type: bug

#1452 Fixes #1327 Assets URL not correctly rewritten when using WPML with TLD
  inc/front/cdn.php
Labels: 3rd party, Module: CDN, Severity: minor, Type: bug

#1451 Fixes #928: How to prevent htaccess corruption?
  inc/classes/logger/class-logger.php
  inc/functions/files.php
  inc/functions/htaccess.php
Labels: Module: browser cache, Type: bug

#1454 Closes #1366 Improve license validation messaging
  inc/admin/upgrader.php
  inc/functions/admin.php
  inc/functions/options.php
Labels: Module: dashboard, Type: enhancement

#1453 Fixes #431 WPML returning incorrect home_url() value on the admin
  inc/3rd-party/plugins/i18n/wpml.php
  inc/admin/admin.php
  inc/deprecated/3.2.php
  inc/functions/files.php
  inc/functions/i18n.php
  inc/functions/options.php
Labels: 3rd party, Module: cache, Severity: minor, Type: bug
