Repository wp-media/wp-rocket, pull requests merged in 2019-12, with the labels that each got.

#2138 Fixes #2071: multiple admin notices
  inc/admin/options.php
  inc/classes/admin/settings/class-settings.php
Labels: Module: dashboard, severity: trivial, type: bug

#2145 Fixes #2087 Remove rewrite rules on GoDaddy Managed Hosting
  inc/3rd-party/hosting/godaddy.php
Labels: 3rd party, severity: minor, type: bug

#2146 Fixes #2132 Incorrect matching for CDN rewrite
  inc/classes/CDN/CDN.php
  tests/Fixtures/CDN/original.html
  tests/Fixtures/CDN/rewrite.html
  tests/Fixtures/CDN/srcset/rewrite.html
Labels: module: CDN, severity: minor, type: bug

#2144 Fixes: #1323,#1326 - Facebook Pixel Addon need to run FB.init()
  inc/classes/busting/class-facebook-sdk.php
Labels: module: Facebook Pixel add-on, severity: minor, type: bug

#2147 Fixes #1945 cache race condition with multiple servers
  inc/classes/Buffer/class-cache.php
  inc/classes/subscriber/Media/class-webp-subscriber.php
Labels: module: cache, module: media, severity: major, type: bug

#2150 Fixed #2124 - running rocket_clean_post() when saving drafts
  inc/common/purge.php
Labels: severity: minor, type: bug

#2151 Fix #1479 - Rename "Save Settings" to "Validate License"
  inc/classes/admin/settings/class-page.php
  views/settings/page.php
Labels: Module: dashboard, severity: minor, type: enhancement

#2155 Fix/identify cloudflare cache everything rule
  inc/functions/cloudflare.php
Labels: module: cloudflare, type: bug

#2108 Rewrite Cloudflare API
  inc/admin/options.php
  inc/admin/ui/notices.php
  inc/classes/Addons/Cloudflare/Cloudflare.php
  inc/classes/Addons/Cloudflare/CloudflareFacade.php
  inc/classes/ServiceProvider/class-addons-subscribers.php
  inc/classes/subscriber/Addons/Cloudflare/CloudflareSubscriber.php
  inc/common/cloudflare.php
  inc/common/purge.php
  inc/deprecated/3.5.php
  inc/deprecated/deprecated.php
  inc/functions/cloudflare.php
  inc/main.php
  licence-data.php
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestDeactivateDevMode.php
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestGetSubscribedEvents.php
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestSetVarnishLocalhost.php
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestSetVarnishPurgeRequestHost.php
  tests/Unit/Addons/Cloudflare/TestGetCloudflareIPS.php
  tests/Unit/Addons/Cloudflare/TestGetInstance.php
  tests/Unit/Addons/Cloudflare/TestGetSettings.php
  tests/Unit/Addons/Cloudflare/TestHasPageRule.php
  tests/Unit/Addons/Cloudflare/TestIsApiKeyValid.php
  tests/Unit/Addons/Cloudflare/TestPurgeByUrl.php
  tests/Unit/Addons/Cloudflare/TestPurgeCloudflare.php
  tests/Unit/Addons/Cloudflare/TestSetBrowserCacheTTL.php
  tests/Unit/Addons/Cloudflare/TestSetCacheLevel.php
  tests/Unit/Addons/Cloudflare/TestSetDevMode.php
  tests/Unit/Addons/Cloudflare/TestSetMinify.php
  tests/Unit/Addons/Cloudflare/TestSetRocketLoader.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestAutoPurge.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestAutoPurgeByUrl.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestPurgeCache.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestSaveCloudflareOptions.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestSaveOldSettings.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestSetRealIp.php
Labels: module: cloudflare, type: enhancement

#2164 Fix #2118 - PHP warning: Can only flip STRING and INTEGER values!
  inc/classes/optimization/class-abstract-optimization.php
Labels: module: file optimization, severity: minor, type: bug

#2120 Pantheon Write Problem: Update code with custom path for CONFIG & CACHE file
  inc/classes/logger/class-logger.php
  inc/front/process.php
  uninstall.php
  wp-rocket.php
Labels: 3rd party, community, module: cache, type: enhancement

#2169 Fix #2127 - Add target path and source path in rocket_css_content filter
  inc/classes/optimization/CSS/trait-path-rewriter.php
Labels: module: file optimization, type: enhancement

#2168 Fix #2136 - Cache isn't cleared according to cache lifespan if that's set to < 1 hour
  inc/classes/subscriber/Cache/class-expired-cache-purge-subscriber.php
  tests/Integration/Subscriber/ExpiredCachePurgeSubscriber/TestGetSubscribedEvents.php
Labels: module: cache, severity: minor, type: bug

#2174 Update translations
  languages/rocket-cs_CZ.mo
  languages/rocket-cs_CZ.po
  languages/rocket-fr_CA.mo
  languages/rocket-fr_CA.po
  languages/rocket-fr_FR.mo
  languages/rocket-fr_FR.po
  languages/rocket-it_IT.mo
  languages/rocket-it_IT.po
  languages/rocket-pl_PL.mo
  languages/rocket-pl_PL.po
  languages/rocket-pt_BR.mo
  languages/rocket-pt_BR.po
  languages/rocket-tr_TR.mo
  languages/rocket-tr_TR.po
  languages/rocket.pot
Labels: i18n

#2172 Fix clean rocket post cache on slug change when post name is empty & status is not published
  inc/common/purge.php
  tests/Unit/Common/TestRocketCleanPostCacheOnSlugChange.php
Labels: module: cache, severity: minor, type: bug

#2173 Fixes #2139 Update logic on user actions purge
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/Cache/PurgeActionsSubscriber.php
  inc/common/purge.php
  tests/Unit/Subscriber/Cache/PurgeActionsSubscriber/TestPurgeUserCache.php
Labels: module: cache, type: enhancement

#2182 Format code added to wp-config.php to match WPCS
  inc/functions/files.php
Labels: severity: trivial, type: enhancement

#2178 Add PHP 7.4 to the TravisCI matrix
  .travis.yml
  bin/install-wp-tests.sh
  composer.json
  composer.lock
Labels: type: enhancement

#2191 Add customer status to Beacon identify
  inc/classes/admin/settings/class-beacon.php
Labels: Beacon

#2205 CDN Iframe added closing iframe and height + changed iframe width
  assets/css/wpr-admin.css
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber.php
  src/js/global/rocketcdn.js
  src/scss/components/_modal.scss
Labels: module: CDN

#2215 Auto-Exclude "OptinMonsterApp" inline JS from Combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2171 Add new plugins to the incompatibility list
  inc/admin/ui/notices.php
Labels: 3rd party, Module: dashboard, type: enhancement

#2218 Fix #2107 CDN srcset rewrites
  inc/classes/CDN/CDN.php
  tests/Fixtures/CDN/original.html
  tests/Fixtures/CDN/rewrite.html
  tests/Fixtures/CDN/srcset/rewrite.html
Labels: module: CDN, severity: minor, type: bug

#2219 Fix #2142 - Partial Preloading is not working after cache lifespan expires
  inc/classes/subscriber/preload/class-partial-preload-subscriber.php
Labels: severity: minor, type: bug

#2222 Fix #2134 - Improve "Separate cache files for mobile devices" help text
  inc/classes/admin/settings/class-page.php
Labels: Module: dashboard, severity: minor, type: enhancement

#2224 Fix #2167 - After clearing Autoptimize cache, rocket_clean_domain is not being called
  inc/3rd-party/plugins/autoptimize.php
Labels: 3rd party, module: cache, type: bug
