Repository wp-media/wp-rocket, pull requests merged in 2019-03, with the labels that each got.

#1381 Remove the dependency on rocket_buffer
  composer.json
  inc/admin/upgrader.php
  inc/classes/Buffer/class-config.php
  inc/classes/buffer/class-abstract-buffer.php
  inc/classes/buffer/class-cache.php
  inc/classes/buffer/class-optimization.php
  inc/classes/buffer/class-tests.php
  inc/classes/class-plugin.php
  inc/classes/logger/class-logger.php
  inc/classes/subscriber/Optimization/class-buffer-subscriber.php
  inc/classes/traits/trait-memoize.php
  inc/deprecated/3.3.php
  inc/front/process.php
  inc/functions/files.php
  inc/functions/htaccess.php
  inc/functions/options.php
  inc/main.php
  inc/process-autoloader.php
  phpcs.xml
Labels: module: cache, module: file optimization, type: enhancement

#1557 Add Dependency Injection Container
  composer.json
  composer.lock
  inc/classes/ServiceProvider/class-addons-subscribers.php
  inc/classes/ServiceProvider/class-admin-subscribers.php
  inc/classes/ServiceProvider/class-beacon.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/ServiceProvider/class-database.php
  inc/classes/ServiceProvider/class-optimization-subscribers.php
  inc/classes/ServiceProvider/class-options.php
  inc/classes/ServiceProvider/class-preload-subscribers.php
  inc/classes/ServiceProvider/class-settings.php
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/admin/Database/class-optimization-process.php
  inc/classes/admin/Database/class-optimization.php
  inc/classes/admin/settings/class-page.php
  inc/classes/class-plugin.php
  inc/classes/class-rocket-critical-css.php
  inc/classes/class-rocket-database-optimization.php
  inc/classes/optimization/CSS/class-critical-css-generation.php
  inc/classes/optimization/CSS/class-critical-css.php
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
  inc/classes/subscriber/admin/Database/class-optimization-subscriber.php
  inc/classes/subscriber/admin/Deactivation/class-deactivation-intent-subscriber.php
  inc/classes/subscriber/admin/Settings/class-page-subscriber.php
  inc/main.php
Labels: type: enhancement

#1563 Lazyload improvements
  composer.json
  composer.lock
  inc/classes/ServiceProvider/class-lazyload.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
  inc/deprecated/3.3.php
  inc/front/js/11.0.3/lazyload.js
  inc/front/js/11.0.3/lazyload.min.js
  inc/front/js/11.0.3/lazyload.min.js.map
  inc/front/lazyload.php
  inc/main.php
Labels: module: lazyload, type: enhancement

#1565 NGINX FastCGI cache purge
  assets/img/logo-nginx.svg
  inc/admin/upgrader.php
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/admin/settings/class-page.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/Cache/class-nginx-subscriber.php
Labels: 3rd party, type: new feature

#1541 Fix #1537 - Illegal offset type in isset PHP warning
  inc/classes/Buffer/class-cache.php
Labels: module: cache, severity: minor, type: bug

#1482 Closes #1306 Add fallback for sitemap preload
  inc/classes/preload/class-sitemap.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
Labels: module: preload, type: enhancement

#1572 Pressable compatibility
  inc/classes/ServiceProvider/class-hostings-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/Hostings/class-pressable-subscriber.php
  inc/functions/formatting.php
Labels: 3rd party, type: enhancement

#1580 Integrate Beacon 2.0
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/classes/admin/settings/class-beacon.php
  src/js/global/app.js
  src/js/global/beacon.js
Labels: Module: dashboard, type: enhancement

#1596 3.3 Translations update
  languages/rocket-cs_CZ.mo
  languages/rocket-cs_CZ.po
  languages/rocket-es_ES.mo
  languages/rocket-es_ES.po
  languages/rocket-fi.mo
  languages/rocket-fi.po
  languages/rocket-fr_FR.mo
  languages/rocket-fr_FR.po
  languages/rocket-hr.mo
  languages/rocket-hr.po
  languages/rocket-it_IT.mo
  languages/rocket-it_IT.po
  languages/rocket-pt_BR.mo
  languages/rocket-pt_BR.po
  languages/rocket-ro_RO.mo
  languages/rocket-ro_RO.po
  languages/rocket-tr_TR.mo
  languages/rocket-tr_TR.po
  languages/rocket.pot
Labels: i18n
