Repository wp-media/wp-rocket, pull requests merged in 2019-06, with the labels that each got.

#1748 Fixes #1551 - 404 on minified files when using Fusion Patcher
  inc/3rd-party/themes/avada.php
Labels: 3rd party, module: cache, type: enhancement

#1752 Fixes #1471 Purge Varnish cache if Cloudflare is active
  inc/3rd-party/hosting/varnish.php
  inc/functions/varnish.php
Labels: module: Varnish add-on, module: cloudflare, type: enhancement

#1751 Fixes #1333 Prevent multiple CPCSS generations
  inc/classes/optimization/CSS/class-critical-css.php
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
Labels: module: file optimization, severity: trivial, type: bug

#1757 Fixes #1712 Prevent PHP Fatal Error when using qTranslate-X compatibility option
  inc/functions/i18n.php
Labels: 3rd party, Module: dashboard, severity: trivial, type: bug

#1758 Fixes #1180 Prevent PHP notice when Polylang is active
  inc/functions/files.php
Labels: 3rd party, module: cache, severity: trivial, type: bug

#1763 Fixes #222 Check if cURL functions are enabled for Cloudflare Add-on
  inc/functions/cloudflare.php
Labels: module: cloudflare, severity: major, type: bug

#1764 Fixes #1713 Prevent 400 error on combined google fonts URL
  inc/classes/optimization/CSS/class-combine-google-fonts.php
  tests/Fixtures/Optimization/CSS/GoogleFonts/combined-subset.html
  tests/Fixtures/Optimization/CSS/GoogleFonts/combined.html
  tests/Fixtures/Optimization/CSS/GoogleFonts/original-subset.html
  tests/Fixtures/Optimization/CSS/GoogleFonts/original.html
  tests/Integration/Optimization/CSS/CombineGoogleFonts/TestOptimize.php
  tests/Unit/Optimization/CSS/CombineGoogleFonts/TestOptimize.php
Labels: module: file optimization, severity: minor, type: bug, type: enhancement

#1770 Monitor cache directory size
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/Tools/class-cache-dir-size-check-subscriber.php
  inc/main.php
  uninstall.php
Labels: module: file optimization, type: new feature

#1769 Update htaccess WP Rocket missing rules notice
  inc/admin/ui/notices.php
  inc/functions/htaccess.php
Labels: module: browser cache, type: enhancement

#1755 Fixes #1583 exclude WC product attributes taxonomies from CPCSS generation
  inc/classes/subscriber/third-party/plugins/ecommerce/class-woocommerce-subscriber.php
Labels: 3rd party, module: file optimization, type: enhancement

#1780 Update translations with 3.3.5 strings
  languages/rocket-cs_CZ.mo
  languages/rocket-cs_CZ.po
  languages/rocket-fr_CA.mo
  languages/rocket-fr_CA.po
  languages/rocket-fr_FR.mo
  languages/rocket-fr_FR.po
  languages/rocket-pl_PL.mo
  languages/rocket-pl_PL.po
  languages/rocket-pt_BR.mo
  languages/rocket-pt_BR.po
  languages/rocket-tr_TR.mo
  languages/rocket-tr_TR.po
  languages/rocket-zh_CN.mo
  languages/rocket-zh_CN.po
  languages/rocket.pot
Labels: i18n

#1782 Exclude penci_block_ pattern from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1786 Exclude inline JS omapi_data from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1787 Exclude nfForms inline JS from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1788 Exclude setAttribute( "id" with spacing from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1789 Exclude tminusnow pattern from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1790 Update max value to 10GB and also add a transient check
  inc/classes/subscriber/Tools/class-cache-dir-size-check-subscriber.php
Labels: module: file optimization, type: enhancement

#1793 Exclude simple lightbox inline JS from combined JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1795 Auto-exclude 4 new Inline JS patterns
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement
