Repository wp-media/wp-rocket, pull requests merged in 2019-05, with the labels that each got.

#1687 Add new inline JS exclusions
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1688 Exclude CPTs and taxonomies from CPCSS generation
  inc/classes/optimization/CSS/class-critical-css.php
Labels: module: file optimization, type: enhancement

#1689 Fixes #1628 Exclude Uncode files from Remove Query Strings
  inc/3rd-party/themes/uncode.php
Labels: module: file optimization, type: enhancement

#1690 Add incompatible plugins to the admin notice
  inc/admin/ui/notices.php
Labels: 3rd party, Module: dashboard, type: enhancement

#1699 Fixes #1598 Exclude Divi main style from Optimize CSS Delivery
  inc/3rd-party/themes/divi.php
  inc/classes/optimization/class-remove-query-string.php
Labels: 3rd party, module: file optimization, severity: minor, type: bug

#1700 Fixes #1691 Exclude Mailchimp inline JS from combine
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1696 Fixes #1514 Use preg_replace to insert the combined CSS tag
  .travis.yml
  composer.json
  composer.lock
  inc/classes/admin/class-options-data.php
  inc/classes/admin/class-options.php
  inc/classes/optimization/CSS/class-combine.php
  tests/Fixtures/Optimization/CSS/combined.html
  tests/Fixtures/Optimization/CSS/original.html
  tests/Integration/Optimization/CSS/Combine/TestInsertCombinedCSS.php
  tests/Unit/Optimization/CSS/Combine/TestInsertCombinedCSS.php
Labels: module: file optimization, severity: minor, type: bug

#1704 Fixes #1487 WC Empty Cart Cache is incorrect with multilingual plugins
  inc/classes/subscriber/third-party/plugins/ecommerce/class-woocommerce-subscriber.php
  inc/functions/i18n.php
Labels: 3rd party, module: cache, severity: minor, type: bug

#1702 fixes #1698 Facebook Pixel add-on causes errors 404 due to filename m…
  inc/classes/busting/class-facebook-pickles.php
Labels: module: Facebook Pixel add-on, type: bug

#1705 Prevent Disable embeds issues
  assets/js/editor/editor.js
  inc/common/embeds.php
Labels: 3rd party, module: media, type: bug

#1695 Auto-exclude gform_ajax_frame_ & gform_post_render inline JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1694 Compatibility with Alexa Metrics Certification
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1706 Auto-exclude quicklinkOptions & mts_view_count inline JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1711 Closes #1658 Add a notice for Hummingbird compatibility
  inc/classes/ServiceProvider/class-admin-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/plugins/Optimization/class-hummingbird-subscriber.php
  phpcs.xml
Labels: 3rd party, type: enhancement

#1710 Autoexclude act_css_tooltip from Inline JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1709 Add ct_checkjs_ pattern to exclude
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1715 Fixes #1536 Disable Optimize CSS Delivery option when WP Critical CSS is active
  inc/admin/ui/notices.php
  inc/classes/admin/settings/class-page.php
Labels: 3rd party, module: file optimization, type: enhancement

#1716 Exclude inline patterns from being combined.
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1719 Update translations
  languages/rocket-fr_CA.mo
  languages/rocket-fr_CA.po
  languages/rocket-fr_FR.mo
  languages/rocket-fr_FR.po
  languages/rocket.pot
Labels: i18n

#1727 Fixes #1692 Preload on post publish
  inc/common/purge.php
Labels: module: preload, severity: minor, type: bug

#1728 Fixes #1644 Clear cron events on uninstall
  uninstall.php
Labels: module: Facebook Pixel add-on, module: Google tracking add-on, severity: trivial, type: bug

#1729 Fixes #1463 Don't preload if there is no URLs to preload
  inc/classes/preload/class-homepage.php
  inc/classes/preload/class-sitemap.php
Labels: module: preload, severity: minor, type: bug

#1740 Fixes #1677 CDN & Lazyload compatibility with Elementor
  inc/classes/subscriber/third-party/plugins/PageBuilder/class-elementor-subscriber.php
Labels: 3rd party, module: CDN, module: lazyload, type: enhancement

#1734 Fixes #1685 Auto-active SSL cache for new installations
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/classes/admin/settings/class-page.php
Labels: module: cache, type: enhancement

#1739 Fixes #1707 Autoptimize & Avada lazyload compatibility
  inc/3rd-party/plugins/autoptimize.php
  inc/3rd-party/themes/avada.php
  inc/classes/admin/settings/class-page.php
Labels: 3rd party, module: lazyload, type: enhancement

#1741 Fixes #1652 Disable lazyload for background images on Enfold theme
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/Themes/class-enfold-subscriber.php
Labels: 3rd party, module: lazyload, type: enhancement

#1733 Fixes #1196 Exclude common external jQuery from defer JS safe mode
  inc/functions/options.php
  tests/Integration/Functions/Options/TestExcludeDeferJS.php
  tests/Unit/Functions/Options/TestExcludeDeferJS.php
  tests/Unit/Optimization/CSS/Combine/TestInsertCombinedCSS.php
  tests/Unit/bootstrap.php
Labels: module: file optimization, type: enhancement

#1745 Auto-Exclude WP_Statistics_http from Inline JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement
