Repository wp-media/wp-rocket, pull requests merged in 2019-10, with the labels that each got.

#1958 Fixes #1954: Exclude inline JS: dpsp_pin_button_data & tptn_tracker
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1967 Exclude JetWooBuilder Template From Critical CSS
  inc/classes/optimization/CSS/class-critical-css.php
Labels: 3rd party, module: file optimization, type: enhancement

#1995 Add a WordPress Quick actions menu item to purge Sucuri cache
  inc/common/admin-bar.php
Labels: Module: dashboard, module: Sucuri, type: enhancement

#2000 Cache Busting folder structure contains a directory we cannot recurse into.
  inc/functions/files.php
Labels: module: file optimization, severity: minor, type: bug

#2002 Delete licence-data.php file once the licence is validated
  inc/admin/upgrader.php
  inc/functions/options.php
  tests/Unit/Admin/Upgrader/testRocketUpgrader.php
  tests/Unit/Cache/TestPurgeExpiredFiles.php
  wp-rocket.php
Labels: Module: dashboard, type: enhancement

#1963 Fixes #1931: Minify HTML do not take into account attribute values that span multiple lines
  inc/vendors/classes/class-minify-html.php
Labels: module: file optimization, severity: minor, type: bug

#1998 Display admin notice for CPCSS outside WP Rocket admin page
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
Labels: Module: dashboard, type: enhancement

#1996 Admin notice for OPCache clearing
  inc/admin/ui/notices.php
  inc/admin/upgrader.php
  inc/common/purge.php
Labels: Module: dashboard, type: enhancement

#1957 Fixes #1940: Minify inline JS & CSS - prevent PREG_BACKTRACK_LIMIT_ERROR
  inc/vendors/classes/class-minify-html.php
Labels: module: file optimization, severity: major, type: bug

#1962 Fixes #1943: Option to dequeue jQuery Migrate
  assets/css/wpr-admin.css
  inc/classes/ServiceProvider/class-optimization-subscribers.php
  inc/classes/admin/settings/class-page.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/Optimization/class-dequeue-jquery-migrate-subscriber.php
  src/scss/components/_field.scss
  tests/Integration/Subscriber/Optimization/TestDequeueJQueryMigrate.php
Labels: module: file optimization, type: new feature

#1980 Fixes: #1949 remove lazyload.js file & code when Lazyload is disabled on a specific page
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
Labels: module: lazyload, severity: minor, type: bug

#2004 Fix 1917 - Autocorrect wilcard rules on never cache urls
  inc/functions/formatting.php
Labels: module: cache, module: file optimization, type: enhancement

#2007 Fix #1566 - Improve Cloudflare disable notice
  assets/css/wpr-admin-common.css
  inc/admin/ui/notices.php
Labels: 3rd party, module: cloudflare, type: enhancement

#2009 Update filters priorities
  inc/classes/subscriber/CDN/CDNSubscriber.php
  inc/classes/subscriber/Media/class-webp-subscriber.php
  inc/classes/subscriber/Optimization/class-combine-google-fonts-subscriber.php
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
  inc/classes/subscriber/Optimization/class-ie-conditionals-subscriber.php
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
  inc/classes/subscriber/Optimization/class-minify-html-subscriber.php
  inc/classes/subscriber/Optimization/class-minify-js-subscriber.php
  inc/classes/subscriber/Optimization/class-remove-query-string-subscriber.php
  inc/front/deferred-js.php
  tests/Integration/Subscriber/CDNSubscriber/TestGetSubscribedEvents.php
Labels: severity: minor, type: bug

#2011 Fix #934: Cloudflare validation API when saving - needs proper error messages
  inc/classes/admin/settings/class-settings.php
  inc/functions/cloudflare.php
Labels: module: cloudflare, type: enhancement

#2020 Fix #2017 - Update Cloudflare "Find Your API Key" doc link
  inc/classes/admin/settings/class-beacon.php
  inc/classes/admin/settings/class-page.php
Labels: module: cloudflare, type: enhancement

#2019 Added external JS file exclusion
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2010 Fixes #73: LiteSpeed compatibility
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/litespeed.php
  inc/functions/litespeed.php
  inc/main.php
Labels: 3rd party, module: cache, type: enhancement

#2024 3.4.0.5
  inc/classes/Buffer/class-cache.php
  inc/classes/CDN/CDN.php
  inc/classes/admin/settings/class-beacon.php
  inc/classes/subscriber/CDN/CDNSubscriber.php
  inc/classes/subscriber/Media/class-webp-subscriber.php
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
  inc/classes/subscriber/Optimization/class-minify-html-subscriber.php
  tests/Fixtures/CDN/original.html
  tests/Fixtures/CDN/rewrite.html
  tests/Fixtures/CDN/srcset/rewrite.html
  tests/Integration/Subscriber/CDNSubscriber/TestGetSubscribedEvents.php
  wp-rocket.php
Labels: severity: major, type: bug

#2023 Fix #1922 Cloudflare flexible SSL redirect loop
  inc/common/cloudflare-flexible-ssl.php
  inc/functions/cloudflare.php
  inc/main.php
Labels: module: cloudflare, severity: minor, type: bug

#2021 Varnish Add-on improvements
  assets/css/wpr-admin.css
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/varnish.php
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/classes/Addons/Varnish/Varnish.php
  inc/classes/ServiceProvider/class-addons-subscribers.php
  inc/classes/admin/settings/class-page.php
  inc/classes/admin/settings/class-settings.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/Addons/Cloudflare/CloudflareSubscriber.php
  inc/classes/subscriber/Addons/Varnish/VarnishSubscriber.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
  inc/deprecated/3.5.php
  inc/functions/varnish.php
  inc/main.php
  src/scss/components/_sectionHeader.scss
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestGetSubscribedEvents.php
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestSetVarnishLocalhost.php
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestSetVarnishPurgeRequestHost.php
  tests/Integration/Subscriber/Addons/VarnishSubscriber/TestGetSubscribedEvents.php
  tests/Unit/Addons/Varnish/testPurge.php
  tests/Unit/Subscriber/Addons/VarnishSubscriber/TestCleanDomain.php
  tests/Unit/Subscriber/Addons/VarnishSubscriber/TestCleanFile.php
  tests/Unit/Subscriber/Addons/VarnishSubscriber/TestCleanHome.php
  views/settings/fields/text.php
  views/settings/page-sections/varnish.php
Labels: module: Varnish add-on, type: enhancement

#2040 Fix #2038 - Remove Purge OpCache when Restrict API is enabled
  inc/common/admin-bar.php
  views/settings/page-sections/dashboard.php
Labels: module: cache, type: enhancement

#2036 Exclude inline JavaScript - /cache/min folder size
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2045 Fixed Cloudflare validation account matches domain
  inc/functions/cloudflare.php
Labels: module: cloudflare, severity: minor, type: bug

#2062 Cloudflare zone validation with zone_id and increased version no to 3.4.1-alpha3
  inc/functions/cloudflare.php
  wp-rocket.php
Labels: module: cloudflare, severity: minor, type: bug

#2063 Fixes #1936 - Cache cleaned when post slug / permalink is changed
  inc/common/purge.php
Labels: module: cache

#2049 Update Varnish Add-on & Dequeue jQuery Migrate
  assets/css/wpr-admin.css
  inc/admin/upgrader.php
  inc/classes/Addons/Varnish/Varnish.php
  inc/classes/admin/settings/class-page.php
  inc/classes/admin/settings/class-settings.php
  inc/functions/formatting.php
  src/scss/components/_fieldWarning.scss
  tests/Unit/Addons/Varnish/testPurge.php
  tests/Unit/Admin/Upgrader/testRocketUpgrader.php
Labels: module: Varnish add-on, module: file optimization, type: enhancement

#2069 Update translations
  .gitignore
  bin/makemo.sh
  languages/rocket-es_ES.mo
  languages/rocket-fr_CA.mo
  languages/rocket-fr_CA.po
  languages/rocket-fr_FR.mo
  languages/rocket-fr_FR.po
  languages/rocket-hr.mo
  languages/rocket-it_IT.mo
  languages/rocket-pl_PL.mo
  languages/rocket-pl_PL.po
  languages/rocket-pt_BR.mo
  languages/rocket-pt_BR.po
  languages/rocket-ro_RO.mo
  languages/rocket-tr_TR.mo
  languages/rocket-tr_TR.po
  languages/rocket-uk.mo
  languages/rocket-uk.po
  languages/rocket.pot
Labels: i18n

#2066 Fixes #1912 Add webfont.min.js from defer js
  inc/functions/options.php
  tests/Integration/Functions/Options/TestExcludeDeferJS.php
  tests/Unit/Functions/Options/TestExcludeDeferJS.php
Labels: module: file optimization, type: enhancement

#2074 Fix #2073 - PHP Fatal Error if curl is disabled - reverted curl validation and CF validation from get_rocket_cloudflare_api_instance()
  inc/functions/cloudflare.php
Labels: module: cloudflare, type: bug

#2076 3.4.1.1
  inc/functions/cloudflare.php
  wp-rocket.php
Labels: module: cloudflare, type: bug

#2042 Fixes #2041 Prevent double rewrite of srcset with relative URL
  inc/classes/CDN/CDN.php
  tests/Fixtures/CDN/original.html
  tests/Fixtures/CDN/rewrite.html
  tests/Fixtures/CDN/srcset/rewrite.html
Labels: module: CDN, severity: minor, type: bug

#2067 JS exclusions for Mailerlite forms
  inc/classes/optimization/JS/class-combine.php
  inc/functions/options.php
  tests/Integration/Functions/Options/TestExcludeDeferJS.php
  tests/Unit/Functions/Options/TestExcludeDeferJS.php
Labels: module: file optimization, type: enhancement

#2025 Exclude Optinmonster API From Combine
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2027 Fixes Getty Images Embeds
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1930 The SEO Framework 4.0 compat
  inc/3rd-party/plugins/seo/the-seo-framework.php
Labels: 3rd party, module: preload, type: enhancement

#2039 Fix #1942 - WP Smush Lazyload compatibility with Unit tests
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/admin/settings/class-page.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/plugins/class-smush-subscriber.php
  tests/Unit/ThirdParty/Plugins/Smush.php
Labels: 3rd party, module: lazyload, type: enhancement

#2078 Fix #2077 Cloudflare domain validation
  inc/functions/cloudflare.php
Labels: module: cloudflare, severity: minor, type: bug

#2079 Cloudflare: slow issues & fatal error
  inc/classes/admin/settings/class-settings.php
  inc/deprecated/3.4.php
  inc/functions/cloudflare.php
  wp-rocket.php
Labels: module: cloudflare, severity: major, type: bug

#2081 Cloudflare validation API done only when CF inputs are changed
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/classes/admin/settings/class-settings.php
  inc/functions/cloudflare.php
Labels: module: cloudflare, type: bug

#2085 Fixes #306 Allow CDN exclusions to work with Minify/Remove Query Strings
  inc/classes/subscriber/CDN/CDNSubscriber.php
  inc/classes/subscriber/Media/class-webp-subscriber.php
  inc/classes/subscriber/Optimization/class-combine-google-fonts-subscriber.php
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
  inc/classes/subscriber/Optimization/class-ie-conditionals-subscriber.php
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
  inc/classes/subscriber/Optimization/class-minify-css-subscriber.php
  inc/classes/subscriber/Optimization/class-minify-html-subscriber.php
  inc/classes/subscriber/Optimization/class-minify-js-subscriber.php
  inc/classes/subscriber/Optimization/class-remove-query-string-subscriber.php
  inc/front/deferred-js.php
  tests/Integration/Subscriber/CDNSubscriber/TestGetSubscribedEvents.php
Labels: module: CDN, severity: minor, type: bug

#2086 Fixes #2084 Correctly purge expired cache when using multilingual plugins
  inc/classes/Cache/class-expired-cache-purge.php
  tests/Unit/Cache/TestPurgeExpiredFiles.php
Labels: module: cache, severity: major, type: bug
