Repository wp-media/wp-rocket, pull requests merged in 2019-07, with the labels that each got.

#1815 Add new Inline JS exclusion
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1816 Change the wording for Minify HTML in the options meta-box.
  inc/admin/ui/meta-boxes.php
Labels: Module: dashboard, severity: trivial, type: enhancement

#1489 Presslabs hosting integration
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/presslabs.php
Labels: 3rd party, community, module: cache, type: enhancement

#1809 Fixes #201: Mysterious multiple update requests, users can’t update
  assets/img/icon-128x128.png
  assets/img/icon-256x256.png
  inc/admin/updater.php
  inc/admin/upgrader.php
  inc/classes/ServiceProvider/class-updater-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/Plugin/class-information-subscriber.php
  inc/classes/subscriber/Plugin/class-updater-api-common-subscriber.php
  inc/classes/subscriber/Plugin/class-updater-subscriber.php
  inc/classes/traits/trait-updater-api-tools.php
  inc/common/updater.php
  inc/deprecated/3.3.php
  inc/functions/admin.php
  inc/main.php
  uninstall.php
Labels: severity: critical, type: bug

#1823 Fixes #1812 Don't insert no JS styles if lazyload options are disabled
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
Labels: module: lazyload, severity: trivial, type: bug

#1824 Fixes #1697 Update Cloudflare browser cache value
  inc/admin/options.php
Labels: module: cloudflare, type: enhancement

#1825 Fixes #1645 Increase the counter even if the page is already cached
  inc/classes/preload/class-full-process.php
Labels: module: preload, type: enhancement

#1828 Fix a small typo: ";" added twice
  inc/functions/files.php
Labels: module: cache, severity: trivial, type: bug

#1822 Exclude CPTs and custom taxonomies from CPCSS generation
  inc/classes/optimization/CSS/class-critical-css.php
Labels: 3rd party, module: file optimization, type: enhancement

#1821 Exclude "Springbot.product_id" inline JS to avoid the cache directory size issue
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1826 Fixes #1806 Remove old Uncode compatibility code
  inc/3rd-party/themes/uncode.php
  inc/deprecated/3.3.php
Labels: 3rd party, module: file optimization, type: enhancement

#1831 Fixes #1804 Minify inline lazyload script
  composer.lock
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
Labels: module: lazyload, type: enhancement

#1833 Fixes #1799 Some CDATA Inline JS aren't detected and auto-exclude from Combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, severity: minor, type: bug

#1834 Fixes #1193 Check for SSL using the $_SERVER superglobal values
  inc/admin/upgrader.php
  inc/functions/admin.php
Labels: module: cache, type: enhancement

#1842 Fixes #1817 exclude cedexisData from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1843 Check for the cache dir size only once per WP Rocket version
  inc/classes/subscriber/Tools/class-cache-dir-size-check-subscriber.php
Labels: module: file optimization, type: enhancement

#1841 Fixes #967 Send a request to the home URL after clearing the cache manually
  inc/common/purge.php
Labels: module: cache, type: enhancement

#1846 Fixes the update system for alpha/beta versions
  inc/classes/subscriber/Plugin/class-updater-subscriber.php
Labels: severity: minor, type: bug

#1849 Exclude "function reenableButton", "#wpnbio-show", "e.Newsletter2GoTrackingObject" inline JS to avoid the cache directory size issue
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1848 JS Exclusions Piotr
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1851 Closes #1806 Only auto-exclude files if Uncode version is under 2.10
  inc/3rd-party/themes/uncode.php
  inc/deprecated/3.3.php
Labels: 3rd party, module: file optimization, type: enhancement

#1852 Update the TTL value during upgrade if the CF options are enabled
  inc/admin/upgrader.php
Labels: module: cloudflare, type: enhancement

#1854 Exclude new Inline JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1318 Add uk cookie consent compatibility
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/cookies/uk-cookie-consent.php
Labels: 3rd party, community, module: cache, type: enhancement

#1328 Add support for the impreza theme
  inc/3rd-party/3rd-party.php
  inc/3rd-party/themes/impreza.php
Labels: 3rd party, module: file optimization, type: enhancement

#1865 Closes #1597 Customization of ignored query string parameters during caching
  inc/classes/Buffer/class-config.php
  inc/classes/Buffer/class-tests.php
  inc/functions/files.php
  inc/functions/options.php
Labels: module: cache, type: enhancement

#1864 Add custom capabilities to allow easier configuration to the plugin actions
  inc/3rd-party/plugins/nginx-helper.php
  inc/admin/admin.php
  inc/admin/ui/meta-boxes.php
  inc/admin/ui/notices.php
  inc/admin/upgrader.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/admin/class-logs.php
  inc/classes/admin/settings/class-beacon.php
  inc/classes/admin/settings/class-page.php
  inc/classes/class-plugin.php
  inc/classes/class-wp-rocket-requirements-check.php
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
  inc/classes/subscriber/Plugin/class-capabilities-subscriber.php
  inc/classes/subscriber/Plugin/class-updater-api-common-subscriber.php
  inc/classes/subscriber/admin/Database/class-optimization-subscriber.php
  inc/classes/subscriber/admin/Deactivation/class-deactivation-intent-subscriber.php
  inc/classes/subscriber/admin/Settings/class-page-subscriber.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
  inc/classes/subscriber/preload/class-sitemap-preload-subscriber.php
  inc/classes/subscriber/third-party/plugins/Optimization/class-hummingbird-subscriber.php
  inc/classes/subscriber/third-party/plugins/security/class-sucuri-subscriber.php
  inc/common/admin-bar.php
  inc/common/purge.php
  inc/functions/preload.php
Labels: Module: dashboard, type: enhancement

#1866 CDN Feature rewrite
  composer.json
  inc/3rd-party/3rd-party.php
  inc/3rd-party/aqua-resizer.php
  inc/3rd-party/plugins/envira-gallery.php
  inc/3rd-party/plugins/page-builder/beaver-builder.php
  inc/3rd-party/plugins/slider/revslider.php
  inc/3rd-party/plugins/wp-retina-2x.php
  inc/3rd-party/themes/avada.php
  inc/classes/CDN/CDN.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/ServiceProvider/class-optimization-subscribers.php
  inc/classes/admin/settings/class-settings.php
  inc/classes/busting/class-abstract-busting.php
  inc/classes/busting/class-facebook-pickles.php
  inc/classes/busting/class-facebook-sdk.php
  inc/classes/busting/trait-file-busting.php
  inc/classes/class-plugin.php
  inc/classes/optimization/CSS/class-abstract-css-optimization.php
  inc/classes/optimization/CSS/trait-path-rewriter.php
  inc/classes/optimization/JS/class-abstract-js-optimization.php
  inc/classes/optimization/class-abstract-optimization.php
  inc/classes/optimization/class-cache-dynamic-resource.php
  inc/classes/optimization/class-cdn-favicons.php
  inc/classes/optimization/class-remove-query-string.php
  inc/classes/subscriber/CDN/CDNSubscriber.php
  inc/classes/subscriber/Optimization/class-abstract-minify-subscriber.php
  inc/classes/subscriber/Optimization/class-cdn-favicons-subscriber.php
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
  inc/deprecated/3.4.php
  inc/functions/api.php
  inc/functions/cdn.php
  inc/functions/formatting.php
  inc/functions/options.php
  inc/main.php
  tests/Fixtures/CDN/original.css
  tests/Fixtures/CDN/original.html
  tests/Fixtures/CDN/rewrite.css
  tests/Fixtures/CDN/rewrite.html
  tests/Integration/Subscriber/CDNSubscriber/TestGetCDNHosts.php
  tests/Integration/Subscriber/CDNSubscriber/TestGetSubscribedEvents.php
  tests/Integration/Subscriber/CDNSubscriber/TestRewrite.php
  tests/Integration/Subscriber/CDNSubscriber/TestRewriteCSSProperties.php
  tests/Unit/CDN/TestRewrite.php
  tests/Unit/CDN/TestRewriteCSSProperties.php
  tests/Unit/CDN/TestRewriteURL.php
Labels: module: CDN, type: enhancement

#1872 Fixes #1829 - prevent UnexpectedValueException when busting folder is missing
  inc/functions/files.php
Labels: module: file optimization, severity: minor, type: bug

#1870 Closes #486: Improve "Cache lifespan" setting to only delete cache entries older than set number of minutes/hours/days
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/classes/Buffer/class-cache.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/Cache/class-automatic-cache-purge-subscriber.php
  inc/classes/subscriber/admin/Database/class-optimization-subscriber.php
  inc/classes/subscriber/preload/class-partial-preload-subscriber.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
  inc/classes/subscriber/preload/class-sitemap-preload-subscriber.php
  inc/common/cron.php
  inc/deprecated/3.4.php~HEAD
  inc/functions/options.php
  inc/main.php
Labels: severity: major, type: enhancement
