Repository wp-media/wp-rocket, pull requests merged in 2019-04, with the labels that each got.

#1587 Exclude Uplaunch From Combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: community, module: file optimization, type: enhancement

#1586 Excludes Uplaunch From Defer JS
  inc/functions/options.php
Labels: community, module: file optimization, type: enhancement

#1605 Closes #1512 Add link to doc if there was an error during CPCSS generation
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
Labels: module: file optimization, type: enhancement

#1606 Closes #1582 exclude CPT from Themify from CPCSS
  inc/classes/optimization/CSS/class-critical-css.php
Labels: 3rd party, module: file optimization, type: enhancement

#1607 Closes #1543 #1552 #1553 #1556 #1576 exclude additional patterns from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1608 Fixes #1485 Prevent clear cache on widget update when using Elementor
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/Themes/class-elementor-subscriber.php
Labels: 3rd party, module: cache, severity: major, type: bug

#1609 Closes #1476 Exclude SyntaxHighlighter scripts from combine & defer JS
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/plugins/class-syntaxhighlighter-subscriber.php
Labels: 3rd party, module: file optimization, type: enhancement

#1611 Fixes #1558 Prevent rocket_clean_post from running multiple times for the same post
  inc/common/purge.php
Labels: module: cache, type: enhancement

#1614 Fixes #1516 Clear caches when Elementor CSS is updated
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/subscriber/third-party/Themes/class-elementor-subscriber.php
  inc/classes/subscriber/third-party/plugins/PageBuilder/class-elementor-subscriber.php
Labels: 3rd party, module: file optimization, type: enhancement

#1615 Fixes #1581 Improve Flywheel compatibility
  inc/3rd-party/hosting/flywheel.php
Labels: 3rd party, module: Varnish add-on, module: cache

#1616 Add base tests suite
  .travis.yml
  bin/install-wp-tests.sh
  composer.json
  phpunit.xml
  phpunit.xml.dist
  tests/Integration/bootstrap.php
  tests/Integration/phpunit.xml.dist
  tests/Unit/bootstrap.php
  tests/bootstrap.php
  tests/htaccess/charset/.htaccess
  tests/htaccess/charset/index.html
  tests/htaccess/deflate/.htaccess
  tests/htaccess/deflate/index.html
  tests/htaccess/etag/.htaccess
  tests/htaccess/etag/index.html
  tests/htaccess/expires/.htaccess
  tests/htaccess/expires/index.html
  tests/htaccess/files_match/.htaccess
  tests/htaccess/fonts/.htaccess
  tests/htaccess/fonts/index.html
  tests/htaccess/rewrite/.htaccess
  tests/htaccess/rewrite/index.html
  tests/inc/functions/test-formatting.php
Labels: type: enhancement

#793 Add support for Nginx Helper plugin
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/nginx-helper.php
Labels: community, module: cache, type: enhancement

#1617 Remove the NGINX Cache Add-on
  assets/img/logo-nginx.svg
  inc/admin/upgrader.php
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/admin/settings/class-page.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/Cache/class-nginx-subscriber.php
Labels: module: NGINX Cache add-on

#1629 Fixes #1620: Class not found error when WP Rocket's preloading of the Sitemap was activated
  inc/3rd-party/plugins/seo/rank-math-seo.php
Labels: 3rd party, module: preload, type: bug

#1635 Give access to WP Rocket DI container
  inc/classes/ServiceProvider/class-addons-subscribers.php
  inc/classes/ServiceProvider/class-admin-subscribers.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/ServiceProvider/class-hostings-subscribers.php
  inc/classes/ServiceProvider/class-optimization-subscribers.php
  inc/classes/ServiceProvider/class-preload-subscribers.php
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/class-plugin.php
Labels: type: enhancement

#1638 Fix NGG compatibility with their resource manager
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/plugins/class-ngg-subscriber.php
Labels: 3rd party, module: file optimization, severity: major, type: bug

#1639 Bridge theme compatibility
  inc/classes/ServiceProvider/class-third-party-subscribers.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/Themes/class-bridge-subscriber.php
Labels: 3rd party, module: lazyload, severity: minor, type: bug

#1664 Fixes #1657 Incorrect number of revisions deleted
  inc/classes/admin/Database/class-optimization-process.php
Labels: module: database, severity: minor, type: bug

#1665 Fixes #1656 Deprecate Youtube resolution filter
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
Labels: module: lazyload, severity: trivial, type: bug

#1666 Fixes #1659 Incorrect replacement in critical CSS output
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
Labels: module: file optimization, severity: minor, type: bug

#1667 Fixes #1655 advanced-cache.php issues on WP Engine
  inc/3rd-party/hosting/wpengine.php
  inc/main.php
Labels: 3rd party, module: cache, severity: minor, type: bug

#1671 Change hook to remove advanced-cache.php notices on Pressable
  inc/classes/subscriber/third-party/Hostings/class-pressable-subscriber.php
Labels: 3rd party, Module: dashboard, type: bug

#1672 Fixes #1632 Exclude embedded URLs from caching/optimize
  inc/admin/upgrader.php
  inc/functions/options.php
Labels: module: cache, type: enhancement

#1673 Fixes #1669 Add Chrome-Lighthouse to the allowed speed test UA
  inc/classes/Buffer/class-tests.php
Labels: module: cache, type: enhancement

#1674 Fixes #1660 Update mime-types and expires for fonts
  inc/functions/htaccess.php
Labels: module: browser cache, type: enhancement

#1675 Fixes #1542 Prevent PHP warning if themes value is not an array
  inc/common/purge.php
Labels: severity: trivial, type: bug
