Repository wp-media/wp-rocket, pull requests merged in 2019-01, with the labels that each got.

#1446 Closes #1445 Include the Rank Math SEO file
  inc/3rd-party/3rd-party.php
Labels: 3rd party, Module: preload, Severity: minor, Type: bug

#1465 Fixes #531 Correctly clean cache when slug is in homepage URL with Polylang
  inc/functions/i18n.php
Labels: 3rd party, Module: cache, Severity: minor, Type: bug

#1456 Closes #1377 Display error messages when preload fails
  inc/classes/preload/class-homepage.php
  inc/classes/preload/class-sitemap.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
Labels: Module: preload, Type: enhancement

#1461 Closes #1390: Query String on Google Analytics cache file
  inc/classes/busting/class-google-analytics.php
  inc/classes/subscriber/class-google-tracking-cache-busting-subscriber.php
Labels: Module: Google Tracking Addon, Type: enhancement

#1474 Added versionning to the GTM busting file
  inc/classes/busting/class-google-analytics.php
  inc/classes/busting/class-google-tag-manager.php
  inc/classes/busting/trait-file-busting.php
Labels: Type: enhancement

#1483 Exclude strings from combination to avoid the large size of /cache/min/
  inc/classes/optimization/JS/class-combine.php
Labels: Module: file optimization, Type: enhancement

#1497 Closes #1024 Display notice on CDN tab if Cloudflare/Sucuri enabled
  inc/classes/admin/settings/class-page.php
  views/settings/fields/checkbox.php
Labels: module: CDN, type: enhancement

#1498 Fixes #1368 Prevent fatal error if SimpleXML extension is not loaded
  inc/classes/preload/class-sitemap.php
  inc/classes/subscriber/preload/class-sitemap-preload-subscriber.php
Labels: module: preload, severity: minor, type: bug

#1499 Closes #1420 Ignore _ga parameter when caching
  inc/front/process.php
Labels: module: cache, type: enhancement

#1500 Fixes #1421 Correctly exclude WPS Hide Login custom URL from caching
  inc/3rd-party/plugins/security/wps-hide-login.php
Labels: 3rd party, module: cache, severity: minor, type: bug

#1503 Fixes #1438 Prevent PHP notice in embeds.php
  inc/common/embeds.php
Labels: module: media, severity: minor, type: bug

#1505 Closes #1449 Improve Sucuri API KEY notice
  inc/classes/admin/settings/class-settings.php
Labels: module: Sucuri, type: enhancement

#1506 Closes #1457 exclude Insticator pattern from inline JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1507 Fixes #1466 exclude tie_postviews pattern from combine JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#1508 Fixes #1468 exclude Google recaptcha from defer JS
  inc/functions/options.php
Labels: module: file optimization, type: enhancement

#1509 Fixes #1470 exclude uncode JS files from defer JS
  inc/3rd-party/themes/uncode.php
Labels: module: file optimization, type: enhancement

#1510 Fixes #1494 Prevent PHP Fatal error because of deprecated functions
  inc/deprecated/3.2.php
  inc/functions/files.php
  inc/vendors/classes/class-minify-css-urirewriter.php
Labels: 3rd party, module: file optimization, severity: minor, type: bug

#1501 Closes #1429 Add filter to disable htaccess edition
  inc/admin/ui/notices.php
  inc/functions/htaccess.php
Labels: module: browser cache, type: enhancement
