Repository wp-media/wp-rocket, pull requests merged in 2020-07, with the labels that each got.

#2825 Fallback CSS insert load CSS code in head
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
Labels: module: critical-path, type: bug

#2816 Auto-Compatibility with SpinUpWP Hosting
  composer.json
  inc/Plugin.php
  inc/ThirdParty/Hostings/SpinUpWP.php
  inc/ThirdParty/ServiceProvider.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Hostings/SpinUpWP/purgeSite.php
  tests/Integration/inc/ThirdParty/Hostings/SpinUpWP/removeActions.php
  tests/Unit/inc/ThirdParty/Hostings/SpinUpWP/purgeSite.php
  tests/Unit/inc/ThirdParty/Hostings/SpinUpWP/removeActions.php
Labels: 3rd party compatibility, feature request, module: cache, needs: qa

#2824 Disable the Varnish purge on Cloudways when Varnish has been disabled…
  inc/ThirdParty/Hostings/Cloudways.php
  tests/Fixtures/inc/ThirdParty/Hostings/Cloudways/varnishAddonTitle.php
  tests/Fixtures/inc/ThirdParty/Hostings/Cloudways/varnishIP.php
  tests/Integration/inc/ThirdParty/Hostings/Cloudways/varnishAddonTitle.php
  tests/Integration/inc/ThirdParty/Hostings/Cloudways/varnishIP.php
  tests/Unit/inc/ThirdParty/Hostings/Cloudways/varnishAddonTitle.php
  tests/Unit/inc/ThirdParty/Hostings/Cloudways/varnishIP.php
Labels: 3rd party compatibility, Module: dashboard, module: Varnish add-on

#2843 Added excluded inline JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#2731 Exclude Gleam.io JS From Being Merged
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#2823 WP Rocket options page missing icons
  assets/css/wpr-admin.css
  src/scss/base/_icons.scss
Labels: Module: dashboard, needs: qa, type: bug

#2786 Fix #2658 update async css method
  composer.json
  inc/Engine/CriticalPath/AsyncCSS.php
  inc/Engine/CriticalPath/CriticalCSS.php
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  inc/Engine/DOM/Attribute.php
  inc/Engine/DOM/HTMLDocument.php
  inc/Engine/Optimization/IEConditionalSubscriber.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/classes/subscriber/Optimization/class-ie-conditionals-subscriber.php
  inc/deprecated/3.6.php
  inc/deprecated/deprecated.php
  inc/functions/options.php
  tests/Fixtures/inc/Engine/CriticalPath/AsyncCSS/buildOnload.php
  tests/Fixtures/inc/Engine/CriticalPath/AsyncCSS/modifyHtml.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSS/getExcludeAsyncCss.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/asyncCss.php
  tests/Fixtures/inc/Engine/CriticalPath/content/conditional-comments-modify_html.html
  tests/Fixtures/inc/Engine/CriticalPath/content/conditional-comments.html
  tests/Fixtures/inc/Engine/CriticalPath/content/load-content.php
  tests/Fixtures/inc/Engine/CriticalPath/content/placeholder-modify_html.html
  tests/Fixtures/inc/Engine/CriticalPath/content/placeholder.html
  tests/Fixtures/inc/Engine/CriticalPath/content/twentyseventeen-async_css.html
  tests/Fixtures/inc/Engine/CriticalPath/content/twentyseventeen-modify_html.html
  tests/Fixtures/inc/Engine/CriticalPath/content/twentyseventeen.html
  tests/Fixtures/inc/Engine/Optimization/IEConditionalSubscriber/extractIeConditionals.php
  tests/Fixtures/inc/Engine/Optimization/IEConditionalSubscriber/injectIeConditionals.php
  tests/Integration/inc/Engine/CriticalPath/AsyncCSS/modifyHtml.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSS/getExcludeAsyncCss.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/asyncCss.php
  tests/Integration/inc/Engine/Optimization/IEConditionalSubscriber/TestCase.php
  tests/Integration/inc/Engine/Optimization/IEConditionalSubscriber/extractIeConditionals.php
  tests/Integration/inc/Engine/Optimization/IEConditionalSubscriber/injectIeConditionals.php
  tests/Unit/inc/Engine/CriticalPath/AsyncCSS/TestCase.php
  tests/Unit/inc/Engine/CriticalPath/AsyncCSS/buildOnload.php
  tests/Unit/inc/Engine/CriticalPath/AsyncCSS/modifyHtml.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSS/getExcludeAsyncCss.php
  tests/Unit/inc/Engine/Optimization/IEConditionalSubscriber/TestCase.php
  tests/Unit/inc/Engine/Optimization/IEConditionalSubscriber/extractIeConditionals.php
  tests/Unit/inc/Engine/Optimization/IEConditionalSubscriber/injectIeConditionals.php
Labels: module: file optimization, needs: documentation, needs: qa, priority: high, type: enhancement

#2782 Remove/update instances of blacklist/whitelist in the code
  inc/Engine/Admin/Settings/Page.php
  inc/functions/htaccess.php
  inc/functions/options.php
  languages/rocket.pot
  tests/Fixtures/content/htaccessContent.php
Labels: type: enhancement

#2835 Fix #2242 - PDFEmbedder compatibility (Free and Paid versions)
  composer.json
  inc/Plugin.php
  inc/ThirdParty/Plugins/PDFEmbedder.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/PDFEmbedder/core/commercial_pdf_embedder.php
  tests/Fixtures/inc/ThirdParty/Plugins/PDFEmbedder/core/secure/uploads.php
  tests/Fixtures/inc/ThirdParty/Plugins/PDFEmbedder/mobile_pdf_embedder.php
  tests/Fixtures/inc/ThirdParty/Plugins/PDFEmbedder/secure_pdf_embedder.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Plugins/PDFEmbedder/excludePDFEmbedderScripts.php
  tests/Integration/inc/ThirdParty/Plugins/PDFEmbedder/excludePDFEmbedderScriptsPremium.php
  tests/Integration/inc/ThirdParty/Plugins/PDFEmbedder/excludePDFEmbedderScriptsSecure.php
Labels: 3rd party compatibility, module: file optimization, needs: qa, type: enhancement

#2853 Update translations files for 3.6 to 3.6.2
  languages/rocket-fr_CA.mo
  languages/rocket-fr_CA.po
  languages/rocket-fr_FR.mo
  languages/rocket-fr_FR.po
  languages/rocket-hr.mo
  languages/rocket-hr.po
  languages/rocket-it_IT.mo
  languages/rocket-it_IT.po
  languages/rocket-pl_PL.mo
  languages/rocket-pl_PL.po
  languages/rocket-ru_RU.mo
  languages/rocket-ru_RU.po
  languages/rocket-zh_CN.mo
  languages/rocket-zh_CN.po
  languages/rocket.pot
Labels: i18n

#2837 Feature/auto apply font display swap add css trait (1/5)
  inc/Engine/Optimization/CSSTrait.php
  tests/Fixtures/inc/Engine/Optimization/CSSTraitApplyFontDisplaySwap.php
  tests/Unit/inc/Engine/Optimization/CSSTraitApplyFontDisplaySwap.php
Labels: module: file optimization, type: sub-task

#2841 Apply font-display: swap in CSS files - Combine ( 2/5 )
  inc/Engine/Optimization/Minify/CSS/Combine.php
Labels: module: file optimization, type: new feature, type: sub-task

#2845 Apply font-display: swap in CSS files - Minify ( 3/5 )
  inc/Engine/Optimization/Minify/CSS/Minify.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
Labels: module: file optimization, type: new feature, type: sub-task

#2847 Apply font-display: swap in CSS files - CacheDynamicResource( 4/5 )
  inc/Engine/Optimization/CacheDynamicResource.php
  inc/ThirdParty/Plugins/SimpleCustomCss.php
Labels: module: file optimization, type: new feature, type: sub-task

#2848 Apply font-display: swap in CSS files - On Upgrading to v3.7( 5/5 )
  inc/admin/upgrader.php
  tests/Unit/inc/admin/rocketNewUpgrade.php
Labels: module: file optimization, type: new feature, type: sub-task

#2829 Update PHPStan config
  phpstan.neon.dist
Labels: type: enhancement

#2888 Silently run phpstan in CI
  .travis.yml
Labels: devops

#2869 Exclude Phone Wagon script from combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: community, module: file optimization, type: enhancement

#2874 Add a factory for hosting subscribers
  inc/Plugin.php
  inc/ThirdParty/Hostings/Cloudways.php
  inc/ThirdParty/Hostings/HostResolver.php
  inc/ThirdParty/Hostings/HostSubscriberFactory.php
  inc/ThirdParty/Hostings/Pressable.php
  inc/ThirdParty/Hostings/SpinUpWP.php
  inc/ThirdParty/Hostings/WPEngine.php
  inc/ThirdParty/NullSubscriber.php
  inc/ThirdParty/ServiceProvider.php
  inc/ThirdParty/SubscriberFactoryInterface.php
  tests/Fixtures/inc/ThirdParty/Hostings/HostResolver/getHostService.php
  tests/Fixtures/inc/ThirdParty/Hostings/HostSubscriberFactory/getSubscriber.php
  tests/Unit/inc/ThirdParty/Hostings/HostResolver/getHostService.php
  tests/Unit/inc/ThirdParty/Hostings/HostSubscriberFactory/getSubscriber.php
Labels: needs: qa, type: enhancement

#2906 Re-add deleted tests & fixtures related to IEConditionalSubscriber & CriticalCSS
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSS/getExcludeAsyncCss.php
  tests/Fixtures/inc/Engine/Optimization/IEConditionalSubscriber/extractIeConditionals.php
  tests/Fixtures/inc/Engine/Optimization/IEConditionalSubscriber/injectIeConditionals.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSS/getExcludeAsyncCss.php
  tests/Integration/inc/Engine/Optimization/IEConditionalSubscriber/TestCase.php
  tests/Integration/inc/Engine/Optimization/IEConditionalSubscriber/extractIeConditionals.php
  tests/Integration/inc/Engine/Optimization/IEConditionalSubscriber/injectIeConditionals.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSS/getExcludeAsyncCss.php
  tests/Unit/inc/Engine/Optimization/IEConditionalSubscriber/TestCase.php
  tests/Unit/inc/Engine/Optimization/IEConditionalSubscriber/extractIeConditionals.php
  tests/Unit/inc/Engine/Optimization/IEConditionalSubscriber/injectIeConditionals.php
Labels: module: critical-path, module: file optimization

#2875 Fixes #1803 Prevent incompatilibity between Replaces Youtube iframe with thumbnail image & Divi video module
  inc/3rd-party/3rd-party.php
  inc/3rd-party/themes/divi.php
  inc/Engine/Admin/Settings/Page.php
  inc/Plugin.php
  inc/ThirdParty/ServiceProvider.php
  inc/ThirdParty/Themes/Divi.php
  inc/deprecated/3.6.php
  tests/Fixtures/WP_Theme.php
  tests/Fixtures/inc/ThirdParty/Themes/Divi/addDiviToDescription.php
  tests/Fixtures/inc/ThirdParty/Themes/Divi/excludeJS.php
  tests/Fixtures/inc/ThirdParty/Themes/Divi/maybeDisableYoutubePreview.php
  tests/Integration/inc/ThirdParty/Themes/Divi/maybeDisableYoutubePreview.php
  tests/Unit/inc/ThirdParty/Themes/Divi/addDiviToDescription.php
  tests/Unit/inc/ThirdParty/Themes/Divi/excludeJS.php
  tests/Unit/inc/ThirdParty/Themes/Divi/maybeDisableYoutubePreview.php
Labels: 3rd party compatibility, module: lazyload

#2785 Closes #2689 Include 3rd party CSS into concatenation
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/AssetsLocalCache.php
  inc/Engine/Optimization/CacheDynamicResource.php
  inc/Engine/Optimization/GoogleFonts/Subscriber.php
  inc/Engine/Optimization/Minify/AbstractMinifySubscriber.php
  inc/Engine/Optimization/Minify/CSS/Combine.php
  inc/Engine/Optimization/Minify/CSS/Minify.php
  inc/Engine/Optimization/Minify/CSS/Subscriber.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  inc/Engine/Optimization/Minify/JS/Subscriber.php
  inc/Engine/Optimization/PathRewriterTrait.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/classes/optimization/class-assets-local-cache.php
  inc/deprecated/Engine/Optimization/QueryString/Remove.php
  inc/functions/formatting.php
  tests/Fixtures/inc/Engine/Admin/Settings/Settings/exclude-css.php
  tests/Fixtures/inc/Engine/Optimization/AssetsLocalCache/getContent.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Fixtures/inc/functions/rocketValidateCss.php
  tests/Integration/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Integration/inc/Engine/Optimization/AssetsLocalCache/getContent.php
  tests/Unit/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Unit/inc/Engine/Optimization/AssetsLocalCache/getContent.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Combine/optimize.php
  tests/Unit/inc/functions/rocketValidateCss.php
Labels: epics 🔥, module: file optimization, type: enhancement

#2860 Improve activation/deactivation processes
  inc/Engine/Activation/Activation.php
  inc/Engine/Activation/ActivationInterface.php
  inc/Engine/Activation/ServiceProvider.php
  inc/Engine/Cache/AdvancedCache.php
  inc/Engine/Cache/WPCache.php
  inc/Engine/Capabilities/Manager.php
  inc/Engine/Capabilities/ServiceProvider.php
  inc/Engine/Capabilities/Subscriber.php
  inc/Engine/Deactivation/Deactivation.php
  inc/Engine/Deactivation/DeactivationInterface.php
  inc/Engine/Deactivation/ServiceProvider.php
  inc/Plugin.php
  inc/ThirdParty/Hostings/Cloudways.php
  inc/ThirdParty/Hostings/HostResolver.php
  inc/ThirdParty/Hostings/HostSubscriberFactory.php
  inc/ThirdParty/Hostings/Pressable.php
  inc/ThirdParty/Hostings/SpinUpWP.php
  inc/ThirdParty/Hostings/WPEngine.php
  inc/ThirdParty/NullSubscriber.php
  inc/ThirdParty/ServiceProvider.php
  inc/ThirdParty/SubscriberFactoryInterface.php
  inc/admin/upgrader.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/deprecated/3.6.php
  inc/main.php
  tests/Fixtures/inc/Engine/Cache/AdvancedCache/updateAdvancedCache.php
  tests/Fixtures/inc/Engine/Cache/WPCache/maybePreventDeactivation.php
  tests/Fixtures/inc/ThirdParty/Hostings/HostResolver/getHostService.php
  tests/Fixtures/inc/ThirdParty/Hostings/HostSubscriberFactory/getSubscriber.php
  tests/Integration/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/purgeCdnCache.php
  tests/Integration/inc/Engine/Cache/AdvancedCache/activate.php
  tests/Integration/inc/Engine/Cache/AdvancedCache/deactivate.php
  tests/Integration/inc/Engine/Cache/AdvancedCache/updateAdvancedCache.php
  tests/Integration/inc/Engine/Cache/WPCache/activate.php
  tests/Integration/inc/Engine/Cache/WPCache/deactivate.php
  tests/Integration/inc/Engine/Cache/WPCache/findWpconfigPath.php
  tests/Integration/inc/Engine/Cache/WPCache/maybePreventDeactivation.php
  tests/Integration/inc/Engine/Cache/WPCache/updateWPCache.php
  tests/Unit/inc/Engine/Cache/AdvancedCache/updateAdvancedCache.php
  tests/Unit/inc/Engine/Cache/WPCache/findWpConfigPath.php
  tests/Unit/inc/Engine/Cache/WPCache/maybePreventDeactivation.php
  tests/Unit/inc/Engine/Cache/WPCache/updateWPCache.php
  tests/Unit/inc/ThirdParty/Hostings/HostResolver/getHostService.php
  tests/Unit/inc/ThirdParty/Hostings/HostSubscriberFactory/getSubscriber.php
Labels: type: enhancement

#2857 Closes #2791 Automatically apply font-display: swap in CSS files
  inc/Engine/Optimization/CSSTrait.php
  inc/Engine/Optimization/CacheDynamicResource.php
  inc/Engine/Optimization/Minify/CSS/Combine.php
  inc/Engine/Optimization/Minify/CSS/Minify.php
  inc/ThirdParty/Plugins/SimpleCustomCss.php
  inc/admin/upgrader.php
  inc/deprecated/Engine/Optimization/QueryString/Remove.php
  tests/Fixtures/inc/Engine/Optimization/CSSTraitApplyFontDisplaySwap.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Fixtures/vfs-structure/optimizeMinify.php
  tests/Unit/inc/Engine/Optimization/CSSTraitApplyFontDisplaySwap.php
  tests/Unit/inc/admin/rocketNewUpgrade.php
Labels: epics 🔥, module: file optimization, needs: qa, type: new feature

#2915 Fix #2914 : solve IE conditional statements removal
  inc/vendors/classes/class-minify-html.php
Labels: module: file optimization, needs: qa, type: bug

#2908 Closes #2877 Auto-apply Google Fonts Optimization
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/AdminServiceProvider.php
  inc/Engine/Optimization/GoogleFonts/Admin/Settings.php
  inc/Engine/Optimization/GoogleFonts/Admin/Subscriber.php
  inc/Plugin.php
  src/js/global/ajax.js
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Admin/Settings/displayGoogleFontsEnabler.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Admin/Settings/enableGoogleFonts.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Admin/Subscriber/displayGoogleFontsEnabler.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Admin/Subscriber/enableGoogleFonts.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/displayCpcssMobileSection.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Admin/Subscriber/displayGoogleFontsEnabler.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Admin/Subscriber/enableGoogleFonts.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Admin/Settings/displayGoogleFontsEnabler.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Admin/Settings/enableGoogleFonts.php
  views/settings/enable-google-fonts.php
Labels: module: file optimization, needs: qa, type: enhancement

#2951 Preserve WP_CACHE & advanced-cache.php if on multisite with WPR active on other sites
  inc/Engine/Cache/AdvancedCache.php
  inc/Engine/Cache/WPCache.php
  inc/Engine/Deactivation/Deactivation.php
  tests/Integration/inc/Engine/Cache/AdvancedCache/updateAdvancedCache.php
  tests/Integration/inc/Engine/Cache/WPCache/deactivate.php
  tests/Integration/inc/Engine/Cache/WPCache/updateWPCache.php
  tests/Unit/inc/Engine/Cache/AdvancedCache/updateAdvancedCache.php
  tests/Unit/inc/Engine/Cache/WPCache/updateWPCache.php
Labels: multisite, needs: qa, type: regression

#2851 Enhancement: improve auto compatibility with self-caching hosts & add compatibility with wp.com
  composer.json
  inc/Engine/Activation/Activation.php
  inc/Engine/Activation/ServiceProvider.php
  inc/Engine/Cache/AdvancedCache.php
  inc/Engine/Cache/WPCache.php
  inc/Engine/Deactivation/Deactivation.php
  inc/Engine/Deactivation/ServiceProvider.php
  inc/Plugin.php
  inc/ThirdParty/Hostings/AbstractNoCacheHost.php
  inc/ThirdParty/Hostings/HostResolver.php
  inc/ThirdParty/Hostings/HostSubscriberFactory.php
  inc/ThirdParty/Hostings/Pressable.php
  inc/ThirdParty/Hostings/ServiceProvider.php
  inc/ThirdParty/Hostings/WPEngine.php
  inc/ThirdParty/Hostings/WordPressCom.php
  inc/ThirdParty/ServiceProvider.php
  inc/admin/ui/notices.php
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketGenerateAdvancedCacheFile.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Hostings/WPEngine/removeNotices.php
  tests/Integration/inc/ThirdParty/Hostings/WordPressCom/purgeWPCache.php
  tests/Integration/inc/functions/rocketGenerateAdvancedCacheFile.php
  tests/Unit/inc/ThirdParty/Hostings/WPEngine/removeNotices.php
  tests/Unit/inc/functions/rocketGenerateAdvancedCacheFile.php
Labels: 3rd party compatibility, needs: qa

#2764 Fixes #1315 Google Tag Manager detection fails when URL uses relative protocol
  inc/Addon/Busting/BustingFactory.php
  inc/Addon/Busting/FileBustingTrait.php
  inc/Addon/FacebookTracking/Subscriber.php
  inc/Addon/GoogleTracking/GoogleAnalytics.php
  inc/Addon/GoogleTracking/GoogleTagManager.php
  inc/Addon/GoogleTracking/Subscriber.php
  inc/Addon/ServiceProvider.php
  inc/classes/logger/class-logger.php
  inc/functions/files.php
  tests/Fixtures/inc/Addon/GoogleTracking/GoogleAnalytics/replaceUrl.php
  tests/Fixtures/inc/Addon/GoogleTracking/GoogleTagManager/replaceUrl.php
  tests/Fixtures/inc/functions/_rocketGetDirFilesByRegex.php
  tests/Integration/inc/Addon/GoogleTracking/GoogleAnalytics/replaceUrl.php
  tests/Integration/inc/Addon/GoogleTracking/GoogleTagManager/replaceUrl.php
  tests/Unit/inc/Addon/FacebookTracking/Subscriber/deleteCache.php
  tests/Unit/inc/Addon/GoogleTracking/GoogleAnalytics/replaceUrl.php
  tests/Unit/inc/Addon/GoogleTracking/GoogleTagManager/replaceUrl.php
  tests/Unit/inc/Addon/GoogleTracking/Subscriber/deleteTrackingCache.php
  tests/Unit/inc/functions/_rocketGetDirFilesByRegex.php
Labels: module: Google tracking add-on, needs: qa, type: bug

#2872 Savvii cache sync and move to new architecture
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/savvii.php
  inc/ThirdParty/Hostings/HostResolver.php
  inc/ThirdParty/Hostings/HostSubscriberFactory.php
  inc/ThirdParty/Hostings/Savvii.php
  tests/Fixtures/inc/ThirdParty/Hostings/HostResolver/getHostService.php
  tests/Fixtures/inc/ThirdParty/Hostings/HostSubscriberFactory/getSubscriber.php
  tests/Fixtures/inc/ThirdParty/Hostings/Savvii/CacheFlusherPlugin.php
  tests/Fixtures/inc/ThirdParty/Hostings/Savvii/clearCacheAfterSavvii.php
  tests/Fixtures/inc/ThirdParty/Hostings/Savvii/varnishAddonTitle.php
  tests/Unit/inc/ThirdParty/Hostings/HostResolver/getHostService.php
  tests/Unit/inc/ThirdParty/Hostings/HostSubscriberFactory/getSubscriber.php
  tests/Unit/inc/ThirdParty/Hostings/Savvii/clearCacheAfterSavvii.php
  tests/Unit/inc/ThirdParty/Hostings/Savvii/varnishAddonTitle.php
Labels: 3rd party compatibility, needs: qa

#2831 Closes #1523 Wildcards do not work in Always Purge URL(s)
  inc/common/purge.php
  inc/functions/files.php
  tests/Fixtures/inc/common/rocketGetPurgeUrls.php
  tests/Fixtures/inc/functions/_rocketGetRecursiveDirFilesByRegex.php
  tests/Integration/inc/common/rocketGetPurgeUrls.php
  tests/Unit/inc/common/rocketGetPurgeUrls.php
  tests/Unit/inc/functions/_rocketGetRecursiveDirFilesByRegex.php
Labels: module: cache, type: bug

#2784 Closes #146: Replace glob() usage in deactivate_plugin() method
  inc/Engine/Deactivation/Deactivation.php
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketGetPHPFilesInDir.php
  tests/Unit/inc/functions/rocketGetPHPFilesInDir.php
Labels: type: enhancement

#2963 Enhancement/integration theme fixture
  inc/ThirdParty/Themes/Divi.php
  inc/common/purge.php
  tests/Fixtures/inc/ThirdParty/Themes/Divi/addDiviToDescription.php
  tests/Fixtures/inc/ThirdParty/Themes/Divi/maybeDisableYoutubePreview.php
  tests/Integration/WPThemeTestcase.php
  tests/Integration/inc/ThirdParty/Themes/Divi/maybeDisableYoutubePreview.php
  tests/Unit/inc/ThirdParty/Themes/Divi/maybeDisableYoutubePreview.php
Labels: type: bug, type: enhancement

#2856 Fixes #2640 error when clearing cache on O2Switch when using PHP7.1+
  composer.json
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/o2switch.php
  inc/Addon/Varnish/Varnish.php
  inc/Engine/Activation/Activation.php
  inc/ThirdParty/Hostings/HostResolver.php
  inc/ThirdParty/Hostings/HostSubscriberFactory.php
  inc/ThirdParty/Hostings/O2Switch.php
  inc/deprecated/3.6.php
  tests/Fixtures/inc/ThirdParty/Hostings/O2Switch/addPurgeHeaders.php
  tests/Fixtures/inc/ThirdParty/Hostings/O2Switch/removeHtaccessHtmlExpire.php
  tests/Fixtures/inc/ThirdParty/Hostings/O2Switch/removeRegexFromPurgeUrl.php
  tests/Fixtures/inc/ThirdParty/Hostings/O2Switch/varnishAddonTitle.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Hostings/O2Switch/addPurgeHeaders.php
  tests/Integration/inc/ThirdParty/Hostings/O2Switch/removeHtaccessHtmlExpire.php
  tests/Integration/inc/ThirdParty/Hostings/O2Switch/removeRegexFromPurgeUrl.php
  tests/Integration/inc/ThirdParty/Hostings/O2Switch/varnishAddonTitle.php
  tests/Unit/inc/ThirdParty/Hostings/O2Switch/addPurgeHeaders.php
  tests/Unit/inc/ThirdParty/Hostings/O2Switch/removeHtaccessHtmlExpire.php
  tests/Unit/inc/ThirdParty/Hostings/O2Switch/removeRegexFromPurgeUrl.php
  tests/Unit/inc/ThirdParty/Hostings/O2Switch/varnishAddonTitle.php
Labels: 3rd party compatibility, module: cache, needs: qa

#2953 Fixes #2828: CriticalCSS removal can cause delayed FOUC in Firefox
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBuffer.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBufferUnit.php
Labels: module: critical-path, module: file optimization, type: bug
