Repository wp-media/wp-rocket, pull requests merged in 2020-02, with the labels that each got.

#2284 Update TravisCI configuration
  .travis.yml
Labels: type: tests

#2236 Introduce PHPStan
  .gitattributes
  .travis.yml
  composer.json
  composer.lock
  inc/classes/logger/class-logger.php
  phpstan.neon.dist
  tests/phpstan/bootstrap.php
Labels: community

#2292 Exclude static analysis files from PHPCS
  phpcs.xml
Labels: community, type: tests

#2214 Exclude Klaviyo JS file
  inc/classes/optimization/JS/class-combine.php
  tests/phpstan/bootstrap.php
Labels: module: file optimization, type: enhancement

#2286 Exclude pw_brand_product_list from combined JS
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2288 Exclude tarteaucitron scripts from being combined
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2165 Exclude Amazon Associates inline js
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2297 Disable WP 5.4 core lazyload when WPR images lazyload is enabled
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
Labels: 3rd party, module: media

#2300 Remove unnecessary DB queries caused by Beacon class
  inc/classes/admin/settings/class-beacon.php
Labels: Beacon, type: enhancement

#2304 Exclude inline JavaScript
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2310 Fixes and improves the Virtual Filesystem Test Suites.
  composer.lock
  tests/Integration/FilesystemTestCase.php
  tests/Integration/inc/classes/Cache/Expired_Cache_Purge/purgeExpiredFiles.php
  tests/Unit/FilesystemTestCase.php
  tests/Unit/inc/classes/Cache/Expired_Cache_Purge/purgeExpiredFiles.php
Labels: type: tests

#2313 Upgrades Cloudflare addon.
  composer.json
  composer.lock
  inc/Addons/Cloudflare/APIClient.php
  inc/Addons/Cloudflare/AuthenticationException.php
  inc/Addons/Cloudflare/Cloudflare.php
  inc/Addons/Cloudflare/Subscriber.php
  inc/Addons/Cloudflare/UnauthorizedException.php
  inc/Addons/Cloudflare/composer.json
  inc/classes/Addons/Cloudflare/CloudflareFacade.php
  inc/classes/ServiceProvider/class-addons-subscribers.php
  phpcs.xml
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestDeactivateDevMode.php
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestGetSubscribedEvents.php
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestSetVarnishPurgeRequestHost.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/Addons/Cloudflare/Subscriber/TestCase.php
  tests/Integration/inc/Addons/Cloudflare/Subscriber/autoPurge.php
  tests/Integration/inc/Addons/Cloudflare/Subscriber/autoPurgeByUrl.php
  tests/Integration/inc/Addons/Cloudflare/Subscriber/deactivateDevMode.php
  tests/Integration/inc/Addons/Cloudflare/Subscriber/purgeCache.php
  tests/Integration/inc/Addons/Cloudflare/Subscriber/setVarnishLocalhost.php
  tests/Integration/inc/Addons/Cloudflare/Subscriber/setVarnishPurgeRequestHost.php
  tests/Unit/Addons/Cloudflare/TestGetCloudflareIPS.php
  tests/Unit/Addons/Cloudflare/TestGetInstance.php
  tests/Unit/Addons/Cloudflare/TestGetSettings.php
  tests/Unit/Addons/Cloudflare/TestHasPageRule.php
  tests/Unit/Addons/Cloudflare/TestIsApiKeyValid.php
  tests/Unit/Addons/Cloudflare/TestPurgeByUrl.php
  tests/Unit/Addons/Cloudflare/TestPurgeCloudflare.php
  tests/Unit/Addons/Cloudflare/TestSetBrowserCacheTTL.php
  tests/Unit/Addons/Cloudflare/TestSetCacheLevel.php
  tests/Unit/Addons/Cloudflare/TestSetDevMode.php
  tests/Unit/Addons/Cloudflare/TestSetMinify.php
  tests/Unit/Addons/Cloudflare/TestSetRocketLoader.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestAutoPurge.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestAutoPurgeByUrl.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestPurgeCache.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestSaveCloudflareOptions.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestSaveOldSettings.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestSetRealIp.php
Labels: module: cloudflare, type: enhancement

#2319 RocketCDN code improvements
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  composer.lock
  inc/classes/CDN/RocketCDN/APIClient.php
  inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber.php
  inc/classes/subscriber/CDN/RocketCDN/DataManagerSubscriber.php
  package-lock.json
  package.json
  src/js/global/rocketcdn.js
  tests/Integration/CDN/RocketCDN/APIClient/getSubscriptionData.php
  tests/Integration/CDN/RocketCDN/APIClient/purgeCacheRequest.php
  tests/Integration/CDN/RocketCDN/APIClient/updateWebsiteStatus.php
  tests/Integration/Subscriber/CDN/RocketCDN/AdminPageSubscriber/preserveAuthorizationToken.php
  tests/Integration/Subscriber/CDN/RocketCDN/DataManagerSubscriber/maybeDisableCDN.php
  tests/Integration/Subscriber/CDN/RocketCDN/DataManagerSubscriber/maybeUpdateAPIStatus.php
  tests/Unit/CDN/RocketCDN/APIClient/preserveAuthorizationToken.php
  views/settings/fields/rocket-cdn.php
Labels: module: CDN, type: enhancement

#2321 Update wording for RocketCDN
  inc/classes/admin/settings/class-render.php
  inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber.php
  inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber.php
  src/scss/components/_modal.scss
  tests/Integration/Subscriber/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Integration/Subscriber/CDN/RocketCDN/AdminPageSubscriber/rocketcdnField.php
  tests/Integration/Subscriber/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Integration/Subscriber/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  tests/Unit/Subscriber/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Unit/Subscriber/CDN/RocketCDN/AdminPageSubscriber/rocketcdnField.php
  tests/Unit/Subscriber/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Unit/Subscriber/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  views/settings/fields/rocket-cdn.php
  views/settings/rocketcdn/cta-big.php
  views/settings/rocketcdn/cta-small.php
  views/settings/rocketcdn/dashboard-status.php
  views/settings/rocketcdn/promote-notice.php
Labels: module: CDN

#2327 Remove API call to RocketCDN when disabling CDN option
  inc/classes/CDN/RocketCDN/APIClient.php
  inc/classes/subscriber/CDN/RocketCDN/DataManagerSubscriber.php
  tests/Integration/CDN/RocketCDN/APIClient/updateWebsiteStatus.php
  tests/Integration/Subscriber/CDN/RocketCDN/DataManagerSubscriber/maybeUpdateAPIStatus.php
  tests/Unit/CDN/RocketCDN/APIClient/updateWebsiteStatus.php
  tests/Unit/Subscriber/CDN/RocketCDN/DataManagerSubscriber/maybeUpdateAPIStatus.php
Labels: module: CDN, type: bug

#2324 Improves test bootstrapping
  composer.json
  composer.lock
  tests/Integration/Subscriber/ThirdParty/Plugins/Ecommerce/WooCommerce/TestNonceUserLoggedOut.php
  tests/Integration/bootstrap.php
  tests/Integration/init-tests.php
  tests/Integration/phpunit.xml.dist
  tests/Unit/init-tests.php
  tests/Unit/phpunit.xml.dist
Labels: type: tests

#2331 Fixes Cloudflare fatal errors on upgrade.
  composer.json
  inc/Addon/Cloudflare/APIClient.php
  inc/Addon/Cloudflare/AuthenticationException.php
  inc/Addon/Cloudflare/Cloudflare.php
  inc/Addon/Cloudflare/Subscriber.php
  inc/Addon/Cloudflare/UnauthorizedException.php
  inc/Addon/Cloudflare/composer.json
  inc/Addon/ServiceProvider.php
  inc/classes/class-plugin.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/TestCase.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/autoPurge.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/autoPurgeByUrl.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/deactivateDevMode.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/purgeCache.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/setVarnishLocalhost.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/setVarnishPurgeRequestHost.php
  tests/Integration/inc/Addon/Cloudflare/Test_Addon.php
Labels: module: cloudflare, type: bug

#2326 Hide RocketCDN on local/staging sites
  composer.json
  inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber.php
  inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber.php
  inc/functions/api.php
  inc/main.php
  tests/Integration/Functions/rocketIsLiveSite.php
  tests/Integration/Subscriber/CDN/RocketCDN/AdminPageSubscriber/addSubscriptionModal.php
  tests/Integration/Subscriber/CDN/RocketCDN/AdminPageSubscriber/displayManageSubscription.php
  tests/Integration/Subscriber/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Integration/Subscriber/CDN/RocketCDN/NoticesSubscriber/addDismissScript.php
  tests/Integration/Subscriber/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Integration/Subscriber/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  tests/Unit/Functions/rocketIsLiveSite.php
  tests/Unit/Subscriber/CDN/RocketCDN/AdminPageSubscriber/addSubscriptionModal.php
  tests/Unit/Subscriber/CDN/RocketCDN/AdminPageSubscriber/displayManageSubscription.php
  tests/Unit/Subscriber/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Unit/Subscriber/CDN/RocketCDN/NoticesSubscriber/addDismissScript.php
  tests/Unit/Subscriber/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Unit/Subscriber/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  views/settings/rocketcdn/dashboard-status.php
Labels: module: CDN, type: enhancement

#2335 Remove RocketCDN debug to dave
  inc/admin/ui/enqueue.php
  inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber.php
  tests/Integration/Subscriber/CDN/RocketCDN/AdminPageSubscriber/addSubscriptionModal.php
  tests/Unit/Subscriber/CDN/RocketCDN/AdminPageSubscriber/addSubscriptionModal.php
Labels: module: CDN

#2336 Moves Varnish into the Addon module
  inc/Addon/ServiceProvider.php
  inc/Addon/Varnish/Subscriber.php
  inc/Addon/Varnish/Varnish.php
  tests/Integration/Subscriber/Addons/VarnishSubscriber/TestGetSubscribedEvents.php
  tests/Integration/inc/Addon/Varnish/Subscriber/getSubscribedEvents.php
  tests/Unit/Addons/Varnish/testPurge.php
  tests/Unit/Subscriber/Addons/VarnishSubscriber/TestCleanDomain.php
  tests/Unit/Subscriber/Addons/VarnishSubscriber/TestCleanFile.php
  tests/Unit/Subscriber/Addons/VarnishSubscriber/TestCleanHome.php
  tests/Unit/inc/Addon/Varnish/Subscriber/cleanDomain.php
  tests/Unit/inc/Addon/Varnish/Subscriber/cleanFile.php
  tests/Unit/inc/Addon/Varnish/Subscriber/cleanHome.php
  tests/Unit/inc/Addon/Varnish/Varnish/testPurge.php
Labels: module: Varnish add-on

#2337 Remove trailingslash before sending data
  inc/admin/ui/enqueue.php
Labels: module: CDN, type: bug

#2308 Mobile preload
  .gitattributes
  composer.lock
  inc/classes/preload/class-abstract-preload.php
  inc/classes/preload/class-abstract-process.php
  inc/classes/preload/class-full-process.php
  inc/classes/preload/class-homepage.php
  inc/classes/preload/class-partial-process.php
  inc/classes/preload/class-sitemap.php
  inc/classes/subscriber/CDN/CDNSubscriber.php
  inc/classes/subscriber/Cache/class-expired-cache-purge-subscriber.php
  inc/classes/subscriber/Optimization/class-cache-dynamic-resource-subscriber.php
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
  inc/classes/subscriber/Optimization/class-ie-conditionals-subscriber.php
  inc/classes/subscriber/Optimization/class-lazyload-subscriber.php
  inc/classes/subscriber/Optimization/class-minify-html-subscriber.php
  inc/classes/subscriber/Plugin/class-capabilities-subscriber.php
  inc/classes/subscriber/Tools/class-cache-dir-size-check-subscriber.php
  inc/classes/subscriber/Tools/class-detect-missing-tags-subscriber.php
  inc/classes/subscriber/third-party/plugins/Optimization/class-hummingbird-subscriber.php
  inc/deprecated/3.5.php
  inc/functions/options.php
  tests/Fixtures/Preload/Process_Wrapper.php
  tests/Fixtures/Preload/Sitemap/sitemap-mobile.xml
  tests/Fixtures/Preload/Sitemap/sitemap.xml
  tests/Integration/Optimization/CSS/CombineGoogleFonts/TestOptimize.php
  tests/Integration/PreloadTestCase.php
  tests/Integration/inc/classes/preload/Full_Process/isMobilePreloadEnabled.php
  tests/Integration/inc/classes/preload/Homepage/preload.php
  tests/Integration/inc/classes/preload/Sitemap/runPreload.php
  tests/Unit/inc/classes/preload/Homepage/preload.php
  tests/Unit/inc/classes/preload/Process/formatItem.php
  tests/Unit/inc/classes/preload/Process/getItemUserAgent.php
  tests/Unit/inc/classes/preload/Process/isMobilePreloadEnabled.php
  tests/Unit/inc/classes/preload/Sitemap/runPreload.php
Labels: module: preload, type: new feature

#2338 Update Background Processing dependency
  composer.json
  composer.lock
Labels: tool: background process, type: enhancement

#2339 Adds a filter to rocket_is_live_site() for dev TLDs to be live prod site.
  inc/functions/api.php
  tests/Integration/Functions/rocketIsLiveSite.php
  tests/Unit/Functions/rocketIsLiveSite.php
Labels: module: CDN, type: enhancement

#2340 Overwrite destination cache file if it already exists
  inc/classes/Buffer/class-cache.php
Labels: module: cache, severity: minor, type: bug

#2343 Revert to http as default scheme for Varnish request
  inc/Addon/Varnish/Varnish.php
Labels: module: Varnish add-on

#2342 Fix the number of preloaded pages in the admin notice
  inc/classes/preload/class-abstract-preload.php
  inc/classes/preload/class-abstract-process.php
  inc/classes/preload/class-full-process.php
  inc/classes/preload/class-homepage.php
  inc/classes/preload/class-partial-process.php
  inc/classes/preload/class-sitemap.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
  tests/Integration/inc/classes/preload/Full_Process/isMobilePreloadEnabled.php
  tests/Integration/inc/classes/preload/Homepage/preload.php
  tests/Integration/inc/classes/preload/PreloadTestCase.php
  tests/Integration/inc/classes/preload/Sitemap/runPreload.php
  tests/Unit/inc/classes/preload/Homepage/preload.php
  tests/Unit/inc/classes/preload/Sitemap/runPreload.php
Labels: module: preload, severity: minor, type: bug

#2344 Add documentation data for RocketCDN
  inc/classes/admin/settings/class-beacon.php
  inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber.php
  tests/Integration/Subscriber/CDN/RocketCDN/AdminPageSubscriber/rocketcdnField.php
  tests/Unit/Subscriber/CDN/RocketCDN/AdminPageSubscriber/rocketcdnField.php
  views/settings/fields/rocket-cdn.php
Labels: Beacon, module: CDN

#2348 Update wording of RocketCDN field helper to reduce confusion
  inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber.php
  tests/Integration/Subscriber/CDN/RocketCDN/AdminPageSubscriber/rocketcdnField.php
  tests/Unit/Subscriber/CDN/RocketCDN/AdminPageSubscriber/rocketcdnField.php
Labels: module: CDN, type: enhancement

#2350 Automatic mobile preload after cache purge
  inc/classes/preload/class-abstract-preload.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
  inc/common/purge.php
Labels: module: preload, type: enhancement
