Repository wp-media/wp-rocket, pull requests merged in 2020-10, with the labels that each got.

#3164 Exclude jQuery from code.jquery.js from being deferred
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/functions/options.php
  tests/Integration/inc/functions/getRocketExcludeDeferJs.php
  tests/Unit/inc/functions/getRocketExcludeDeferJS.php
Labels: module: file optimization, type: enhancement

#3174 Closes #3149 PricingClient class to get data from pricing endpoint
  inc/Engine/License/API/PricingClient.php
  inc/Engine/License/ServiceProvider.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/License/API/PricingClient/getPricingData.php
  tests/Integration/inc/Engine/License/API/PricingClient/getPricingData.php
  tests/Unit/inc/Engine/License/API/PricingClient/getPricingData.php
Labels: Module: dashboard, type: sub-task

#3176 Closes #3143 User Client class to manage data collection from user endpoint
  inc/Engine/License/API/UserClient.php
  inc/Engine/License/ServiceProvider.php
  tests/Fixtures/inc/Engine/License/API/UserClient/getUserData.php
  tests/Integration/inc/Engine/License/API/UserClient/getUserData.php
  tests/Unit/inc/Engine/License/API/UserClient/getUserData.php
Labels: Module: dashboard, type: sub-task

#3179 Closes #3150 Pricing class to manage pricing data usage
  inc/Engine/License/API/Pricing.php
  inc/Engine/License/ServiceProvider.php
  tests/Fixtures/inc/Engine/License/API/Pricing/GetRegularSingleToInfinitePrice.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getInfinitePricing.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getPlusPricing.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getPlusToInfinitePrice.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getPromoData.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getPromoEnd.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getRegularPlusToInfinitePrice.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getRegularSingleToPlusPrice.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getRenewalsData.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getSinglePricing.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getSingleToInfinitePrice.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getSingleToPlusPrice.php
  tests/Fixtures/inc/Engine/License/API/Pricing/isPromoActive.php
  tests/Unit/inc/Engine/License/API/Pricing/getInfinitePricing.php
  tests/Unit/inc/Engine/License/API/Pricing/getPlusPricing.php
  tests/Unit/inc/Engine/License/API/Pricing/getPlusToInfinitePrice.php
  tests/Unit/inc/Engine/License/API/Pricing/getPromoData.php
  tests/Unit/inc/Engine/License/API/Pricing/getPromoEnd.php
  tests/Unit/inc/Engine/License/API/Pricing/getRegularPlusToInfinitePrice.php
  tests/Unit/inc/Engine/License/API/Pricing/getRegularSingleToInfinitePrice.php
  tests/Unit/inc/Engine/License/API/Pricing/getRegularSingleToPlusPrice.php
  tests/Unit/inc/Engine/License/API/Pricing/getRenewalsData.php
  tests/Unit/inc/Engine/License/API/Pricing/getSinglePricing.php
  tests/Unit/inc/Engine/License/API/Pricing/getSingleToInfinitePrice.php
  tests/Unit/inc/Engine/License/API/Pricing/getSingleToPlusPrice.php
  tests/Unit/inc/Engine/License/API/Pricing/isPromoActive.php
Labels: Module: dashboard, type: sub-task

#3185 User class to manage user data access
  inc/Engine/License/API/User.php
  inc/Engine/License/ServiceProvider.php
  tests/Fixtures/inc/Engine/License/API/User/getCreationDate.php
  tests/Fixtures/inc/Engine/License/API/User/getLicenseExpiration.php
  tests/Fixtures/inc/Engine/License/API/User/getLicenseType.php
  tests/Fixtures/inc/Engine/License/API/User/getUpgradeInfiniteUrl.php
  tests/Fixtures/inc/Engine/License/API/User/getUpgradePlusUrl.php
  tests/Fixtures/inc/Engine/License/API/User/isAutoRenew.php
  tests/Fixtures/inc/Engine/License/API/User/isLicenseExpired.php
  tests/Unit/inc/Engine/License/API/User/getCreationDate.php
  tests/Unit/inc/Engine/License/API/User/getLicenseExpiration.php
  tests/Unit/inc/Engine/License/API/User/getLicenseType.php
  tests/Unit/inc/Engine/License/API/User/getUpgradeInfiniteUrl.php
  tests/Unit/inc/Engine/License/API/User/getUpgradePlusUrl.php
  tests/Unit/inc/Engine/License/API/User/isAutoRenew.php
  tests/Unit/inc/Engine/License/API/User/isLicenseExpired.php
Labels: Module: dashboard, type: sub-task

#3186 Closes #3151 Upgrade class to manage showing upgrade offers
  inc/Engine/License/API/Pricing.php
  inc/Engine/License/ServiceProvider.php
  inc/Engine/License/Upgrade.php
  inc/Engine/License/views/upgrade-popin.php
  inc/Engine/License/views/upgrade-section.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getInfiniteWebsitesCount.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getPlusWebsitesCount.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getSingleWebsitesCount.php
  tests/Fixtures/inc/Engine/License/Upgrade/displayUpgradePopin.php
  tests/Fixtures/inc/Engine/License/Upgrade/displayUpgradeSection.php
  tests/Unit/inc/Engine/License/API/Pricing/getInfiniteWebsitesCount.php
  tests/Unit/inc/Engine/License/API/Pricing/getPlusWebsitesCount.php
  tests/Unit/inc/Engine/License/API/Pricing/getSingleWebsitesCount.php
  tests/Unit/inc/Engine/License/Upgrade/displayUpgradePopin.php
  tests/Unit/inc/Engine/License/Upgrade/displayUpgradeSection.php
Labels: Module: dashboard, type: sub-task

#3190 Closes #3154 Subscriber class for the upgrade events
  inc/Engine/License/ServiceProvider.php
  inc/Engine/License/Subscriber.php
  inc/Engine/License/Upgrade.php
  inc/Engine/License/views/upgrade-popin.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayUpgradePopin.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayUpgradeSection.php
  tests/Fixtures/inc/Engine/License/Upgrade/displayUpgradePopin.php
  tests/Integration/inc/Engine/License/API/PricingClient/getPricingData.php
  tests/Integration/inc/Engine/License/Subscriber/displayUpgradePopin.php
  tests/Integration/inc/Engine/License/Subscriber/displayUpgradeSection.php
  tests/Unit/inc/Engine/License/Upgrade/displayUpgradePopin.php
  tests/Unit/inc/Engine/License/Upgrade/displayUpgradeSection.php
  views/settings/page-sections/dashboard.php
Labels: Module: dashboard, type: sub-task

#3183 Alfonso exclude inlinejs
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3184 Exclude loaded.knack.com from JS optimizations
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: file optimization, type: enhancement

#3193 Closes #3153 JS code for the upgrade popin toggle
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  package-lock.json
  src/js/global/main.js
Labels: Module: dashboard, type: sub-task

#3163 Add campaignid / adgroupid / adid query strings
  inc/front/process.php
  inc/functions/options.php
Labels: module: cache, needs: qa, type: enhancement

#3188 Add Matomo & Piwik Pro query strings
  inc/functions/options.php
Labels: 3rd party compatibility, module: cache, needs: qa, type: enhancement

#3189 Add ShareASale query string
  inc/functions/options.php
Labels: 3rd party compatibility, module: cache, needs: qa, type: enhancement

#3194 Closes #3152 CSS for the upgrade popin
  assets/css/wpr-admin.css
  assets/img/infinite.svg
  assets/img/plus.svg
  inc/Engine/License/views/upgrade-popin.php
  inc/Engine/License/views/upgrade-section.php
  src/scss/abstracts/_variables.scss
  src/scss/layout/_Upgrade.scss
  src/scss/main.scss
  tests/Fixtures/inc/Engine/License/Subscriber/displayUpgradePopin.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayUpgradeSection.php
  views/settings/page-sections/dashboard.php
Labels: Module: dashboard, type: sub-task

#3196 Prevent duplicate addition of inline JS on multiple wp_enqueue_script calls
  inc/Engine/Optimization/DelayJS/Subscriber.php
  inc/Engine/Preload/Links/Subscriber.php
Labels: module: file optimization, module: preload, type: bug

#3199 Fix #3140 : IE11 forEach issue on delayJS script
  assets/js/lazyload-scripts.js
  assets/js/lazyload-scripts.min.js
Labels: module: file optimization, type: bug

#3191 Fixes #3181 Exclude Voxpow JS from combine & defer JS
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/functions/options.php
  tests/Integration/inc/functions/getRocketExcludeDeferJs.php
  tests/Unit/inc/functions/getRocketExcludeDeferJS.php
Labels: module: file optimization, type: bug

#3201 Closes #3197 Update the Upgrade class to handle promotion
  inc/Engine/License/Upgrade.php
  inc/Engine/License/views/promo-banner.php
  inc/Engine/License/views/upgrade-popin.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayUpgradePopin.php
  tests/Fixtures/inc/Engine/License/Upgrade/addNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Upgrade/dismissNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Upgrade/dismissPromoBanner.php
  tests/Fixtures/inc/Engine/License/Upgrade/displayPromoBanner.php
  tests/Fixtures/inc/Engine/License/Upgrade/displayUpgradePopin.php
  tests/Unit/inc/Engine/License/Upgrade/addNotificationBubble.php
  tests/Unit/inc/Engine/License/Upgrade/dismissNotificationBubble.php
  tests/Unit/inc/Engine/License/Upgrade/dismissPromoBanner.php
  tests/Unit/inc/Engine/License/Upgrade/displayPromoBanner.php
  tests/Unit/inc/Engine/License/Upgrade/displayUpgradePopin.php
Labels: Module: dashboard, type: sub-task

#3203 Fixes License data display on the dashboard
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/ServiceProvider.php
  src/js/global/ajax.js
  tests/Unit/inc/Engine/Admin/Settings/Page/asyncWistiaScript.php
  tests/Unit/inc/Engine/Admin/Settings/Page/enqueueRocketScripts.php
  views/settings/page-sections/dashboard.php
Labels: Module: dashboard, type: bug

#3205 Fixes delay JS scripts textarea sanitization
  inc/Engine/Admin/Settings/Settings.php
Labels: module: file optimization, needs: qa, type: bug

#3210 Closes #3204 Update license subscriber for promotion events
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Admin/Settings/Subscriber.php
  inc/Engine/License/Subscriber.php
  inc/Engine/License/Upgrade.php
  inc/Engine/License/views/promo-banner.php
  inc/Engine/License/views/upgrade-popin.php
  inc/Engine/License/views/upgrade-section.php
  src/js/global/ajax.js
  src/js/global/main.js
  tests/Fixtures/inc/Engine/License/API/UserClient/getUserData.php
  tests/Fixtures/inc/Engine/License/Subscriber/addNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Subscriber/dismissNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayPromoBanner.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayUpgradeSection.php
  tests/Fixtures/inc/Engine/License/Upgrade/dismissNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Upgrade/displayPromoBanner.php
  tests/Integration/inc/Engine/License/Subscriber/addNotificationBubble.php
  tests/Integration/inc/Engine/License/Subscriber/dismissNotificationBubble.php
  tests/Integration/inc/Engine/License/Subscriber/dismissPromoBanner.php
  tests/Integration/inc/Engine/License/Subscriber/displayPromoBanner.php
  tests/Unit/inc/Engine/License/Upgrade/dismissNotificationBubble.php
  tests/Unit/inc/Engine/License/Upgrade/dismissPromoBanner.php
  tests/Unit/inc/Engine/License/Upgrade/displayPromoBanner.php
  views/settings/page-sections/dashboard.php
Labels: Module: dashboard, type: sub-task

#3211 Closes #3157 Update CSS for promotion display
  assets/css/wpr-admin.css
  src/scss/abstracts/_variables.scss
  src/scss/layout/_Promotion.scss
  src/scss/layout/_Upgrade.scss
  src/scss/main.scss
Labels: Module: dashboard, type: sub-task

#3212 Closes #3158 Promotion JS countdown
  assets/css/wpr-admin.css
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/License/Subscriber.php
  inc/Engine/License/Upgrade.php
  inc/Engine/License/views/promo-banner.php
  inc/admin/ui/enqueue.php
  src/js/global/app.js
  src/js/global/countdown.js
  src/scss/layout/_Promotion.scss
  tests/Fixtures/inc/Engine/License/Subscriber/addLocalizeScriptData.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayPromoBanner.php
  tests/Fixtures/inc/Engine/License/Upgrade/addLocalizeScriptData.php
  tests/Integration/inc/Engine/License/Subscriber/addLocalizeScriptData.php
  tests/Unit/inc/Engine/License/Upgrade/addLocalizeScriptData.php
  tests/Unit/inc/Engine/License/Upgrade/displayPromoBanner.php
Labels: Module: dashboard, type: sub-task

#3170 Closes #3155 License module Service Provider
  inc/Engine/License/ServiceProvider.php
Labels: Module: dashboard, type: sub-task

#3218 Closes #3069 Promotions in the plugin
  assets/css/wpr-admin.css
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Admin/Settings/Subscriber.php
  inc/Engine/License/Subscriber.php
  inc/Engine/License/Upgrade.php
  inc/Engine/License/views/promo-banner.php
  inc/Engine/License/views/upgrade-popin.php
  inc/Engine/License/views/upgrade-section.php
  inc/admin/ui/enqueue.php
  src/js/global/ajax.js
  src/js/global/app.js
  src/js/global/countdown.js
  src/js/global/main.js
  src/scss/abstracts/_variables.scss
  src/scss/layout/_Promotion.scss
  src/scss/layout/_Upgrade.scss
  src/scss/main.scss
  tests/Fixtures/inc/Engine/License/API/UserClient/getUserData.php
  tests/Fixtures/inc/Engine/License/Subscriber/addLocalizeScriptData.php
  tests/Fixtures/inc/Engine/License/Subscriber/addNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Subscriber/dismissNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayPromoBanner.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayUpgradePopin.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayUpgradeSection.php
  tests/Fixtures/inc/Engine/License/Upgrade/addLocalizeScriptData.php
  tests/Fixtures/inc/Engine/License/Upgrade/addNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Upgrade/dismissNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Upgrade/dismissPromoBanner.php
  tests/Fixtures/inc/Engine/License/Upgrade/displayPromoBanner.php
  tests/Fixtures/inc/Engine/License/Upgrade/displayUpgradePopin.php
  tests/Integration/inc/Engine/License/Subscriber/addLocalizeScriptData.php
  tests/Integration/inc/Engine/License/Subscriber/addNotificationBubble.php
  tests/Integration/inc/Engine/License/Subscriber/dismissNotificationBubble.php
  tests/Integration/inc/Engine/License/Subscriber/dismissPromoBanner.php
  tests/Integration/inc/Engine/License/Subscriber/displayPromoBanner.php
  tests/Unit/inc/Engine/License/Upgrade/addLocalizeScriptData.php
  tests/Unit/inc/Engine/License/Upgrade/addNotificationBubble.php
  tests/Unit/inc/Engine/License/Upgrade/dismissNotificationBubble.php
  tests/Unit/inc/Engine/License/Upgrade/dismissPromoBanner.php
  tests/Unit/inc/Engine/License/Upgrade/displayPromoBanner.php
  tests/Unit/inc/Engine/License/Upgrade/displayUpgradePopin.php
  views/settings/page-sections/dashboard.php
Labels: Module: dashboard, type: enhancement

#3213 Exclude Leadboxes script
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: file optimization, type: enhancement

#3216 Add more actions in the get_nonce_actions() method for compatibility
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: 3rd party compatibility, module: cache, type: enhancement

#3222 Closes #3066 Auto-enable disable emoji
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Media/Emojis/EmojisSubscriber.php
  tests/Fixtures/inc/Engine/Media/EmojisSubscriber/disableEmojiTinymce.php
  tests/Integration/inc/Engine/Media/EmojisSubscriber/disableEmoji.php
  tests/Integration/inc/Engine/Media/EmojisSubscriber/disableEmojiTinymce.php
  tests/Unit/inc/Engine/Media/EmojisSubscriber/disableEmojiTinymce.php
Labels: module: media, type: enhancement

#3226 Exclude aepc_pixel inline scripts
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3225 Fixes #3119 Update adsbygoogle value in default delay JS list
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate374.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate374.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate374.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate374.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
Labels: 3rd party compatibility, module: file optimization, type: bug

#3224 Fix #3133 combine css/js increase cache/min size when versioning contains variable strings/timestamps
  inc/Engine/Optimization/Minify/CSS/Combine.php
  inc/Engine/Optimization/Minify/CSS/Minify.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  inc/Engine/Optimization/Minify/JS/Minify.php
Labels: module: file optimization, type: bug

#3228 Update inline JS exlusions
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3227 Fixes #3178 Correctly minify/combine CSS/JS when the URL contains encoded characters
  inc/functions/formatting.php
Labels: module: file optimization, type: bug

#3236 Fix #3121: Local cache - minified 3rd-party resources having the integrity attribute are blocked
  inc/Engine/Optimization/AssetsLocalCache.php
  inc/Engine/Optimization/Minify/CSS/Minify.php
  inc/Engine/Optimization/Minify/JS/Minify.php
  tests/Fixtures/inc/Engine/License/API/Pricing/getRegularSingleToInfinitePrice.php
  tests/Fixtures/inc/Engine/License/API/UserClient/getUserData.php
  tests/Fixtures/inc/Engine/Optimization/AssetsLocalCache/validateIntegrity.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/addAsyncCssMobileOption.php
  tests/Unit/inc/Engine/Optimization/AssetsLocalCache/validateIntegrity.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
Labels: 3rd party compatibility, module: file optimization, needs: qa, type: bug

#3242 Add new inline JS exclusion from combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3239 Update inline JS exclusions from combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3244 Fix Travis builds with new composer
  .travis.yml
  composer.json
Labels: dev initiative

#3235 Closes #3177 Update minimum WP version to 5.2
  .travis.yml
  wp-rocket.php
Labels: needs: qa, type: enhancement

#3217 Fix #3209 avada lazyload is detected as always active
  inc/3rd-party/themes/avada.php
Labels: 3rd party compatibility, module: lazyload, needs: qa, type: enhancement

#3248 Closes #2893 Create a REST API support endpoint to get support data
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Beacon/ServiceProvider.php
  inc/Engine/Support/Data.php
  inc/Engine/Support/Rest.php
  inc/Engine/Support/ServiceProvider.php
  inc/Engine/Support/Subscriber.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/Support/Data/getSupportData.php
  tests/Fixtures/inc/Engine/Support/Rest/getSupportData.php
  tests/Fixtures/inc/Engine/Support/Subscriber/registerSupportRoute.php
  tests/Integration/inc/Engine/Support/Data/getSupportData.php
  tests/Integration/inc/Engine/Support/Subscriber/registerSupportRoute.php
  tests/Unit/inc/Engine/Admin/Beacon/Beacon/getSuggest.php
  tests/Unit/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  tests/Unit/inc/Engine/Support/Data/getSupportData.php
  tests/Unit/inc/Engine/Support/Rest/getSupportData.php
Labels: needs: qa, type: enhancement

#3245 Improve support for Web Stories plugin
  inc/ThirdParty/Plugins/Optimization/AMP.php
Labels: 3rd party compatibility, needs: qa, type: enhancement
