Repository wp-media/wp-rocket, pull requests merged in 2020-08, with the labels that each got.

#2966 Closes #2900: Preload links: admin part (1/3)
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Preload/Links/AdminSubscriber.php
  inc/Engine/Preload/Links/ServiceProvider.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/Preload/Links/AdminSubscriber/addOption.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/addAsyncCssMobileOption.php
  tests/Integration/inc/Engine/Preload/Links/AdminSubscriber/addOption.php
  tests/Unit/inc/Engine/Preload/Links/AdminSubscriber/addOption.php
Labels: module: preload, type: sub-task

#2910 Closes #2576 add query string to bypass WP Rocket optimizations
  inc/API/bypass.php
  inc/Engine/Heartbeat/HeartbeatSubscriber.php
  inc/Engine/Heartbeat/ServiceProvider.php
  inc/Engine/Media/Embeds/EmbedsSubscriber.php
  inc/Engine/Media/Emojis/EmojisSubscriber.php
  inc/Engine/Media/ServiceProvider.php
  inc/Engine/Optimization/CacheDynamicResource.php
  inc/Engine/Optimization/GoogleFonts/Subscriber.php
  inc/Engine/Preload/Fonts.php
  inc/Plugin.php
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/common/embeds.php
  inc/common/emoji.php
  inc/deprecated/3.7.php
  inc/main.php
  tests/Fixtures/inc/API/bypass.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/emptyOembedResponseData.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/enqueueDisableEmbedsScript.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/removeEmbedEndpoint.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/removeEmbedsRewriteRules.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/removeWpEmbedDependency.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/removeWpVarsAndHooks.php
  tests/Fixtures/inc/Engine/Media/EmojisSubscriber/disableEmoji.php
  tests/Fixtures/inc/Engine/Media/EmojisSubscriber/disableEmojiTinymce.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
  tests/Fixtures/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/serveCacheEmptyCart.php
  tests/Integration/inc/API/bypass.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/emptyOembedResponseData.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/enqueueDisableEmbedsScript.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/removeEmbedEndpoint.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/removeEmbedsRewriteRules.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/removeWpEmbedDependency.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/removeWpVarsAndHooks.php
  tests/Integration/inc/Engine/Media/EmojisSubscriber/disableEmoji.php
  tests/Integration/inc/Engine/Media/EmojisSubscriber/disableEmojiTinymce.php
  tests/Integration/inc/Engine/Media/LazyloadSubscriber/insertLazyloadScript.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
  tests/Integration/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Integration/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/cacheEmptyCart.php
  tests/Unit/inc/API/bypass.php
  tests/Unit/inc/Engine/Media/EmbedsSubscriber/removeEmbedEndpoint.php
  tests/Unit/inc/Engine/Media/EmbedsSubscriber/removeEmbedsRewriteRules.php
  tests/Unit/inc/Engine/Media/EmojisSubscriber/disableEmojiTinymce.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
  tests/Unit/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/cacheEmptyCart.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/serveCacheEmptyCart.php
Labels: needs: qa, type: enhancement

#2969 Delay JS execution: delay script (2/3)
  assets/js/lazyload-scripts.js
  assets/js/lazyload-scripts.min.js
  gulpfile.js
  package-lock.json
  package.json
Labels: module: preload, type: sub-task

#2959 Closes #2810: Minify external CSS and JS files
  inc/Engine/Optimization/AssetsLocalCache.php
  inc/Engine/Optimization/CSSTrait.php
  inc/Engine/Optimization/Minify/AbstractMinifySubscriber.php
  inc/Engine/Optimization/Minify/CSS/AbstractCSSOptimization.php
  inc/Engine/Optimization/Minify/CSS/Combine.php
  inc/Engine/Optimization/Minify/CSS/Minify.php
  inc/Engine/Optimization/Minify/CSS/Subscriber.php
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  inc/Engine/Optimization/Minify/JS/Minify.php
  inc/Engine/Optimization/Minify/JS/Subscriber.php
  inc/Engine/Optimization/Minify/ProcessorInterface.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
Labels: module: file optimization, needs: qa, type: enhancement

#2913 Delay JS execution time: admin part (1/3)
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Deactivation/DeactivationIntent.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/CriticalPath/Admin/Subscriber.php
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  inc/Plugin.php
  inc/functions/formatting.php
  src/js/global/ajax.js
  tests/Fixtures/inc/Engine/Optimization/DelayJs/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJs/Admin/Settings/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJs/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJs/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJs/Admin/Subscriber/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJs/Admin/Subscriber/setOptionOnUpdate.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/addAsyncCssMobileOption.php
  tests/Integration/inc/Engine/Optimization/DelayJs/Admin/Subscriber/addOptions.php
  tests/Integration/inc/Engine/Optimization/DelayJs/Admin/Subscriber/displayRestoreDefaultsButton.php
  tests/Integration/inc/Engine/Optimization/DelayJs/Admin/Subscriber/restoreDefaults.php
  tests/Integration/inc/Engine/Optimization/DelayJs/Admin/Subscriber/setOptionOnUpdate.php
  tests/Unit/inc/Engine/Optimization/DelayJs/Admin/Settings/addOptions.php
  tests/Unit/inc/Engine/Optimization/DelayJs/Admin/Settings/restoreDefaults.php
  tests/Unit/inc/Engine/Optimization/DelayJs/Admin/Settings/setOptionOnUpdate.php
  tests/Unit/inc/Engine/Optimization/DelayJs/Admin/Subscriber/displayRestoreDefaultsButton.php
  tests/Unit/inc/Engine/Optimization/DelayJs/Admin/Subscriber/restoreDefaults.php
  views/settings/fields/textarea.php
Labels: module: file optimization, type: sub-task

#2968 Closes #2901: Preload Links front part (2/3)
  assets/js/preload-links.js
  inc/Engine/Preload/Links/ServiceProvider.php
  inc/Engine/Preload/Links/Subscriber.php
  inc/Engine/Preload/ServiceProvider.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/Preload/Links/Subscriber/addPreloadScript.php
  tests/Integration/inc/Engine/Preload/Links/Subscriber/addPreloadScript.php
Labels: module: preload, type: sub-task

#2977 Add Gulp task for compiling a single JS script
  gulpfile.js
  package.json
Labels: type: enhancement

#2975 Subtask 2902 - Adds the Preload Pages script
  assets/js/preload-links.js
  assets/js/preload-links.min.js
  package-lock.json
  package.json
Labels: module: preload, type: sub-task

#2991 Adjust tests not to support jquery-migrate after WP version 5.5
  tests/Integration/inc/classes/subscriber/Optimization/Dequeue_JQuery_Migrate_Subscriber/dequeueJqueryMigrate.php
Labels: dev initiative

#2971 Delay JS execution: front part (3/3)
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Optimization/DelayJS/Subscriber.php
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Combine/combine.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/cacheEmptyCart.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Unit/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: module: file optimization, type: sub-task

#2988 Add permissions_callback to RocketCDN RESTSubscriber routes
  inc/Engine/CDN/RocketCDN/RESTSubscriber.php
Labels: module: rocketcdn, type: bug

#2987 Prevent PHP notice when trying to serve the WC empty cart cache
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: 3rd party compatibility, type: bug

#2976 Use common external exclusions list for Minify JS
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  inc/Engine/Optimization/Minify/JS/Minify.php
Labels: module: file optimization, type: enhancement

#2980 Exclude borlabsCookiePrioritize from JS combine
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#2981 Excluded dynamic JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#2994 Fixes #2962 Prevent whitescreen when Optimizing Google Fonts in some cases
  inc/Engine/Optimization/GoogleFonts/Combine.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
Labels: module: file optimization, type: bug

#2993 Closes #2899 New Feature: Delay JS execution
  assets/js/browser-checker.js
  assets/js/browser-checker.min.js
  assets/js/lazyload-scripts.js
  assets/js/lazyload-scripts.min.js
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  gulpfile.js
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Deactivation/DeactivationIntent.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/CriticalPath/Admin/Subscriber.php
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  inc/Engine/Optimization/DelayJS/Subscriber.php
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/Plugin.php
  inc/functions/formatting.php
  package-lock.json
  src/js/global/ajax.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Combine/combine.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/cacheEmptyCart.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/addAsyncCssMobileOption.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/displayRestoreDefaultsButton.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Subscriber/displayRestoreDefaultsButton.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Unit/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  views/settings/fields/textarea.php
Labels: module: file optimization, type: new feature

#2989 Closes #2898 New Feature: Preload Links
  assets/js/browser-checker.min.js
  assets/js/preload-links.js
  assets/js/preload-links.min.js
  gulpfile.js
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Preload/Links/AdminSubscriber.php
  inc/Engine/Preload/Links/ServiceProvider.php
  inc/Engine/Preload/Links/Subscriber.php
  inc/Engine/Preload/ServiceProvider.php
  inc/Plugin.php
  inc/functions/options.php
  package-lock.json
  package.json
  tests/Fixtures/inc/Engine/Preload/Links/AdminSubscriber/addIncompatiblePlugins.php
  tests/Fixtures/inc/Engine/Preload/Links/AdminSubscriber/addOption.php
  tests/Fixtures/inc/Engine/Preload/Links/Subscriber/addPreloadScript.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/addAsyncCssMobileOption.php
  tests/Integration/inc/Engine/Preload/Links/AdminSubscriber/addIncompatiblePlugins.php
  tests/Integration/inc/Engine/Preload/Links/AdminSubscriber/addOption.php
  tests/Integration/inc/Engine/Preload/Links/Subscriber/addPreloadScript.php
  tests/Unit/inc/Engine/Preload/Links/AdminSubscriber/addIncompatiblePlugins.php
  tests/Unit/inc/Engine/Preload/Links/AdminSubscriber/addOption.php
Labels: module: preload, type: new feature

#3019 Exclude wpfront-notification-bar.js from defer JS
  inc/functions/options.php
  tests/Integration/inc/functions/getRocketExcludeDeferJs.php
  tests/Unit/inc/functions/getRocketExcludeDeferJS.php
Labels: module: file optimization, type: enhancement

#3021 Closes #2318 Add i18n.min.js to the $excluded_files array
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: file optimization, type: enhancement

#3022 Adds filter for Preload Links script configuration parameters.
  inc/Engine/Preload/Links/Subscriber.php
Labels: module: preload, type: enhancement

#3008 Fixes #3005 Namespace our dependencies to prevent conflicts
  .travis.yml
  composer.json
  inc/Dependencies/Minify/CSS.php
  inc/Dependencies/Minify/Exception.php
  inc/Dependencies/Minify/Exceptions/BasicException.php
  inc/Dependencies/Minify/Exceptions/FileImportException.php
  inc/Dependencies/Minify/Exceptions/IOException.php
  inc/Dependencies/Minify/JS.php
  inc/Dependencies/Minify/Minify.php
  inc/Dependencies/Minify/data/js/keywords_after.txt
  inc/Dependencies/Minify/data/js/keywords_before.txt
  inc/Dependencies/Minify/data/js/keywords_reserved.txt
  inc/Dependencies/Minify/data/js/operators.txt
  inc/Dependencies/Minify/data/js/operators_after.txt
  inc/Dependencies/Minify/data/js/operators_before.txt
  inc/Dependencies/PathConverter/Converter.php
  inc/Dependencies/PathConverter/ConverterInterface.php
  inc/Dependencies/PathConverter/NoConverter.php
  inc/Dependencies/RocketLazyload/Assets.php
  inc/Dependencies/RocketLazyload/Iframe.php
  inc/Dependencies/RocketLazyload/Image.php
  inc/Engine/Cache/AdvancedCache.php
  inc/Engine/Container/Container.php
  inc/Engine/Container/Exception/NotFoundException.php
  inc/Engine/Container/ImmutableContainerAwareInterface.php
  inc/Engine/Container/ImmutableContainerAwareTrait.php
  inc/Engine/Container/ImmutableContainerInterface.php
  inc/Engine/CriticalPath/CriticalCSSGeneration.php
  inc/Engine/Media/LazyloadSubscriber.php
  inc/Engine/Media/ServiceProvider.php
  inc/Engine/Optimization/CSSTrait.php
  inc/Engine/Optimization/Minify/CSS/Combine.php
  inc/Engine/Optimization/Minify/CSS/Minify.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  inc/Engine/Optimization/Minify/JS/Minify.php
  inc/Engine/Optimization/Minify/JS/Subscriber.php
  inc/Engine/Preload/AbstractProcess.php
  inc/admin/upgrader.php
  inc/classes/Buffer/class-cache.php
  inc/classes/admin/Database/class-optimization-process.php
  inc/classes/dependencies/.gitkeep
  inc/classes/dependencies/mobiledetect/mobiledetectlib/Mobile_Detect.php
  inc/classes/dependencies/wp-media/background-processing/composer.json
  inc/classes/dependencies/wp-media/background-processing/wp-async-request.php
  inc/classes/dependencies/wp-media/background-processing/wp-background-process.php
  inc/deprecated/3.7.php
  inc/deprecated/deprecated.php
  inc/deprecated/subscriber/admin/Optimization/class-minify-html-subscriber.php
  phpcs.xml
  phpstan.neon.dist
  tests/Fixtures/content/advancedCacheContent.php
  tests/Unit/inc/Engine/Media/LazyloadSubscriber/insertLazyloadScript.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Combine/optimize.php
  views/cache/advanced-cache.php
Labels: dev initiative, needs: qa, type: enhancement

#3024 Add protocol early to external URL to prevent incorrect rewriting paths during combine CSS
  inc/Engine/Optimization/Minify/CSS/Combine.php
Labels: module: file optimization, type: bug

#3031 Exclude Simplybook's widget from JS minification/combination
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: file optimization, type: enhancement

#3030 Exclude inline JavaScript keywords to prevent the cache dir size issue
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3048 Fixes 3047 - Guards deprecated Minify_HTML class to avoid fatal errors.
  inc/deprecated/3.7.php
Labels: module: file optimization, priority: 🔥critical, type: regression

#3044 Fixes #3045 Correctly create filename when URL is relative for minify CSS
  inc/Engine/Optimization/Minify/CSS/Minify.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
Labels: module: file optimization, needs: qa, type: regression

#3041 Fixes #3039 Correctly move @import rules at the top of the combined CSS file
  inc/Engine/Optimization/Minify/CSS/Combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Fixtures/vfs-structure/optimizeMinify.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
Labels: module: file optimization, needs: qa, type: regression

#3051 Remove class alias for Rocket_Mobile_Detect
  inc/deprecated/3.7.php
Labels: module: cache, type: bug

#3050 Add olark pattern to default delayed JS list
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
Labels: module: file optimization, type: enhancement

#3054 Update translations for 3.7
  languages/rocket-ar.mo
  languages/rocket-bg_BG.mo
  languages/rocket-cs_CZ.mo
  languages/rocket-de_DE.mo
  languages/rocket-el.mo
  languages/rocket-es_ES.mo
  languages/rocket-fi.mo
  languages/rocket-fr_CA.mo
  languages/rocket-fr_FR.mo
  languages/rocket-fr_FR.po
  languages/rocket-gl_ES.mo
  languages/rocket-he_IL.mo
  languages/rocket-hr.mo
  languages/rocket-hu_HU.mo
  languages/rocket-it_IT.mo
  languages/rocket-it_IT.po
  languages/rocket-ms.mo
  languages/rocket-nb_NO.mo
  languages/rocket-nl_NL.mo
  languages/rocket-pl_PL.mo
  languages/rocket-pt_BR.mo
  languages/rocket-ro_RO.mo
  languages/rocket-ru.mo
  languages/rocket-ru_RU.mo
  languages/rocket-sr.mo
  languages/rocket-sv_SE.mo
  languages/rocket-tr_TR.mo
  languages/rocket-uk.mo
  languages/rocket-uk_UA.mo
  languages/rocket-zh_CN.mo
  languages/rocket-zh_TW.mo
Labels: i18n
