Repository wp-media/wp-rocket, pull requests merged in 2020-12, with the labels that each got.

#3365 Add Missing Width And Height Attributes On Images
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/slider/layerslider.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Media/ImagesDimensions/AdminSubscriber.php
  inc/Engine/Media/ImagesDimensions/ImagesDimensions.php
  inc/Engine/Media/ImagesDimensions/Subscriber.php
  inc/Engine/Media/ServiceProvider.php
  inc/Plugin.php
  inc/deprecated/3.8.php
  inc/front/images.php
  inc/main.php
  tests/Fixtures/inc/Engine/Media/ImagesDimensions/AdminSubscriber/addOption.php
  tests/Fixtures/inc/Engine/Media/ImagesDimensions/ImagesDimensions/addOption.php
  tests/Fixtures/inc/Engine/Media/ImagesDimensions/ImagesDimensions/specifyImageDimensions.php
  tests/Fixtures/inc/Engine/Media/ImagesDimensions/empty.jpg
  tests/Fixtures/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Media/ImagesDimensions/AdminSubscriber/addOption.php
  tests/Integration/inc/Engine/Media/ImagesDimensions/Subscriber/specifyImageDimensions.php
  tests/Integration/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Unit/inc/Engine/Media/ImagesDimensions/ImagesDimensions/addOption.php
  tests/Unit/inc/Engine/Media/ImagesDimensions/ImagesDimensions/specifyImageDimensions.php
Labels: module: media, needs: qa, type: new feature

#3385 Fixes #3384 Update delay JS sanitization
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  inc/functions/formatting.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate3761.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate3761.php
  wp-rocket.php
Labels: module: file optimization, type: bug

#3379 Exclude JS files for 3D FlipBook – PDF Flipbook Viewer, Flipbook Imag…
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: 3rd party compatibility, module: file optimization, type: bug

#3380 Add nonce action for WooCommerce Additional Variation Images
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: 3rd party compatibility, module: cache, type: enhancement

#3391 Disable image dimensions feature on external images & improve check for image status code
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Media/ImageDimensions/ImageDimensions.php
  tests/Unit/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
Labels: module: media, needs: qa

#3402 Update the pattern used for jQuery exclusion from defer
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/DeferJS/DeferJS.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/AdminSubscriber/excludeJqueryDefer.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/excludeJqueryCombine.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/excludeJqueryUpgrade.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/excludeJqueryCombine.php
  wp-rocket.php
Labels: module: file optimization, type: enhancement

#3403 Fix wp version tests
  .github/workflows/test_wprocket.yml
  .github/workflows/test_wprocket_legacy.yml
Labels: devops, type: bug

#3405 Update inline JavaScript exclusions
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3424 Fix JavaScript deferring breaks Smart Slider 3
  inc/Engine/Optimization/DeferJS/DeferJS.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/deferInlineJs.php
Labels: 3rd party compatibility, module: file optimization, needs: qa

#3415 Closes #3413 Get rid of Remove JQuery Migrate option
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/Plugin.php
  inc/admin/upgrader.php
  inc/deprecated/3.8.php
  inc/deprecated/subscriber/Optimization/class-dequeue-jquery-migrate-subscriber.php
  tests/Integration/inc/classes/subscriber/Optimization/Dequeue_JQuery_Migrate_Subscriber/dequeueJqueryMigrate.php
  tests/Integration/inc/classes/subscriber/Optimization/Dequeue_JQuery_Migrate_Subscriber/getSubscribedEvents.php
  wp-rocket.php
Labels: module: file optimization, needs: qa, type: enhancement

#3427 Closes #3408 - Avada - Google Maps not being displayed (defer_js)
  inc/3rd-party/3rd-party.php
  inc/3rd-party/themes/avada.php
  inc/Engine/Admin/Settings/Page.php
  inc/Plugin.php
  inc/ThirdParty/ServiceProvider.php
  inc/ThirdParty/Themes/Avada.php
  inc/admin/upgrader.php
  inc/deprecated/3.8.php
  tests/Fixtures/inc/ThirdParty/Themes/Avada/cleanDomain.php
  tests/Fixtures/inc/ThirdParty/Themes/Avada/excludeDeferJs.php
  tests/Fixtures/inc/ThirdParty/Themes/Avada/maybeDeactivateLazyload.php
  tests/Fixtures/inc/ThirdParty/Themes/Avada/maybeDisableLazyload.php
  tests/Integration/inc/ThirdParty/Themes/Avada/TestCase.php
  tests/Integration/inc/ThirdParty/Themes/Avada/cleanDomain.php
  tests/Integration/inc/ThirdParty/Themes/Avada/excludeDeferJs.php
  tests/Integration/inc/ThirdParty/Themes/Avada/maybeDeactivateLazyLoad.php
  tests/Integration/inc/ThirdParty/Themes/Avada/maybeDisableLazyload.php
  tests/Unit/inc/admin/rocketNewUpgrade.php
Labels: 3rd party compatibility, module: filesystem, type: bug

#3425 Fix/set proper non grandfathered create date
  inc/Engine/License/API/User.php
  tests/Fixtures/inc/Engine/License/API/User/getCreationDate.php
  tests/Unit/inc/Engine/License/API/User/getCreationDate.php
Labels: Module: dashboard, needs: qa, type: bug

#3411 Update and fix unit/integration tests failing after jQuery updates in WP 5.6
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferJs.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Fixtures/inc/ThirdParty/Themes/Avada/maybeDeactivateLazyLoad.php
  tests/Fixtures/vfs-structure/optimizeMinify.php
Labels: dev initiative
