Repository wp-media/wp-rocket, pull requests merged in 2020-11, with the labels that each got.

#3258 Fixes #3215 Correctly display new lazyloaded images/iframes from AJAX
  inc/Dependencies/RocketLazyload/Assets.php
  tests/Fixtures/inc/Engine/Media/LazyloadSubscriber/content/getInlineLazyloadScript.php
  tests/Fixtures/inc/Engine/Media/LazyloadSubscriber/insertLazyloadScript.php
Labels: module: lazyload, needs: qa, type: bug

#3259 Add nonce action related to Custom Bookly form
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: 3rd party compatibility, module: cache, type: enhancement

#3260 Fixes #3033 Don't display RocketCDN campaign banner when campaign is not active
  inc/Engine/CDN/RocketCDN/NoticesSubscriber.php
  inc/Engine/CDN/RocketCDN/composer.json
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
Labels: module: rocketcdn, needs: qa, type: bug

#3262 Fixes #3257 Update license promotion CSS
  assets/css/wpr-admin-common.css
  assets/css/wpr-admin.css
  inc/Engine/License/Upgrade.php
  src/scss/layout/_Promotion.scss
  tests/Fixtures/inc/Engine/License/Subscriber/addNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Upgrade/addNotificationBubble.php
Labels: Module: dashboard, type: enhancement

#3266 Add new inline JS exclusion from combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3269 Exclude inline JavaScript keywords
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3250 Closes #3247 Update minimum PHP version to 7.0
  .travis.yml
  composer.json
  wp-rocket.php
Labels: needs: qa, type: enhancement

#3289 Skip sitemap tests after smashingcoding.com unavailability
  inc/Engine/Optimization/Minify/JS/Combine.php
  tests/Fixtures/inc/Engine/License/API/UserClient/getUserData.php
  tests/Integration/inc/Engine/Preload/Sitemap/runPreload.php
Labels: dev initiative

#3291 Closes #3283 Exclude defer JS: Admin
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Optimization/DeferJS/AdminSubscriber.php
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Optimization/DeferJS/ServiceProvider.php
  inc/Plugin.php
  inc/functions/formatting.php
  phpcs.xml
  tests/Fixtures/inc/Engine/Optimization/DeferJS/AdminSubscriber/addDeferJsOption.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/addOption.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Optimization/DeferJS/AdminSubscriber/addDeferJsOption.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/addOption.php
Labels: module: file optimization, type: sub-task

#3166 Stop the infinite loop when purging cache on Pagely
  inc/3rd-party/hosting/pagely.php
Labels: 3rd party compatibility, module: cache, type: bug

#3295 Fixes #3232 Update sanitize for CSS/JS exclusion fields
  inc/functions/formatting.php
  tests/Unit/inc/functions/rocketValidateCss.php
Labels: module: file optimization, type: bug

#3288 Closes #3234 auto enable preload links & control heartbeat options for new install
  inc/Engine/Preload/Links/AdminSubscriber.php
  inc/admin/upgrader.php
  tests/Fixtures/inc/Engine/Preload/Links/AdminSubscriber/addOption.php
  tests/Fixtures/inc/Engine/Support/Data/getSupportData.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
Labels: module: heartbeat, module: preload, type: enhancement

#3287 Migrate CI from Travis to Github Actions
  .github/workflows/lint_phpcs.yml
  .github/workflows/lint_phpstan.yml
  .github/workflows/test_wprocket.yml
  .github/workflows/test_wprocket_legacy.yml
  .travis.yml
Labels: devops

#3290 Closes #2773 Remove beta tester option from the plugin
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Preload/PreloadSubscriber.php
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/classes/subscriber/Plugin/class-updater-api-common-subscriber.php
  src/js/global/main.js
  tests/Fixtures/inc/Engine/Support/Data/getSupportData.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  views/settings/page.php
Labels: Module: dashboard, needs: qa, type: enhancement

#3297 Closes #3284 Defer JS exclusion: Front
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Optimization/DeferJS/ServiceProvider.php
  inc/Engine/Optimization/DeferJS/Subscriber.php
  inc/Plugin.php
  inc/deprecated/3.8.php
  inc/front/deferred-js.php
  inc/functions/options.php
  inc/main.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/deferJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferJS.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Integration/inc/Engine/Optimization/DeferJS/Subscriber/deferJs.php
  tests/Integration/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Integration/inc/functions/getRocketExcludeDeferJs.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/deferJs.php
  tests/Unit/inc/functions/getRocketExcludeDeferJS.php
Labels: module: file optimization, type: sub-task

#3309 Prevent combination of excluded files from defer JS
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  inc/Engine/Optimization/Minify/JS/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Combine/combine.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Combine/optimize.php
Labels: module: file optimization, type: sub-task

#3298 Closes #3267 Remove Cache Lifespan “Minutes” Frequency
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Cache/PurgeExpired/PurgeExpiredCache.php
  inc/Engine/Cache/PurgeExpired/Subscriber.php
  inc/Engine/Cache/ServiceProvider.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/deprecated/3.8.php
  inc/main.php
  tests/Fixtures/inc/Engine/Cache/PurgeExpired/PurgeExpiredCache/purgeExpiredFiles.php
  tests/Fixtures/inc/Engine/Cache/PurgeExpired/PurgeExpiredCache/updateLifespanValue.php
  tests/Fixtures/inc/Engine/Cache/PurgeExpired/Subscriber/updateLifespanOptionOnUpdate.php
  tests/Integration/inc/Engine/Cache/PurgeExpired/PurgeExpiredCache/purgeExpiredFiles.php
  tests/Integration/inc/Engine/Cache/PurgeExpired/PurgeExpiredCache/updateLifespanValue.php
  tests/Integration/inc/Engine/Cache/PurgeExpired/Subscriber/getCacheLifespan.php
  tests/Integration/inc/Engine/Cache/PurgeExpired/Subscriber/getSubscribedEvents.php
  tests/Integration/inc/Engine/Cache/PurgeExpired/Subscriber/scheduleEvent.php
  tests/Integration/inc/Engine/Cache/PurgeExpired/Subscriber/updateLifespanOptionOnUpdate.php
  tests/Integration/inc/classes/subscriber/Cache/Expired_Cache_Purge_Subscriber/cleanExpiredCacheScheduledEvent.php
  tests/Integration/inc/classes/subscriber/Cache/Expired_Cache_Purge_Subscriber/getSubscribedEvents.php
  tests/Unit/inc/Engine/Cache/PurgeExpired/PurgeExpiredCache/purgeExpiredFiles.php
  tests/Unit/inc/Engine/Cache/PurgeExpired/PurgeExpiredCache/updateLifespanValue.php
Labels: module: cache, type: enhancement

#3311 Closes #3233 Add UI field to exclude JS files from defer JS
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Optimization/DeferJS/AdminSubscriber.php
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Optimization/DeferJS/ServiceProvider.php
  inc/Engine/Optimization/DeferJS/Subscriber.php
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  inc/Engine/Optimization/Minify/JS/Subscriber.php
  inc/Plugin.php
  inc/deprecated/3.8.php
  inc/front/deferred-js.php
  inc/functions/formatting.php
  inc/functions/options.php
  inc/main.php
  phpcs.xml
  tests/Fixtures/inc/Engine/Optimization/DeferJS/AdminSubscriber/addDeferJsOption.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/addOption.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/deferJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferJS.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Optimization/DeferJS/AdminSubscriber/addDeferJsOption.php
  tests/Integration/inc/Engine/Optimization/DeferJS/Subscriber/deferJs.php
  tests/Integration/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Integration/inc/functions/getRocketExcludeDeferJs.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/addOption.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/deferJs.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Combine/optimize.php
  tests/Unit/inc/functions/getRocketExcludeDeferJS.php
Labels: module: file optimization, type: enhancement

#3315 Exclude Civic Computing Cookie JS file from deferring/combination
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/functions/options.php
  tests/Integration/inc/functions/getRocketExcludeDeferJs.php
  tests/Unit/inc/functions/getRocketExcludeDeferJS.php
Labels: module: file optimization, type: enhancement

#3300 3118 Fix external css minify exclusions
  inc/Engine/Optimization/Minify/CSS/AbstractCSSOptimization.php
  inc/Engine/Optimization/Minify/CSS/Minify.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
Labels: module: file optimization, needs: qa, type: bug

#3308 Exclude stylesheets with media queries from combine CSS
  inc/Engine/Optimization/Minify/CSS/AbstractCSSOptimization.php
  inc/Engine/Optimization/Minify/CSS/Combine.php
  tests/Fixtures/inc/Engine/License/API/UserClient/getUserData.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Combine/combine.php
  tests/Fixtures/vfs-structure/optimizeMinify.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
Labels: module: file optimization, needs: qa, priority: medium, type: bug

#3320 php8 compatibility
  inc/classes/Buffer/class-cache.php
  inc/classes/traits/trait-memoize.php
Labels: needs: qa, type: bug

#3313 Closes #3306 Add missing dimensions to images: admin side
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Media/ImagesDimensions/AdminSubscriber.php
  inc/Engine/Media/ImagesDimensions/ImagesDimensions.php
  inc/Engine/Media/ServiceProvider.php
  inc/Plugin.php
  phpcs.xml
  tests/Fixtures/inc/Engine/Media/ImagesDimensions/AdminSubscriber/addOption.php
  tests/Fixtures/inc/Engine/Media/ImagesDimensions/ImagesDimensions/addOption.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Media/ImagesDimensions/AdminSubscriber/addOption.php
  tests/Unit/inc/Engine/Media/ImagesDimensions/ImagesDimensions/addOption.php
Labels: module: media, type: sub-task

#3324 Closes #3322 Exclude from lazyload: admin
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Media/Lazyload/AdminSubscriber.php
  inc/Engine/Media/ServiceProvider.php
  inc/Plugin.php
  inc/functions/formatting.php
  tests/Fixtures/inc/Engine/Media/Lazyload/AdminSubscriber/addOption.php
  tests/Fixtures/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Media/Lazyload/AdminSubscriber/addOption.php
  tests/Integration/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Unit/inc/Engine/Media/Lazyload/AdminSubscriber/addOption.php
Labels: module: lazyload, type: sub-task

#3330 Fixes #3323 High CPU usage when combining CSS
  inc/Engine/Optimization/Minify/CSS/Combine.php
  tests/Fixtures/inc/Engine/License/API/UserClient/getUserData.php
Labels: module: file optimization, needs: qa, type: bug

#3329 Google Fonts API Enhancement, Part 1 of 4 - New Class
  inc/Engine/Optimization/AbstractOptimization.php
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
Labels: module: file optimization, type: sub-task

#3331 Closes #1906 - RocketCDN iframe - resend token & cname from unsubscri…
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Addon/Varnish/phpstan.neon.dist
  inc/Engine/CDN/RocketCDN/CDNOptionsManager.php
  inc/Engine/CDN/RocketCDN/DataManagerSubscriber.php
  src/js/global/rocketcdn.js
Labels: module: rocketcdn, type: bug

#3344 Closes #3318 - GF-API2 Modify process() to use both Combine classes (3/4)
  inc/Engine/Optimization/GoogleFonts/AbstractGFOptimization.php
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
  inc/Engine/Optimization/GoogleFonts/Subscriber.php
Labels: 3rd party compatibility, type: sub-task

#3342 Closes #3341 Remove defer JS safe mode: admin (1/2)
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Support/Data.php
  inc/admin/upgrader.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/deferJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferJS.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Fixtures/inc/Engine/Support/Data/getSupportData.php
  tests/Fixtures/inc/Engine/Support/Rest/getSupportData.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Optimization/DeferJS/Subscriber/deferJs.php
  tests/Integration/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/deferJs.php
Labels: module: file optimization, type: sub-task

#3336 Add new inline exclusions from combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3312 Adding new staging site .sg host.com
  inc/functions/api.php
Labels: module: rocketcdn, type: enhancement

#3364 Fixes fragile tests related to the license and pricing API
  tests/Fixtures/inc/Engine/License/API/UserClient/getUserData.php
  tests/Integration/inc/Engine/License/API/PricingClient/getPricingData.php
  tests/Integration/inc/Engine/License/API/UserClient/getUserData.php
Labels: dev initiative

#3325 Fix Missing Width And Height Attributes On Images - Frontend [2/2]
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/slider/layerslider.php
  inc/Engine/Media/Images/Frontend.php
  inc/Engine/Media/Images/Subscriber.php
  inc/Engine/Media/ServiceProvider.php
  inc/Plugin.php
  inc/deprecated/3.8.php
  inc/front/images.php
  inc/main.php
  tests/Fixtures/inc/Engine/Media/Images/Frontend/specifyImageDimensions.php
  tests/Fixtures/inc/Engine/Media/Images/empty.jpg
  tests/Integration/inc/Engine/Media/Images/Subscriber/specifyImageDimensions.php
  tests/Unit/inc/Engine/Media/Images/Frontend/specifyImageDimensions.php
Labels: module: media, type: sub-task

#3321 Comply with psr-4 autoload standard
  composer.json
Labels: needs: qa, type: bug

#3346 Closes #3319 - Google Fonts API2 Unit & Integration tests (4/4)
  composer.json
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV1V2/optimize.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
Labels: module: file optimization, type: sub-task

#3372 Update the inline JavaScript exclusions
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3368 Closes #3264 Optimize Google Fonts using the v2 API update
  inc/Engine/Optimization/AbstractOptimization.php
  inc/Engine/Optimization/GoogleFonts/AbstractGFOptimization.php
  inc/Engine/Optimization/GoogleFonts/Combine.php
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
  inc/Engine/Optimization/GoogleFonts/Subscriber.php
  inc/Engine/Optimization/ServiceProvider.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV1V2/optimize.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
Labels: epics 🔥, module: file optimization, needs: qa

#3343 Closes #3076 Exclude from lazyload option & UI
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Media/Lazyload/AdminSubscriber.php
  inc/Engine/Media/Lazyload/Subscriber.php
  inc/Engine/Media/ServiceProvider.php
  inc/Plugin.php
  inc/deprecated/3.8.php
  inc/functions/formatting.php
  tests/Fixtures/inc/Engine/Media/Lazyload/AdminSubscriber/addOption.php
  tests/Fixtures/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/addExclusions.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/content/getInlineLazyloadScript.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/content/insertLazyloadScript.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Media/Lazyload/AdminSubscriber/addOption.php
  tests/Integration/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Integration/inc/Engine/Media/Lazyload/Subscriber/addExclusions.php
  tests/Integration/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
  tests/Unit/inc/Engine/Media/Lazyload/AdminSubscriber/addOption.php
  tests/Unit/inc/Engine/Media/Lazyload/Subscriber/addExclusions.php
  tests/Unit/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
Labels: module: lazyload, needs: qa, type: new feature
