Repository wp-media/wp-rocket, pull requests merged in 2020-03, with the labels that each got.

#2380 Fixed Declared function at compile time, moved bailout condition before require
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/flywheel.php
  inc/3rd-party/hosting/godaddy.php
  inc/3rd-party/hosting/kinsta.php
  inc/3rd-party/hosting/o2switch.php
  inc/3rd-party/hosting/presslabs.php
  inc/3rd-party/hosting/savvii.php
  inc/3rd-party/hosting/siteground.php
  inc/3rd-party/hosting/wp-serveur.php
  inc/3rd-party/hosting/wpengine.php
Labels: 3rd party compatibility, priority: 🔥critical, type: bug

#2382 Add new translations for 3.5
  languages/rocket-it_IT.mo
  languages/rocket-it_IT.po
  languages/rocket-pt_BR.mo
  languages/rocket-pt_BR.po
Labels: i18n

#2387 Update priorities to prevent wrong insertion order
  inc/classes/subscriber/Optimization/class-combine-google-fonts-subscriber.php
  inc/classes/subscriber/Optimization/class-minify-css-subscriber.php
Labels: module: file optimization, priority: high, type: bug

#2388 Fixes #2383: Conflict between WP Rocket mobile preload and wp_is_mobile()
  inc/classes/preload/class-abstract-preload.php
  inc/classes/preload/class-abstract-process.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
  tests/Integration/inc/classes/preload/Full_Process/getItemUserAgent.php
  tests/Unit/inc/classes/preload/Process/getItemUserAgent.php
  tests/Unit/inc/classes/preload/Process/getMobileUserAgentPrefix.php
  tests/Unit/inc/classes/subscriber/preload/Preload_Subscriber/maybePreloadMobileHomepage.php
Labels: community, module: preload, priority: high, type: bug

#2390 Fixes #2302 CPCSS is not always automatically generated
  inc/classes/optimization/CSS/class-critical-css.php
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
  tests/Integration/inc/classes/subscriber/Optimization/class-critical-css-subscriber/generateCriticalCssOnActivation.php
  tests/Unit/inc/classes/subscriber/Optimization/class-critical-css-subscriber/generateCriticalCssOnActivation.php
Labels: module: file optimization, type: bug

#2402 Fixes #2341: Preload count in admin notice is inaccurate
  inc/API/preload.php
  inc/Engine/Preload/AbstractPreload.php
  inc/Engine/Preload/AbstractProcess.php
  inc/Engine/Preload/FullProcess.php
  inc/Engine/Preload/Homepage.php
  inc/Engine/Preload/PartialPreloadSubscriber.php
  inc/Engine/Preload/PartialProcess.php
  inc/Engine/Preload/PreloadSubscriber.php
  inc/Engine/Preload/ServiceProvider.php
  inc/Engine/Preload/Sitemap.php
  inc/Engine/Preload/SitemapPreloadSubscriber.php
  inc/deprecated/3.5.php
  tests/Fixtures/inc/Engine/Preload/Process_Wrapper.php
  tests/Integration/inc/Engine/Preload/FullProcess/getItemUserAgent.php
  tests/Integration/inc/Engine/Preload/FullProcess/isMobilePreloadEnabled.php
  tests/Unit/inc/Engine/Preload/Homepage/preload.php
  tests/Unit/inc/Engine/Preload/PreloadSubscriber/maybePreloadMobileHomepage.php
  tests/Unit/inc/Engine/Preload/Process/formatItem.php
  tests/Unit/inc/Engine/Preload/Process/getItemUserAgent.php
  tests/Unit/inc/Engine/Preload/Process/getMobileUserAgentPrefix.php
  tests/Unit/inc/Engine/Preload/Process/isMobilePreloadEnabled.php
  tests/Unit/inc/Engine/Preload/Sitemap/runPreload.php
Labels: module: preload, priority: high, type: bug

#2391 Fix #2328 Combine Google Fonts causing 404 error in specific conditions
  composer.lock
  inc/classes/optimization/CSS/class-combine-google-fonts.php
  tests/Fixtures/Optimization/CSS/GoogleFonts/combined-subset.html
  tests/Fixtures/Optimization/CSS/GoogleFonts/combined.html
  tests/Fixtures/Optimization/CSS/GoogleFonts/original-subset.html
  tests/Fixtures/Optimization/CSS/GoogleFonts/original.html
  tests/Fixtures/inc/classes/optimization/CSS/Combine_Google_Fonts/optimize.php
  tests/Integration/inc/classes/optimization/CSS/Combine_Google_Fonts/optimize.php
  tests/Unit/inc/classes/optimization/CSS/Combine_Google_Fonts/optimize.php
Labels: module: file optimization, type: bug

#2400 Fixes 2376 Prevent PHP Fatal Error in process.php
  inc/admin/upgrader.php
  inc/front/process.php
  tests/Integration/inc/admin/rocketNewUpgrade.php
  tests/Unit/inc/admin/rocketNewUpgrade.php
Labels: effort: [XS], module: cache, priority: 🔥critical, type: bug

#2408 Prevent cache from being recreated on each page load when there is no matching images
  inc/classes/subscriber/Media/class-webp-subscriber.php
  phpcs.xml
  tests/Fixtures/Subscriber/Media/WebpSubscriber/html/expected.html
  tests/Fixtures/Subscriber/Media/WebpSubscriber/html/matching.html
  tests/Fixtures/Subscriber/Media/WebpSubscriber/html/not-matching-attributes.html
  tests/Fixtures/Subscriber/Media/WebpSubscriber/html/not-matching-file-extensions.html
  tests/Fixtures/Subscriber/Media/WebpSubscriber/html/not-matching-with-empty-sources.html
  tests/Fixtures/inc/classes/subscriber/Media/WebpSubscriber/convert-to-webp-match.php
  tests/Fixtures/inc/classes/subscriber/Media/WebpSubscriber/convert-to-webp-noextensions-attributes.php
  tests/Fixtures/inc/classes/subscriber/Media/WebpSubscriber/convert-to-webp-nomatch.php
  tests/Integration/inc/classes/subscriber/Media/WebpSubscriber/convertToWebp.php
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/convertToWebp.php
Labels: effort: [S], module: cache, module: media, priority: medium, type: bug

#2418 Prevent licence-data.php file deletion on multisite
  composer.json
  inc/functions/options.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/functions/rocketDeleteLicenceDataFile.php
  tests/Unit/inc/functions/rocketDeleteLicenceDataFile.php
Labels: multisite, priority: 🔥critical, type: bug

#2422 Fixes 2416 By conditioning loading of hosting files upon plugin activation
  inc/3rd-party/hosting/godaddy.php
  inc/main.php
  tests/Integration/inc/ThirdParty/thirdParty.php
  tests/Integration/inc/rocketActivation.php
Labels: 3rd party compatibility, priority: 🔥critical, type: bug

#2426 Update fr_CA and zh_CN translations
  languages/rocket-fr_CA.mo
  languages/rocket-fr_CA.po
  languages/rocket-zh_CN.mo
  languages/rocket-zh_CN.po
Labels: i18n

#2424 Fix #2241 - Add display swap param for single Google font
  inc/classes/optimization/CSS/class-combine-google-fonts.php
  tests/Fixtures/inc/classes/optimization/CSS/Combine_Google_Fonts/optimize.php
  tests/Unit/inc/classes/optimization/CSS/Combine_Google_Fonts/optimize.php
Labels: module: file optimization, type: enhancement

#2449 3.5.1
  composer.lock
  inc/classes/admin/settings/class-settings.php
  inc/classes/optimization/CSS/class-combine-google-fonts.php
  inc/classes/subscriber/Media/class-webp-subscriber.php
  phpcs.xml
  tests/Fixtures/Optimization/CSS/GoogleFonts/combined-subset.html
  tests/Fixtures/Optimization/CSS/GoogleFonts/combined.html
  tests/Fixtures/Optimization/CSS/GoogleFonts/original-subset.html
  tests/Fixtures/Optimization/CSS/GoogleFonts/original.html
  tests/Fixtures/Subscriber/Media/WebpSubscriber/html/expected.html
  tests/Fixtures/Subscriber/Media/WebpSubscriber/html/matching.html
  tests/Fixtures/Subscriber/Media/WebpSubscriber/html/not-matching-attributes.html
  tests/Fixtures/Subscriber/Media/WebpSubscriber/html/not-matching-file-extensions.html
  tests/Fixtures/Subscriber/Media/WebpSubscriber/html/not-matching-with-empty-sources.html
  tests/Fixtures/inc/classes/admin/settings/Settings/sanitizeCallback.php
  tests/Fixtures/inc/classes/optimization/CSS/Combine_Google_Fonts/optimize.php
  tests/Fixtures/inc/classes/subscriber/Media/WebpSubscriber/convert-to-webp-match.php
  tests/Fixtures/inc/classes/subscriber/Media/WebpSubscriber/convert-to-webp-noextensions-attributes.php
  tests/Fixtures/inc/classes/subscriber/Media/WebpSubscriber/convert-to-webp-nomatch.php
  tests/Integration/inc/classes/admin/settings/Settings/sanitizeCallback.php
  tests/Integration/inc/classes/optimization/CSS/Combine_Google_Fonts/optimize.php
  tests/Integration/inc/classes/subscriber/Media/WebpSubscriber/convertToWebp.php
  tests/Unit/inc/classes/admin/settings/Settings/sanitizeCallback.php
  tests/Unit/inc/classes/optimization/CSS/Combine_Google_Fonts/optimize.php
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/convertToWebp.php
  wp-rocket.php
Labels: module: file optimization, type: bug, type: enhancement

#2457 Prevent errors caused by use of WP_Filesystem() for license-data.php require
  wp-rocket.php
Labels: priority: 🔥critical, type: bug

#2413 Remove scheme from URLs entered in the DNS prefetch field
  inc/classes/admin/settings/class-settings.php
  inc/functions/formatting.php
  tests/Fixtures/inc/classes/admin/settings/Settings/dns-prefetch.php
  tests/Integration/inc/classes/admin/settings/Settings/sanitizeCallback.php
  tests/Unit/inc/classes/admin/settings/Settings/sanitizeCallback.php
Labels: effort: [S], module: preload, type: enhancement

#2468 Fix #2464 - CPCSS Allow <style> tag in fallback input field
  inc/classes/admin/settings/class-settings.php
  tests/Fixtures/inc/classes/admin/settings/Settings/sanitizeCallback.php
Labels: module: file optimization, type: bug

#2459 Fix #2216 Update AMP compatibility with ?amp
  .gitignore
  composer.json
  composer.lock
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/mobile/amp.php
  inc/ThirdParty/Plugins/Optimization/AMP.php
  inc/ThirdParty/ServiceProvider.php
  inc/classes/class-plugin.php
  inc/deprecated/3.5.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/TestCase.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmpWithCloudflare.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/isAmpCompatibleCallback.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/isAmpCompatibleCallback.php
Labels: 3rd party compatibility, priority: high, type: enhancement

#2467 Fix #2374 - Cloudflare remove ajax calls when saving development mode and optimal settings
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Addon/Cloudflare/Cloudflare.php
  inc/Addon/Cloudflare/Subscriber.php
  inc/classes/admin/settings/class-page.php
  package-lock.json
  src/js/global/ajax.js
Labels: module: cloudflare, priority: medium, type: bug

#2476 Update cleanup in uninstall.php
  composer.lock
  inc/Engine/WPRocketUninstall.php
  phpcs.xml
  tests/Fixtures/inc/Engine/WPRocketUninstall/uninstall.php
  tests/Integration/inc/Engine/WPRocketUninstall/uninstall.php
  uninstall.php
Labels: module: cache, module: file optimization, type: bug

#2469 Closes #2433 Remove Query Strings: admin misc changes
  .gitignore
  .travis.yml
  assets/js/wpr-modal.js
  composer.json
  composer.lock
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/mobile/amp.php
  inc/Engine/Admin/Deactivation/DeactivationIntent.php
  inc/Engine/Admin/ServiceProvider.php
  inc/ThirdParty/Plugins/Optimization/AMP.php
  inc/ThirdParty/ServiceProvider.php
  inc/admin/ui/notices.php
  inc/classes/admin/settings/class-settings.php
  inc/classes/class-plugin.php
  inc/deprecated/3.5.php
  inc/deprecated/3.6.php
  inc/functions/files.php
  inc/functions/formatting.php
  inc/main.php
  package-lock.json
  phpcs.xml
  tests/Fixtures/inc/classes/Cache/Expired_Cache_Purge/purgeExpiredFiles.php
  tests/Fixtures/inc/classes/admin/settings/Settings/dns-prefetch.php
  tests/Fixtures/inc/classes/admin/settings/Settings/sanitizeCallback.php
  tests/Fixtures/inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Fixtures/inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Fixtures/inc/classes/subscriber/Cache/PurgeActionsSubscriber/purgeUserCache.php
  tests/Fixtures/inc/classes/subscriber/Optimization/class-critical-css-subscriber/generateCriticalCssOnActivation.php
  tests/Fixtures/inc/functions/rocketCleanMinify.php
  tests/Fixtures/inc/functions/rocketDeleteLicenceDataFile.php
  tests/GlobTrait.php
  tests/Integration/FilesystemTestCase.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/TestCase.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmpWithCloudflare.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/isAmpCompatibleCallback.php
  tests/Integration/inc/classes/Cache/Expired_Cache_Purge/purgeExpiredFiles.php
  tests/Integration/inc/classes/admin/settings/Settings/sanitizeCallback.php
  tests/Integration/inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Integration/inc/classes/subscriber/Cache/PurgeActionsSubscriber/purgeUserCache.php
  tests/Integration/inc/classes/subscriber/Optimization/class-critical-css-subscriber/generateCriticalCssOnActivation.php
  tests/Integration/inc/functions/rocketCleanMinify.php
  tests/Integration/inc/functions/rocketDeleteLicenceDataFile.php
  tests/Unit/FilesystemTestCase.php
  tests/Unit/bootstrap.php
  tests/Unit/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/isAmpCompatibleCallback.php
  tests/Unit/inc/classes/Cache/Expired_Cache_Purge/purgeExpiredFiles.php
  tests/Unit/inc/classes/admin/settings/Settings/sanitizeCallback.php
  tests/Unit/inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Unit/inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Unit/inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  tests/Unit/inc/classes/subscriber/Optimization/class-critical-css-subscriber/generateCriticalCssOnActivation.php
  tests/Unit/inc/functions/rocketDeleteLicenceDataFile.php
  wp-rocket.php
Labels: module: file optimization, type: enhancement

#2460 Closes #2399: Partial Preloading doesn't create a mobile file
  inc/Engine/Preload/PartialPreloadSubscriber.php
  tests/Fixtures/inc/Engine/Preload/PartialProcess_Wrapper.php
  tests/Integration/inc/Engine/Preload/PartialPreloadSubscriber/maybeDispatch.php
  tests/Unit/inc/Engine/Preload/PartialPreloadSubscriber/maybeDispatch.php
Labels: module: preload, priority: high, type: enhancement

#2486 Fix #2369 Cloudflare Addon change curl to wp-remote-get
  inc/Addon/Cloudflare/APIClient.php
  inc/Addon/Cloudflare/Cloudflare.php
  inc/Addon/Cloudflare/composer.json
Labels: module: cloudflare, needs: qa, severity: minor, type: bug

#2488 Fix #2216 - Add Reader mode in query strings to provide compatibility with AMP
  inc/ThirdParty/Plugins/Optimization/AMP.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/isAmpCompatibleCallback.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/isAmpCompatibleCallback.php
Labels: 3rd party compatibility, module: cache, type: bug

#2481 Optimizes, guards, and adds tests for get_rocket_post_dates_urls()
  composer.lock
  inc/functions/posts.php
  tests/Fixtures/inc/functions/getRocketPostDatesUrls.php
  tests/Integration/inc/functions/getRocketPostDatesUrls.php
  tests/Unit/inc/functions/getRocketPostDatesUrls.php
Labels: needs: qa, type: enhancement
