Repository wp-media/wp-rocket, pull requests merged in 2020-04, with the labels that each got.

#2509 Make rocket_mkdir_p compatible with streams
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketIsStream.php
  tests/Fixtures/inc/functions/rocketMkdirP.php
  tests/Integration/inc/classes/subscriber/Optimization/class-critical-css-subscriber/generateCriticalCssOnActivation.php
  tests/Integration/inc/functions/rocketMkdirP.php
  tests/Unit/inc/functions/rocketIsStream.php
  tests/Unit/inc/functions/rocketMkdirP.php
Labels: type: enhancement

#2522 rocket rrmdir() - Optimizes, replaces glob, and provides full code coverage
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketRrmdir.php
  tests/Integration/FilesystemTestCase.php
  tests/Integration/inc/functions/rocketRrmdir.php
  tests/Unit/FilesystemTestCase.php
  tests/Unit/inc/functions/rocketRrmdir.php
Labels: type: enhancement

#2479 Add more nonce actions in get_nonce_actions()
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/nonce.php
  tests/Integration/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/maybeRevertUidForNonceActions.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/maybeRevertUidForNonceActions.php
  tests/Unit/inc/classes/third-party/plugins/Ecommerce/WooCommerce/TestNonceUserLoggedOut.php
Labels: 3rd party compatibility, needs: qa, type: enhancement

#2525 Closes #2429 UI update for "Combine Google Fonts files" feature
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Beacon/ServiceProvider.php
  inc/Engine/Admin/ServiceProvider.php
  inc/classes/admin/settings/class-page.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber.php
  inc/classes/subscriber/Media/class-webp-subscriber.php
  inc/classes/subscriber/admin/Settings/class-beacon-subscriber.php
  tests/Unit/inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber/addSubscriptionModal.php
  tests/Unit/inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber/displayManageSubscription.php
  tests/Unit/inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Unit/inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber/purgeCdnCache.php
  tests/Unit/inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber/rocketcdnField.php
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/TestCase.php
Labels: module: file optimization, type: enhancement

#2516 CPCSS for specific pages: REST API delete endpoint (3/6)
  .travis.yml
  inc/Engine/CriticalPath/RESTDelete.php
  inc/Engine/CriticalPath/ServiceProvider.php
  inc/classes/class-plugin.php
  tests/Fixtures/WP_REST_Request.php
  tests/Fixtures/inc/Engine/CriticalPath/RESTDelete/delete.php
  tests/Integration/inc/Engine/CriticalPath/RESTDelete/delete.php
  tests/Integration/inc/Engine/CriticalPath/RESTDelete/registerDeleteRoute.php
  tests/Unit/inc/Engine/CriticalPath/RESTDelete/delete.php
  tests/Unit/inc/Engine/CriticalPath/RESTDelete/registerDeleteRoute.php
Labels: module: file optimization, type: new feature

#2505 Remove Query Strings Removal: Settings (7/8)
  inc/Engine/Admin/Beacon/Beacon.php
  inc/classes/admin/settings/class-page.php
  inc/deprecated/3.6.php
  inc/deprecated/subscriber/admin/Settings/class-beacon-subscriber.php
  tests/Fixtures/inc/Engine/Admin/Beacon/Beacon/get-suggest.php
  tests/Fixtures/inc/Engine/Admin/Beacon/Beacon/insert-script.php
  tests/Integration/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  tests/Unit/inc/Engine/Admin/Beacon/Beacon/getSuggest.php
  tests/Unit/inc/Engine/Admin/Beacon/Beacon/insertScript.php
Labels: module: file optimization, type: enhancement

#2526 Exclude new OptinMonster API js URL
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#2497 Closes #2437 Simple Custom CSS plugin OOP and remove query strings (5/8)
  composer.json
  composer.lock
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/simple-custom-css.php
  inc/ThirdParty/Plugins/SimpleCustomCss.php
  inc/ThirdParty/ServiceProvider.php
  inc/classes/class-plugin.php
  inc/deprecated/3.6.php
  inc/functions/files.php
  inc/functions/formatting.php
  tests/Fixtures/inc/ThirdParty/Plugins/SimpleCustomCss/cacheSccss.php
  tests/Fixtures/inc/ThirdParty/Plugins/SimpleCustomCss/updateCacheFile.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Plugins/SimpleCustomCss/cacheSccss.php
  tests/Integration/inc/ThirdParty/Plugins/SimpleCustomCss/updateCacheFile.php
  tests/Unit/inc/ThirdParty/Plugins/SimpleCustomCss/cacheSccss.php
  tests/Unit/inc/ThirdParty/Plugins/SimpleCustomCss/updateCacheFile.php
Labels: 3rd party compatibility, module: file optimization, type: enhancement

#2510 Replaces glob in rocket_clean_domain and makes rocket_rrmdir work with dir preserves.
  inc/functions/files.php
  tests/Fixtures/i18n/i18nTrait.php
  tests/Fixtures/i18n/pluginsData.php
  tests/Fixtures/inc/functions/getRocketI18nHomeUrl.php
  tests/Fixtures/inc/functions/getRocketI18nToPreserve.php
  tests/Fixtures/inc/functions/rocketCleanDomain.php
  tests/Fixtures/inc/functions/rocketRrmdir.php
  tests/Fixtures/vfs-structure/default.php
  tests/Integration/inc/functions/getRocketI18nHomeUrl.php
  tests/Integration/inc/functions/getRocketI18nToPreserve.php
  tests/Integration/inc/functions/rocketCleanDomain.php
  tests/Integration/inc/functions/rocketRrmdir.php
  tests/Unit/inc/functions/getRocketI18nHomeUrl.php
  tests/Unit/inc/functions/rocketCleanDomain.php
  tests/Unit/inc/functions/rocketRrmdir.php
Labels: type: enhancement

#2524 Closes #2473 Add preconnect for Google Fonts
  inc/Engine/Optimization/GoogleFonts/Combine.php
  inc/Engine/Optimization/GoogleFonts/Subscriber.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/classes/subscriber/Optimization/class-combine-google-fonts-subscriber.php
  inc/deprecated/3.5.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
Labels: module: file optimization, type: enhancement

#2539 Update russian and italian translations
  languages/rocket-it_IT.mo
  languages/rocket-it_IT.po
  languages/rocket-ru_RU.mo
  languages/rocket-ru_RU.po
Labels: i18n

#2508 Closes #2447: Update Common CPCSS deletion method (Part 1)
  inc/Engine/CriticalPath/CriticalCSS.php
  inc/Engine/CriticalPath/CriticalCSSGeneration.php
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  inc/Engine/CriticalPath/ServiceProvider.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/class-plugin.php
  phpcs.xml
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSS/cleanCriticalCss.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/generateCriticalCssOnActivation.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSS/cleanCriticalCss.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/generateCriticalCssOnActivation.php
  tests/Integration/inc/Engine/CriticalPath/RESTDelete/delete.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSS/cleanCriticalCss.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSSSubscriber/generateCriticalCssOnActivation.php
Labels: module: file optimization, type: new feature

#2474 Closes #2434: Remove Query Strings Option Removal, Front part (4/8)
  composer.lock
  inc/Engine/Optimization/ServiceProvider.php
  inc/classes/class-plugin.php
  inc/deprecated/3.6.php
  inc/deprecated/DeprecatedClassTrait.php
  inc/deprecated/Engine/Optimization/QueryString/Remove.php
  inc/deprecated/Engine/Optimization/QueryString/RemoveSubscriber.php
  tests/Fixtures/inc/Engine/Optimization/QueryString/Remove/css/remove-query-strings.php
  tests/Fixtures/inc/Engine/Optimization/QueryString/Remove/js/remove-query-strings.php
  tests/Fixtures/inc/Engine/Optimization/QueryString/RemoveSubscriber/remove-query-strings.php
  tests/Integration/inc/Engine/Optimization/QueryString/RemoveSubscriber/process.php
  tests/Unit/inc/Engine/Optimization/QueryString/Remove/TestCase.php
  tests/Unit/inc/Engine/Optimization/QueryString/Remove/removeQueryStringsCSS.php
  tests/Unit/inc/Engine/Optimization/QueryString/Remove/removeQueryStringsJS.php
Labels: module: file optimization, type: enhancement

#2530 Closes #2430 - PHP Deprecated notice - base_convert() in ip_in_range.php and PHP7.4
  inc/vendors/ip_in_range.php
  tests/Fixtures/inc/vendors/ipInRange/rocketIp2Long6.php
  tests/Unit/inc/vendors/ipInRange/rocketIp2Long6.php
Labels: community, priority: high, type: bug

#2458 Remove Query Strings Option: 3rd party compatibility
  composer.json
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/page-builder/beaver-builder.php
  inc/3rd-party/themes/avada.php
  inc/3rd-party/themes/uncode.php
  inc/Engine/Admin/ServiceProvider.php
  inc/ThirdParty/Plugins/Optimization/Hummingbird.php
  inc/ThirdParty/Plugins/PageBuilder/BeaverBuilder.php
  inc/ThirdParty/Plugins/PageBuilder/Elementor.php
  inc/ThirdParty/ServiceProvider.php
  inc/ThirdParty/Themes/Bridge.php
  inc/classes/class-plugin.php
  inc/deprecated/3.6.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/Hummingbird/settings.php
  tests/Fixtures/inc/ThirdParty/Plugins/PageBuilder/BeaverBuilder/purgeCache.php
  tests/Fixtures/inc/ThirdParty/Plugins/PageBuilder/Elementor/clearCache.php
  tests/Fixtures/inc/ThirdParty/Themes/Bridge/maybeClearCache.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/Hummingbird/warningNotice.php
  tests/Integration/inc/ThirdParty/Plugins/PageBuilder/BeaverBuilder/purgeCache.php
  tests/Integration/inc/ThirdParty/Plugins/PageBuilder/Elementor/clearCache.php
  tests/Integration/inc/ThirdParty/Themes/Bridge/maybeClearCache.php
  tests/Unit/inc/ThirdParty/Plugins/PageBuilder/BeaverBuilder/purgeCache.php
  tests/Unit/inc/ThirdParty/Plugins/PageBuilder/Elementor/clearCache.php
Labels: module: file optimization, type: enhancement

#2521 Auto exclude zendesk chat from Combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#2472 Exclude inline JavaScript - cache dir size issue
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#2565 Tests and optimizes: rocket_add_url_protocol()
  inc/functions/formatting.php
  tests/Fixtures/inc/functions/rocketAddUrlProtocol.php
  tests/Integration/inc/functions/rocketAddUrlProtocol.php
  tests/Unit/inc/functions/rocketAddUrlProtocol.php
Labels: type: enhancement

#2532 Closes #2425 - Rewrite CSS files when CDN is enabled or CNAME changes
  inc/Engine/Optimization/AdminServiceProvider.php
  inc/Engine/Optimization/Minify/CSS/AdminSubscriber.php
  inc/admin/options.php
  inc/classes/class-plugin.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/AdminSubscriber/cleanMinify.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/AdminSubscriber/regenerateMinifyCssKey.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/AdminSubscriber/cleanMinify.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/AdminSubscriber/regenerateMinifyCssKey.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/AdminSubscriber/cleanMinify.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/AdminSubscriber/regenerateMinifyCssKey.php
Labels: module: CDN, module: file optimization, priority: medium, type: enhancement

#2306 Closes #2465 Compress static assets with gzip
  .travis.yml
  inc/Engine/Optimization/AbstractOptimization.php
  inc/Engine/Optimization/Minify/CSS/Combine.php
  inc/classes/Buffer/class-cache.php
  inc/functions/files.php
  inc/functions/htaccess.php
  tests/Fixtures/Optimization/CSS/combined.html
  tests/Fixtures/Optimization/CSS/original.html
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Fixtures/inc/functions/rocketGetCompressedAssets.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/Combine/insertCombinedCSS.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Integration/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Integration/inc/Functions/rocketCleanMinify.php
  tests/Integration/inc/Functions/rocketGetCompressedAssets.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/insertCombinedCSS.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
  tests/Unit/inc/Functions/rocketCleanMinify.php
  tests/Unit/inc/Functions/rocketGetCompressedAssetsRules.php
Labels: module: file optimization, module: htaccess, type: new feature

#2571 Fixes `rocket_clean_domain()` regex for domain in absolute path
  inc/functions/files.php
  tests/Fixtures/inc/common/rocketCleanCacheThemeUpdate.php
  tests/Fixtures/inc/common/rocketWidgetUpdateCallback.php
  tests/Fixtures/inc/functions/rocketCleanDomain.php
  tests/Fixtures/vfs-structure/default.php
  tests/Integration/FilesystemTestCase.php
  tests/Integration/inc/common/rocketCleanCacheThemeUpdate.php
  tests/Integration/inc/common/rocketWidgetUpdateCallback.php
  tests/Integration/inc/functions/rocketCleanDomain.php
Labels: needs: qa, type: bug

#2544 Fixes #2211 Prevent false positives on cron status notice
  inc/Engine/Admin/HealthCheck.php
  inc/Engine/Admin/ServiceProvider.php
  inc/admin/ui/notices.php
  inc/classes/class-plugin.php
  inc/deprecated/3.5.php
  tests/Fixtures/inc/Engine/Admin/HealthCheck/missed-cron.php
  tests/Integration/inc/Engine/Admin/HealthCheck/missedCron.php
  tests/Unit/inc/Engine/Admin/HealthCheck/missedCron.php
Labels: Module: dashboard, needs: qa, type: bug

#2556 Improve (no glob) and add tests for rocket_clean_files().
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketCleanFiles.php
  tests/GlobTrait.php
  tests/Integration/FilesystemTestCase.php
  tests/Integration/inc/common/rocketCleanCacheThemeUpdate.php
  tests/Integration/inc/functions/rocketCleanDomain.php
  tests/Integration/inc/functions/rocketCleanFiles.php
  tests/Unit/inc/functions/rocketCleanFiles.php
Labels: module: file optimization, needs: qa, type: enhancement

#2541 Closes #2448 - Use specific CPCSS on frontend Part 6
  inc/Engine/CriticalPath/CriticalCSS.php
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSS/getCurrentPageCriticalCss.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBuffer.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBuffer.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSS/getCurrentPageCriticalCss.php
Labels: module: file optimization, needs: qa, type: new feature

#2554 Preload for Fonts: UI (1/3)
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/ServiceProvider.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/ServiceProvider.php
  inc/Engine/Admin/Settings/Subscriber.php
  inc/classes/class-plugin.php
  inc/deprecated/deprecated.php
Labels: module: preload, needs: qa, type: new feature

#2574 Fixes regex and optimizes rocket_clean_minify()
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketCleanMinify.php
  tests/Fixtures/inc/functions/rocketRrmdir.php
  tests/Fixtures/vfs-structure/default.php
  tests/Integration/FilesystemTestCase.php
  tests/Integration/inc/functions/rocketCleanMinify.php
  tests/Unit/FilesystemTestCase.php
  tests/Unit/inc/functions/rocketCleanMinify.php
Labels: type: enhancement

#2555 Preload for fonts: option management (2/3)
  .travis.yml
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/ServiceProvider.php
  inc/Engine/Admin/Settings/Settings.php
  inc/admin/upgrader.php
  inc/deprecated/3.6.php
  inc/deprecated/deprecated.php
  inc/main.php
  tests/Fixtures/inc/Engine/Admin/Settings/Settings/dns-prefetch.php
  tests/Fixtures/inc/Engine/Admin/Settings/Settings/font-preload.php
  tests/Fixtures/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Integration/inc/admin/rocketFirstInstall.php
  tests/Unit/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Unit/inc/admin/rocketFirstInstall.php
Labels: module: preload, type: new feature

#2494 Closes #2435: Remove Query Strings Option Removal, Common part (6/8)
  inc/Engine/Admin/ServiceProvider.php
  inc/Engine/HealthCheck/CacheDirSizeCheck.php
  inc/Engine/HealthCheck/HealthCheck.php
  inc/Engine/HealthCheck/ServiceProvider.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/class-plugin.php
  inc/common/purge.php
  inc/deprecated/3.6.php
  inc/functions/files.php
  tests/Fixtures/inc/Engine/HealthCheck/CacheDirSizeCheck/cacheDirSizeCheck.php
  tests/Fixtures/inc/Engine/HealthCheck/HealthCheck/missed-cron.php
  tests/Integration/inc/Engine/HealthCheck/CacheDirSizeCheck/cacheDirSizeCheck.php
  tests/Integration/inc/Engine/HealthCheck/HealthCheck/missedCron.php
  tests/Unit/inc/Engine/HealthCheck/CacheDirSizeCheck/cacheDirSizeCheck.php
  tests/Unit/inc/Engine/HealthCheck/HealthCheck/missedCron.php
Labels: module: file optimization, type: enhancement

#2580 Auto-exclude FeedbackCompany JS file
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#2563 Preload for Fonts: front (3/3)
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Preload/Fonts.php
  inc/Engine/Preload/ServiceProvider.php
  inc/classes/class-plugin.php
  tests/Fixtures/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Integration/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Unit/inc/Engine/Preload/Fonts/preloadFonts.php
Labels: module: preload, type: new feature

#2593 Closes #2465 Gzip compression for static files (CSS/JS)
  .travis.yml
  inc/Engine/Optimization/AbstractOptimization.php
  inc/Engine/Optimization/Minify/CSS/Combine.php
  inc/classes/Buffer/class-cache.php
  inc/functions/htaccess.php
  tests/Fixtures/Optimization/CSS/combined.html
  tests/Fixtures/Optimization/CSS/original.html
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Fixtures/inc/functions/rocketGetCompressedAssets.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/Combine/insertCombinedCSS.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Integration/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Integration/inc/functions/rocketCleanMinify.php
  tests/Integration/inc/functions/rocketGetCompressedAssets.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/insertCombinedCSS.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
  tests/Unit/inc/functions/rocketGetCompressedAssetsRules.php
Labels: module: file optimization, module: htaccess, type: enhancement
