Repository wp-media/wp-rocket, pull requests merged in 2020-05, with the labels that each got.

#2417 Fixes #2260: WP Smush's lazyload breaks WP Rocket's <iframe> lazyload
  composer.json
  inc/Engine/Admin/ServiceProvider.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Render.php
  inc/Engine/Admin/Settings/ServiceProvider.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Admin/Settings/Subscriber.php
  inc/Engine/Optimization/Minify/AbstractMinifySubscriber.php
  inc/ThirdParty/Plugins/Smush.php
  inc/ThirdParty/ServiceProvider.php
  inc/classes/class-plugin.php
  inc/classes/subscriber/third-party/plugins/class-smush-subscriber.php
  inc/deprecated/3.5.php
  inc/deprecated/3.6.php
  tests/Fixtures/inc/Engine/Admin/Settings/dns-prefetch.php
  tests/Fixtures/inc/Engine/Admin/Settings/sanitizeCallback.php
  tests/Fixtures/inc/ThirdParty/Plugins/Smush/SmushCoreSettings.php
  tests/Fixtures/inc/ThirdParty/Plugins/Smush/isSmushIframesLazyloadActiveDisable.php
  tests/Fixtures/inc/ThirdParty/Plugins/Smush/isSmushIframesLazyloadActiveNotDisable.php
  tests/Fixtures/inc/ThirdParty/Plugins/Smush/isSmushLazyloadActiveDisable.php
  tests/Fixtures/inc/ThirdParty/Plugins/Smush/isSmushLazyloadActiveNotDisable.php
  tests/Fixtures/inc/ThirdParty/Plugins/Smush/maybeDeactivateRocketLazyloadDisable.php
  tests/Fixtures/inc/ThirdParty/Plugins/Smush/maybeDeactivateRocketLazyloadNotDisable.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/Engine/Admin/Settings/sanitizeCallback.php
  tests/Integration/inc/ThirdParty/Plugins/Smush/SmushSubscriberTestCase.php
  tests/Integration/inc/ThirdParty/Plugins/Smush/isSmushIframesLazyloadActive.php
  tests/Integration/inc/ThirdParty/Plugins/Smush/isSmushLazyloadActive.php
  tests/Integration/inc/ThirdParty/Plugins/Smush/maybeDeactivateRocketLazyload.php
  tests/Unit/inc/Engine/Admin/Settings/sanitizeCallback.php
  tests/Unit/inc/ThirdParty/Plugins/Smush/SmushSubscriberTestCase.php
  tests/Unit/inc/ThirdParty/Plugins/Smush/isSmushIframesLazyloadActive.php
  tests/Unit/inc/ThirdParty/Plugins/Smush/isSmushLazyloadActive.php
  tests/Unit/inc/ThirdParty/Plugins/Smush/maybeDeactivateRocketLazyload.php
  tests/Unit/inc/classes/third-party/plugins/Smush_Subscriber/isSmushLazyloadActive.php
Labels: 3rd party compatibility, module: lazyload, priority: high, type: bug

#2573 Closes #2443 CPCSS for specific pages: UI & metabox (4/6)
  inc/Engine/CriticalPath/AdminSubscriber.php
  inc/Engine/CriticalPath/ServiceProvider.php
  inc/admin/ui/meta-boxes.php
  inc/classes/class-plugin.php
  inc/main.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/cpcssActions.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/cpcssSection.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/cpcssSectionIntegration.php
  tests/Fixtures/inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Fixtures/inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Fixtures/inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/Engine/CriticalPath/AdminSubscriber/cpcssSection.php
  tests/Integration/inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Integration/inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Integration/inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  tests/Integration/inc/classes/subscriber/CDN/RocketCDN/RESTSubscriber/disable.php
  tests/Integration/inc/functions/getRocketPostTermsUrls.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/cpcssActions.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/cpcssSection.php
  tests/Unit/inc/classes/subscriber/CDN/CDNSubscriber/maybeReplaceUrl.php
  tests/Unit/inc/classes/subscriber/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Unit/inc/classes/subscriber/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  views/metabox/cpcss/container.php
  views/metabox/cpcss/generate.php
  views/metabox/cpcss/regenerate.php
  wp-rocket.php
Labels: module: file optimization, type: new feature

#2507 Closes #2431: Remove Query Strings Option Removal, Option management part (8/8)
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/classes/admin/settings/class-settings.php
  tests/Fixtures/content/htaccessContent.php
  tests/Fixtures/inc/admin/rocketAfterSaveOptions.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Fixtures/vfs-structure/default.php
  tests/Integration/inc/admin/rocketAfterSaveOptions.php
  tests/Integration/inc/admin/rocketFirstInstall.php
  tests/Unit/inc/ThirdParty/Plugins/SimpleCustomCss/cacheSccss.php
  tests/Unit/inc/ThirdParty/Plugins/SimpleCustomCss/updateCacheFile.php
  tests/Unit/inc/admin/rocketAfterSaveOptions.php
  tests/Unit/inc/admin/rocketFirstInstall.php
  tests/Unit/inc/functions/rocketGetFilesystemPerms.php
Labels: module: file optimization, type: enhancement

#2590 Closes #2478 Preload fetches wrong WPML Urls
  inc/Engine/Preload/PartialPreloadSubscriber.php
  tests/Fixtures/inc/Engine/Preload/PartialPreloadSubscriber/preloadAfterAutomaticCachePurge.php
  tests/Integration/inc/Engine/Preload/PartialPreloadSubscriber/preloadAfterAutomaticCachePurge.php
  tests/Unit/inc/Engine/Preload/PartialPreloadSubscriber/preloadAfterAutomaticCachePurge.php
Labels: 3rd party compatibility, module: preload, type: bug

#2512 CPCSS for specific pages: REST API generation endpoint (2/6)
  inc/Engine/CriticalPath/RESTGenerate.php
  inc/Engine/CriticalPath/ServiceProvider.php
  inc/classes/class-plugin.php
  tests/Fixtures/WP_REST_Request.php
  tests/Fixtures/inc/Engine/CriticalPath/RESTGenerate/generate.php
  tests/Fixtures/inc/functions/rocketRrmdir.php
  tests/Fixtures/vfs-structure/default.php
  tests/Integration/RESTVfsTestCase.php
  tests/Integration/inc/Engine/CriticalPath/RESTGenerate/generate.php
  tests/Integration/inc/Engine/CriticalPath/RESTGenerate/registerGenerateRoute.php
  tests/Integration/inc/functions/rocketRrmdir.php
  tests/Unit/inc/Engine/CriticalPath/RESTGenerate/generate.php
  tests/Unit/inc/Engine/CriticalPath/RESTGenerate/registerGenerateRoute.php
Labels: module: file optimization, type: new feature

#2601 Fixes #2504 Prevent deprecated notice on WooCommerce terms list pages
  inc/Engine/Cache/AdminSubscriber.php
  inc/Engine/Cache/ServiceProvider.php
  inc/admin/admin.php
  inc/classes/class-plugin.php
  inc/deprecated/3.5.php
  tests/Fixtures/inc/Engine/Cache/AdminSubscriber/addPurgeTermLink.php
  tests/Integration/AdminTestCase.php
  tests/Integration/inc/Engine/Cache/AdminSubscriber/addPurgeTermLink.php
  tests/Integration/inc/Engine/Cache/AdminSubscriber/registerTermsRowAction.php
  tests/Unit/inc/Engine/Cache/AdminSubscriber/addPurgeTermLink.php
  tests/Unit/inc/Engine/Cache/AdminSubscriber/registerTermsRowAction.php
Labels: module: cache, type: bug

#2603 Fixes #2170 Disable cache clear when a term is not public
  inc/Engine/Cache/PurgeActionsSubscriber.php
  inc/Engine/Cache/ServiceProvider.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/common/purge.php
  tests/Fixtures/inc/Engine/Cache/PurgeActionsSubscriber/maybePurgeCacheOnTermChange.php
  tests/Fixtures/inc/Engine/Cache/PurgeActionsSubscriber/purgeUserCache.php
  tests/Integration/inc/Engine/Cache/PurgeActionsSubscriber/maybePurgeCacheOnTermChange.php
  tests/Integration/inc/Engine/Cache/PurgeActionsSubscriber/purgeUserCache.php
  tests/Unit/inc/Engine/Cache/PurgeActionsSubscriber/maybePurgeCacheOnTermChange.php
  tests/Unit/inc/Engine/Cache/PurgeActionsSubscriber/purgeUserCache.php
Labels: module: cache, type: enhancement

#2621 Exclude inline JavaScript to prevent the cache dir size issue
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#2623 Fix #2618 for rocket_clean_files() by running RegexIterator once.
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketCleanFiles.php
  tests/Integration/inc/functions/rocketCleanFiles.php
  tests/Unit/inc/functions/rocketCleanFiles.php
Labels: module: file optimization, type: bug, type: enhancement

#2594 Closes #2358 Update lazyload script version
  assets/js/lazyload/15.1.1/lazyload.js
  assets/js/lazyload/15.1.1/lazyload.min.js
  inc/Engine/Media/LazyloadSubscriber.php
  inc/Engine/Media/ServiceProvider.php
  inc/admin/upgrader.php
  inc/classes/class-plugin.php
  tests/Fixtures/inc/Engine/Media/LazyloadSubscriber/content/getInlineLazyloadScript.php
  tests/Fixtures/inc/Engine/Media/LazyloadSubscriber/content/insertLazyloadScript.php
  tests/Fixtures/inc/Engine/Media/LazyloadSubscriber/insertLazyloadScript.php
  tests/Integration/inc/Engine/Media/LazyloadSubscriber/insertLazyloadScript.php
  tests/Unit/inc/Engine/Media/LazyloadSubscriber/insertLazyloadScript.php
  tests/Unit/inc/admin/rocketNewUpgrade.php
Labels: module: media, type: enhancement

#2628 Fixes #1257 Cloudways Varnish Purge auto-compatibility
  composer.json
  inc/ThirdParty/Hostings/Cloudways.php
  inc/ThirdParty/ServiceProvider.php
  inc/classes/class-plugin.php
  tests/Fixtures/inc/ThirdParty/Hostings/Cloudways/varnishAddonTitle.php
  tests/Fixtures/inc/ThirdParty/Hostings/Cloudways/varnishIP.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Hostings/Cloudways/varnishAddonTitle.php
  tests/Integration/inc/ThirdParty/Hostings/Cloudways/varnishIP.php
  tests/Unit/inc/ThirdParty/Hostings/Cloudways/varnishAddonTitle.php
  tests/Unit/inc/ThirdParty/Hostings/Cloudways/varnishIP.php
Labels: 3rd party compatibility, module: Varnish add-on, needs: qa

#2626 Closes #2471 - Clean WP Rocket cache when RocketCDN REST Endpoints are called
  inc/Engine/CDN/RocketCDN/CDNOptionsManager.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/CDNOptionsManager/enable_disable.php
  tests/Integration/inc/Engine/CDN/RocketCDN/CDNOptionsManager/disable.php
  tests/Integration/inc/Engine/CDN/RocketCDN/CDNOptionsManager/enable.php
  tests/Unit/inc/Engine/CDN/RocketCDN/CDNOptionsManager/disable.php
  tests/Unit/inc/Engine/CDN/RocketCDN/CDNOptionsManager/enable.php
Labels: module: CDN, module: cache, needs: qa, priority: high, type: bug

#2631 Closes #2620 - BNFW plugin - Duplicate emails are send when preload is enabled
  inc/Engine/Preload/PartialPreloadSubscriber.php
Labels: 3rd party compatibility, module: preload, priority: low, type: bug

#2632 Fixes 2633: RegexIterator regex to use Windows dir separator when IIS/Windows
  inc/functions/files.php
  tests/Fixtures/inc/functions/_rocketGetCacheDirs.php
  tests/Unit/inc/functions/_rocketGetCacheDirs.php
Labels: module: filesystem, needs: qa, type: bug

#2609 Closes #2444 - CPCSS AJAX handlers Part 5
  assets/js/wpr-cpcss.js
  inc/Engine/CriticalPath/AdminSubscriber.php
  inc/Engine/CriticalPath/RESTGenerate.php
  inc/Engine/CriticalPath/ServiceProvider.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/cpcssActions.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/cpcssSection.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/cpcssSectionIntegration.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/enqueueAdminEditScript.php
  tests/Integration/inc/Engine/CriticalPath/AdminSubscriber/cpcssSection.php
  tests/Integration/inc/Engine/CriticalPath/AdminSubscriber/enqueueAdminEditScript.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/cpcssSection.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/enqueueAdminEditScript.php
  views/metabox/cpcss/container.php
  views/metabox/cpcss/generate.php
  views/metabox/cpcss/regenerate.php
Labels: module: file optimization, needs: qa, type: new feature

#2637 Exclude Ultimate Addons for Beaver Builder nonce action.
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: 3rd party compatibility, module: cache

#2629 Applies the new clean strategy to `rocket_clean_domain()`.
  inc/functions/files.php
  tests/Integration/inc/functions/rocketCleanDomain.php
  tests/Integration/inc/functions/rocketCleanFiles.php
  tests/Unit/inc/functions/rocketCleanDomain.php
  tests/Unit/inc/functions/rocketCleanFiles.php
Labels: module: file optimization, needs: qa, type: bug, type: enhancement

#2638 Prevent update of rocket-lazyload-common package
  composer.json
Labels: module: lazyload

#2634 Closes #2561 Combine Google Fonts and JetMenu incompatibility
  inc/Engine/Optimization/GoogleFonts/Combine.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
Labels: 3rd party compatibility, module: file optimization, priority: medium, type: bug

#2627 Closes #2548 Enable CDN for images on AMP pages
  inc/ThirdParty/Plugins/Optimization/AMP.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmpIntegration.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/isAmpCompatibleCallback.php
Labels: 3rd party compatibility, module: CDN, priority: medium, type: bug

#2592 Closes #2543 Preload for fonts
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Admin/Settings/Subscriber.php
  inc/Engine/Preload/Fonts.php
  inc/Engine/Preload/ServiceProvider.php
  inc/admin/upgrader.php
  inc/classes/class-plugin.php
  inc/deprecated/3.6.php
  inc/deprecated/deprecated.php
  tests/Fixtures/inc/Engine/Admin/Settings/Settings/dns-prefetch.php
  tests/Fixtures/inc/Engine/Admin/Settings/Settings/font-preload.php
  tests/Fixtures/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Fixtures/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Integration/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Unit/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Unit/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Unit/inc/admin/rocketFirstInstall.php
Labels: module: file optimization, type: new feature

#2643 Normalizes filesystem paths for IIS
  inc/functions/files.php
  inc/functions/i18n.php
  tests/Fixtures/inc/functions/_rocketNormalizePath.php
  tests/Fixtures/inc/functions/getRocketI18nToPreserve.php
  tests/Fixtures/inc/functions/rocketCleanDomain.php
  tests/Integration/FilesystemTestCase.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/AdminSubscriber/cleanMinify.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Integration/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Integration/inc/Engine/Optimization/QueryString/RemoveSubscriber/process.php
  tests/Integration/inc/functions/getRocketAdvancedCacheFile.php
  tests/Integration/inc/functions/rocketDeleteLicenceDataFile.php
  tests/Integration/inc/functions/rocketGenerateAdvancedCacheFile.php
  tests/StubTrait.php
  tests/Unit/FilesystemTestCase.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/insertCombinedCSS.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
  tests/Unit/inc/Engine/Optimization/TestCase.php
  tests/Unit/inc/functions/_rocketGetCacheDirs.php
  tests/Unit/inc/functions/_rocketNormalizePath.php
  tests/Unit/inc/functions/getRocketAdvancedCacheFile.php
  tests/Unit/inc/functions/getRocketI18nUri.php
  tests/Unit/inc/functions/rocketCleanDomain.php
  tests/Unit/inc/functions/rocketCleanFiles.php
  tests/Unit/inc/functions/rocketCleanMinify.php
  tests/Unit/inc/functions/rocketDeleteLicenceDataFile.php
  tests/Unit/inc/functions/rocketGenerateAdvancedCacheFile.php
  tests/VirtualFilesystemTrait.php
Labels: module: filesystem, priority: 🔥critical, type: bug

#2650 Hotfix: Prevent PHP fatal error when trying to delete a term
  inc/Engine/Cache/PurgeActionsSubscriber.php
  tests/Fixtures/inc/Engine/Cache/PurgeActionsSubscriber/maybePurgeCacheOnTermChange.php
  tests/Integration/inc/Engine/Cache/PurgeActionsSubscriber/maybePurgeCacheOnTermChange.php
Labels: module: cache, priority: high, type: bug

#2597 Fix unpredictable caching on TravisCI
  .travis.yml
Labels: type: enhancement

#2646 Closes #2610 CPCSS for mobile: settings part
  inc/Engine/CriticalPath/AdminSubscriber.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/addAsyncCssMobileOption.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/addHiddenAsyncCssMobile.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/setAsyncCssMobileDefaultValue.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  tests/Integration/inc/Engine/CriticalPath/AdminSubscriber/addAsyncCssMobileOption.php
  tests/Integration/inc/Engine/CriticalPath/AdminSubscriber/addHiddenAsyncCssMobile.php
  tests/Integration/inc/Engine/CriticalPath/AdminSubscriber/setAsyncCssMobileDefaultValue.php
  tests/Integration/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/admin/rocketNewUpgrade.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/addAsyncCssMobileOption.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/addHiddenAsyncCssMobile.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/setAsyncCssMobileDefaultValue.php
  tests/Unit/inc/admin/rocketFirstInstall.php
Labels: module: file optimization, type: new feature

#2622 Refactor CPCSS REST
  inc/Engine/CriticalPath/APIClient.php
  inc/Engine/CriticalPath/DataManager.php
  inc/Engine/CriticalPath/ProcessorService.php
  inc/Engine/CriticalPath/RESTCSSSubscriber.php
  inc/Engine/CriticalPath/RESTDelete.php
  inc/Engine/CriticalPath/RESTGenerate.php
  inc/Engine/CriticalPath/RESTWP.php
  inc/Engine/CriticalPath/RESTWPInterface.php
  inc/Engine/CriticalPath/RESTWPPost.php
  inc/Engine/CriticalPath/ServiceProvider.php
  inc/classes/class-plugin.php
  tests/Fixtures/WP_Error.php
  tests/Fixtures/WP_REST_Request.php
  tests/Fixtures/inc/Engine/CriticalPath/APIClient/getJobDetails.php
  tests/Fixtures/inc/Engine/CriticalPath/APIClient/sendGenerationRequest.php
  tests/Fixtures/inc/Engine/CriticalPath/DataManager/deleteCPCSS.php
  tests/Fixtures/inc/Engine/CriticalPath/DataManager/deleteCacheJobId.php
  tests/Fixtures/inc/Engine/CriticalPath/DataManager/getCacheJobId.php
  tests/Fixtures/inc/Engine/CriticalPath/DataManager/saveCPCSS.php
  tests/Fixtures/inc/Engine/CriticalPath/DataManager/setCacheJobId.php
  tests/Fixtures/inc/Engine/CriticalPath/ProcessorService/processGenerate.php
  tests/Fixtures/inc/Engine/CriticalPath/RESTDelete/delete.php
  tests/Fixtures/inc/Engine/CriticalPath/RESTGenerate/generate.php
  tests/Fixtures/inc/Engine/CriticalPath/RESTWPPost/delete.php
  tests/Fixtures/inc/Engine/CriticalPath/RESTWPPost/generate.php
  tests/Integration/inc/Engine/CriticalPath/APIClient/sendGenerationRequest.php
  tests/Integration/inc/Engine/CriticalPath/DataManager/deleteCPCSS.php
  tests/Integration/inc/Engine/CriticalPath/DataManager/deleteCacheJobId.php
  tests/Integration/inc/Engine/CriticalPath/DataManager/getCacheJobId.php
  tests/Integration/inc/Engine/CriticalPath/DataManager/saveCPCSS.php
  tests/Integration/inc/Engine/CriticalPath/DataManager/setCacheJobId.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/delete.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/generate.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/registerDeleteRoute.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/registerGenerateRoute.php
  tests/Unit/bootstrap.php
  tests/Unit/inc/Engine/CriticalPath/APIClient/getJobDetails.php
  tests/Unit/inc/Engine/CriticalPath/APIClient/sendGenerationRequest.php
  tests/Unit/inc/Engine/CriticalPath/DataManager/deleteCPCSS.php
  tests/Unit/inc/Engine/CriticalPath/DataManager/deleteCacheJobId.php
  tests/Unit/inc/Engine/CriticalPath/DataManager/getCacheJobId.php
  tests/Unit/inc/Engine/CriticalPath/DataManager/saveCPCSS.php
  tests/Unit/inc/Engine/CriticalPath/DataManager/setCacheJobId.php
  tests/Unit/inc/Engine/CriticalPath/ProcessorService/processGenerate.php
  tests/Unit/inc/Engine/CriticalPath/RESTDelete/registerDeleteRoute.php
  tests/Unit/inc/Engine/CriticalPath/RESTGenerate/registerGenerateRoute.php
  tests/Unit/inc/Engine/CriticalPath/RESTWPPost/delete.php
  tests/Unit/inc/Engine/CriticalPath/RESTWPPost/generate.php
  tests/Unit/inc/Engine/CriticalPath/RESTWPPost/registerDeleteRoute.php
  tests/Unit/inc/Engine/CriticalPath/RESTWPPost/registerGenerateRoute.php
  tests/VirtualFilesystemTrait.php
Labels: module: file optimization, type: new feature

#2663 Closes #2154 improve optimize button text on db tab
  views/settings/page-sections/database.php
Labels: module: database, priority: low, type: enhancement

#2647 Closes #2595 Add license data to Beacon prefill
  inc/Engine/Admin/Beacon/Beacon.php
  tests/Fixtures/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  tests/Integration/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  tests/Unit/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  views/settings/beacon.php
Labels: module: Beacon, type: enhancement

#2674 Fixes PHP notice on posts list page
  inc/Engine/CriticalPath/AdminSubscriber.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/enqueueAdminEditScript.php
  tests/Integration/inc/Engine/CriticalPath/AdminSubscriber/enqueueAdminEditScript.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/enqueueAdminEditScript.php
Labels: module: file optimization, type: bug

#2649 Closes #2635 Remove CPCSS style tag via JS
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/excludeInlineJs.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBuffer.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBufferUnit.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/excludeInlineJs.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBuffer.php
  tests/StubTrait.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSSSubscriber/excludeInlineJs.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBuffer.php
Labels: module: file optimization, priority: high, type: enhancement

#2670 Closes #2611 - CPCSS for mobile: tools part (2/4)
  assets/css/wpr-admin.css
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/CriticalPath/AdminSubscriber.php
  inc/Engine/CriticalPath/ServiceProvider.php
  package-lock.json
  src/js/global/ajax.js
  src/scss/layout/_Page.scss
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/cpcssSectionIntegration.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/displayCpcssMobileSection.php
  tests/Fixtures/inc/Engine/CriticalPath/AdminSubscriber/enableMobileCpcss.php
  tests/Integration/inc/Engine/CriticalPath/AdminSubscriber/displayCpcssMobileSection.php
  tests/Integration/inc/Engine/CriticalPath/AdminSubscriber/enableMobileCpcss.php
  tests/StubTrait.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/GenerateTrait.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/addHiddenAsyncCssMobile.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/cpcssActions.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/cpcssSection.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/displayCpcssMobileSection.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/enableMobileCpcss.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/setAsyncCssMobileDefaultValue.php
  views/cpcss/activate-cpcss-mobile.php
  views/cpcss/metabox/container.php
  views/cpcss/metabox/generate.php
  views/settings/page-sections/tools.php
Labels: module: file optimization, needs: qa, type: new feature

#2673 Correctly generate CPCSS on Optimize CSS delivery activation
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
Labels: module: file optimization, type: bug

#2667 Closes #2665 - Expired cache preload doesn't fetch the correct URLs
  inc/Engine/Preload/PartialPreloadSubscriber.php
  tests/Fixtures/inc/Engine/Preload/PartialPreloadSubscriber/preloadAfterAutomaticCachePurge.php
Labels: module: preload, priority: 🔥critical, type: bug

#2671 Closes #2566 Hide RocketCDN when white label is enabled
  inc/Engine/CDN/RocketCDN/AdminPageSubscriber.php
  inc/Engine/CDN/RocketCDN/NoticesSubscriber.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/addSubscriptionModal.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/displayManageSubscription.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/rocketcdnField.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/addDismissScript.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  tests/Integration/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/addSubscriptionModal.php
  tests/Integration/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/displayManageSubscription.php
  tests/Integration/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Integration/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/rocketcdnField.php
  tests/Integration/inc/Engine/CDN/RocketCDN/NoticesSubscriber/addDismissScript.php
  tests/Integration/inc/Engine/CDN/RocketCDN/NoticesSubscriber/dismissNotice.php
  tests/Integration/inc/Engine/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Integration/inc/Engine/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  tests/Integration/inc/Engine/CDN/RocketCDN/NoticesSubscriber/purgeCacheNotice.php
  tests/Integration/inc/Engine/CDN/RocketCDN/NoticesSubscriber/toggleCta.php
  tests/StubTrait.php
  tests/Unit/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/addSubscriptionModal.php
  tests/Unit/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/displayManageSubscription.php
  tests/Unit/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/displayRocketcdnStatus.php
  tests/Unit/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/rocketcdnField.php
  tests/Unit/inc/Engine/CDN/RocketCDN/NoticesSubscriber/addDismissScript.php
  tests/Unit/inc/Engine/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Unit/inc/Engine/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
Labels: module: CDN, type: enhancement

#2681 Added nonce
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: module: cache, type: enhancement

#2680 Re-enable lazyload package updates
  composer.json
Labels: module: lazyload, type: enhancement

#2684 Update lazyload script to version 16.1
  assets/js/lazyload/15.1.1/lazyload.min.js
  assets/js/lazyload/16.1/lazyload.js
  assets/js/lazyload/16.1/lazyload.min.js
  inc/Engine/Media/LazyloadSubscriber.php
  tests/Fixtures/inc/Engine/Media/LazyloadSubscriber/content/insertLazyloadScript.php
  tests/Fixtures/inc/Engine/Media/LazyloadSubscriber/insertLazyloadScript.php
Labels: module: lazyload, type: enhancement

#2687 CPCSS admin classes architecture update
  inc/Engine/CriticalPath/Admin/Admin.php
  inc/Engine/CriticalPath/Admin/Post.php
  inc/Engine/CriticalPath/Admin/Settings.php
  inc/Engine/CriticalPath/Admin/Subscriber.php
  inc/Engine/CriticalPath/AdminSubscriber.php
  inc/Engine/CriticalPath/ServiceProvider.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Admin/enqueueAdminCpcssHeartbeatScript.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Post/cpcssActions.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Post/cpcssSection.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Post/enqueueAdminEditScript.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Settings/addAsyncCssMobileOption.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Settings/addHiddenAsyncCssMobile.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Settings/displayCpcssMobileSection.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Settings/enableMobileCpcss.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Settings/setAsyncCssMobileDefaultValue.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/ProviderTrait.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/addAsyncCssMobileOption.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/addHiddenAsyncCssMobile.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/cpcssSection.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/displayCpcssMobileSection.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/enableMobileCpcss.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/enqueueAdminCpcssHeartbeatScript.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/enqueueAdminEditScript.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/setAsyncCssMobileDefaultValue.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Admin/enqueueAdminCpcssHeartbeatScript.php
  tests/Unit/inc/Engine/CriticalPath/Admin/AdminTrait.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Post/cpcssActions.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Post/cpcssSection.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Post/enqueueAdminEditScript.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Settings/addAsyncCssMobileOption.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Settings/addHiddenAsyncCssMobile.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Settings/displayCpcssMobileSection.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Settings/enableMobileCpcss.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Settings/setAsyncCssMobileDefaultValue.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/GenerateTrait.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/addAsyncCssMobileOption.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/addHiddenAsyncCssMobile.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/cpcssActions.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/cpcssSection.php
  tests/Unit/inc/Engine/CriticalPath/AdminSubscriber/setAsyncCssMobileDefaultValue.php
Labels: dev initiative, module: critical-path
