Repository wp-media/wp-rocket, pull requests merged in 2020-09, with the labels that each got.

#3095 Auto exclude preload delay js scripts
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: needs: qa

#3060 Closes #2879 Set browser cache expiration to 4 months for videos/audios files
  inc/functions/htaccess.php
Labels: module: htaccess, needs: qa, type: enhancement

#3059 Fixes #2846 Correctly exclude jQuery from combine when WP is in a subfolder
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/functions/formatting.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Combine/combine.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Combine/optimize.php
Labels: module: file optimization, type: bug

#3026 Fixes 3025: Abstracts and transpiles CPCSS removal script
  assets/js/cpcss-removal.js
  assets/js/cpcss-removal.min.js
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBuffer.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBufferUnit.php
Labels: module: critical-path, needs: qa, type: bug

#3106 Update translations files (3.7.1)
  languages/rocket-hr.mo
  languages/rocket-hr.po
  languages/rocket-pt_BR.mo
  languages/rocket-pt_BR.po
Labels: i18n

#3115 Fixes #3109 Add back the single line flag for inline JS content match in delay JS
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: module: file optimization, type: regression

#3116 Fixes #3100 Exclude RocketPreloadLinksConfig from combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, needs: qa, type: enhancement

#3046 Exclude static.botsrv.com from JavaScript minification/combination
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: file optimization, type: enhancement

#3074 Exclude Everest Forms nonce actions
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: module: cache, type: enhancement

#3082 Add inline JS exclusions
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization

#3105 Add excluded inline JS for urls_wpwidgetpolylang
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: 3rd party compatibility, module: file optimization, type: enhancement

#3122 Fixes PHP Fatal error in 3.7.1 because of missing autoload for Cloudflare module
  composer.json
Labels: module: cloudflare, priority: 🔥critical, type: bug

#3104 Fixes #3071: Preload Links siteUrl configuration for when WordPress is in sub-directory
  inc/Engine/Preload/Links/Subscriber.php
Labels: module: preload, needs: qa, type: bug

#3057 Add index.html inside each directory created by wp rocket
  inc/functions/files.php
Labels: type: enhancement

#3137 Adding new staging site
  inc/functions/api.php
Labels: 3rd party compatibility, type: enhancement

#3053 Excluding aos.js from DeferJS
  inc/functions/options.php
  tests/Integration/inc/functions/getRocketExcludeDeferJs.php
  tests/Unit/inc/functions/getRocketExcludeDeferJS.php
Labels: module: file optimization, type: enhancement

#3098 Add pixel-caffiene/frontend.js to auto-delay list
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate372.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate372.php
Labels: 3rd party compatibility, module: file optimization, needs: qa, type: enhancement

#3062 Closes #2789 Automatic Dreampress compatibility
  composer.json
  inc/ThirdParty/Hostings/Dreampress.php
  inc/ThirdParty/Hostings/HostResolver.php
  inc/ThirdParty/Hostings/HostSubscriberFactory.php
  tests/Fixtures/inc/ThirdParty/Hostings/Dreampress/removeHtaccessHtmlExpire.php
  tests/Fixtures/inc/ThirdParty/Hostings/Dreampress/setVarnishAddonTitle.php
  tests/Fixtures/inc/ThirdParty/Hostings/Dreampress/setVarnishHost.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Hostings/Dreampress/removeHtaccessHtmlExpire.php
  tests/Integration/inc/ThirdParty/Hostings/Dreampress/setVarnishAddonTitle.php
  tests/Integration/inc/ThirdParty/Hostings/Dreampress/setVarnishHost.php
  tests/Unit/inc/ThirdParty/Hostings/Dreampress/removeHtaccessHtmlExpire.php
  tests/Unit/inc/ThirdParty/Hostings/Dreampress/setVarnishAddonTitle.php
  tests/Unit/inc/ThirdParty/Hostings/Dreampress/setVarnishHost.php
  tests/Unit/inc/ThirdParty/Hostings/HostSubscriberFactory/getSubscriber.php
Labels: 3rd party compatibility, module: Varnish add-on, module: cache, module: htaccess

#3141 Remove google/recaptcha from DelayJS on Update to 3.7.2
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
Labels: module: file optimization, needs: qa, type: bug

#3148 Fixes #3080 Update Trustpilot widget pattern for delay JS
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
Labels: module: file optimization, needs: qa, type: bug

#3146 Fix/mailerlite compatibility
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/functions/options.php
  tests/Integration/inc/functions/getRocketExcludeDeferJs.php
  tests/Unit/inc/functions/getRocketExcludeDeferJS.php
Labels: module: file optimization, type: bug

#3147 Prevent issue with Smart Slider 3
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: 3rd party compatibility, module: file optimization, type: enhancement

#3167 Add exclusions to avoid the cache dir size issue
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement
