Repository wp-media/wp-rocket, pull requests merged in 2020-06, with the labels that each got.

#2686 CPCSS for mobile: pending generation handler
  assets/js/wpr-cpcss-heartbeat.js
  inc/Engine/CriticalPath/Admin/Admin.php
  inc/Engine/CriticalPath/Admin/Subscriber.php
  inc/Engine/CriticalPath/CriticalCSSGeneration.php
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  inc/admin/admin.php
  inc/common/admin-bar.php
  tests/CallbackTrait.php
  tests/Fixtures/WP_Admin_Bar.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Admin/addRegenerateMenuItem.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Admin/cpcssHeartbeat.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSS/cleanCriticalCss.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSGeneration/task.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/Hummingbird/settings.php
  tests/Integration/AjaxTestCase.php
  tests/Integration/inc/Engine/CDN/RocketCDN/DataManagerSubscriber/AjaxTestCase.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/ProviderTrait.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/addAsyncCssMobileOption.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/addHiddenAsyncCssMobile.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/addRegenerateMenuItem.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/cpcssHeartbeat.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/cpcssSection.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/displayCpcssMobileSection.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/enableMobileCpcss.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/enqueueAdminCpcssHeartbeatScript.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/enqueueAdminEditScript.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/setAsyncCssMobileDefaultValue.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSS/cleanCriticalCss.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSGeneration/task.php
  tests/Integration/inc/Engine/CriticalPath/DataManager/deleteCacheJobId.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/Hummingbird/warningNotice.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Admin/addRegenerateMenuItem.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Admin/cpcssHeartbeat.php
  tests/Unit/inc/Engine/CriticalPath/Admin/AdminTrait.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSSGeneration/task.php
Labels: module: critical-path, type: enhancement

#2701 Update WP Rocket admin bar items order
  inc/Engine/CriticalPath/Admin/Subscriber.php
  inc/common/admin-bar.php
Labels: module: critical-path

#2700 Remove CPCSS mobile versions from admin notice
  inc/Engine/CriticalPath/Admin/Admin.php
  inc/Engine/CriticalPath/CriticalCSS.php
  inc/Engine/CriticalPath/CriticalCSSGeneration.php
  tests/Integration/inc/Engine/Preload/Homepage/preload.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Admin/cpcssHeartbeat.php
Labels: module: critical-path

#2703 Prevent fatal error when trying to dismiss a notice
  inc/admin/admin.php
Labels: Module: dashboard, type: bug

#2656 Upgrades the Plugin by moving into the architecture & optimizing
  inc/Plugin.php
  inc/classes/class-plugin.php
  inc/main.php
Labels: type: enhancement

#2718 Prevent php notice: Unavailable index in Beacon
  inc/Engine/Admin/Beacon/Beacon.php
  tests/Fixtures/inc/Engine/Admin/Beacon/Beacon/insertScript.php
Labels: module: Beacon, type: bug

#2717 Revisited CPCSS beacon id and URLs
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/CriticalPath/Admin/Post.php
  inc/Engine/CriticalPath/Admin/Settings.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Post/cpcssActions.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Post/cpcssSection.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Settings/displayCpcssMobileSection.php
  views/cpcss/activate-cpcss-mobile.php
  views/cpcss/metabox/generate.php
Labels: module: critical-path

#2719 Prevent PHP notice in CPCSS running notice
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
Labels: module: critical-path, type: bug

#2727 Fixed unwanted notice for mobile CPCSS ( early bailout if no desktop message )
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
Labels: module: critical-path, type: bug

#2729 Prevent false positive notice "content not ours" after license validation
  inc/Engine/Cache/AdvancedCache.php
  tests/Fixtures/inc/Engine/Cache/AdvancedCache/noticeContentNotOurs.php
  tests/Integration/inc/Engine/Cache/AdvancedCache/noticeContentNotOurs.php
  tests/Unit/inc/Engine/Cache/AdvancedCache/noticeContentNotOurs.php
Labels: module: cache, type: bug

#2722 Adjust CPCSS messages to differentiate between custom and specific page types
  inc/Engine/CriticalPath/APIClient.php
  inc/Engine/CriticalPath/Admin/Admin.php
  inc/Engine/CriticalPath/CriticalCSSGeneration.php
  inc/Engine/CriticalPath/DataManager.php
  inc/Engine/CriticalPath/ProcessorService.php
  inc/Engine/CriticalPath/RESTWP.php
  tests/Fixtures/inc/Engine/CriticalPath/APIClient/sendGenerationRequest.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Admin/cpcssHeartbeat.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSGeneration/task.php
  tests/Fixtures/inc/Engine/CriticalPath/ProcessorService/processGenerate.php
  tests/Integration/inc/Engine/CriticalPath/APIClient/sendGenerationRequest.php
  tests/Integration/inc/Engine/CriticalPath/ProcessorService/processGenerate.php
  tests/Unit/inc/Engine/CriticalPath/APIClient/sendGenerationRequest.php
  tests/Unit/inc/Engine/CriticalPath/ProcessorService/processGenerate.php
Labels: module: critical-path, needs: qa

#2743 Add translations for 3.6
  languages/rocket-cs_CZ.mo
  languages/rocket-cs_CZ.po
  languages/rocket-es_ES.mo
  languages/rocket-es_ES.po
  languages/rocket-fr_CA.mo
  languages/rocket-fr_CA.po
  languages/rocket-fr_FR.mo
  languages/rocket-fr_FR.po
  languages/rocket-hr.mo
  languages/rocket-hr.po
  languages/rocket-it_IT.mo
  languages/rocket-it_IT.po
  languages/rocket-pt_BR.mo
  languages/rocket-pt_BR.po
  languages/rocket-ro_RO.mo
  languages/rocket-ro_RO.po
  languages/rocket-ru_RU.mo
  languages/rocket-ru_RU.po
  languages/rocket-tr_TR.mo
  languages/rocket-tr_TR.po
  languages/rocket-uk.mo
  languages/rocket-uk.po
  languages/rocket.pot
Labels: i18n

#2763 Fixes #2523 Prevent lazyload inline CSS insertion on AMP pages
  inc/ThirdParty/Plugins/Optimization/AMP.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmpWithCloudflare.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
Labels: 3rd party compatibility, module: lazyload, type: bug

#2758 Closes #2739 Clean post cache on Specific CPCSS generation or deletion
  inc/Engine/CriticalPath/RESTWP.php
  tests/Fixtures/inc/Engine/CriticalPath/RESTWPPost/delete.php
  tests/Fixtures/inc/Engine/CriticalPath/RESTWPPost/generate.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/delete.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/generate.php
  tests/Unit/inc/Engine/CriticalPath/RESTWPPost/delete.php
  tests/Unit/inc/Engine/CriticalPath/RESTWPPost/generate.php
Labels: module: cache, module: file optimization, priority: high, type: enhancement

#2768 Fixes #2767 update compressed rules & tests
  inc/functions/htaccess.php
  tests/Fixtures/inc/functions/rocketGetCompressedAssets.php
  tests/Unit/inc/functions/rocketGetCompressedAssetsRules.php
Labels: module: htaccess, type: bug

#2779 Remove serve pre-compressed CSS/JS rules
  inc/deprecated/3.6.php
  inc/functions/htaccess.php
  tests/Fixtures/inc/functions/rocketGetCompressedAssets.php
  tests/Integration/inc/functions/rocketGetCompressedAssets.php
  tests/Unit/inc/functions/rocketGetCompressedAssetsRules.php
  wp-rocket.php
Labels: module: htaccess, type: bug

#2755 Remove lazyload from search page
  inc/Engine/Media/LazyloadSubscriber.php
  tests/Fixtures/inc/Engine/Media/LazyloadSubscriber/insertLazyloadScript.php
  tests/Integration/inc/Engine/Media/LazyloadSubscriber/insertLazyloadScript.php
  tests/StubTrait.php
  tests/Unit/inc/Engine/Media/LazyloadSubscriber/insertLazyloadScript.php
Labels: module: lazyload, needs: qa

#2736 Fixes #2491 Correctly delete all files for dates archives
  inc/Engine/Cache/Purge.php
  inc/Engine/Cache/PurgeActionsSubscriber.php
  inc/Engine/Cache/ServiceProvider.php
  inc/Engine/Preload/PartialPreloadSubscriber.php
  inc/common/purge.php
  inc/deprecated/3.6.php
  inc/functions/posts.php
  tests/Fixtures/inc/Engine/Cache/Purge/purgeDatesArchives.php
  tests/Fixtures/inc/functions/getRocketPostDatesUrls.php
  tests/Integration/inc/Engine/Cache/PurgeActionsSubscriber/purgeDatesArchives.php
  tests/Integration/inc/functions/getRocketPostDatesUrls.php
  tests/Unit/inc/Engine/Cache/Purge/purgeDatesArchives.php
  tests/Unit/inc/Engine/Cache/PurgeActionsSubscriber/maybePurgeCacheOnTermChange.php
  tests/Unit/inc/Engine/Cache/PurgeActionsSubscriber/purgeUserCache.php
  tests/Unit/inc/functions/getRocketPostDatesUrls.php
Labels: module: cache, needs: qa, type: bug

#2740 Solve error 500 on WP Rocket activation - Opening comment tag in wp-config.php removed
  inc/functions/files.php
  tests/Fixtures/inc/functions/setRocketWpCacheDefine.php
  tests/Integration/inc/functions/setRocketWpCacheDefine.php
  tests/Unit/inc/functions/setRocketWpCacheDefine.php
Labels: module: cache, needs: qa, type: bug

#2756 Closes #2737 Combine 3rd party CSS: front part (2/3)
  inc/Engine/Optimization/AssetsLocalCache.php
  inc/Engine/Optimization/GoogleFonts/Subscriber.php
  inc/Engine/Optimization/Minify/AbstractMinifySubscriber.php
  inc/Engine/Optimization/Minify/CSS/Combine.php
  inc/Engine/Optimization/Minify/CSS/Subscriber.php
  inc/Engine/Optimization/Minify/JS/Subscriber.php
  inc/Engine/Optimization/ServiceProvider.php
  tests/Fixtures/inc/Engine/Optimization/AssetsLocalCache/getContent.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Integration/inc/Engine/Optimization/AssetsLocalCache/getContent.php
  tests/Unit/inc/Engine/Optimization/AssetsLocalCache/getContent.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
Labels: module: file optimization, type: sub-task

#2781 Fixes #2730 Remove unneeded notice related to advanced-cache.php
  inc/Engine/Cache/AdminSubscriber.php
  inc/Engine/Cache/AdvancedCache.php
  tests/Fixtures/inc/Engine/Cache/AdvancedCache/noticeContentNotOurs.php
  tests/Integration/inc/Engine/Cache/AdminSubscriber/noticeAdvancedCacheContentNotOurs.php
  tests/Integration/inc/Engine/Cache/AdvancedCache/noticeContentNotOurs.php
  tests/Unit/inc/Engine/Cache/AdvancedCache/noticeContentNotOurs.php
Labels: module: cache, type: enhancement

#2762 Fixes #2659 Load Wistia script once on settings page
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Subscriber.php
  tests/Fixtures/inc/Engine/Admin/Settings/Page/asyncWistiaScript.php
  tests/Fixtures/inc/Engine/Admin/Settings/Page/enqueueRocketScripts.php
  tests/Integration/inc/Engine/Admin/Settings/Subscriber/asyncWistiaScript.php
  tests/Integration/inc/Engine/Admin/Settings/Subscriber/enqueueRocketScripts.php
  tests/Unit/inc/Engine/Admin/Settings/Page/asyncWistiaScript.php
  tests/Unit/inc/Engine/Admin/Settings/Page/enqueueRocketScripts.php
  views/settings/page-sections/tutorials.php
  views/settings/partials/getting-started.php
  views/settings/partials/sidebar.php
Labels: Module: dashboard, type: enhancement

#2769 Closes #2738 Include 3rd Party CSS into concatenation - exclude_css sanitization (3/3)
  inc/functions/formatting.php
  tests/Fixtures/inc/Engine/Admin/Settings/Settings/exclude-css.php
  tests/Fixtures/inc/functions/rocketValidateCss.php
  tests/Integration/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Unit/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Unit/inc/functions/rocketValidateCss.php
Labels: module: file optimization, needs: qa, type: sub-task

#2770 Closes #2607 - Improve sub-feeds exclusions
  inc/admin/upgrader.php
  inc/functions/options.php
  tests/Fixtures/inc/functions/getRocketCacheRejectUri.php
  tests/Integration/inc/functions/getRocketCacheRejectUri.php
  tests/Unit/inc/admin/rocketNewUpgrade.php
  tests/Unit/inc/functions/getRocketCacheRejectUri.php
Labels: module: cache, needs: qa, priority: low, type: enhancement

#2750 Fixes #2461 WooCommerce hierarchical categories not being cleared
  inc/Engine/Cache/Purge.php
  inc/Engine/Cache/PurgeActionsSubscriber.php
  inc/common/purge.php
  inc/deprecated/3.6.php
  inc/functions/posts.php
  tests/Fixtures/inc/Engine/Cache/Purge/purgePostTermsUrls.php
  tests/Fixtures/inc/functions/getRocketPostTermsUrls.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/autoPurgeByUrl.php
  tests/Integration/inc/Engine/Cache/PurgeActionsSubscriber/purgePostTermsUrls.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/generate.php
  tests/Unit/inc/Engine/Cache/Purge/purgePostTermsUrls.php
  tests/Unit/inc/functions/getRocketPostTermsUrls.php
Labels: module: cache, needs: qa, priority: medium

#2783 Closes #2493 Exclude external jQuery from combine when Defer Safe Mode is active
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Integration/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
  tests/Unit/inc/Engine/Optimization/TestCase.php
Labels: 3rd party compatibility, module: file optimization, needs: qa, priority: medium

#2802 Fix #2800 fallback cpcss css files are not loaded async
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
Labels: module: critical-path, needs: qa, type: bug

#2808 Automatic licensing file check
  .github/workflows/licence_data.yml
Labels: devops

#2806 Remove minify HTML option: front (1/3)
  inc/Engine/Optimization/ServiceProvider.php
  inc/Plugin.php
  inc/deprecated/3.6.php
  inc/deprecated/3.7.php
  inc/deprecated/subscriber/admin/Optimization/class-minify-html-subscriber.php
  inc/deprecated/vendors/classes/class-minify-html.php
  inc/main.php
Labels: effort: [S], module: file optimization, type: sub-task

#2811 Remove minify HTML option: 3rd party (3/3)
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/wp-serveur.php
  inc/3rd-party/plugins/appbanners.php
  inc/3rd-party/plugins/autoptimize.php
  inc/3rd-party/plugins/slider/revslider.php
  inc/deprecated/3.7.php
Labels: effort: [S], module: file optimization, type: sub-task

#2809 Remove minify HTML option: backend (2/3)
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Deactivation/DeactivationIntent.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/admin/ui/meta-boxes.php
  inc/admin/ui/notices.php
  inc/admin/upgrader.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
  tests/Unit/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
Labels: effort: [S], module: file optimization, type: sub-task

#2815 RocketCDN integration tests home_url change
  tests/Integration/inc/Engine/CDN/RocketCDN/APIClient/getSubscriptionData.php
  tests/Integration/inc/Engine/CDN/RocketCDN/APIClient/purgeCacheRequest.php
  tests/Integration/inc/Engine/CDN/RocketCDN/TestCase.php
Labels: module: rocketcdn

#2765 Disable dealing with htaccess on WPEngine
  composer.json
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/wpengine.php
  inc/Plugin.php
  inc/ThirdParty/Hostings/WPEngine.php
  inc/ThirdParty/ReturnTypesTrait.php
  inc/ThirdParty/ServiceProvider.php
  inc/deprecated/3.6.php
  inc/main.php
  tests/Fixtures/inc/ThirdParty/Hostings/WPEngine/WpeCommon.php
  tests/Fixtures/inc/ThirdParty/Hostings/WPEngine/addFootprint.php
  tests/Fixtures/inc/ThirdParty/Hostings/WPEngine/runRocketBotAfterWPEngine.php
  tests/Fixtures/inc/ThirdParty/Hostings/WPEngine/varnishAddonTitle.php
  tests/Fixtures/inc/ThirdParty/Hostings/WPEngine/wpe_param.php
  tests/Integration/AdminTestCase.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Hostings/WPEngine/addFootprint.php
  tests/Integration/inc/ThirdParty/Hostings/WPEngine/cleanWPEngine.php
  tests/Integration/inc/ThirdParty/Hostings/WPEngine/removeNotices.php
  tests/Integration/inc/ThirdParty/Hostings/WPEngine/runRocketBotAfterWPEngine.php
  tests/Integration/inc/ThirdParty/Hostings/WPEngine/varnishAddonTitle.php
  tests/StubTrait.php
  tests/Unit/inc/ThirdParty/Hostings/WPEngine/WPEngineTestCase.php
  tests/Unit/inc/ThirdParty/Hostings/WPEngine/addFootprint.php
  tests/Unit/inc/ThirdParty/Hostings/WPEngine/cleanWPEngine.php
  tests/Unit/inc/ThirdParty/Hostings/WPEngine/removeNotices.php
  tests/Unit/inc/ThirdParty/Hostings/WPEngine/runRocketBotAfterWPEngine.php
  tests/Unit/inc/ThirdParty/Hostings/WPEngine/varnishAddonTitle.php
Labels: 3rd party compatibility, module: htaccess, needs: qa

#2813 Get rid of Minify HTML option
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/wp-serveur.php
  inc/3rd-party/plugins/appbanners.php
  inc/3rd-party/plugins/autoptimize.php
  inc/3rd-party/plugins/slider/revslider.php
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Deactivation/DeactivationIntent.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/Plugin.php
  inc/admin/ui/meta-boxes.php
  inc/admin/ui/notices.php
  inc/admin/upgrader.php
  inc/deprecated/3.7.php
  inc/deprecated/subscriber/admin/Optimization/class-minify-html-subscriber.php
  inc/deprecated/vendors/classes/class-minify-html.php
  inc/main.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
  tests/Unit/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
Labels: module: file optimization, type: enhancement

#2827 Clarify preload font text to include CDN #2793
  inc/Engine/Admin/Settings/Page.php
Labels: module: preload, needs: qa, type: enhancement
