Repository wp-media/wp-rocket, pull requests merged in 2020-01, with the labels that each got.

#2223 Fix #2185 - PHP 7.4 notice - Trying to access array offset on value of type null, in class-cache-dynamic-resource.php
  inc/classes/optimization/class-cache-dynamic-resource.php
Labels: module: file optimization, severity: trivial, type: bug

#2221 Fix #2159 - Don't clear the cache when preload option is changed
  inc/admin/options.php
Labels: module: cache, module: preload, type: enhancement

#2229 Fixed #1550 Update Wordpress Compatibility
  inc/classes/subscriber/Plugin/class-updater-subscriber.php
  wp-rocket.php
Labels: Module: dashboard, severity: trivial, type: enhancement

#2225 Fix #2121 - Exclude fwp-loop comment from stripping for FacetWP
  inc/vendors/classes/class-minify-html.php
Labels: 3rd party, module: file optimization, severity: minor, type: enhancement

#2208 Fix #2149 - Error 403 on admin-ajax requests and WooCommerce nonces
  composer.json
  composer.lock
  inc/classes/subscriber/third-party/plugins/ecommerce/class-woocommerce-subscriber.php
  tests/Integration/Subscriber/Optimization/TestDequeueJQueryMigrate.php
  tests/Integration/Subscriber/ThirdParty/Plugins/Ecommerce/WooCommerce/TestNonceUserLoggedOut.php
  tests/Integration/bootstrap.php
  tests/Unit/Addons/Cloudflare/TestGetInstance.php
  tests/Unit/Addons/Varnish/testPurge.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestAutoPurge.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestAutoPurgeByUrl.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestPurgeCache.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestSaveCloudflareOptions.php
  tests/Unit/Subscriber/Addons/CloudflareSubscriber/TestSetRealIp.php
  tests/Unit/Subscriber/Addons/VarnishSubscriber/TestCleanDomain.php
  tests/Unit/Subscriber/Addons/VarnishSubscriber/TestCleanFile.php
  tests/Unit/Subscriber/Addons/VarnishSubscriber/TestCleanHome.php
  tests/Unit/Subscriber/Cache/PurgeActionsSubscriber/TestPurgeUserCache.php
  tests/Unit/Subscriber/Tools/TestDetectMissingTags.php
  tests/Unit/ThirdParty/Plugins/Ecommerce/WooCommerce/TestNonceUserLoggedOut.php
Labels: 3rd party, type: bug

#1798 Check if isset before strpos
  inc/classes/optimization/JS/class-combine.php
Labels: community, module: file optimization, severity: trivial, type: bug

#2032 Fixes #2029 Exclude CDNJS Version of jQuery From Defer
  inc/functions/options.php
  tests/Integration/Functions/Options/TestExcludeDeferJS.php
  tests/Unit/Functions/Options/TestExcludeDeferJS.php
Labels: community, module: file optimization, type: enhancement

#2022 Fixes Authorize.net Seal
  inc/functions/options.php
  tests/Integration/Functions/Options/TestExcludeDeferJS.php
  tests/Unit/Functions/Options/TestExcludeDeferJS.php
Labels: 3rd party, community, module: file optimization, type: enhancement

#2239 Fix #2217 CDN + Optimize CSS delivery - assets are not rewritten because of priority
  inc/classes/subscriber/Optimization/class-critical-css-subscriber.php
Labels: module: CDN, severity: minor, type: bug

#2243 Fix undefined constant WP_ROCKET_CONFIG_PATH
  inc/functions/files.php
Labels: module: Logger, severity: minor, type: bug

#2253 Update hook name to delete_user
  inc/classes/subscriber/Cache/PurgeActionsSubscriber.php
Labels: module: cache, severity: minor, type: bug

#2252 Varnish add-on updates
  inc/3rd-party/hosting/flywheel.php
  inc/classes/admin/settings/class-page.php
  inc/classes/subscriber/Addons/Cloudflare/CloudflareSubscriber.php
  tests/Integration/Subscriber/Addons/CloudflareSubscriber/TestSetVarnishLocalhost.php
Labels: module: Varnish add-on, type: enhancement

#2257 Move back Varnish to a one-click add-on
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/classes/Addons/Varnish/Varnish.php
  inc/classes/admin/settings/class-page.php
  inc/classes/admin/settings/class-settings.php
  inc/classes/subscriber/preload/class-preload-subscriber.php
  inc/functions/formatting.php
  tests/Unit/Addons/Varnish/testPurge.php
  views/settings/page-sections/varnish.php
Labels: module: Varnish add-on, type: enhancement

#2276 Add API Credential Handling to Tests.
  .gitignore
  tests/Integration/TestCase.php
  tests/Unit/TestCase.php
Labels: type: tests

#2279 Optimize Travis by removing PHP 7.0 and 7.1 builds
  .travis.yml
Labels: type: performance

#2271 Fixed Integration tests for Dequeue JQuery Migrate
  inc/classes/subscriber/Optimization/class-dequeue-jquery-migrate-subscriber.php
  tests/Integration/Subscriber/Optimization/DequeueJQueryMigrateSubscriber/dequeueJqueryMigrate.php
  tests/Integration/Subscriber/Optimization/DequeueJQueryMigrateSubscriber/getSubscribedEvents.php
  tests/Integration/Subscriber/Optimization/TestDequeueJQueryMigrate.php
Labels: type: tests

#2266 Exclude inline JavaScript keyword -- cache directory size
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2272 Add inline JavaScript exclusions
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2269 Added dynamic inline JS exclusions
  inc/classes/optimization/JS/class-combine.php
Labels: module: file optimization, type: enhancement

#2246 Auto exclude attachement_category taxonomy from CPCSS
  inc/classes/optimization/CSS/class-critical-css.php
Labels: module: file optimization, type: enhancement

#2141 Exclude Mediamatic taxonomy from CPCSS
  inc/classes/optimization/CSS/class-critical-css.php
Labels: module: file optimization, type: enhancement
