Repository wp-media/wp-rocket, pull requests merged in 2021-10, with the labels that each got.

#4329 Exclude inline javascript for urls_polylangREPLACETOID
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: type: enhancement, 3rd party compatibility, module: combine JS

#4332 Exclude www.paypal.com/sdk/js from load JavaScript deferred
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: type: enhancement, 3rd party compatibility, module: defer JS

#4349 Exclude inline JS from combine JS to avoid cache dir size issue
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: type: enhancement, 3rd party compatibility, module: combine JS

#4401 lost in space
  inc/Engine/Admin/Settings/Page.php
Labels: type: bug, Module: dashboard, severity: minor

#4377 Closes #4320 combine CSS divi 4.10 compatibility
  inc/ThirdParty/Themes/Divi.php
  tests/Fixtures/inc/ThirdParty/Themes/Divi/excludeCSSFromCombine.php
  tests/Unit/inc/ThirdParty/Themes/Divi/excludeCSSFromCombine.php
Labels: type: enhancement, 3rd party compatibility

#4370 Add new path of minified files for Uncode 2.5.0
  inc/3rd-party/themes/uncode.php
Labels: type: enhancement, 3rd party compatibility, module: defer JS

#4405 Exclude CallRail's script from JS Minification
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: minify JS
