Repository wp-media/wp-rocket, pull requests merged in 2021-06, with the labels that each got.

#3948 Fixes #3600 add wpstage to staging servers list
  inc/functions/api.php
Labels: type: enhancement

#3956 remove image optimization when WP_ROCKET_WHITE_LABEL_ACCOUNT
  inc/Engine/Admin/Settings/Subscriber.php
  tests/Unit/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  views/settings/page.php
Labels: Module: dashboard, type: enhancement

#3943 Add Hubspot iframe inline JS exclusion from combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, type: enhancement

#3974 Fixes #3945 Display warning when WP Meteor is enabled with WP Rocket delay JS
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addPluginsIncompatibility.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addPluginsIncompatibility.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addPluginsIncompatibility.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/addPluginsIncompatibility.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/maybeDisableCombineJs.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/sanitizeOptions.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
Labels: 3rd party compatibility, type: enhancement

#3981 Fixes #3924 Remove unnecessary more info link in RUCSS pre-warmup copy
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
Labels: module: remove unused css, type: bug

#3971 Update delay JS script
  assets/js/lazyload-scripts.min.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: module: delay JS, type: bug

#3965 Fixes #2876 Remove beacon button when white label is enabled
  inc/Engine/Admin/Beacon/Beacon.php
  tests/Fixtures/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  tests/Integration/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  tests/Unit/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  views/settings/page-sections/dashboard.php
Labels: Module: dashboard, module: Beacon, needs: qa, type: enhancement

#3975 Add additional delay JS exclusions
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: 3rd party compatibility, type: enhancement

#4036 Update delay JS script
  assets/js/lazyload-scripts.min.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: module: delay JS, type: bug

#4016 3987, 4014, 4029 - Add AutoExclude patterns for divi animations, wpforms and NinjaForms
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: type: bug

#4028 Fixes #3966 Delete used-css folder on uninstall
  inc/Engine/WPRocketUninstall.php
Labels: module: remove unused css, severity: minor, type: bug

#4061 Add default exclusion list for new installation too
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
Labels: module: delay JS, priority: high, type: enhancement

#4026 Closes #3913 Change sidebar text and link w/check for locale
  views/settings/partials/sidebar.php
Labels: Module: dashboard, type: enhancement

#4019 Fixes #3993 Add font-display:swap in the generated used CSS
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
Labels: module: remove unused css, type: enhancement

#4069 Fix/3998 wcml cookies cause 50x errors
  inc/3rd-party/plugins/ecommerce/woocommerce-multilingual.php
Labels: type: bug

#4017 3957 - Stop RUCSS Processing noscript content
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
Labels: type: bug

#4024 Fixes #3807 Only show upgrade banner for license older than 14 days
  inc/Engine/License/Upgrade.php
  tests/Fixtures/inc/Engine/License/Subscriber/addLocalizeScriptData.php
  tests/Fixtures/inc/Engine/License/Subscriber/addNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Subscriber/dismissNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayPromoBanner.php
  tests/Fixtures/inc/Engine/License/Upgrade/addLocalizeScriptData.php
  tests/Fixtures/inc/Engine/License/Upgrade/addNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Upgrade/dismissNotificationBubble.php
  tests/Fixtures/inc/Engine/License/Upgrade/displayPromoBanner.php
  tests/Unit/inc/Engine/License/Upgrade/addLocalizeScriptData.php
  tests/Unit/inc/Engine/License/Upgrade/addNotificationBubble.php
  tests/Unit/inc/Engine/License/Upgrade/dismissNotificationBubble.php
  tests/Unit/inc/Engine/License/Upgrade/displayPromoBanner.php
Labels: Module: dashboard, type: enhancement

#4086 Closes #4085 Delay JS disabled by default for new installs + empty exclusions list
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
Labels: module: delay JS, needs: documentation, type: enhancement

#4081 Fixes #4071 Exclude var gtm4wp from delay JS
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: 3rd party compatibility, module: delay JS

#4022 Fix#3991 Use dedicated filter for usedCSS content
  inc/Engine/CDN/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Integration/inc/Engine/CDN/Subscriber/rewriteCssProperties.php
Labels: module: CDN, module: remove unused css, type: bug

#4112 Clear delay JS exclusion list when updating from version older than 3.9
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
Labels: needs: documentation

#4083 Add auto-exclusion for Smush Native Lazyload script
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: 3rd party compatibility, module: delay JS, type: enhancement

#4082 Add Delay JS auto-exclusion for some plugins
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: 3rd party compatibility, module: delay JS, type: bug

#4079 Add auto-exclusion for Fluent Form & ConverPro
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: 3rd party compatibility, module: delay JS, type: bug

#4076 Add Jetpack Stats Delay JS Auto-Exclusion
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: 3rd party compatibility, module: delay JS, type: enhancement
