Repository wp-media/wp-rocket, pull requests merged in 2021-11, with the labels that each got.

#4469 Fixes #4466 PHP Notice when an external URL has no scheme during JS minification
  inc/Engine/Optimization/Minify/JS/Minify.php
Labels: type: bug, module: minify JS

#4471 Fixes #4460 Prevent removing core lazyload on iframes when only images lazyload is enabled
  inc/Engine/Media/Lazyload/Subscriber.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/maybeDisableCoreLazyload.php
  tests/Integration/inc/Engine/Media/Lazyload/Subscriber/maybeAddSkipAttributes.php
  tests/Integration/inc/Engine/Media/Lazyload/Subscriber/maybeDisableCoreLazyload.php
  tests/Unit/inc/Engine/Media/Lazyload/Subscriber/maybeDisableCoreLazyload.php
Labels: type: bug, needs: qa, module: lazyload iframes and videos

#4470 Closes #3526 display notice if the global exclusion pattern is used in never cache URLs field
  inc/Engine/Admin/Settings/Settings.php
Labels: type: enhancement, Module: dashboard, needs: qa

#4475 Remove PHPStan GH action
  .github/workflows/lint_phpstan.yml
Labels: dev initiative, devops

#4476 Fixes #3704 Prevent server error if charset value is empty in htaccess rules
  inc/functions/htaccess.php
Labels: type: bug, module: htaccess

#4483 Fixes #4474 Preserve svg in used CSS
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
Labels: type: bug, module: remove unused css

#4484 Fixes #4382 Prevent unexpected exclusion from delay JS when type is present in the string
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: type: bug, needs: qa, module: delay JS

#4482 Add secret key to the folder name of the common cache for logged in u…
  inc/classes/Buffer/class-cache.php
Labels: type: enhancement, module: cache

#4432 Allow overriding the SaaS API URL
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
  tests/StubTrait.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/APIClient/optimize.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/APIClient/sendWarmupRequest.php
Labels: dev initiative, module: remove unused css

#4491 Add check for updated classname in PDFEmbedder compatibility
  inc/ThirdParty/Plugins/PDFEmbedder.php
Labels: 3rd party compatibility, priority: high

#4497 Revert delay js script to 3.9.4.1
  assets/js/lazyload-scripts.min.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: type: enhancement, needs: qa, module: delay JS

#3436 Remove last of GLOB_BRACE
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketCleanHome.php
  tests/Integration/inc/functions/rocketCleanHome.php
Labels: type: enhancement

#4489 Fixes #4425 add gforms_recaptcha_ to delay JS execution exclusion
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: type: bug, 3rd party compatibility, module: delay JS

#4487 Add the site's name to the exported options file's filename
  inc/admin/admin.php
Labels: type: enhancement, Module: dashboard

#4513 Fixes #4417 Always display WooCommerce product gallery when delay JS execution is enabled
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showEmptyProductGalleryWithDelayJS.php
  tests/Integration/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showEmptyProductGalleryWithDelayJS.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showEmptyProductGalleryWithDelayJS.php
Labels: type: enhancement, 3rd party compatibility

#4486 Fixes #4436 Improve accessibility of the lazyloaded Youtube videos
  inc/Dependencies/RocketLazyload/Assets.php
Labels: type: enhancement, waiting for feedback, module: lazyload youtube preview image

#4510 Removing the ^ from the regex to apply the optimization in cases where the family value is not at the beginning of the font URL
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
Labels: type: bug, module: google fonts

#4501 Fix 4472 - Display notice when DelayJS is activated with Autoptimize Aggregate JS already in effect
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  inc/Plugin.php
  inc/ThirdParty/Plugins/Optimization/Autoptimize.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/Autoptimize/warnWhenJsAggregationAndDelayJsActive.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/Autoptimize/warnWhenJsAggregationAndDelayJsActive.php
Labels: waiting for feedback, 3rd party compatibility, Module: dashboard, status: blocked, module: delay JS

#4502 Fix 4314 - Items in settings errors transient not displayed on settings update
  inc/admin/admin.php
  inc/admin/options.php
Labels: type: bug, waiting for feedback, Module: dashboard

#4534 Enhance warning notices for invalid pattern removals with More info link
  inc/admin/options.php
Labels: type: enhancement

#4516 Add anr_captcha_field_div to Defer JS inline exclusions
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: type: enhancement, module: defer JS

#4498 Exclude simpli.fi Advertising Platform scripts
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: type: bug, 3rd party compatibility

#4536 Fixes #4104 Exclude static.cleverpush.com from Minify JS
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: bug, 3rd party compatibility, needs: qa, module: minify JS
