Repository wp-media/wp-rocket, pull requests merged in 2021-08, with the labels that each got.

#4205 Closes #4074 Grey-out delay JS option when WP Meteor is active
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  inc/Plugin.php
  inc/ThirdParty/Plugins/Optimization/WPMeteor.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addPluginsIncompatibility.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addPluginsIncompatibility.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/WPMeteor/maybeDisableDelayJsField.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addPluginsIncompatibility.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/WPMeteor/disableDelayJs.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/WPMeteor/maybeDisableDelayJsField.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/addPluginsIncompatibility.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/WPMeteor/disableDelayJs.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/WPMeteor/maybeDisableDelayJsField.php
  wp-rocket.php
Labels: 3rd party compatibility, module: delay JS, needs: qa, type: enhancement

#4211 Closes #4080 Emulate elementor pro animation with delay JS
  .editorconfig
  assets/js/elementor-animation.js
  inc/ThirdParty/Plugins/PageBuilder/Elementor.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/PageBuilder/Elementor/addFixAnimationsScript.php
  tests/Integration/inc/ThirdParty/Plugins/PageBuilder/Elementor/addFixAnimationsScript.php
  tests/Unit/inc/ThirdParty/Plugins/PageBuilder/Elementor/addFixAnimationsScript.php
  tests/Unit/inc/ThirdParty/Plugins/PageBuilder/Elementor/clearCache.php
Labels: type: enhancement, 3rd party compatibility, module: delay JS

#3985 Fixes #4122 Compress HTML data before sending it to resource fetcher
  inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php
  inc/Engine/Optimization/RUCSS/Database/Row/ResourceRow.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RUCSS/Warmup/ScannerProcess.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/Subscriber/collectResources.php
Labels: type: enhancement, module: remove unused css

#4248 Updated fix for 4165 per EWWW dev feedback and QA after 4174
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/deferInlineJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferInlineJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: type: bug, module: defer JS, module: delay JS

#4279 Update to composer 2 in Github actions
  .github/workflows/code_coverage.yml
  .github/workflows/deploy_plugin.yml
  .github/workflows/lint_phpstan.yml
Labels: type: enhancement, dev initiative, devops

#4202 Closes #4018 Add delay JS compatibility with Adthrive
  inc/Plugin.php
  inc/ThirdParty/Plugins/Ads/Adthrive.php
  inc/ThirdParty/Plugins/Optimization/WPMeteor.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ads/Adthrive/addDelayJsExclusion.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ads/Adthrive/maybeAddDelayJsExclusion.php
  tests/Integration/inc/ThirdParty/Plugins/Ads/Adthrive/addDelayJsExclusion.php
  tests/Integration/inc/ThirdParty/Plugins/Ads/Adthrive/maybeAddDelayJsExclusion.php
  tests/Unit/inc/ThirdParty/Plugins/Ads/Adthrive/addDelayJsExclusion.php
  tests/Unit/inc/ThirdParty/Plugins/Ads/Adthrive/maybeAddDelayJsExclusion.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/WPMeteor/disableDelayJs.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/WPMeteor/maybeDisableDelayJsField.php
Labels: type: enhancement, 3rd party compatibility, module: delay JS

#4286 Ignore node_modules directories in phpcs
  phpcs.xml
Labels: dev initiative, devops
