Repository wp-media/wp-rocket, pull requests merged in 2021-12, with the labels that each got.

#4524 Fixes #3813 Be more accurate when replacing existing font-display property value
  inc/Engine/Optimization/CSSTrait.php
  tests/Fixtures/inc/Engine/Optimization/CSSTraitApplyFontDisplaySwap.php
  tests/Unit/inc/Engine/Optimization/CSSTraitApplyFontDisplaySwap.php
Labels: type: bug, module: minify CSS

#4526 Exclude js.afterpay.com from Minify JS
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: bug, module: minify JS

#4533 Closes #2200 Add Ezoic to conflict notice with custom explanation
  inc/Plugin.php
  inc/ThirdParty/Plugins/Optimization/Ezoic.php
  inc/ThirdParty/ServiceProvider.php
  inc/admin/ui/notices.php
  tests/Integration/inc/Engine/Preload/Links/AdminSubscriber/addIncompatiblePlugins.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/Ezoic/addConflict.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/Ezoic/addExplanations.php
Labels: type: enhancement, 3rd party compatibility

#4552 Close 4219 - Re-apply font display filter for combined Google Fonts
  inc/Engine/Optimization/GoogleFonts/Combine.php
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV1V2/optimize.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
Labels: type: enhancement, module: google fonts

#4546 Fix 3967 PHP warning generated when unescaped regex character in deferJS field
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/admin/options.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferJs.php
Labels: type: bug

#4556 Update NPM Packages and gulp tasks
  assets/css/wpr-admin-rtl.css
  assets/css/wpr-admin.css
  assets/css/wpr-modal.css
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  gulpfile.js
  package-lock.json
  package.json
  src/scss/abstracts/_mixins.scss
  src/scss/components/_button.scss
  src/scss/components/_fieldsContainer.scss
  src/scss/components/fields/_multiple.scss
Labels: dev initiative, devops

#4562 Patch 4558 - Improve autoptimize notices
  inc/ThirdParty/Plugins/Optimization/Autoptimize.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/Autoptimize/warnWhenAggregateInlineCssAndCPCSSActive.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/Autoptimize/warnWhenJsAggregationAndDelayJsActive.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/Autoptimize/warnWhenAggregateInlineCssAndCPCSSActive.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/Autoptimize/warnWhenJsAggregationAndDelayJsActive.php
Labels: type: enhancement, 3rd party compatibility

#4535 Fixes #2849 Ignore inline scripts content when applying the CDN rewrite
  inc/Engine/CDN/CDN.php
  tests/Fixtures/inc/Engine/CDN/CDN/HTML/siteURL/original.html
  tests/Fixtures/inc/Engine/CDN/CDN/HTML/siteURL/rewrite.html
Labels: type: bug, module: CDN, needs: documentation, needs: qa

#4561 Close 4542 -- Update styles for RocketCDN banner
  assets/css/wpr-admin.css
  assets/img/automatic.svg
  assets/img/bandwidth.svg
  assets/img/configuration.svg
  assets/img/icon-i-circle.svg
  gulpfile.js
  inc/Engine/CDN/RocketCDN/views/cta-big.php
  src/scss/abstracts/_variables.scss
  src/scss/layout/_Rocketcdn.scss
Labels: type: enhancement, Module: dashboard

#4575 Hotfix: Adjust beacon article ID for invalid exclusions
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/CDN/RocketCDN/views/cta-big.php
  inc/admin/options.php
Labels: type: bug, module: Beacon

#4566 Fixes #4364 exclude hcaptcha from JS minification
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: bug, module: minify JS

#4583 Remove comments from the buffer when loading CSS asynchronously
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
Labels: type: bug, module: critical path css

#4568 Fixes #4358 exclude wpformsRecaptchaCallback from delayJS
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: 3rd party compatibility, module: delay JS

#4567 Fixes #4506 Exclude ai-uncode.js from defer js
  inc/3rd-party/themes/uncode.php
Labels: 3rd party compatibility, module: defer JS

#4572 Exclude cdn.enable.co.il/licenses/enable- from JS minification
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#4581 Fixes #3464 Remove empty values in terms urls array
  inc/Engine/Cache/Purge.php
Labels: type: bug, module: cache, needs: qa
