Repository wp-media/wp-rocket, pull requests merged in 2021-03, with the labels that each got.

#3629 Fix #3625 Contact form 7 stop working if dependency scripts are deferred after latest update
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: 3rd party compatibility, module: defer JS, needs: qa, type: bug

#3609 Exclude googleoptimize.com from minification
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: combine JS, module: minify JS, type: enhancement

#3619 Exclude www.idxhome.com from combine/defer JS
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, module: defer JS, type: enhancement

#3634 Exclude wcpv_registration_local from combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, type: enhancement

#3638 Add additional inline JS exclusions from combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, type: enhancement

#3631 Closes #2883 UI improvement for Never Cache URL placeholder
  inc/Engine/Admin/Settings/Page.php
Labels: Module: dashboard, type: enhancement

#3613 Fixes #3528 Add AMP query string to cached query strings when activating the plugin
  inc/ThirdParty/Plugins/Optimization/AMP.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/AMP/isAmpCompatibleCallback.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/isAmpCompatibleCallback.php
Labels: 3rd party compatibility, module: cache, type: bug

#3652 Tiered Pricing Table for WooCommerce nonce action exclusion
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: 3rd party compatibility, module: cache, type: enhancement

#3648 Closes #2812 Add new filter to rewrite srcset to the CDN
  inc/Engine/CDN/CDN.php
Labels: module: CDN, type: enhancement

#3615 Fixes #2041 CDN: prevent incorrect URL on srcset with duplicated relative URLS
  inc/Engine/CDN/CDN.php
  tests/Fixtures/inc/Engine/CDN/CDN/rewriteSrcset.php
  tests/Fixtures/inc/Engine/CDN/Subscriber/rewriteSrcset.php
Labels: module: CDN, type: bug

#3633 Fixes #3114 Apply font-display:swap to CPCSS
  inc/Engine/CriticalPath/DataManager.php
  tests/Fixtures/inc/Engine/CriticalPath/DataManager/saveCPCSS.php
  tests/Fixtures/inc/Engine/CriticalPath/ProcessorService/processGenerate.php
  tests/Integration/inc/Engine/CriticalPath/DataManager/saveCPCSS.php
  tests/Unit/inc/Engine/CriticalPath/DataManager/saveCPCSS.php
Labels: module: critical-path, type: bug

#3607 Fixes #3073 - Remove content from attribute list in get_attribute_names function
  inc/classes/subscriber/Media/class-webp-subscriber.php
  tests/Fixtures/inc/classes/subscriber/Media/WebpSubscriber/convert-to-webp-match.php
Labels: module: webp cache

#3660 Fixes #3658 Force the PSR Container dependency to v1.0.0
  .github/workflows/test_wprocket.yml
  .github/workflows/test_wprocket_legacy.yml
  composer.json
Labels: priority: 🔥critical, severity: critical, type: bug

#3683 Add new inline JS exclusion
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, type: enhancement

#3682 Ignore Pinterest ads "pp" query string
  inc/functions/options.php
Labels: 3rd party compatibility, module: cache, type: enhancement

#3674 eliminate double space
  inc/Engine/License/views/renewal-expired-banner.php
Labels: Module: dashboard, severity: minor, type: bug

#3671 Exclude reload_attached_coupons from inline merge
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: 3rd party compatibility, module: combine JS, type: enhancement

#3665 ARForms - Exclude arf_footer_cl_logic_call from combine js
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: 3rd party compatibility, module: combine JS, type: enhancement

#3688 Fix rest API tests fixtures
  .github/workflows/test_wprocket.yml
  tests/Integration/inc/Engine/CDN/RocketCDN/RESTSubscriber/registerDisableRoute.php
  tests/Integration/inc/Engine/CDN/RocketCDN/RESTSubscriber/registerEnableRoute.php
  tests/Integration/inc/Engine/Support/Subscriber/registerSupportRoute.php
Labels: dev initiative

#3679 Exclude nonce action for Discount Rules and Dynamic Pricing for WC
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: 3rd party compatibility, module: cache, type: enhancement

#3666 Collecting resources and call warmup
  inc/Dependencies/Database/Query.php
  inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php
  inc/Engine/Optimization/RUCSS/Database/Row/ResourceRow.php
  inc/Engine/Optimization/RUCSS/Database/Schemas/Resources.php
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/APIClient.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcherProcess.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
  inc/Engine/Optimization/RegexTrait.php
  inc/Engine/Optimization/SaaS/APIClient.php
  inc/Engine/Optimization/SaaS/Subscriber.php
  inc/Engine/Optimization/SaaS/Warmup/ResourcesFetcher.php
  inc/Engine/Optimization/SaaS/Warmup/ResourcesFinder.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/Engine/Optimization/UrlTrait.php
  inc/Plugin.php
Labels: module: remove unused css, type: sub-task

#3643 RUCSS Phase 3
  inc/Engine/Optimization/APIClient.php
  inc/Engine/Optimization/RUCSS/APIClient.php
  inc/Engine/Optimization/RUCSS/Admin/Database.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Query/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Row/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Schemas/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/Engine/Optimization/Subscriber.php
  inc/Engine/WPRocketUninstall.php
  inc/Plugin.php
  phpcs.xml
  tests/Integration/DBTrait.php
  tests/Integration/inc/Engine/WPRocketUninstall/uninstall.php
  uninstall.php
Labels: module: remove unused css, type: sub-task

#3692 Refactor to combine (nearly) duplicated methods for resource fetching.
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
Labels: module: remove unused css, type: sub-task

#3691 Refactor RUCSS APIClient
  inc/Engine/Optimization/RUCSS/APIClient.php
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
  inc/Engine/Optimization/RUCSS/Frontend/APIClient.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/APIClient.php
Labels: module: remove unused css, type: sub-task

#3281 Resources Warmup
  inc/Dependencies/Database/Base.php
  inc/Dependencies/Database/Column.php
  inc/Dependencies/Database/Queries/Compare.php
  inc/Dependencies/Database/Queries/Date.php
  inc/Dependencies/Database/Queries/Meta.php
  inc/Dependencies/Database/Query.php
  inc/Dependencies/Database/Row.php
  inc/Dependencies/Database/Schema.php
  inc/Dependencies/Database/Table.php
  inc/Engine/Optimization/APIClient.php
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
  inc/Engine/Optimization/RUCSS/Admin/Database.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php
  inc/Engine/Optimization/RUCSS/Database/Query/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Row/ResourceRow.php
  inc/Engine/Optimization/RUCSS/Database/Row/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Schemas/Resources.php
  inc/Engine/Optimization/RUCSS/Database/Schemas/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Frontend/APIClient.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/APIClient.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcherProcess.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
  inc/Engine/Optimization/RegexTrait.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/Engine/Optimization/Subscriber.php
  inc/Engine/Optimization/UrlTrait.php
  inc/Engine/WPRocketUninstall.php
  inc/Plugin.php
  inc/classes/dependencies/mobiledetect/mobiledetectlib/Mobile_Detect.php
  inc/classes/dependencies/wp-media/background-processing/wp-async-request.php
  inc/classes/dependencies/wp-media/background-processing/wp-background-process.php
  licence-data.php
  phpcs.xml
  tests/Integration/AdminTestCase.php
  tests/Integration/AjaxTestCase.php
  tests/Integration/DBTrait.php
  tests/Integration/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Integration/inc/Engine/Admin/Settings/Subscriber/asyncWistiaScript.php
  tests/Integration/inc/Engine/CDN/RocketCDN/NoticesSubscriber/dismissNotice.php
  tests/Integration/inc/Engine/CDN/RocketCDN/NoticesSubscriber/toggleCta.php
  tests/Integration/inc/Engine/License/Subscriber/dismissPromoBanner.php
  tests/Integration/inc/Engine/License/Subscriber/dismissRenewalBanner.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Integration/inc/Engine/WPRocketUninstall/uninstall.php
  uninstall.php
Labels: module: remove unused css, type: sub-task

#3687 Fix purge expired cache issue on some environments (Bitnami)
  inc/Engine/Cache/PurgeExpired/PurgeExpiredCache.php
  tests/Integration/inc/Engine/Cache/PurgeExpired/PurgeExpiredCache/purgeExpiredFiles.php
  tests/Unit/inc/Engine/Cache/PurgeExpired/PurgeExpiredCache/purgeExpiredFiles.php
Labels: module: cache, priority: medium, severity: major, type: bug

#3684 Fix 3219 - Add preconnect link to google fonts only when google fonts are found
  inc/Engine/Optimization/GoogleFonts/AbstractGFOptimization.php
  inc/Engine/Optimization/GoogleFonts/Combine.php
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
  inc/Engine/Optimization/GoogleFonts/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV1V2/optimize.php
Labels: module: google fonts, type: bug

#3610 Closes #3601 Updated minimum required WP version to 5.3
  .github/workflows/test_wprocket_legacy.yml
  wp-rocket.php
Labels: needs: documentation, type: enhancement

#3711 Fixes #3449 rocket_need_api_key() - PHP error during license validation
  inc/functions/admin.php
  inc/functions/options.php
Labels: Module: dashboard, priority: medium, severity: major, type: bug

#3694 Add Unit/Integration tests for RUCSS APIClient Classes
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
  inc/Engine/Optimization/RUCSS/Frontend/APIClient.php
  inc/Engine/Optimization/RUCSS/Warmup/APIClient.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/APIClient/optimize.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/APIClient/sendWarmupRequest.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/APIClient/optimize.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Warmup/APIClient/sendWarmupRequest.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/APIClient/optimize.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/APIClient/sendWarmupRequest.php
Labels: module: remove unused css, test, type: new feature

#3722 Sanitize Remove unused CSS options
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/functions/formatting.php
  tests/Fixtures/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/sanitizeOptions.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/sanitizeOptions.php
  tests/Integration/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/sanitizeOptions.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/sanitizeOptions.php
Labels: module: remove unused css, type: sub-task

#3706 Closes #3667 Don't add preload fonts links when CPCSS is enabled & remove font-face from CPCSS
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  inc/Engine/CriticalPath/ProcessorService.php
  inc/Engine/Preload/Fonts.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/maybeDisablePreloadFonts.php
  tests/Fixtures/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/cpcssHeartbeat.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/maybeDisablePreloadFonts.php
  tests/Integration/inc/Engine/CriticalPath/ProcessorService/processGenerate.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/generate.php
  tests/Integration/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSSSubscriber/maybeDisablePreloadFonts.php
  tests/Unit/inc/Engine/CriticalPath/ProcessorService/processGenerate.php
  tests/Unit/inc/Engine/CriticalPath/RESTWPPost/generate.php
  tests/Unit/inc/Engine/Preload/Fonts/preloadFonts.php
Labels: module: critical-path, module: preload fonts, needs: documentation, type: enhancement

#3731 Closes #3657 Update some documentation links
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
Labels: Module: dashboard, needs: qa, type: enhancement

#3735 Preserve backslash in the used CSS
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Row/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
Labels: module: remove unused css, type: bug
