Repository wp-media/wp-rocket, pull requests merged in 2021-02, with the labels that each got.

#3532 Fix/3440 pricing client api transient
  inc/Engine/License/API/PricingClient.php
  tests/Fixtures/inc/Engine/License/API/PricingClient/getPricingData.php
  tests/Integration/inc/Engine/License/API/PricingClient/getPricingData.php
  tests/Unit/inc/Engine/License/API/PricingClient/getPricingData.php
Labels: type: enhancement

#3548 Closes #3538 Update Mozart dependency
  .github/workflows/test_wprocket.yml
  .github/workflows/test_wprocket_legacy.yml
  composer.json
  inc/Dependencies/RocketLazyload/Assets.php
  inc/Dependencies/RocketLazyload/Iframe.php
  inc/Dependencies/RocketLazyload/Image.php
  inc/classes/dependencies/mobiledetect/mobiledetectlib/Mobile_Detect.php
Labels: dev initiative, type: enhancement

#3493 Apply missing image dimensions for images with a relative path
  inc/Engine/Media/ImageDimensions/ImageDimensions.php
  tests/Fixtures/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
  tests/Integration/inc/Engine/Media/ImageDimensions/Subscriber/specifyImageDimensions.php
  tests/Unit/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
Labels: module: media, type: enhancement

#3554 #3450 Rewrite AMP Compat fixes using generic filters
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Preload/Links/Subscriber.php
  inc/ThirdParty/Plugins/Optimization/AMP.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Preload/Links/Subscriber/addPreloadScript.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Integration/inc/Engine/Preload/Links/Subscriber/addPreloadScript.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
Labels: 3rd party compatibility, type: enhancement

#3556 Update branch name from master to trunk in actions
  .github/workflows/licence_data.yml
  .github/workflows/lint_phpcs.yml
  .github/workflows/lint_phpstan.yml
  .github/workflows/test_wprocket.yml
  .github/workflows/test_wprocket_legacy.yml
Labels: devops

#3561 Fixes #3126 Update GT Metrix IPs listed in the cache check
  inc/classes/Buffer/class-tests.php
Labels: 3rd party compatibility, module: cache, type: enhancement

#3565 Update template for pull requests
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dev initiative, type: enhancement

#3552 Exclude web-story post type from CPCSS generation
  inc/Engine/CriticalPath/CriticalCSS.php
Labels: module: critical-path, type: enhancement

#3553 Exclude application/ld+json scripts from DeferJS
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: module: file optimization, type: enhancement

#3555 Fixes #3521 Add position configuration for Beacon display
  inc/Engine/Admin/Beacon/Beacon.php
  tests/Fixtures/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  tests/Integration/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  tests/Unit/inc/Engine/Admin/Beacon/Beacon/insertScript.php
  views/settings/beacon.php
Labels: module: Beacon, needs: qa, type: bug

#3558 Fixes #3332 Add missing filter parameter in get_rocket_cdn_cnames()
  inc/functions/api.php
Labels: 3rd party compatibility, module: CDN, type: bug

#3547 Fixes #3505 Add new ignored query strings from caching process
  inc/functions/options.php
Labels: module: cache, type: enhancement

#3542 GH-3540 Adds Combine JS exception for AMP mobile redirection script.
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: 3rd party compatibility, module: file optimization, needs: qa, type: enhancement

#3572 Fixes #3035 Prevent WP_CACHE from being defined multiple times in wp-config.php
  inc/Engine/Cache/WPCache.php
Labels: module: cache, type: bug

#3575 Fix the NextGEN gallery regression
  inc/classes/subscriber/third-party/plugins/class-ngg-subscriber.php
Labels: 3rd party compatibility, severity: major, type: regression

#3571 Fixes #3437 Exclude image inside a picture element from lazyload
  inc/Dependencies/RocketLazyload/Image.php
Labels: module: lazyload, type: enhancement

#3583 add "automatically" to description in Dashboard
  views/settings/page-sections/dashboard.php
Labels: Module: dashboard, type: enhancement

#3591 Fixes #3590 Imagify icon not shown in Chrome
  assets/img/imagify-hover.svg
  assets/img/imagify.svg
Labels: Module: dashboard, severity: minor, type: bug

#3574 Fixes #3498 Turn off "Delay JS" option when Safe Mode is activated
  inc/Engine/Admin/Deactivation/DeactivationIntent.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  tests/Fixtures/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
  tests/Integration/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Unit/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
Labels: module: delay JS, type: enhancement

#3573 Fixes #3454 Delay JS is not working if scrolling the page with the mouse wheel
  assets/js/lazyload-scripts.js
  assets/js/lazyload-scripts.min.js
Labels: module: delay JS, severity: moderate, type: bug

#3585 Closes #2839 Remove Age Verify plugin compatibility files
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/age-verify.php
  inc/deprecated/3.8.php
Labels: 3rd party compatibility, type: enhancement

#3580 Closes #1744 Show warning when PageSpeed Ninja is active
  inc/admin/ui/notices.php
Labels: 3rd party compatibility, type: enhancement

#3579 Fixes #3238 Remove empty values in $purge_urls array
  inc/common/purge.php
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketCleanFiles.php
Labels: module: cache, type: bug

#3598 Fixes #2777 Update text formatting in Rocket Analytics modal
  views/settings/page.php
Labels: Module: dashboard, severity: minor, type: bug

#3611 Closes #3113 Stop removing empty lines in the .htaccess -- replacement PR
  inc/functions/htaccess.php
  tests/Fixtures/content/htaccessContent.php
Labels: module: htaccess, type: enhancement

#3606 Fixes #3605 Replace deprecated jQuery methods
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  assets/js/wpr-modal.js
  src/js/global/ajax.js
  src/js/global/fields.js
  src/js/global/main.js
  src/js/lib/jquery.min.js
Labels: 3rd party compatibility, severity: major, type: bug

#3595 Closes #3564 Update minified filename structure to use query string instead of version in filename
  inc/Engine/Optimization/AbstractOptimization.php
  inc/Engine/Optimization/Minify/CSS/Minify.php
  inc/Engine/Optimization/Minify/JS/Minify.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Integration/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Minify/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
Labels: module: minify CSS, module: minify JS, priority: high, type: enhancement

#3587 Fixes #3083 Update delay JS RegEx to ignore space inside script tags
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: module: delay JS, severity: moderate, type: bug

#3582 Guard rocket_defer_inline_exclusions filter return when used by 3rd parties
  inc/Engine/Optimization/DeferJS/DeferJS.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferInlineJs.php
  tests/Integration/inc/Engine/Optimization/DeferJS/Subscriber/deferInlineJs.php
Labels: 3rd party compatibility, module: defer JS, needs: qa, severity: moderate, type: bug

#3550 Fixes #2970 Add new post-type exclusion "cms_block" from CPCSS generation
  inc/Engine/CriticalPath/CriticalCSS.php
Labels: 3rd party compatibility, module: critical-path, type: enhancement

#3614 Remove Unused CSS: Settings part
  inc/Engine/Admin/Deactivation/DeactivationIntent.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/APIClient.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/Engine/Optimization/Subscriber.php
  inc/Plugin.php
  inc/admin/ui/meta-boxes.php
  tests/Fixtures/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/addOptionsFirstTime.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/addOptionsFirstTime.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/addOptions.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/setOptionOnUpdate.php
Labels: module: rucss, type: sub-task

#3463 Closes #3423 Add preconnect tag for CDN URLs
  inc/Engine/CDN/Subscriber.php
  tests/Fixtures/inc/Engine/CDN/Subscriber/add-preconnect-cdn.php
  tests/Integration/inc/Engine/CDN/Subscriber/TestCase.php
  tests/Integration/inc/Engine/CDN/Subscriber/addPreconnectCdn.php
Labels: module: CDN, needs: documentation, type: enhancement

#3603 Closes #3539 Combine @import rules into the minified CSS files
  inc/Engine/Optimization/CSSTrait.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Fixtures/vfs-structure/optimizeMinify.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
Labels: module: file optimization, needs: qa, priority: high, severity: major, type: bug
