Repository wp-media/wp-rocket, pull requests merged in 2021-05, with the labels that each got.

#3872 Start prewarmup only after collecting resources
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcherProcess.php
  inc/Engine/Optimization/RUCSS/Warmup/Scanner.php
  inc/Engine/Optimization/RUCSS/Warmup/ScannerProcess.php
  inc/Engine/Optimization/RUCSS/Warmup/Status/Checker.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
  inc/classes/dependencies/wp-media/background-processing/wp-background-process.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
Labels: module: remove unused css, type: sub-task

#3794 Exclude nonce actions for Improvise theme by noomia
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: 3rd party compatibility, module: cache, type: enhancement

#3806 Exclude Google Ads inline tracking code
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, severity: moderate, type: bug

#3822 Exclude inline JavaScript to prevent the cache_dir_size issue
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, severity: moderate, type: bug

#3828 Exclude Book Your Travel theme's nonce action
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: 3rd party compatibility, module: cache, type: bug, type: enhancement

#3833 Exclude hubpeople.com JS from minification/combination
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: combine JS, severity: moderate, type: bug

#3834 Exclude inline JS: AJAX Search Pro
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, severity: moderate, type: bug

#3862 Exclude inline JavaScript to prevent the cache_dir_size issue
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine CSS, severity: moderate, type: bug

#3868 exclude inlinejs
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, severity: moderate, type: bug

#3864 Pre-warmup RESTAPI endpoint
  inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/Status/RESTWP.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/Subscriber/collectResources.php
Labels: module: remove unused css, type: sub-task

#3873 Delete prewarmup_stats option at the end of the process
  inc/Engine/Optimization/RUCSS/Warmup/Status/Checker.php
Labels: module: remove unused css, type: sub-task

#3882 Reset prewarmup DB fields at the start of scanning process
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/Scanner.php
Labels: module: remove unused css

#3888 Update BerlinDB
  inc/Dependencies/Database/Query.php
Labels: dependencies

#3878 Fix #3877 Delete RUCSS tables on multisite sub-sites when uninstalling WP Rocket
  inc/Engine/WPRocketUninstall.php
Labels: module: remove unused css, multisite, type: bug

#3886 Change enqueue position of the delay JS script depending on exclusions field value
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  inc/Engine/Optimization/DelayJS/Subscriber.php
Labels: module: delay JS, needs: qa, type: enhancement

#3891 Fixes #3880 Prevent incorrect transformation of script inside another inline script
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: module: delay JS, needs: qa, type: bug

#3899 Load DelayJS script right after the opening <head>
  inc/Engine/Optimization/DelayJS/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: module: delay JS, needs: qa, type: enhancement

#3906 RUCSS refactor check_warmup_status
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcherProcess.php
  inc/Engine/Optimization/RUCSS/Warmup/Status/Checker.php
  inc/Engine/Optimization/RUCSS/Warmup/Status/RESTWP.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
  package-lock.json
  package.json
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
Labels: module: remove unused css

#3869 RUCSS - React component
  .babelrc
  assets/css/wpr-admin.css
  assets/js/react/rucss-progress-bar.js
  assets/js/react/rucss-progress-bar.js.map
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  gulpfile.js
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcherProcess.php
  inc/Engine/Optimization/RUCSS/Warmup/Scanner.php
  inc/Engine/Optimization/RUCSS/Warmup/ScannerProcess.php
  inc/Engine/Optimization/RUCSS/Warmup/Status/Checker.php
  inc/Engine/Optimization/RUCSS/Warmup/Status/RESTWP.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
  inc/admin/ui/enqueue.php
  package-lock.json
  package.json
  src/js/react/components/progress-bar.jsx
  src/js/react/containers/rucss-status.jsx
  src/js/react/rucss-progress-bar.js
  src/scss/components/fields/_progressbar.scss
  src/scss/main.scss
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/maybeDisablePreloadFonts.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/clearUsedcssResult.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
  views/settings/fields/checkbox.php
  webpack.config.js
  wp-rocket.php
Labels: module: remove unused css, type: enhancement, type: sub-task

#3908 RUCSS restart prewarmup on theme change
  assets/js/react/rucss-progress-bar.js.map
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Warmup/Scanner.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
Labels: module: remove unused css

#3912 RUCSS fix cache cleaning on warmup completion
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RUCSS/Warmup/Status/Checker.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
Labels: module: remove unused css, needs: qa, severity: major, type: bug

#3917 Exclude lazyload styles from being removed from the page with RUCSS
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: module: remove unused css, needs: qa

#3914 Adjust delayJS settings field spacing
  assets/css/wpr-admin.css
  inc/Engine/Admin/Settings/Page.php
  src/scss/components/_field.scss
  src/scss/components/_fieldWarning.scss
  src/scss/components/fields/_progressbar.scss
Labels: Module: dashboard, needs: qa, severity: minor, type: bug

#3928 Fixes #3478 Enable installation through composer v2
  .github/workflows/lint_phpcs.yml
  .github/workflows/test_php8.yml
  .github/workflows/test_wprocket.yml
  .github/workflows/test_wprocket_legacy.yml
  composer.json
  tests/Integration/bootstrap.php
Labels: dev initiative

#3927 Re-add change to remove disable preload fonts when CPCSS is enabled
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/maybeDisablePreloadFonts.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSSSubscriber/maybeDisablePreloadFonts.php
Labels: module: critical-path, needs: qa, type: regression

#3925 Stop preload while prewarmup is running
  inc/API/preload.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/Status/Checker.php
  inc/Engine/Preload/PreloadSubscriber.php
  inc/Engine/Preload/ServiceProvider.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/clearUsedcssResult.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
  tests/Unit/inc/Engine/Preload/PreloadSubscriber/maybePreloadMobileHomepage.php
Labels: module: preload, module: remove unused css, needs: qa, severity: moderate, type: bug

#3922 Add unit tests code coverage
  .github/workflows/code_coverage.yml
  composer.json
  tests/Unit/inc/Engine/Cache/Purge/purgeDatesArchives.php
  tests/Unit/inc/Engine/Cache/Purge/purgePostTermsUrls.php
  tests/Unit/inc/Engine/Cache/PurgeActionsSubscriber/maybePurgeCacheOnTermChange.php
  tests/Unit/inc/Engine/Cache/PurgeActionsSubscriber/purgeUserCache.php
  tests/Unit/inc/Engine/Cache/PurgeExpired/PurgeExpiredCache/purgeExpiredFiles.php
  tests/Unit/inc/Engine/Cache/PurgeExpired/PurgeExpiredCache/updateLifespanValue.php
  tests/Unit/inc/Engine/Cache/WPCache/findWpConfigPath.php
  tests/Unit/inc/Engine/Cache/WPCache/maybePreventDeactivation.php
  tests/Unit/inc/Engine/Cache/WPCache/updateWPCache.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Settings/displayCpcssMobileSection.php
  tests/Unit/inc/Engine/Media/EmbedsSubscriber/removeEmbedEndpoint.php
  tests/Unit/inc/Engine/Media/EmbedsSubscriber/removeEmbedsRewriteRules.php
  tests/Unit/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Admin/Settings/displayGoogleFontsEnabler.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Admin/Settings/enableGoogleFonts.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
  tests/Unit/inc/ThirdParty/Themes/Divi/addDiviToDescription.php
  tests/Unit/inc/ThirdParty/Themes/Divi/disableImageDimensionsHeightPercentage.php
  tests/Unit/inc/ThirdParty/Themes/Divi/excludeJS.php
  tests/Unit/inc/ThirdParty/Themes/Divi/maybeDisableYoutubePreview.php
  tests/Unit/inc/classes/third-party/plugins/Images/Webp/EWWW_Subscriber/isServingWebp.php
  tests/Unit/inc/classes/third-party/plugins/Images/Webp/EWWW_Subscriber/loadHooks.php
  tests/Unit/inc/classes/third-party/plugins/Images/Webp/EWWW_Subscriber/maybeRemoveImagesCnames.php
  tests/Unit/inc/classes/third-party/plugins/Images/Webp/EWWW_Subscriber/maybeRemoveImagesFromCdnDropdown.php
Labels: dev initiative, devops, test, type: enhancement

#3949 Fix failing tests related to adding prewarmup functionality
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/Scanner.php
Labels: module: remove unused css

#3973 Fixes RUCSS tests: update time to prevent tests failures
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cronCleanRows.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Database/deleteOldResources.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Database/deleteOldUsedCss.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cronCleanRows.php
Labels: test, type: bug
