Repository wp-media/wp-rocket, pull requests merged in 2021-09, with the labels that each got.

#4306 Closes #4303 Update delay JS script
  assets/js/lazyload-scripts.min.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: type: enhancement, module: delay JS

#4302 return false if it is not wc_product
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: type: bug, 3rd party compatibility, module: delay JS

#4307 fix delay js Cube Portfolio show images
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: type: bug, 3rd party compatibility, module: delay JS

#4311 remove cache clear notice after clear used css
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
Labels: type: bug, needs: qa, module: remove unused css

#4300 add mediavine to excluded array delay js
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: type: enhancement, 3rd party compatibility, module: delay JS

#4301 Exclude Perfmatter Lazy Load from Delay JS
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: type: enhancement, 3rd party compatibility, module: delay JS

#4326 Closes #3839 Empty process.php file
  inc/front/process.php
Labels: type: enhancement, module: cache, needs: qa

#4310 fix delete if row not found
  inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php
Labels: type: bug, module: remove unused css

#4312 add delay js script after meta charset if exists
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Optimization/DelayJS/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: type: enhancement, needs: qa, module: delay JS

#4345 Closes #4341 Update minimum WP version to 5.4
  .github/workflows/test_wprocket_legacy.yml
  wp-rocket.php
Labels: type: enhancement

#4346 Closes #3773 Remove disable embeds option
  assets/js/editor/editor.js
  inc/Engine/Admin/Deactivation/DeactivationIntent.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Media/ServiceProvider.php
  inc/Engine/Support/Data.php
  inc/Plugin.php
  inc/admin/upgrader.php
  inc/deprecated/3.10.php
  inc/deprecated/Engine/Media/Embeds/EmbedsSubscriber.php
  tests/Fixtures/inc/Engine/Admin/Deactivation/DeactivationIntent/activateSafeMode.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/emptyOembedResponseData.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/enqueueDisableEmbedsScript.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/removeEmbedEndpoint.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/removeEmbedsRewriteRules.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/removeWpEmbedDependency.php
  tests/Fixtures/inc/Engine/Media/EmbedsSubscriber/removeWpVarsAndHooks.php
  tests/Fixtures/inc/Engine/Support/Data/getSupportData.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/emptyOembedResponseData.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/enqueueDisableEmbedsScript.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/removeEmbedEndpoint.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/removeEmbedsRewriteRules.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/removeWpEmbedDependency.php
  tests/Integration/inc/Engine/Media/EmbedsSubscriber/removeWpVarsAndHooks.php
  tests/Integration/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
  tests/Unit/inc/Engine/Media/EmbedsSubscriber/removeEmbedEndpoint.php
  tests/Unit/inc/Engine/Media/EmbedsSubscriber/removeEmbedsRewriteRules.php
  views/deactivation-intent/form.php
Labels: type: enhancement, module: media

#4352 Closes #3578 Remove delete expired transients option
  inc/Engine/Admin/Database/Optimization.php
  inc/Engine/Admin/Database/OptimizationProcess.php
  inc/Engine/Admin/Database/ServiceProvider.php
  inc/Engine/Admin/Database/Subscriber.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Preload/PreloadSubscriber.php
  inc/Plugin.php
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/deprecated/3.10.php
  phpcs.xml
  tests/Fixtures/inc/Engine/Support/Data/getSupportData.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Unit/inc/Engine/Admin/Settings/Page/asyncWistiaScript.php
  tests/Unit/inc/Engine/Admin/Settings/Page/enqueueRocketScripts.php
Labels: type: enhancement, module: database

#4287 Closes #4245 Optimize CSS Delivery New UI
  assets/css/wpr-admin.css
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  composer.json
  gulpfile.js
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Render.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Admin/Settings/Subscriber.php
  inc/Engine/CriticalPath/Admin/Post.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  inc/Engine/Support/Data.php
  inc/admin/admin.php
  inc/admin/ui/meta-boxes.php
  inc/admin/upgrader.php
  package-lock.json
  src/js/global/fields.js
  src/scss/components/_button.scss
  src/scss/components/_field.scss
  src/scss/components/_fieldWarning.scss
  src/scss/rtl.scss
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Post/cpcssSection.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Settings/displayCpcssMobileSection.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/Unit/inc/admin/rocketNewUpgrade.php
  views/cpcss/activate-cpcss-mobile.php
  views/settings/fields/radio-buttons.php
Labels: type: enhancement, module: critical path css, module: remove unused css

#4319 Closes #4206 Added image/avif to get_rocket_htaccess_mod_expires()
  inc/functions/htaccess.php
  tests/Fixtures/content/htaccessContent.php
Labels: type: enhancement, module: htaccess

#4117 Closes #3804 Move WebP Compatibility option to One-Click Rocket Add-on
  assets/css/wpr-admin.css
  assets/img/logo-webp.svg
  inc/Engine/Admin/Settings/Page.php
  inc/admin/admin.php
  inc/classes/subscriber/Media/class-webp-subscriber.php
  src/scss/components/_addon.scss
  src/scss/components/fields/_radio.scss
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/maybeDisableSettingField.php
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/webpSectionDescription.php
  views/settings/fields/one-click-addon.php
Labels: type: enhancement, module: media, needs: qa

#4353 Closes #3675 Update assets configuration for native lazyload
  inc/Dependencies/RocketLazyload/Assets.php
  inc/Engine/Media/Lazyload/Subscriber.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/content/getInlineLazyloadScript.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/content/insertLazyloadScript.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
  tests/Integration/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
  tests/Unit/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
Labels: type: sub-task, module: lazyload images

#4359 Closes #3676 Use native lazyload in Image class
  inc/Dependencies/RocketLazyload/Image.php
  inc/Engine/Media/Lazyload/Subscriber.php
Labels: type: sub-task, module: lazyload images

#4361 Closes #3678 default lazyload for images value
  inc/admin/upgrader.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
Labels: type: sub-task, module: lazyload images

#4375 Fix some minor issues with new OptimizeCSS UI
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Admin/Settings/Page.php
  src/js/global/fields.js
Labels: type: bug

#4388 Change OCD text & beacon link, CPCSS button text
  inc/Engine/Admin/Settings/Page.php
Labels: type: enhancement, priority: 🔥critical, Module: dashboard
