Repository wp-media/wp-rocket, pull requests merged in 2021-01, with the labels that each got.

#3457 Change the never cache cookie textarea description
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
Labels: Module: dashboard, type: enhancement

#3452 3D-FlipBook - exclude JS from combination and from inline deferring
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: 3rd party compatibility, module: file optimization, type: enhancement

#3460 Add new inline JS exclusion
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: 3rd party compatibility, module: file optimization, type: enhancement

#3446 Fix Fatal error "Path cannot be empty" when combining not readable or not found file
  inc/Engine/Optimization/Minify/CSS/Combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Combine/combine.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Unit/inc/Engine/Optimization/Minify/CSS/Combine/optimize.php
Labels: PHP8, module: file optimization, type: bug

#3445 Force all processed CSS and Google Fonts to use font-display:swap
  inc/Engine/Optimization/CSSTrait.php
  inc/Engine/Optimization/GoogleFonts/AbstractGFOptimization.php
  inc/Engine/Optimization/GoogleFonts/Combine.php
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
  tests/Fixtures/inc/Engine/Optimization/CSSTraitApplyFontDisplaySwap.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
Labels: module: file optimization, type: enhancement

#3442 Update inline defer JS exclusions list
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: 3rd party compatibility, module: file optimization, type: enhancement

#3461 Fixes #3056 Prevent PHP notice when picture element doesn't contain any source element
  inc/Dependencies/RocketLazyload/Image.php
Labels: module: lazyload, type: bug

#3455 Fix Divi Logo image distortion from setting image dimensions
  inc/ThirdParty/Themes/Divi.php
  tests/Fixtures/inc/ThirdParty/Themes/Divi/disableImageDimensionsHeightPercentage.php
  tests/Fixtures/inc/ThirdParty/Themes/Divi/logo.jpg
  tests/Fixtures/inc/ThirdParty/Themes/Divi/my-picture.jpg
  tests/Integration/inc/ThirdParty/Themes/Divi/disableImageDimensionsHeightPercentage.php
  tests/Unit/inc/ThirdParty/Themes/Divi/disableImageDimensionsHeightPercentage.php
Labels: 3rd party compatibility, module: media, needs: qa, type: bug

#3377 Improve support for WP CLI Rocket extension
  inc/API/preload.php
  inc/Engine/Cache/WPCache.php
  inc/common/purge.php
  inc/functions/files.php
Labels: dev initiative

#3390 Mod Pagespeed admin notification
  inc/Plugin.php
  inc/ThirdParty/Plugins/ModPagespeed.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/ModPagespeed/showAdminNotice.php
  tests/Integration/inc/ThirdParty/Plugins/ModPagespeed/showAdminNotice.php
  tests/Unit/inc/ThirdParty/Plugins/ModPagespeed/showAdminNotice.php
Labels: 3rd party compatibility, module: cache, needs: qa, priority: medium

#3393 AIOSEO V4 Compatibility fixes
  inc/3rd-party/plugins/seo/all-in-one-seo-pack.php
Labels: 3rd party compatibility, module: preload, type: bug

#3473 Exclude inlineJS 11-01
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3488 Add new inline JS exclusion
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: file optimization, type: enhancement

#3490 Increase pricing data transient expiration time
  inc/Engine/License/API/PricingClient.php
  tests/Unit/inc/Engine/License/API/PricingClient/getPricingData.php
Labels: Module: dashboard, type: enhancement

#3492 Automatically exclude Programmable Search script from minification
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
Labels: module: file optimization, type: enhancement

#3487 Fixes #3471 Update learn more URL for RocketCDN
  inc/Engine/CDN/RocketCDN/views/cta-big.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
Labels: module: rocketcdn, needs: qa, type: enhancement

#3469 Add additional attributes for the images WebP conversion
  inc/classes/subscriber/Media/class-webp-subscriber.php
Labels: module: media, type: enhancement

#3497 Exclude JetPack Compare Images from lazyload
  inc/Dependencies/RocketLazyload/Image.php
Labels: module: lazyload, type: enhancement

#3495 Added new external JS exclusion - kit.fontawesome.com
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: file optimization, type: enhancement

#3507 Ask support redirect to Help Center
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  src/js/global/beacon.js
  views/settings/page-sections/dashboard.php
Labels: Module: dashboard, type: enhancement

#3508 Fixes #3450 AMP Markup Incompatibilities with preload links and delay JS features
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Preload/Links/Subscriber.php
  inc/ThirdParty/Plugins/Optimization/AMP.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Preload/Links/Subscriber/addPreloadScript.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Integration/inc/Engine/Preload/Links/Subscriber/addPreloadScript.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
Labels: 3rd party compatibility, needs: qa, type: bug

#3517 Fixes #1495: Fix check that allows the cache_root to be built correctly.
  inc/functions/htaccess.php
Labels: module: htaccess, needs: qa, type: bug

#3519 Exclude booqable.js
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: file optimization, type: enhancement

#3524 Add external JS exclusions from minify/combine JS
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: module: file optimization, type: enhancement

#3525 Exclude typekit.net from defer JS
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: module: file optimization, type: enhancement

#3505 Fixes 3465 Add support to platform.sh to our allowed list of staging and development environments
  inc/functions/api.php
Labels: 3rd party compatibility, needs: qa, type: enhancement

#3512 Fixes #3440 Add Pricing Client API timeout transients
  inc/Engine/License/API/PricingClient.php
  tests/Fixtures/inc/Engine/License/API/PricingClient/getPricingData.php
  tests/Integration/inc/Engine/License/API/PricingClient/getPricingData.php
  tests/Unit/inc/Engine/License/API/PricingClient/getPricingData.php
Labels: type: enhancement

#3534 Fix the NextGEN gallery breaking issue
  inc/classes/subscriber/third-party/plugins/class-ngg-subscriber.php
Labels: 3rd party compatibility
