Repository wp-media/wp-rocket, pull requests merged in 2021-07, with the labels that each got.

#3983 remove clear cloudflare cache button from admin bar
  inc/common/admin-bar.php
Labels: module: cache, module: cloudflare, type: enhancement

#4049 delay js exclude scripts with invalid type
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: module: delay JS, type: enhancement

#3907 Update Minify dependency with latest changes
  inc/Dependencies/Minify/CSS.php
  inc/Dependencies/Minify/JS.php
  inc/Dependencies/Minify/Minify.php
  inc/Engine/Optimization/CSSTrait.php
Labels: module: combine CSS, module: combine JS, module: minify CSS, module: minify JS, type: enhancement

#4087 Closes #3997 Optimize images used in the settings page
  assets/img/automatic.svg
  assets/img/bandwidth.svg
  assets/img/bg-activated.svg
  assets/img/configuration.svg
  assets/img/heartbeat-hover.svg
  assets/img/heartbeat.svg
  assets/img/icon-128x128.png
  assets/img/icon-256x256.png
  assets/img/imagify-hover.svg
  assets/img/imagify.svg
  assets/img/infinite.svg
  assets/img/logo-adblock.svg
  assets/img/logo-cloudflare.svg
  assets/img/logo-cloudflare2.svg
  assets/img/logo-facebook.svg
  assets/img/logo-google-analytics.svg
  assets/img/logo-sucuri.png
  assets/img/logo-varnish.svg
  assets/img/logo-wprocket-dark.svg
  assets/img/logo-wprocket-light.svg
  assets/img/picto-wprocket-dark.svg
  assets/img/picto-wprocket-light.svg
  assets/img/play-alt.svg
  assets/img/play-hover.svg
  assets/img/play.svg
  assets/img/plus.svg
  assets/img/warning.svg
Labels: Module: dashboard, type: enhancement

#4106 Minor Update README.md
  README.md
Labels: type: enhancement

#4009 Add new inline JS exclusion to prevent the cache_dir_size issue
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, type: enhancement

#4012 Exclude www.vbt.io/ext/vbtforms.js from JS minification
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: 3rd party compatibility, module: minify JS, type: enhancement

#4039 Closes #3984 Add new external script exclusion from JS minification
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: 3rd party compatibility, module: minify JS, type: enhancement

#4048 Exclude WATI inline JS to prevent the increase of the /cache/min size
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: 3rd party compatibility, module: combine JS, type: enhancement

#4068 Add additional inline exclusions from combine JS
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: 3rd party compatibility, module: combine JS, type: enhancement

#4128 Add new inline JS exclusion to prevent the cache_dir_size issue
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: 3rd party compatibility, module: combine JS, type: enhancement

#4141 Delay JS - Add explanatory text about default exclusions
  assets/css/wpr-admin.css
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  src/scss/components/_field.scss
Labels: module: delay JS, priority: high, type: enhancement

#4158 Update delay JS script to latest version
  assets/js/lazyload-scripts.min.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: module: delay JS, type: enhancement

#4110 Closes #2772 Preload & load Google Fonts asynchronously
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  inc/Engine/Optimization/GoogleFonts/AbstractGFOptimization.php
  inc/Engine/Optimization/GoogleFonts/Combine.php
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
  inc/Engine/Optimization/RegexTrait.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV1V2/optimize.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
Labels: module: google fonts, priority: high, type: enhancement

#4139 Fixes #4072 Prevent high CPU load from resource fetcher
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcherProcess.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
Labels: module: remove unused css, priority: high, severity: major, type: bug

#4142 Auto-exclusion for WooCommerce Product Gallery when Delay JS is enabled
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showEmptyProductGalleryWithDelayJS.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showNotemptyProductGalleryWithDelayJS.php
  tests/Integration/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/WooTrait.php
  tests/Integration/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showEmptyProductGalleryWithDelayJS.php
  tests/Integration/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showNotemptyProductGalleryWithDelayJS.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/cacheEmptyCart.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/maybeRevertUidForNonceActions.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/serveCacheEmptyCart.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showEmptyProductGalleryWithDelayJS.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showNotemptyProductGalleryWithDelayJS.php
Labels: 3rd party compatibility, module: delay JS, type: enhancement

#4168 Add jquery migrate to delay JS exclusions for woocommerce gallery and default list
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showNotemptyProductGalleryWithDelayJS.php
  tests/Integration/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showNotemptyProductGalleryWithDelayJS.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showNotemptyProductGalleryWithDelayJS.php
Labels: 3rd party compatibility, module: delay JS, needs: qa, type: enhancement

#4181 Add phpunit/php-file-iterator v2.0.3 to composer
  composer.json
Labels: dev initiative, devops

#4182 Fix/admin css code tag regression
  assets/css/wpr-admin.css
  inc/Engine/Admin/Settings/Page.php
  src/scss/components/_field.scss
Labels: Module: dashboard, needs: qa, severity: minor, type: regression

#4175 Fixes #4149 Exclude WPML browser redirect script from delay JS
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: 3rd party compatibility, module: delay JS, needs: qa, type: enhancement

#4183 Fixes #4162 Exclude all lazysizes from delay JS
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: 3rd party compatibility, module: delay JS, type: enhancement

#4174 Fixes #4165 Exclude EWWW WebP rewrite inline script from delay JS
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: 3rd party compatibility, module: delay JS, needs: qa, type: enhancement

#4192 Regression with minify JS strip single line comments
  inc/Dependencies/Minify/JS.php
Labels: module: minify JS, severity: moderate, type: regression

#4193 Prevent error if $wp_version is not defined in Delay JS code
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: 3rd party compatibility, severity: critical, type: bug

#4094 Fixes #3690 Correctly clear GoDaddy's Varnish cache
  composer.json
  inc/3rd-party/3rd-party.php
  inc/Engine/Activation/Activation.php
  inc/ThirdParty/Hostings/Godaddy.php
  inc/ThirdParty/Hostings/HostResolver.php
  inc/ThirdParty/Hostings/HostSubscriberFactory.php
  inc/deprecated/3.6.php
  inc/deprecated/3.9.php
  inc/main.php
  tests/Fixtures/inc/ThirdParty/Hostings/Godaddy/Plugin.php
  tests/Fixtures/inc/ThirdParty/Hostings/Godaddy/removeHtmlExpire.php
  tests/Fixtures/inc/ThirdParty/Hostings/Godaddy/varnishField.php
  tests/Fixtures/inc/ThirdParty/Hostings/HostResolver/getHostService.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Hostings/Godaddy/GodaddyTestCase.php
  tests/Integration/inc/ThirdParty/Hostings/Godaddy/cleanDomain.php
  tests/Integration/inc/ThirdParty/Hostings/Godaddy/cleanFile.php
  tests/Integration/inc/ThirdParty/Hostings/Godaddy/cleanHome.php
  tests/Integration/inc/ThirdParty/Hostings/Godaddy/removeHtmlExpire.php
  tests/Integration/inc/ThirdParty/Hostings/Godaddy/varnishField.php
  tests/Integration/inc/ThirdParty/thirdParty.php
  tests/Integration/inc/rocketActivation.php
  tests/Unit/inc/ThirdParty/Hostings/Godaddy/cleanDomain.php
  tests/Unit/inc/ThirdParty/Hostings/Godaddy/cleanFile.php
  tests/Unit/inc/ThirdParty/Hostings/Godaddy/cleanHome.php
  tests/Unit/inc/ThirdParty/Hostings/Godaddy/removeHtmlExpire.php
  tests/Unit/inc/ThirdParty/Hostings/Godaddy/varnishField.php
  tests/Unit/inc/ThirdParty/Hostings/HostResolver/getHostService.php
  tests/Unit/inc/ThirdParty/Hostings/HostSubscriberFactory/getSubscriber.php
Labels: 3rd party compatibility, module: Varnish add-on, type: bug
