Repository wp-media/wp-rocket, pull requests merged in 2021-04, with the labels that each got.

#3746 Closes #3739 Delay JS v2: Admin side
  assets/css/wpr-admin.css
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  inc/functions/formatting.php
  src/js/global/ajax.js
  src/scss/components/fields/_textarea.scss
  tests/Fixtures/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate374.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/sanitizeOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate374.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate3761.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/sanitizeOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/displayRestoreDefaultsButton.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate372.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate374.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate3761.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/sanitizeOptions.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate372.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate374.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/sanitizeOptions.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Subscriber/displayRestoreDefaultsButton.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
Labels: module: delay JS, type: sub-task

#3733 Add tests for warmup resources and refactor code
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RegexTrait.php
  inc/Engine/Optimization/UrlTrait.php
  inc/Engine/WPRocketUninstall.php
  inc/classes/dependencies/mobiledetect/mobiledetectlib/Mobile_Detect.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/Subscriber/collectResources.php
  tests/Integration/DBTrait.php
  tests/Integration/FilesystemTestCase.php
  tests/Integration/FilterTrait.php
  tests/Integration/TestCase.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Warmup/Subscriber/collectResources.php
  tests/Integration/inc/Engine/WPRocketUninstall/uninstall.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/Subscriber/collectResources.php
  tests/Unit/inc/Engine/Preload/Homepage/preload.php
Labels: module: remove unused css, type: sub-task

#3752 Save stylesheet media attribute into DB and send it to warmup
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/Subscriber/collectResources.php
Labels: module: remove unused css, type: sub-task

#3750 RUCSS avoid retries if unprocessed CSS list is empty
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
Labels: module: remove unused css, type: sub-task

#3744 Fixes #3743 Improve i18n of add-ons list separated with ' and '
  inc/Engine/Admin/Settings/Page.php
Labels: Module: dashboard, i18n, needs: qa, type: enhancement

#3753 Closes #3740 Delay JS v2: Front
  assets/js/lazyload-scripts.js
  assets/js/lazyload-scripts.min.js
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  inc/Engine/Optimization/DelayJS/Subscriber.php
  inc/Engine/Optimization/ServiceProvider.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Unit/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: module: delay JS, type: sub-task

#3756 RUCSS cron for auto-retries after 30minutes
  inc/Engine/Cache/Purge.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
Labels: module: remove unused css, type: sub-task

#3767 Add integration tests for Frontend\Subscriber\treeshake()
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/Integration/DBTrait.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/sanitizeOptions.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
Labels: module: remove unused css, type: sub-task

#3754 Fixes #1590 Remove translations on custom radio button in the dashboard
  views/settings/fields/one-click-addon.php
  views/settings/fields/rocket-addon.php
  views/settings/fields/sliding-checkbox.php
  views/settings/page.php
Labels: Module: dashboard, type: enhancement

#3714 Add new inline JS exclusion
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: module: combine JS, type: enhancement

#3726 Add logger rotator
  inc/classes/logger/class-logger.php
Labels: dev initiative, module: Logger, type: enhancement

#3483 Add support for WooCommerce Multilingual with multicurrency and geolocation
  inc/3rd-party/plugins/ecommerce/woocommerce-multilingual.php
Labels: 3rd party compatibility, module: cache, needs: qa, type: enhancement

#3778 Remove old DB tables migrations
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
Labels: module: remove unused css, type: sub-task

#3769 When CPCSS + RUCSS are enabled, load the Used CSS async in a file
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  wp-rocket.php
Labels: module: remove unused css, type: sub-task

#3774 Tests for Database::truncate_used_css_table()
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Database/truncateUsedCssTable.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Database/truncateUsedCssTable.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Database/truncateUsedCssTable.php
Labels: module: remove unused css, type: sub-task

#3766 Closes #3738 Delay JS v2
  assets/css/wpr-admin.css
  assets/js/lazyload-scripts.js
  assets/js/lazyload-scripts.min.js
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  inc/Engine/Optimization/DelayJS/Subscriber.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/functions/formatting.php
  src/js/global/ajax.js
  src/scss/components/fields/_textarea.scss
  tests/Fixtures/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate374.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/sanitizeOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate372.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate374.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate3761.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/sanitizeOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Media/Lazyload/AdminSubscriber/sanitizeExcludeLazyload.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/displayRestoreDefaultsButton.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate372.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate374.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/optionUpdate3761.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/sanitizeOptions.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate372.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/optionUpdate374.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/restoreDefaults.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/sanitizeOptions.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Subscriber/displayRestoreDefaultsButton.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Subscriber/restoreDefaults.php
  tests/Unit/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: module: delay JS, needs: documentation, needs: qa, type: enhancement

#3741 Closes #3597 Remove Facebook and Google tracking add-ons
  inc/Addon/ServiceProvider.php
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Support/Data.php
  inc/Engine/WPRocketUninstall.php
  inc/Plugin.php
  inc/admin/upgrader.php
  inc/deprecated/Engine/Addon/Busting/BustingFactory.php
  inc/deprecated/Engine/Addon/Busting/FileBustingTrait.php
  inc/deprecated/Engine/Addon/FacebookTracking/Subscriber.php
  inc/deprecated/Engine/Addon/GoogleTracking/GoogleAnalytics.php
  inc/deprecated/Engine/Addon/GoogleTracking/GoogleTagManager.php
  inc/deprecated/Engine/Addon/GoogleTracking/Subscriber.php
  inc/deprecated/classes/busting/class-abstract-busting.php
  inc/deprecated/classes/busting/class-facebook-pickles.php
  inc/deprecated/classes/busting/class-facebook-sdk.php
  tests/Fixtures/inc/Addon/FacebookTracking/Subscriber/deleteCache.php
  tests/Fixtures/inc/Addon/GoogleTracking/GoogleAnalytics/replaceUrl.php
  tests/Fixtures/inc/Addon/GoogleTracking/GoogleTagManager/replaceUrl.php
  tests/Fixtures/inc/Addon/GoogleTracking/Subscriber/deleteTrackingCache.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Addon/DeleteTrackingCacheTestCase.php
  tests/Integration/inc/Addon/FacebookTracking/Subscriber/deleteCache.php
  tests/Integration/inc/Addon/GoogleTracking/GoogleAnalytics/replaceUrl.php
  tests/Integration/inc/Addon/GoogleTracking/GoogleTagManager/replaceUrl.php
  tests/Integration/inc/Addon/GoogleTracking/Subscriber/deleteTrackingCache.php
  tests/Integration/inc/Engine/WPRocketUninstall/uninstall.php
  tests/Integration/inc/admin/rocketFirstInstall.php
  tests/Unit/inc/Addon/FacebookTracking/Subscriber/deleteCache.php
  tests/Unit/inc/Addon/GoogleTracking/GoogleAnalytics/replaceUrl.php
  tests/Unit/inc/Addon/GoogleTracking/GoogleTagManager/replaceUrl.php
  tests/Unit/inc/Addon/GoogleTracking/Subscriber/deleteTrackingCache.php
  tests/Unit/inc/admin/rocketFirstInstall.php
  tests/Unit/inc/admin/rocketNewUpgrade.php
Labels: module: Facebook Pixel add-on, module: Google tracking add-on, needs: documentation, type: enhancement

#3782 Warmup javascript files firstly
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
Labels: module: remove unused css, type: sub-task

#3777 Add tests for RUCSS/Admin/Subscriber
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cronCleanRows.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/deleteUsedCssOnUpdateOrDelete.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/scheduleCleanNotCommonlyUsedRows.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCss.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cronCleanRows.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/deleteUsedCssOnUpdateOrDelete.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/scheduleCleanNotCommonlyUsedRows.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCss.php
Labels: module: remove unused css, type: sub-task

#3783 RUCSS Updating Safelist clean WP Rocket cache and UsedCSS DB
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/addDismissScript.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Post/cpcssSection.php
  tests/Fixtures/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/deferInlineJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/deferJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferInlineJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferJs.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Admin/Subscriber/displayGoogleFontsEnabler.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/APIClient/optimize.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/APIClient/sendWarmupRequest.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/sanitizeOptions.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/sanitizeOptions.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
Labels: module: remove unused css, type: sub-task

#3784 Add integration test for create_or_update method
  tests/Integration/inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery/createOrUpdate.php
Labels: module: remove unused css, test, type: sub-task

#3785 Fixes #3667 Add back preload fonts when CPCSS is enabled
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  inc/Engine/CriticalPath/ProcessorService.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/maybeDisablePreloadFonts.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/cpcssHeartbeat.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/maybeDisablePreloadFonts.php
  tests/Integration/inc/Engine/CriticalPath/ProcessorService/processGenerate.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/generate.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSSSubscriber/maybeDisablePreloadFonts.php
  tests/Unit/inc/Engine/CriticalPath/ProcessorService/processGenerate.php
  tests/Unit/inc/Engine/CriticalPath/RESTWPPost/generate.php
Labels: module: critical-path, module: preload fonts, type: bug

#3786 Send the RUCSS value to the support
  inc/Engine/Support/Data.php
  tests/Fixtures/inc/Engine/Support/Data/getSupportData.php
Labels: module: remove unused css, type: sub-task

#3787 Disable preload fonts when RUCSS is enabled and CPCSS is disabled
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/maybeDisablePreloadFonts.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/maybeDisablePreloadFonts.php
Labels: module: critical-path, module: remove unused css, type: sub-task

#3713 Fixes #2776 Process buffer only if there is a closing </html> tag during cache
  inc/classes/Buffer/class-tests.php
Labels: module: cache, needs: qa, type: bug

#3791 Add ?ver query string to used_css file url
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: module: remove unused css, type: enhancement, type: sub-task

#3790 Update Remove Unused CSS code after PHPStan analyzing
  inc/Engine/Optimization/RUCSS/Admin/Database.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcherProcess.php
  inc/functions/files.php
Labels: module: remove unused css, type: enhancement, type: sub-task

#3797 Save full url into warmup DB
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/UrlTrait.php
Labels: module: remove unused css, type: bug

#3799 Add Integration Tests for Frontend/Subscriber and Controller/UsedCss
  .github/workflows/licence_data.yml
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/rucssRetries.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/deleteUsedCssOnUpdateOrDelete.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/maybeDisablePreloadFonts.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/rucssRetries.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Warmup/Subscriber/collectResources.php
Labels: module: remove unused css, type: sub-task

#3795 Update path for Used CSS files
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
Labels: module: remove unused css, type: enhancement, type: sub-task

#3792 add button to clear used_css table
  inc/Engine/Capabilities/Manager.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/classes/class-abstract-render.php
  inc/functions/files.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/clearUsedcssResult.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/clearUsedcssResult.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
  tests/Integration/inc/admin/rocketNewUpgrade.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/clearUsedcssResult.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
  views/settings/page-sections/dashboard.php
Labels: module: remove unused css, type: sub-task

#3800 Fixes escaping of excluded patterns in delay JS
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: module: delay JS, type: bug

#3801 Adjust index.html filename for used_css directory
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: module: remove unused css, type: bug

#3808 Change saas URL
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/APIClient/optimize.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/APIClient/sendWarmupRequest.php
Labels: module: remove unused css

#3811 Handle resources without url schema
  inc/Engine/Optimization/UrlTrait.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
Labels: module: remove unused css

#3810 Apply CDN rewrite on used CSS before saving it to a file
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: module: CDN, module: remove unused css, type: bug

#3812 Bailout if used_css not inserted/updated properly
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: module: remove unused css

#3809 Fixes Delay JS escaping for ? character
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: module: delay JS, type: bug

#3805 Clear used_css directory contents
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssDirectoryCpcssDisabled.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/deleteUsedCssOnUpdateOrDelete.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssDirectoryCpcssDisabled.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/deleteUsedCssOnUpdateOrDelete.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssDirectoryCpcssDisabled.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
Labels: module: remove unused css, type: sub-task

#3814 Send credentials with all requests
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/APIClient/optimize.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/APIClient/sendWarmupRequest.php
Labels: module: remove unused css

#3816 Change resources DB table Index column size (url) to be 150
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
Labels: module: remove unused css

#3818 Exclude ld+json script from delay JS
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: module: delay JS, severity: minor, type: bug

#3817 handle @import CSS at plugin warmup
  inc/Engine/Optimization/CSSTrait.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/UrlTrait.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
Labels: module: remove unused css, type: enhancement

#3819 Remove set_options_on_update() methods
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/setOptionOnUpdate.php
Labels: module: remove unused css, severity: minor, type: bug

#3820 Fix spacing for the remove unused CSS section
  assets/css/wpr-admin.css
  src/scss/components/_field.scss
Labels: module: remove unused css, severity: minor, type: bug

#3825 Refactor import cache code and fix the duplicate content issue edge case
  inc/Engine/Optimization/CSSTrait.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Combine/combine.php
Labels: module: minify CSS, module: remove unused css, type: bug

#3826 Exclude used css file from minification
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
Labels: module: remove unused css, type: bug

#3824 Fix Filename Cases in uninstall.php to work on case-sensitive filesystems
  uninstall.php
Labels: module: remove unused css, type: bug

#3823 RUCSS bugfix: URLs not matching due to html special chars encoding
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/UrlTrait.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
Labels: module: remove unused css, type: bug

#3827 Fixes #3821 Disable the combine JS option and field when delay JS is enabled
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/Admin/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/maybeDisableCombineJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/maybeDisableCombineJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/maybeDisableCombineJs.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/maybeDisableCombineJs.php
Labels: module: combine JS, module: delay JS, type: enhancement

#3829 Minify the resources content at warmup
  inc/Engine/Optimization/CSSTrait.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
Labels: module: remove unused css, type: enhancement

#3832 Remove out of sync RUCSS resources
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery/removeByUrl.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
Labels: module: remove unused css, type: enhancement

#3838 RUCSS - Delete used files only after 1 month
  inc/Engine/Optimization/RUCSS/Admin/Database.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssDirectoryCpcssDisabled.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cronCleanRows.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/deleteUsedCssOnUpdateOrDelete.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssDirectoryCpcssDisabled.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cronCleanRows.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssDirectoryCpcssDisabled.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
Labels: module: remove unused css, type: enhancement

#3846 Add before to the inline JS exclusion pattern for delay JS
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: module: delay JS, type: enhancement

#3847 Fix saving resource contents with backslash issue
  inc/Dependencies/Database/Query.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Row/UsedCSS.php
Labels: module: remove unused css, needs: qa, type: bug

#3858 Fixes #3853 Exclude inline scripts added by wp_localize_script() from delay JS
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/setOptionOnUpdate.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: module: delay JS, needs: qa, type: enhancement

#3855 Fixes #3852 Correctly show updated options values after plugin update
  inc/admin/upgrader.php
Labels: module: delay JS, priority: 🔥critical, severity: moderate, type: bug

#3854 Fixes #3849 Add et_core_page_resource_fallback to delay JS exclusion
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: module: delay JS, needs: qa, severity: moderate, type: bug

#3863 Pre-warmup database changes
  inc/Engine/Optimization/RUCSS/Database/Row/ResourceRow.php
  inc/Engine/Optimization/RUCSS/Database/Schemas/Resources.php
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
Labels: module: remove unused css, type: sub-task

#3861 RUCSS Onboarding step 1: Pages scanner
  inc/Engine/CriticalPath/CriticalCSS.php
  inc/Engine/Optimization/ContentTrait.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/Scanner.php
  inc/Engine/Optimization/RUCSS/Warmup/ScannerProcess.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
  phpcs.xml
  tests/Integration/inc/Engine/Optimization/RUCSS/Warmup/Subscriber/collectResources.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/Subscriber/collectResources.php
Labels: module: remove unused css, type: sub-task

#3867 RUCSS Onboarding: Prevent RUCSS on frontend while pre-warmup runs
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: module: remove unused css, type: sub-task

#3866 RUCSS Onboarding: Warmup status check
  inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Warmup/Status/Checker.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Warmup/Subscriber/collectResources.php
Labels: module: remove unused css, type: sub-task

#3870 Use time instead of current_time
  inc/Engine/Optimization/RUCSS/Warmup/Status/Checker.php
Labels: module: remove unused css, type: bug

#3871 Set prewarmup field into DB
  inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php
  inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher.php
  inc/Engine/Optimization/RUCSS/Warmup/Status/Checker.php
  inc/Engine/Optimization/RUCSS/Warmup/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Warmup/ResourceFetcher/Handle.php
Labels: module: remove unused css, type: sub-task
