Repository wp-media/wp-rocket, pull requests merged in 2022-06, with the labels that each got.

#4911 Closes #2842 delete minified files on theme switch
  inc/Engine/Optimization/AdminServiceProvider.php
  inc/Engine/Optimization/Minify/AdminSubscriber.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/Optimization/Minify/AdminSubscriber/cleanMinifyAll.php
  tests/Integration/inc/Engine/Optimization/Minify/AdminSubscriber/cleanMinifyAll.php
  tests/Unit/inc/Engine/Optimization/Minify/AdminSubscriber/cleanMinifyAll.php
Labels: module: minify CSS, module: minify JS

#5027 Fixes #5026 Exclude cdn.amcharts.com from Minify JS
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#5033 Closes #4930 Database structure for preload
  inc/Engine/Preload/Database/Queries/Cache.php
  inc/Engine/Preload/Database/Rows/CacheRow.php
  inc/Engine/Preload/Database/Schemas/Cache.php
  inc/Engine/Preload/Database/Tables/Cache.php
  inc/Engine/Preload/ServiceProvider.php
  inc/Engine/WPRocketUninstall.php
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/createOrNothing.php
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/createOrUpdate.php
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/deleteByUrl.php
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/getRowsByUrl.php
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/removeAllNotAccessedRows.php
  tests/Integration/DBTrait.php
  tests/Integration/inc/Engine/WPRocketUninstall/uninstall.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/createOrNothing.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/createOrUpdate.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/deleteByUrl.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/getRowsByUrl.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/removeAllNotAccessedRows.php
  tests/Unit/inc/Engine/Preload/PartialPreloadSubscriber/maybeDispatch.php
  tests/Unit/inc/Engine/Preload/PartialPreloadSubscriber/preloadAfterAutomaticCachePurge.php
  uninstall.php
Labels: module: preload, type: sub-task

#5067 Closes #4933 Update cache row action
  inc/Engine/Optimization/Buffer/Optimization.php
  inc/Engine/Optimization/Buffer/Subscriber.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/Engine/Preload/Subscriber.php
Labels: module: preload, type: sub-task

#4929 Fixes #4875 Clean Varnish cache when used CSS is completed or purged
  composer.json
  inc/Addon/Varnish/Subscriber.php
  tests/Fixtures/inc/Addon/Varnish/Subscriber/cleanFile.php
  tests/Integration/inc/Addon/Varnish/Subscriber/cleanFile.php
Labels: type: enhancement, 3rd party compatibility

#5061 Closes #5003 on respecting site trailing slash
  inc/Engine/Admin/Settings/ServiceProvider.php
  inc/Engine/Cache/Config/Subscriber.php
  inc/Engine/Cache/ServiceProvider.php
  inc/Plugin.php
  inc/classes/Buffer/class-cache.php
  inc/classes/Buffer/class-config.php
  inc/functions/files.php
Labels: type: enhancement, module: cache

#5070 Closes #4932 Create cron and scheduled actions for preload
  inc/Engine/Common/Queue/PreloadQueueRunner.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Preload/Admin/Settings.php
  inc/Engine/Preload/Admin/Subscriber.php
  inc/Engine/Preload/Controller/LoadInitialSitemap.php
  inc/Engine/Preload/Controller/PreloadUrl.php
  inc/Engine/Preload/Controller/Queue.php
  inc/Engine/Preload/Cron/Subscriber.php
  inc/Engine/Preload/Database/Queries/Cache.php
  inc/Engine/Preload/Frontend/Subscriber.php
  inc/Engine/Preload/ServiceProvider.php
  inc/Engine/Preload/Subscriber.php
  inc/Engine/WPRocketUninstall.php
  inc/Plugin.php
  tests/Fixtures/Action_Scheduler/ActionScheduler_Abstract_QueueRunner.php
  tests/Fixtures/WP_Filesystem_Direct.php
  tests/Fixtures/WP_Sitemaps_Index.php
  tests/Fixtures/inc/Engine/Common/Queue/PreloadQueueRunner/addWpCronSchedule.php
  tests/Fixtures/inc/Engine/Common/Queue/PreloadQueueRunner/doBatch.php
  tests/Fixtures/inc/Engine/Common/Queue/PreloadQueueRunner/init.php
  tests/Fixtures/inc/Engine/Common/Queue/PreloadQueueRunner/maybeDispatchAsyncRequest.php
  tests/Fixtures/inc/Engine/Common/Queue/PreloadQueueRunner/run.php
  tests/Fixtures/inc/Engine/Preload/Admin/Settings/maybeDisplayPreloadNotice.php
  tests/Fixtures/inc/Engine/Preload/Admin/Subscriber/maybeInitPreloadQueue.php
  tests/Fixtures/inc/Engine/Preload/Controller/LoadInitialSitemap/loadInitialSitemap.php
  tests/Fixtures/inc/Engine/Preload/Controller/PreloadUrl/getMobileUserAgentPrefix.php
  tests/Fixtures/inc/Engine/Preload/Controller/PreloadUrl/preloadUrl.php
  tests/Fixtures/inc/Engine/Preload/Controller/PreloadUrl/processPendingJobs.php
  tests/Fixtures/inc/Engine/Preload/Cron/Subscriber/addInterval.php
  tests/Fixtures/inc/Engine/Preload/Cron/Subscriber/scheduleCleanNotCommonlyUsedRows.php
  tests/Fixtures/inc/Engine/Preload/Cron/Subscriber/schedulePendingJobs.php
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/getPendingJobs.php
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/makeStatusComplete.php
  tests/Fixtures/inc/Engine/Preload/Frontend/SitemapParser/getLinks.php
  tests/Fixtures/inc/Engine/Preload/Frontend/Subscriber/preloadUrl.php
  tests/Integration/.phpunit.result.cache
  tests/Integration/DBTrait.php
  tests/Integration/inc/Engine/Preload/Frontend/Subscriber/preloadUrl.php
  tests/Unit/.phpunit.result.cache
  tests/Unit/bootstrap.php
  tests/Unit/inc/Engine/Common/Queue/PreloadQueueRunner/addWpCronSchedule.php
  tests/Unit/inc/Engine/Common/Queue/PreloadQueueRunner/doBatch.php
  tests/Unit/inc/Engine/Common/Queue/PreloadQueueRunner/init.php
  tests/Unit/inc/Engine/Common/Queue/PreloadQueueRunner/instance.php
  tests/Unit/inc/Engine/Common/Queue/PreloadQueueRunner/maybeDispatchAsyncRequest.php
  tests/Unit/inc/Engine/Common/Queue/PreloadQueueRunner/run.php
  tests/Unit/inc/Engine/Preload/Admin/Settings/maybeDisplayPreloadNotice.php
  tests/Unit/inc/Engine/Preload/Admin/Subscriber/maybeInitPreloadQueue.php
  tests/Unit/inc/Engine/Preload/Controller/LoadInitialSitemap/loadInitialSitemap.php
  tests/Unit/inc/Engine/Preload/Controller/PreloadUrl/getMobileUserAgentPrefix.php
  tests/Unit/inc/Engine/Preload/Controller/PreloadUrl/preloadUrl.php
  tests/Unit/inc/Engine/Preload/Controller/PreloadUrl/processPendingJobs.php
  tests/Unit/inc/Engine/Preload/Cron/Subscriber/addInterval.php
  tests/Unit/inc/Engine/Preload/Cron/Subscriber/scheduleCleanNotCommonlyUsedRows.php
  tests/Unit/inc/Engine/Preload/Cron/Subscriber/schedulePendingJobs.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/getPendingJobs.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/makeStatusComplete.php
  uninstall.php
Labels: module: preload, type: sub-task

#5116 Closes #5076 Preserve RUCSS clean rows event if RUCSS option is disabled
  inc/Engine/Optimization/RUCSS/Cron/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronCleanRows.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronCleanRows.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/scheduleCleanNotCommonlyUsedRows.php
Labels: type: enhancement, module: remove unused css

#5123 Fixing the typo in the use declaration
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
Labels: type: bug, module: Beacon

#5140 New Preload: Added check for excluded urls
  inc/Engine/Preload/Admin/Subscriber.php
  inc/Engine/Preload/Controller/CheckExcludedTrait.php
  inc/Engine/Preload/Controller/ClearCache.php
  inc/Engine/Preload/Frontend/FetchSitemap.php
  tests/Fixtures/inc/Engine/Preload/Controller/CheckExcludedTrait/isExcluded.php
  tests/Fixtures/inc/Engine/Preload/Controller/ClearCache/partialClean.php
  tests/Fixtures/inc/Engine/Preload/Frontend/FetchSitemap/parseSitemap.php
  tests/Unit/inc/Engine/Preload/Controller/CheckExcludedTrait/isExcluded.php
  tests/Unit/inc/Engine/Preload/Controller/ClearCache/partialClean.php
  tests/Unit/inc/Engine/Preload/Controller/PreloadUrl/preloadUrl.php
  tests/Unit/inc/Engine/Preload/Frontend/FetchSitemap/parseSitemap.php
Labels: module: preload, type: sub-task

#4647 Exclude WP Content Copy Protection & No Right Click from DJE
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: 3rd party compatibility, needs: qa, module: delay JS

#5136 Closes #5121 on Remove rocket CDN subscription link
  inc/Engine/CDN/RocketCDN/AdminPageSubscriber.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/displayManageSubscription.php
  tests/Integration/inc/Engine/CDN/RocketCDN/AdminPageSubscriber/displayManageSubscription.php
Labels: type: enhancement, module: rocketcdn, module: user interface

#5101 Closes #5065 on RUCSS wrong home url detection with wpml
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/i18n/wpml.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Plugin.php
  inc/ThirdParty/Plugins/I18n/WPML.php
  inc/ThirdParty/ServiceProvider.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css

#5095 RUCSS: preserve inline style tags on the page with a filter and only delete the CSS content
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: type: enhancement, module: remove unused css

#5023 Closes #5010 Remove WPR metabox from elementor template
  inc/ThirdParty/Plugins/PageBuilder/Elementor.php
  inc/admin/admin.php
  inc/admin/ui/meta-boxes.php
  inc/common/admin-bar.php
Labels: type: enhancement, 3rd party compatibility

#5043 Closes #4802 Use filesystem to store the used CSS content
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/Filesystem.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Row/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Schemas/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/Filesystem/deleteAllUsedCss.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/Filesystem/deleteUsedCss.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/Filesystem/getUsedCss.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/Filesystem/writeUsedCss.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/Filesystem/deleteAllUsedCss.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/Filesystem/deleteUsedCss.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/Filesystem/getUsedCss.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/Filesystem/writeUsedCss.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
  wp-rocket.php
Labels: type: enhancement, module: remove unused css

#5120 Closes #5115 - New Preload: thirdpary classes
  .gitignore
  composer.json
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/jetpack.php
  inc/3rd-party/plugins/seo/all-in-one-seo-pack.php
  inc/3rd-party/plugins/seo/rank-math-seo.php
  inc/3rd-party/plugins/seo/seopress.php
  inc/3rd-party/plugins/seo/the-seo-framework.php
  inc/Plugin.php
  inc/ThirdParty/Plugins/Jetpack.php
  inc/ThirdParty/Plugins/SEO/AllInOneSEOPack.php
  inc/ThirdParty/Plugins/SEO/RankMathSEO.php
  inc/ThirdParty/Plugins/SEO/SEOPress.php
  inc/ThirdParty/Plugins/SEO/TheSEOFramework.php
  inc/ThirdParty/ServiceProvider.php
  inc/deprecated/3.12.php
  tests/Fixtures/inc/ThirdParty/Plugins/Jetpack/addJetpackSitemap.php
  tests/Fixtures/inc/ThirdParty/Plugins/Jetpack/functions.php
  tests/Fixtures/inc/ThirdParty/Plugins/SEO/AllInOneSEOPack/addAllInOneSeoSitemap.php
  tests/Fixtures/inc/ThirdParty/Plugins/SEO/RankMathSEO/fixtures.php
  tests/Fixtures/inc/ThirdParty/Plugins/SEO/RankMathSEO/rocketSitemap.php
  tests/Fixtures/inc/ThirdParty/Plugins/SEO/SEOPress/addSeopressSitemap.php
  tests/Fixtures/inc/ThirdParty/Plugins/SEO/SEOPress/fixtures.php
  tests/Fixtures/inc/ThirdParty/Plugins/SEO/TheSEOFramework/addTsfSitemapToPreload.php
  tests/Fixtures/inc/ThirdParty/Plugins/SEO/TheSEOFramework/fixtures.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Plugins/Jetpack/addJetpackSitemap.php
  tests/Integration/inc/ThirdParty/Plugins/SEO/AllInOneSEOPack/addAllInOneSeoSitemap.php
  tests/Integration/inc/ThirdParty/Plugins/SEO/RankMathSEO/rocketSitemap.php
  tests/Integration/inc/ThirdParty/Plugins/SEO/SEOPress/addSeopressSitemap.php
  tests/Integration/inc/ThirdParty/Plugins/SEO/TheSEOFramework/addTsfSitemapToPreload.php
  tests/Unit/bootstrap.php
  tests/Unit/inc/ThirdParty/Plugins/Jetpack/addJetpackSitemap.php
  tests/Unit/inc/ThirdParty/Plugins/SEO/AllInOneSEOPack/addAllInOneSeoSitemap.php
  tests/Unit/inc/ThirdParty/Plugins/SEO/RankMathSEO/rocketSitemap.php
  tests/Unit/inc/ThirdParty/Plugins/SEO/SEOPress/addSeopressSitemap.php
  tests/Unit/inc/ThirdParty/Plugins/SEO/TheSEOFramework/addTsfSitemapToPreload.php
Labels: 3rd party compatibility, module: preload, type: sub-task

#5151 By default keep the style tags after applying RUCSS and remove only the content
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/HTML/filtred.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css

#5124 Closes #5104 with fatal error on rollback from 3.11.3 to 3.10.9
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/admin/admin.php
Labels: type: bug, module: tools

#5072 Closes #5063 Force separate mobile cache for JetMenu
  inc/classes/subscriber/third-party/plugins/class-mobile-subscriber.php
Labels: type: enhancement, 3rd party compatibility, module: cache

#5162 New preload: Fix a problem where the check from the `jetpack_sitemap_uri` function is done too early in the process.
  inc/ThirdParty/Plugins/Jetpack.php
Labels: module: preload, type: sub-task

#5161 New preload: Removed the preload button and adapted logic in the preload.php file
  inc/API/preload.php
  inc/common/admin-bar.php
  inc/deprecated/3.12.php
  inc/main.php
Labels: module: preload, type: sub-task

#5173 Update #5027 add new Geo Maps plugin exclusion
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: type: enhancement, 3rd party compatibility, module: combine JS

#5176 New preload: fix warning from cron
  inc/Engine/Common/Queue/PreloadQueueRunner.php
  tests/Fixtures/inc/Engine/Common/Queue/PreloadQueueRunner/addWpCronSchedule.php
  tests/Fixtures/inc/Engine/Common/Queue/PreloadQueueRunner/init.php
  tests/Unit/inc/Engine/Common/Queue/PreloadQueueRunner/addWpCronSchedule.php
  tests/Unit/inc/Engine/Common/Queue/PreloadQueueRunner/init.php
Labels: module: preload, type: sub-task

#5175 New preload: Removed `wpr-isParent` class that added a useless margin on the configs
  inc/Engine/Admin/Settings/Page.php
Labels: module: preload, type: sub-task

#5167 Guard RUCSS filter returns against array of null
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: type: bug, module: remove unused css

#5171 Closes #5169 - Hide related RUCSS notices on denied folder permission
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displayProcessingNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displayProcessingNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
Labels: type: bug, module: remove unused css

#5046 Closes #4988 Update delay js script & HTML markup
  assets/js/lazyload-scripts.min.js
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: type: bug, module: delay JS

#5143 Closes #5126 - Fixes background image breaking for lazyload with native lazyload
  inc/Dependencies/RocketLazyload/Assets.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
Labels: type: bug, module: lazyload images
