Repository wp-media/wp-rocket, pull requests merged in 2022-12, with the labels that each got.

#5609 Possible fix for issue #5608 (ImageDimensions::is_external_file returns false for external files...)
  inc/Engine/Media/ImageDimensions/ImageDimensions.php
Labels: type: bug, module: add missing dimensions

#5604 Closes #5599 The /feed/ url is cached and optimized by default on 3.12.3.2
  inc/Engine/Cache/Config/ConfigSubscriber.php
  inc/Engine/Cache/ServiceProvider.php
  inc/functions/options.php
  tests/Fixtures/inc/Engine/Cache/Config/ConfigSubscriber/changeCacheRejectUriWithPermalink.php
  tests/Fixtures/inc/functions/getRocketCacheRejectUri.php
  tests/Integration/inc/Engine/Cache/Config/ConfigSubscriber/changeCacheRejectUriWithPermalink.php
  tests/Unit/inc/Engine/Cache/Config/ConfigSubscriber/changeCacheRejectUriWithPermalink.php
Labels: type: bug, module: cache

#5575 This line is not needed since #3483
  inc/ThirdParty/Plugins/I18n/WPML.php
Labels: type: enhancement, 3rd party compatibility

#5615 Closes #5519 Never cache this page is not applied immediately after saving a post
  inc/functions/files.php
Labels: type: bug, module: cache

#5256 Closes #4988 Update delay js script & HTML markup
  assets/js/lazyload-scripts.min.js
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
Labels: type: bug, module: delay JS

#5618 Closes #4327 Add `no_optimize` to query string added to RUCSS URL request
  inc/Engine/Optimization/RUCSS/Frontend/APIClient.php
Labels: 3rd party compatibility, module: remove unused css

#5623 Closes #5506 Clean used CSS on permalink structure change
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/deleteUsedCssOnUpdateOrDelete.php
Labels: type: enhancement, module: remove unused css

#5607 Feature 5094: export settings when activating safe mode
  assets/css/wpr-admin.css
  assets/css/wpr-admin.min.css
  assets/css/wpr-modal.css
  assets/js/wpr-admin-common.js
  inc/Engine/Admin/API/ServiceProvider.php
  inc/Engine/Admin/API/Subscriber.php
  inc/Engine/Admin/Settings/Subscriber.php
  inc/Plugin.php
  inc/admin/admin.php
  inc/functions/options.php
  views/deactivation-intent/form.php
Labels: feature request

#5592 Closes #5530 Add new delay JS option to frontend exclusions
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Unit/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: type: sub-task, module: delay JS

#5632 Closes #3477 - Subsites on multisite loading incorrect config file
  inc/classes/Buffer/class-config.php
Labels: type: bug, module: cache, multisite
