Repository wp-media/wp-rocket, pull requests merged in 2022-10, with the labels that each got.

#5224 Closes #5149 - remove wpr options from not public post types
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/ThirdParty/Plugins/PageBuilder/Elementor.php
  inc/admin/admin.php
  inc/admin/ui/meta-boxes.php
  inc/common/admin-bar.php
  inc/functions/admin.php
Labels: type: enhancement, module: user interface

#5473 Closes #5457 Add raidbox staging URL to list
  inc/functions/api.php
Labels: type: enhancement, 3rd party compatibility, noQA

#5430 Closes #5412 - exclude rocket lazyload script from delayjs
  composer.json
  inc/Plugin.php
  inc/ThirdParty/Plugins/Optimization/RocketLazyLoad.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/RocketLazyLoad/excludeRocketLazyLoadScript.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/RocketLazyLoad/excludeRocketLazyLoadScript.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/RocketLazyLoad/excludeRocketLazyLoadScript.php
Labels: 3rd party compatibility, module: delay JS

#5437 Closes #5423 Adjust preload notice
  inc/Engine/Deactivation/Deactivation.php
  inc/Engine/Preload/Admin/Settings.php
  inc/Engine/Preload/Subscriber.php
  inc/common/purge.php
  tests/Fixtures/inc/Engine/Preload/Admin/Settings/maybeDisplayPreloadNotice.php
  tests/Unit/inc/Engine/Preload/Admin/Settings/maybeDisplayPreloadNotice.php
  tests/Unit/inc/common/doAdminPostRocketPurgeCache.php
Labels: type: enhancement, module: preload, module: user interface

#5427 Closes 5382: Excluded url with extensions
  inc/Engine/Preload/Database/Queries/Cache.php
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/createOrNothing.php
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/createOrUpdate.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/createOrNothing.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/createOrUpdate.php
Labels: type: enhancement, module: preload

#5419 Closes #5397 Update license renewal banners content
  inc/Engine/License/Renewal.php
  inc/Engine/License/views/renewal-expired-banner-ocd-disabled.php
  inc/Engine/License/views/renewal-expired-banner-ocd.php
  inc/Engine/License/views/renewal-expired-banner.php
  inc/Engine/License/views/renewal-soon-banner.php
  tests/Fixtures/inc/Engine/License/Renewal/addExpiredBubble.php
  tests/Fixtures/inc/Engine/License/Renewal/displayRenewalExpiredBanner.php
  tests/Fixtures/inc/Engine/License/Renewal/displayRenewalSoonBanner.php
  tests/Fixtures/inc/Engine/License/Subscriber/addExpiredBubble.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayRenewalExpiredBanner.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayRenewalSoonBanner.php
  tests/Unit/inc/Engine/License/Renewal/addExpiredBubble.php
  tests/Unit/inc/Engine/License/Renewal/displayRenewalExpiredBanner.php
  tests/Unit/inc/Engine/License/Renewal/displayRenewalSoonBanner.php
Labels: type: enhancement, module: user interface

#5449 Closes 2441: Fixed warning when temporary file can't be created
  inc/classes/Buffer/class-cache.php
Labels: type: bug

#5125 Closes #3703 Use dynamic lists for frontend classes
  assets/css/wpr-admin.css
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  dynamic-lists.json
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Optimization/DeferJS/ServiceProvider.php
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  inc/Engine/Optimization/DynamicLists/DynamicLists.php
  inc/Engine/Optimization/DynamicLists/ServiceProvider.php
  inc/Engine/Optimization/DynamicLists/Subscriber.php
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/Engine/Optimization/Minify/JS/Combine.php
  inc/Engine/Optimization/Minify/JS/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/functions/options.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/deferInlineJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/DeferJS/deferJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferInlineJs.php
  tests/Fixtures/inc/Engine/Optimization/DeferJS/Subscriber/deferJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/DynamicLists/getCacheIgnoredParameters.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/DynamicLists/getCombineJsExcludedInline.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/DynamicLists/getJsMinifyExcludedExternal.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/DynamicLists/getJsMoveAfterCombine.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/DynamicLists/restUpdateResponse.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/Subscriber/addCacheIgnoredParameters.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/Subscriber/addCombineJsExcludedInline.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/Subscriber/addMinifyExcludedExternalJs.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/Subscriber/addMoveAfterCombineJs.php
  tests/Integration/inc/Engine/Optimization/DeferJS/Subscriber/deferInlineJs.php
  tests/Integration/inc/Engine/Optimization/DeferJS/Subscriber/deferJs.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Integration/inc/Engine/Optimization/DynamicLists/Subscriber/addCacheIgnoredParameters.php
  tests/Integration/inc/Engine/Optimization/DynamicLists/Subscriber/addCombineJsExcludedInline.php
  tests/Integration/inc/Engine/Optimization/DynamicLists/Subscriber/addMinifyExcludedExternalJs.php
  tests/Integration/inc/Engine/Optimization/DynamicLists/Subscriber/addMoveAfterCombineJs.php
  tests/Integration/inc/Engine/Optimization/DynamicLists/Subscriber/updateLists.php
  tests/Integration/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/addOption.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/deferInlineJs.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/deferJs.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/excludeJqueryCombine.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/excludeJqueryUpgrade.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/getExcluded.php
  tests/Unit/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Unit/inc/Engine/Optimization/DynamicLists/DynamicLists/clearScheduleListsUpdate.php
  tests/Unit/inc/Engine/Optimization/DynamicLists/DynamicLists/getCacheIgnoredParameters.php
  tests/Unit/inc/Engine/Optimization/DynamicLists/DynamicLists/getCombineJsExcludedInline.php
  tests/Unit/inc/Engine/Optimization/DynamicLists/DynamicLists/getJsMinifyExcludedExternal.php
  tests/Unit/inc/Engine/Optimization/DynamicLists/DynamicLists/getJsMoveAfterCombine.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/Minify/JS/Minify/optimize.php
Labels: module: cache, type: sub-task, module: minify JS, module: combine JS, module: defer JS, module: delay JS

#5494 Fixed the issue with the url
  inc/Engine/Preload/Database/Queries/Cache.php
Labels: type: bug, module: preload

#5488 Fixes warning in unit tests related to expectation after Mockery v1.5.1 update
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSS/cleanCriticalCss.php
  tests/Fixtures/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronCleanRows.php
  tests/Fixtures/inc/Engine/Preload/Admin/Settings/maybeDisplayPreloadNotice.php
  tests/Fixtures/inc/Engine/Preload/Frontend/FetchSitemap/parseSitemap.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronCleanRows.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Settings/displayCpcssMobileSection.php
  tests/Unit/inc/Engine/CriticalPath/CriticalCSS/cleanCriticalCss.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cronCleanRows.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronCleanRows.php
  tests/Unit/inc/Engine/Preload/Activation/activate.php
  tests/Unit/inc/Engine/Preload/Admin/Settings/maybeDisplayPreloadNotice.php
  tests/Unit/inc/Engine/Preload/Cron/Subscriber/scheduleCleanNotCommonlyUsedRows.php
  tests/Unit/inc/Engine/Preload/Frontend/FetchSitemap/parseSitemap.php
  tests/Unit/inc/classes/third-party/plugins/Images/Webp/EWWW_Subscriber/loadHooks.php
Labels: type: bug, test

#5447 Closes #5428 Allow prioritization of preloaded urls
  inc/Engine/Preload/Database/Queries/Cache.php
  inc/ThirdParty/Plugins/SEO/AllInOneSEOPack.php
  inc/ThirdParty/Plugins/SEO/RankMathSEO.php
  inc/ThirdParty/Plugins/SEO/SEOPress.php
  inc/ThirdParty/Plugins/SEO/TheSEOFramework.php
  inc/ThirdParty/Plugins/SEO/Yoast.php
  tests/Integration/inc/ThirdParty/Plugins/SEO/AllInOneSEOPack/addAllInOneSeoSitemap.php
  tests/Integration/inc/ThirdParty/Plugins/SEO/RankMathSEO/rocketSitemap.php
  tests/Integration/inc/ThirdParty/Plugins/SEO/SEOPress/addSeopressSitemap.php
  tests/Integration/inc/ThirdParty/Plugins/SEO/TheSEOFramework/addTsfSitemapToPreload.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/getPendingJobs.php
Labels: type: enhancement, module: preload

#5073 set default empty array when getting "cache_reject_uri" option
  inc/admin/ui/meta-boxes.php
Labels: type: bug, module: cache

#5421 Closes #5405 Update exclude CSS more info link
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
Labels: type: enhancement, module: Beacon

#5402 Fixes #5374: webp problem on preload
  inc/Engine/Preload/Controller/PreloadUrl.php
  tests/Fixtures/inc/Engine/Preload/Controller/PreloadUrl/isAlreadyCached.php
  tests/Unit/inc/Engine/Preload/Controller/PreloadUrl/isAlreadyCached.php
Labels: type: enhancement, module: preload, module: webp cache

#5476 Fixes #5471 Prevent fatal error if sitemaps value is not an array
  inc/Engine/Preload/Controller/LoadInitialSitemap.php
  inc/ThirdParty/Plugins/SEO/Yoast.php
Labels: type: bug, module: preload

#5467 Fixes #5456 Update mobile detect to v2.8.39
  inc/classes/dependencies/mobiledetect/mobiledetectlib/Mobile_Detect.php
Labels: dependencies

#5433 Closes #5394 Exclude URLs from preload
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Preload/Admin/Subscriber.php
  inc/Engine/Preload/Controller/CheckExcludedTrait.php
  inc/Engine/Preload/Controller/ClearCache.php
  inc/Engine/Preload/Controller/PreloadUrl.php
  inc/Engine/Preload/Frontend/FetchSitemap.php
  inc/Engine/Preload/Subscriber.php
  inc/admin/options.php
  inc/functions/formatting.php
  tests/Fixtures/inc/Engine/Preload/Controller/CheckExcludedTrait/addCacheRejectUriToExcluded.php
  tests/Fixtures/inc/Engine/Preload/Controller/CheckExcludedTrait/isExcluded.php
  tests/Fixtures/inc/Engine/Preload/Controller/CheckExcludedTrait/isExcludedByFilter.php
  tests/Fixtures/inc/Engine/Preload/Controller/ClearCache/partialClean.php
  tests/Fixtures/inc/Engine/Preload/Controller/PreloadUrl/processPendingJobs.php
  tests/Fixtures/inc/Engine/Preload/Subscriber/updateCacheRow.php
  tests/Integration/inc/Engine/Preload/Subscriber/updateCacheRow.php
  tests/Unit/inc/Engine/Preload/Controller/CheckExcludedTrait/addCacheRejectUriToExcluded.php
  tests/Unit/inc/Engine/Preload/Controller/CheckExcludedTrait/isExcludedByFilter.php
  tests/Unit/inc/Engine/Preload/Controller/ClearCache/partialClean.php
  tests/Unit/inc/Engine/Preload/Controller/PreloadUrl/processPendingJobs.php
  tests/Unit/inc/Engine/Preload/Frontend/FetchSitemap/parseSitemap.php
Labels: type: enhancement, module: preload

#5327 Fixed a problem where Action Scheduler CRONs were remaining after the plugin was uninstall
  inc/Engine/Optimization/RUCSS/Cron/Subscriber.php
Labels: type: bug, module: preload, module: remove unused css

#5469 Closes #5438 Remove the cache size directory check
  inc/Engine/HealthCheck/CacheDirSizeCheck.php
  inc/Engine/HealthCheck/ServiceProvider.php
  inc/Plugin.php
  inc/deprecated/3.6.php
  tests/Fixtures/inc/Engine/HealthCheck/CacheDirSizeCheck/cacheDirSizeCheck.php
  tests/Integration/inc/Engine/HealthCheck/CacheDirSizeCheck/cacheDirSizeCheck.php
  tests/Unit/inc/Engine/HealthCheck/CacheDirSizeCheck/cacheDirSizeCheck.php
Labels: type: enhancement, module: combine JS

#5522 skip lazy loading base 64 background images
  inc/Dependencies/RocketLazyload/Image.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/lazyload.php
Labels: type: bug, module: lazyload images

#5504 Fixes #5502 Add missing FR docs
  inc/Engine/Admin/Beacon/Beacon.php
Labels: type: bug, module: Beacon

#5475 Closes #5463 Catch Action Scheduler exceptions and log them
  inc/Engine/Common/Queue/AbstractASQueue.php
Labels: type: enhancement, module: preload, module: remove unused css

#5532 Closes 5526: Added a check for null value
  inc/functions/admin.php
Labels: type: bug

#5505 Fixes #5501 Cast delay JS exclusions filter value as array
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: type: bug, module: delay JS

#5538 Closes #5503 Updated test without deprecated at matcher
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/getPendingJobs.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/getPendingJobs.php
Labels: dev initiative, test
