Repository wp-media/wp-rocket, pull requests merged in 2022-01, with the labels that each got.

#4031 Closes #2820 Add filter to exclude taxonomies from cache purge
  inc/Engine/Cache/Purge.php
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
  tests/Fixtures/inc/Engine/Cache/Purge/purgePostTermsUrls.php
  tests/Unit/inc/Engine/Cache/Purge/purgePostTermsUrls.php
Labels: type: enhancement, module: cache, priority: low

#4602 Fixes #4064 Closing promotion banner will not close congratulations banner
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  src/js/global/main.js
  views/settings/page-sections/dashboard.php
Labels: type: bug, Module: dashboard

#4624 Add new staging domains
  inc/functions/api.php
  tests/Integration/inc/functions/rocketIsLiveSite.php
  tests/Unit/inc/functions/rocketIsLiveSite.php
Labels: type: enhancement, 3rd party compatibility, module: rocketcdn

#4604 Exclusion for bookingsuedtirol.com from delayJS
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: type: enhancement, 3rd party compatibility, module: delay JS

#4625 Fixes #4576 Add back skip-lazy exclusions
  inc/Dependencies/RocketLazyload/Image.php
Labels: type: bug, needs: qa, module: lazyload images

#4626 Closes #4603 Increase svg expiration to 4 months
  inc/functions/htaccess.php
Labels: type: enhancement, module: htaccess

#4619 fix #4539 Console Notice: reCAPTCHA couldnt find user-provided funct...
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: type: enhancement, 3rd party compatibility, needs: qa, module: defer JS

#4621 Fixes #4593 Exclude additional Hubspot domain from Minify and Defer JS
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, needs: qa, module: minify JS, module: defer JS

#4620 Fixes #4563 disable Google Fonts optimization on AMP pages
  inc/ThirdParty/Plugins/Optimization/AMP.php
Labels: type: enhancement, 3rd party compatibility, module: google fonts

#4635 Fixes #4616 Exclusion for yanovis.Voucher.js from JS minification
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: 3rd party compatibility, module: minify JS

#4636 Fix 4089 Stop applying defer JS exclusions to combine js when defer JS is inactive
  inc/Engine/Optimization/DeferJS/DeferJS.php
  tests/Unit/inc/Engine/Optimization/DeferJS/DeferJS/getExcluded.php
Labels: type: bug, needs: qa, module: defer JS

#4642 Fixes #4639 Prevent removal of IE conditionals when using async CSS
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
Labels: module: critical path css, type: regression

#4618 Fixes #4507 Exclude WhatsApp UA from cache
  inc/functions/options.php
Labels: type: bug, module: cache

#4646 Exclude Gravity Forms conditions from Delay JavaScript Execution
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: 3rd party compatibility, module: delay JS

#4631 Closes #3879 Add filter to disable minify JS for AMP compat
  inc/ThirdParty/Plugins/Optimization/AMP.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#4649 Add exclusion for Carousel Upsells and Related Product for WC
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: 3rd party compatibility, module: defer JS

#4632 Closes #4627 Update renewal banners
  inc/Engine/License/Renewal.php
  inc/Engine/License/views/renewal-expired-banner.php
  inc/Engine/License/views/renewal-soon-banner.php
  tests/Fixtures/inc/Engine/License/Renewal/displayRenewalExpiredBanner.php
  tests/Fixtures/inc/Engine/License/Renewal/displayRenewalSoonBanner.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayRenewalExpiredBanner.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayRenewalSoonBanner.php
  tests/Integration/inc/Engine/License/Subscriber/displayRenewalExpiredBanner.php
  tests/Unit/inc/Engine/License/Renewal/displayRenewalExpiredBanner.php
Labels: type: enhancement, Module: dashboard

#4650 Enhancement - 3523 Add Opposite Image Dimension When Only One Is Given
  inc/Engine/Media/ImageDimensions/ImageDimensions.php
  tests/Fixtures/inc/Engine/Media/ImageDimensions/100x100image.jpg
  tests/Fixtures/inc/Engine/Media/ImageDimensions/500x300image.jpg
  tests/Fixtures/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
  tests/Unit/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
Labels: type: bug, module: media

#4655 Fixess #3570 Use WP tested version from our API
  inc/Engine/Deactivation/Deactivation.php
  inc/Engine/Plugin/InformationSubscriber.php
  inc/Engine/Plugin/ServiceProvider.php
  inc/Engine/Plugin/UpdaterApiCommonSubscriber.php
  inc/Engine/Plugin/UpdaterApiTools.php
  inc/Engine/Plugin/UpdaterSubscriber.php
  inc/Plugin.php
Labels: type: enhancement, Module: dashboard

#4658 Closes #4654 Exclude StatsCounter from minify JS and delay JS execution
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS, module: delay JS

#4644 Exclusion for yanovis.Voucher.js from JS defer
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: 3rd party compatibility, needs: qa, module: defer JS

#4694 Fix some failing integration tests where current screen is not set
  tests/Fixtures/inc/ThirdParty/Plugins/ModPagespeed/showAdminNotice.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/enqueueAdminCpcssHeartbeatScript.php
Labels: dev initiative, test
