Repository wp-media/wp-rocket, pull requests merged in 2022-02, with the labels that each got.

#3918 fixes #3395 - Uncaught TypeError in wpr-cpcss.js, when CPCSS buttons not displayed
  assets/js/wpr-cpcss.js
  inc/Engine/CriticalPath/Admin/Post.php
  tests/Fixtures/inc/Engine/CriticalPath/Admin/Post/enqueueAdminEditScript.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Post/cpcssActions.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Post/cpcssSection.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Post/enqueueAdminEditScript.php
Labels: type: bug, 3rd party compatibility, module: critical path css

#4664 Closes #2950 Deprecate rocket_maybe_reset_opcache()
  inc/admin/upgrader.php
  inc/deprecated/3.10.php
Labels: type: enhancement, dev initiative

#4657 Exclude Google Site Kit files from JavaScript minification to fix JavaScript errors
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#4675 Closes #3520 Exclude PWA service worker URL from cache
  inc/Plugin.php
  inc/ThirdParty/Plugins/PWA.php
  inc/ThirdParty/ServiceProvider.php
  tests/Unit/inc/ThirdParty/Plugins/PWA/excludeServiceWorker.php
Labels: 3rd party compatibility, module: cache

#4661 Fixes #2852 Update feeds cache exclusion pattern
  inc/admin/upgrader.php
  inc/functions/options.php
Labels: type: bug, module: cache

#4677 Fixes #3617 Clean busting directory when purging cache
  inc/common/purge.php
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketCleanCacheBusting.php
  tests/Fixtures/vfs-structure/default.php
  tests/Integration/inc/functions/rocketCleanCacheBusting.php
  tests/StubTrait.php
  tests/Unit/inc/functions/rocketCleanCacheBusting.php
Labels: type: bug, module: file optimization

#4697 Fixes #4492 Exclude Jetpack's lazyload library from delay JS execution
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: type: enhancement, 3rd party compatibility, module: delay JS

#4702 Enhancement #4439 Remove OPCache purge
  inc/Engine/Capabilities/Manager.php
  inc/admin/ui/notices.php
  inc/admin/upgrader.php
  inc/classes/class-abstract-render.php
  inc/common/admin-bar.php
  inc/common/purge.php
  inc/deprecated/3.10.php
  views/settings/page-sections/dashboard.php
Labels: type: enhancement, Module: dashboard, module: admin bar

#4674 Closes #3727 Add missing dimensions on SVG files
  inc/Engine/Media/ImageDimensions/ImageDimensions.php
  tests/Fixtures/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
  tests/Fixtures/inc/Engine/Media/ImageDimensions/image.svg
  tests/Fixtures/inc/Engine/Media/ImageDimensions/viewbox.svg
Labels: type: enhancement, module: media

#4637 Closes #4586 exclude from preload links URL patterns used by referral plugins
  inc/Engine/Preload/Links/Subscriber.php
  inc/Plugin.php
  inc/ThirdParty/Plugins/ThirstyAffiliates.php
  inc/ThirdParty/ServiceProvider.php
  tests/Unit/inc/ThirdParty/Plugins/ThirstyAffiliates/excludeLinkPrefix.php
Labels: type: enhancement, module: preload links

#4721 Exclude snapppt.com domain from Minify JS
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#4724 Revise logic for determining AMP or Web Story page in AMP compatibility mode.
  inc/ThirdParty/Plugins/Optimization/AMP.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmpIntegration.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/disableOptionsOnAmp.php
Labels: 3rd party compatibility

#4462 Changes required for WCML integration
  inc/3rd-party/plugins/ecommerce/woocommerce-multilingual.php
Labels: 3rd party compatibility, needs: qa

#4719 Refactor kinsta.php to not rely on CDN class
  composer.json
  inc/3rd-party/hosting/kinsta.php
Labels: 3rd party compatibility, needs: qa

#4736 Exclude use.typekit.com from defer JS
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: type: enhancement, 3rd party compatibility, module: defer JS

#4741 Fixes #4740 Prevent cdn.jsdelivr.net/npm/hockeystack files from being stored locally
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: 3rd party compatibility, module: minify JS

#4744 Fixes #4743 Prevent saving locally Gravatar Hovercards script
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: 3rd party compatibility, module: minify JS

#4684 Closes #4682 Update delay JS script
  assets/js/lazyload-scripts.min.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: type: enhancement, module: delay JS

#4737 Fixes #4706 Exclude use.typekit.com from minify & Defer JS
  inc/Engine/Optimization/DeferJS/DeferJS.php
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
  inc/Engine/Optimization/Minify/JS/Combine.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#4733 Fixes #4701 Prevent console error when using Elementor with combine JS and user cache
  inc/ThirdParty/Plugins/PageBuilder/Elementor.php
  tests/Fixtures/inc/ThirdParty/Plugins/PageBuilder/Elementor/excludeJs.php
  tests/Integration/inc/ThirdParty/Plugins/PageBuilder/Elementor/excludeJs.php
  tests/Unit/inc/ThirdParty/Plugins/PageBuilder/Elementor/excludeJs.php
Labels: type: bug, 3rd party compatibility, module: cache, module: combine JS

#4760 Exclude Elementor post CSS from minify/combine
  inc/ThirdParty/Plugins/PageBuilder/Elementor.php
  tests/Fixtures/inc/ThirdParty/Plugins/PageBuilder/Elementor/excludePostCss.php
  tests/Integration/inc/ThirdParty/Plugins/PageBuilder/Elementor/excludePostCss.php
  tests/Unit/inc/ThirdParty/Plugins/PageBuilder/Elementor/addFixAnimationsScript.php
  tests/Unit/inc/ThirdParty/Plugins/PageBuilder/Elementor/clearCache.php
  tests/Unit/inc/ThirdParty/Plugins/PageBuilder/Elementor/excludePostCss.php
Labels: 3rd party compatibility, module: minify CSS, module: combine CSS

#4771 Fixes #4770 Exclude widget.prod.faslet.net from Minify/Combine JS
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: 3rd party compatibility, module: minify JS

#4705 Preload mobile homepage after changing options that require a cache purge
  inc/Engine/Preload/PreloadSubscriber.php
  inc/admin/options.php
  tests/Unit/inc/Engine/Preload/PreloadSubscriber/preloadHomepage.php
  tests/Unit/inc/admin/rocketAfterSaveOptions.php
Labels: type: enhancement, module: preload
