Repository wp-media/wp-rocket, pull requests merged in 2022-03, with the labels that each got.

#4676 Closes #1599 Reduce number of queries on the admin
  inc/Addon/ServiceProvider.php
  inc/Addon/Sucuri/Subscriber.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Preload/PreloadSubscriber.php
  inc/admin/ui/notices.php
  inc/functions/options.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/clearUsedcssResult.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/clearUsedcssResult.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/clearUsedcssResult.php
Labels: type: enhancement

#4689 Preserve chosen inline styles when removing CSS from HTML while using RUCSS
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: type: enhancement, module: remove unused css

#4685 Closes #4669 Disable combine CSS when remove unused CSS is enabled
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/maybeDisableCombineCss.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/maybeDisableCombineCss.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/maybeDisableCombineCss.php
Labels: type: enhancement, module: combine CSS, module: remove unused css

#4783 Exclude themify-builder fallback script from delayJS
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: 3rd party compatibility, module: delay JS

#4695 Closes #4574 Update minimum requirements to WP 5.5 and PHP 7.1
  .github/workflows/test_wprocket_legacy.yml
  wp-rocket.php
Labels: type: enhancement

#4729 Add preload links for fonts found in the used CSS
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: type: enhancement, module: remove unused css

#4778 Add RUCSS notices for processing & success
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/admin/ui/notices.php
  src/js/global/countdown.js
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/addLocalizeScriptData.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displayProcessingNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/maybeSetProcessingTransient.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/addLocalizeScriptData.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displayProcessingNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/maybeSetProcessingTransient.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
Labels: type: enhancement, module: remove unused css

#4693 Fixes #3979 Don't apply Remove Unused CSS on pages protected by a password
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: type: bug, module: remove unused css

#4795 Persistent dismiss of RUCSS success notice
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/addLocalizeScriptData.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/addOptions.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displayProcessingNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/maybeDisableCombineCss.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/sanitizeOptions.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/maybeSetProcessingTransient.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
Labels: type: bug, module: remove unused css

#4794 Preserve Gutenberg inline classes when using remove unused CSS
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: module: remove unused css

#4809 Cancel queue with rocket deactivation
  inc/Engine/Common/Queue/RUCSSQueueRunner.php
  inc/Engine/Deactivation/Deactivation.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
Labels: type: bug, module: remove unused css

#4800 Preloads the homepage after cleaning the used CSS
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Preload/PreloadSubscriber.php
  inc/admin/options.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssAndCache.php
  tests/Unit/inc/Engine/Preload/PreloadSubscriber/preloadAfterOptionsChange.php
Labels: type: enhancement, module: preload, module: remove unused css

#4823 Update License validation issue text accordingly to the button name "Validate License"
  inc/functions/options.php
Labels: type: enhancement, Module: dashboard, module: user interface

#4807 Disable Optimize CSS Delivery options on local websites
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/CriticalPath/Admin/Admin.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/admin/options.php
  tests/Unit/inc/Engine/CriticalPath/Admin/Admin/addRegenerateMenuItem.php
  views/settings/page-sections/dashboard.php
Labels: type: enhancement, module: critical path css, module: remove unused css

#4811 Trigger cron when switching between RUCSS notices
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  src/js/global/countdown.js
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/maybeSetProcessingTransient.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
Labels: type: enhancement, module: remove unused css

#4825 Display RUCSS processing notice after switching theme
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
Labels: type: enhancement, module: remove unused css

#4826 Add flatsome compatibility for RUCSS inline CSS preserve
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Plugin.php
  inc/ThirdParty/ServiceProvider.php
  inc/ThirdParty/Themes/Flatsome.php
Labels: 3rd party compatibility, module: remove unused css

#4850 Send nowprocket only when calling SaaS without saving it into the DB
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Frontend/APIClient.php
Labels: module: remove unused css

#4852 New RUCSS compatibility with revolution slider
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: 3rd party compatibility, module: remove unused css

#4861 Change Action Scheduler concurrent batches number only when it's less than two
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
Labels: type: bug, module: remove unused css
