Repository wp-media/wp-rocket, pull requests merged in 2022-07, with the labels that each got.

#5181 Fixes #5168 Set is_from_one_dot_com index in case license data is not available
  inc/Engine/Admin/Settings/Page.php
Labels: type: bug, Module: dashboard

#5214 Fixes #5213 Improve removal of inline style content when using RUCSS
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: type: bug, module: remove unused css

#5202 Closes #5178 - RUCSS jobs created when used-css folder is not created
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: type: enhancement, module: filesystem, module: remove unused css

#5193 Enhancement/tests for flatsome 3rd party class
  inc/ThirdParty/Themes/Flatsome.php
  tests/Fixtures/inc/ThirdParty/Themes/Flatsome/preservePatterns.php
  tests/Integration/inc/ThirdParty/Themes/Flatsome/preservePatterns.php
  tests/Unit/inc/ThirdParty/Themes/Flatsome/preservePatterns.php
Labels: type: enhancement, 3rd party compatibility

#5228 Fixes #5227 Prevent fatal error on Presslabs
  inc/3rd-party/hosting/presslabs.php
  wp-rocket.php
Labels: type: bug, 3rd party compatibility

#4946 Removed `wp_logout_url()` and `wp_login_url()` from uris to exclude.
  inc/3rd-party/plugins/custom-login.php
  inc/3rd-party/plugins/security/secupress.php
  inc/3rd-party/plugins/security/sf-move-login.php
  inc/3rd-party/plugins/security/wps-hide-login.php
  inc/Engine/Preload/Links/Subscriber.php
  inc/functions/options.php
Labels: type: bug, module: preload

#5144 Closes #5091 Added RUCSS exclusion for Polygone
  inc/Plugin.php
  inc/ThirdParty/ServiceProvider.php
  inc/ThirdParty/Themes/Polygon.php
  tests/Fixtures/inc/ThirdParty/Themes/Polygon/addRucssContentExcluded.php
  tests/Unit/inc/ThirdParty/Themes/Polygon/addRucssContentExcluded.php
Labels: 3rd party compatibility, effort: [XS]

#5031 Closes #5018 RUCSS compatibility with jevelin theme
  inc/Plugin.php
  inc/ThirdParty/ServiceProvider.php
  inc/ThirdParty/Themes/Jevelin.php
  tests/Fixtures/inc/ThirdParty/Themes/Jevelin/integrations/preservePatterns.php
  tests/Fixtures/inc/ThirdParty/Themes/Jevelin/preservePatterns.php
  tests/Integration/inc/ThirdParty/Themes/Jevelin/preservePatterns.php
  tests/Unit/inc/ThirdParty/Themes/Jevelin/preservePatterns.php
Labels: type: enhancement, waiting for feedback, 3rd party compatibility, module: remove unused css

#5191 Closes #5164 Preserve xstore inline style with RUCSS
  inc/Plugin.php
  inc/ThirdParty/ServiceProvider.php
  inc/ThirdParty/Themes/Xstore.php
  tests/Fixtures/inc/ThirdParty/Themes/Xstore/excludeInlineContent.php
  tests/Integration/inc/ThirdParty/Themes/Xstore/excludeInlineContent.php
  tests/Unit/inc/ThirdParty/Themes/Xstore/excludeInlineContent.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css

#5218 Load the correct config file in multisite
  inc/classes/Buffer/class-config.php
Labels: type: bug, module: cache, multisite

#5242 Fixes #3077 Correctly rollback multiple versions consecutively
  inc/Engine/Plugin/UpdaterSubscriber.php
  inc/admin/admin.php
  inc/deprecated/3.11.php
Labels: type: bug, module: tools

#5233 Update RUCSS IP to whitelist
  inc/ThirdParty/Plugins/Security/WordFenceCompatibility.php
Labels: 3rd party compatibility, module: remove unused css
