Repository wp-media/wp-rocket, pull requests merged in 2022-04, with the labels that each got.

#4864 Fix code coverage reporting
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displayProcessingNotice.php
  tests/Unit/inc/Engine/Cache/WPCache/maybePreventDeactivation.php
Labels: dev initiative

#4863 Fixes #4753 Allow usage of `composer/installers` v2
  .github/workflows/deploy_plugin.yml
  composer.json
Labels: dev initiative, devops

#4879 Fix the conflict when loading old Action Scheduler version
  inc/Engine/Common/Queue/AbstractASQueue.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css

#4886 Fixes #4876 Update RUCSS safelist on update to 3.11.0.2
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/compat.php
  phpcs.xml
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/updateSafelistItems.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/maybeDisableCombineCss.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/updateSafelistItems.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/updateSafelistItems.php
  tests/Unit/bootstrap.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/updateSafelistItems.php
Labels: module: remove unused css

#4827 Fixes #4757 Exclude AMP redirection script from delay JS
  inc/ThirdParty/Plugins/Optimization/AMP.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/AMP/excludeScriptFromDelayJs.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/excludeScriptFromDelayJs.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/excludeScriptFromDelayJs.php
Labels: type: enhancement, module: delay JS

#4904 Preserve Divi's "divi-style-inline-inline-css" attribute after treeshaking to prevent console error
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/ThirdParty/Plugins/Optimization/AMP.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/AMP/excludeScriptFromDelayJs.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/AMP/excludeScriptFromDelayJs.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/AMP/excludeScriptFromDelayJs.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css

#4897 Fix missing AS missing DB tables issue
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
Labels: type: bug, priority: high, severity: critical, module: remove unused css

#4889 Fixes #4527 Remove Rocket option to deactivate lazyload of iframes and YT videos when Autoptimize lazyload is enabled
  inc/3rd-party/plugins/autoptimize.php
Labels: type: bug, 3rd party compatibility, module: lazyload iframes and videos

#4855 Closes #4020 Delete metadata from the postmeta table during uninstall
  inc/Engine/WPRocketUninstall.php
Labels: type: enhancement

#4839 Fixes #4171 Exclude judge.me script from delay JS
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: type: bug, module: delay JS

#4888 Fixes #4032 Disabling heartbeat causing dependency error in query monitor
  assets/js/heartbeat.js
  inc/Engine/Heartbeat/HeartbeatSubscriber.php
Labels: type: bug, 3rd party compatibility, module: heartbeat

#4838 Fixes #4759 Hide scripts from the buffer
  inc/Dependencies/RocketLazyload/Image.php
  inc/Engine/CriticalPath/CriticalCSSSubscriber.php
  inc/Engine/Media/ImageDimensions/ImageDimensions.php
  inc/Engine/Media/Lazyload/Subscriber.php
  inc/Engine/Optimization/AbstractOptimization.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RegexTrait.php
  tests/Fixtures/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
  tests/Unit/inc/Engine/Media/ImageDimensions/ImageDimensions/specifyImageDimensions.php
Labels: type: bug, module: media

#4840 Pass JSON_PRETTY_PRINT to wp_json_encode() to unminify JSON
  inc/admin/admin.php
Labels: type: enhancement, module: tools

#4824 Fixes #4758 Exclude our remove CPCSS script from delay JS
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: type: enhancement, module: delay JS

#4732 Prevent PHP 8.1 deprecation notices
  inc/3rd-party/3rd-party.php
  inc/3rd-party/plugins/seo/yoast-seo.php
  inc/Plugin.php
  inc/ThirdParty/Plugins/SEO/Yoast.php
  inc/ThirdParty/ServiceProvider.php
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/constants.php
  inc/deprecated/3.11.php
  inc/main.php
Labels: type: enhancement

#4976 Preserve Health Center dynamic CSS selectors
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: 3rd party compatibility, module: remove unused css

#4893 Fixes #4868 Apply CDN to used CSS on output instead of on saving
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/WP.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssWithCDN.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/HTML/filtred.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/HTML/original.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssWithCDN.php
  tests/Unit/bootstrap.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/cleanUsedCssWithCDN.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
Labels: type: bug, module: CDN
