Repository wp-media/wp-rocket, pull requests merged in 2022-05, with the labels that each got.

#4986 Fixed failing test
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
Labels: type: bug, test

#4872 Fixes #4869 Disable combine CSS when RUCSS & combine CSS are enabled at the same time
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/maybeDisableCombineCss.php
Labels: type: bug, needs: qa, module: remove unused css

#4895 Fixes #4894 Exclude LegalBlink's script from Defer JavaScript files
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: type: enhancement, module: defer JS

#4899 Fixes #4898 Exclude usercentrics script from JavaScript minification
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, module: minify JS

#4777 Fixes #4776 Add exclusion from defer JS for Artale theme compatibility
  inc/Engine/Optimization/DeferJS/DeferJS.php
Labels: type: enhancement, 3rd party compatibility, module: defer JS

#4952 Remove additional languages referenced in readme
  README.md
Labels: type: enhancement

#4810 Fixes #4765 Prevent query string caching from overridding page exclusion
  inc/classes/Buffer/class-tests.php
Labels: type: bug, module: cache

#4873 Added pdf extension as well as doc|docx|xls to image_ext var
  inc/Engine/Preload/Links/Subscriber.php
Labels: type: enhancement, module: preload links

#4884 Fixes #4059 Update info link for fallback critical css
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
Labels: type: bug, Module: dashboard

#4836 Fixes #4711 Do not add preload link script if user is logged in
  inc/Engine/Preload/Links/Subscriber.php
Labels: type: bug, module: preload links

#4844 Closes #4547 Exclude new google ios related query strings
  inc/admin/upgrader.php
  inc/functions/options.php
Labels: type: enhancement, module: cache

#4848 Fixes #4179 exclude pixfuture files from delay JS to prevent issues with their videos ads
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: type: bug, 3rd party compatibility, module: delay JS

#5002 Fixes #4984 Fix problem with RUCSS and ConvertPlug
  composer.json
  inc/Plugin.php
  inc/ThirdParty/Plugins/ConvertPlug.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/ConvertPlug/excludedFromRucss.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Plugins/ConvertPlug/excludedFromRucss.php
  tests/Unit/inc/ThirdParty/Plugins/ConvertPlug/excludedFromRucss.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css

#5008 Fix incorrect reference to heartbeat.js
  inc/Engine/Heartbeat/HeartbeatSubscriber.php
Labels: type: bug, module: heartbeat

#5016 Fixed incompatibilities with integration tests
  tests/Integration/inc/Engine/Cache/AdminSubscriber/addWpCacheStatusTest.php
Labels: type: bug, dev initiative, test

#4949 Fixes #4948 Exclude cognitoforms.com from Minify JS
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#4974 Fixes #4973 Exclude ga.getresponse.com/script/ga.js from JS minify
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#4914 Closes #4913 New preload: settings update
  inc/3rd-party/plugins/seo/all-in-one-seo-pack.php
  inc/3rd-party/plugins/seo/rank-math-seo.php
  inc/3rd-party/plugins/seo/seopress.php
  inc/3rd-party/plugins/seo/the-seo-framework.php
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Settings.php
  inc/Engine/Support/Data.php
  inc/ThirdParty/Plugins/SEO/Yoast.php
  inc/admin/admin.php
  inc/admin/options.php
  inc/admin/upgrader.php
  inc/deprecated/3.12.php
  inc/main.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
Labels: module: preload, type: sub-task

#4959 Block invalid licenses from using RUCSS
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Frontend/APIClient.php
  inc/Engine/WPRocketUninstall.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/APIClient/addToQueue.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/APIClient/getQueueJobStatus.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/APIClient/addToQueue.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/APIClient/getQueueJobStatus.php
  views/settings/fields/radio-buttons.php
Labels: type: enhancement, module: remove unused css

#4764 Closes #4714 Improve RocketCDN error messages
  composer.json
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/CDN/RocketCDN/APIClient.php
  inc/Engine/CDN/RocketCDN/NoticesSubscriber.php
  inc/Engine/CDN/RocketCDN/ServiceProvider.php
  inc/Engine/CDN/RocketCDN/composer.json
  inc/Engine/CDN/RocketCDN/views/cta-big.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
Labels: type: enhancement, module: rocketcdn

#5014 Fixes #5005 Use WP cron for RUCSS pending jobs
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Cron/Subscriber.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/addInterval.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronCleanRows.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/scheduleCleanNotCommonlyUsedRows.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/schedulePendingJobs.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/updateSafelistItems.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/addInterval.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronCleanRows.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/scheduleCleanNotCommonlyUsedRows.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/schedulePendingJobs.php
Labels: type: bug, module: remove unused css

#5019 Fixes #4284 Remove CSS preload links when using RUCSS
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: type: bug, module: remove unused css

#4944 Fixes #4745 Added `window.wsf_form_json_config` to excluded script in delayJs
  inc/Engine/Optimization/DelayJS/HTML.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: type: enhancement, module: delay JS

#4928 Closes #4881 Added constant in Avada subscriber to deactivate combined CSS and JS from Avada theme
  inc/ThirdParty/Themes/Avada.php
  tests/Fixtures/inc/ThirdParty/Themes/Avada/disableCompilers.php
  tests/Unit/inc/ThirdParty/Themes/Avada/disableCompilers.php
Labels: type: enhancement, 3rd party compatibility

#5004 Closes 4987 auto detect licence and add one.com logo
  assets/img/one-com-logo.svg
  inc/Engine/Admin/Settings/Page.php
  views/settings/page-sections/dashboard.php
Labels: type: enhancement, Module: dashboard

#4978 Fix #4231 Remove params from url to prevent JS to be interpeted as internal instead of external
  inc/Engine/Optimization/AbstractOptimization.php
  tests/Fixtures/inc/Engine/Optimization/AbstractOptimization/isExternalFile.php
  tests/Unit/inc/Engine/Optimization/AbstractOptimization/isExternalFile.php
Labels: type: enhancement, effort: [XS], module: minify JS

#5071 Added missing code from integration test
  tests/Fixtures/inc/ThirdParty/Themes/Avada/disableCompilers.php
  tests/Unit/inc/ThirdParty/Themes/Avada/disableCompilers.php
Labels: dev initiative, test

#4828 Fixes #4763 Exclude google_ads_iframe_ pattern from iframe lazyload
  inc/Dependencies/RocketLazyload/Iframe.php
Labels: type: enhancement, 3rd party compatibility, needs: qa, module: lazyload iframes and videos

#4989 Fixes #4967 Added google fonts from RUCSS exclusions
  inc/Engine/Optimization/GoogleFonts/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/HTML/google_fonts.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
Labels: type: enhancement, module: remove unused css

#5040 Fixes #5039 Preserve Total theme's dynamic CSS in used CSS
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css

#4922 Fixes #4789 Re-enable cache of feeds
  inc/classes/Buffer/class-tests.php
  tests/Fixtures/WP_Rewrite.php
  tests/Fixtures/inc/classes/Buffer/Tests/canProcessBuffer.php
  tests/Fixtures/inc/classes/Buffer/Tests/isFeedUri.php
  tests/Unit/bootstrap.php
  tests/Unit/inc/classes/Buffer/Tests/canProcessBuffer.php
  tests/Unit/inc/classes/Buffer/Tests/isFeedUri.php
Labels: type: bug, module: cache

#4772 Fixes #4769 Exclude Photonic scripts from Delay JavaScript Execution
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: 3rd party compatibility, module: delay JS

#5056 Fixes #5055 exclude popt.in JS from JS minification
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#4856 Closes #3929 Remove `revert_uid_for_nonce_actions()` in WooCommerce compatibility file
  composer.json
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
  tests/Integration/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/maybeRevertUidForNonceActions.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/maybeRevertUidForNonceActions.php
Labels: type: enhancement, 3rd party compatibility

#5077 Closes #5041 on rucss compatibility with inline related posts dynamic selectors
  inc/Plugin.php
  inc/ThirdParty/Plugins/InlineRelatedPosts.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/InlineRelatedPosts/excludeInlineFromRucss.php
  tests/Integration/inc/ThirdParty/Plugins/InlineRelatedPosts/excludeInlineFromRucss.php
  tests/Unit/inc/ThirdParty/Plugins/InlineRelatedPosts/excludeInlineFromRucss.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css

#5066 Closes #5028 on RUCSS not rewriting prloaded fonts url to CDN
  inc/Engine/CDN/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
Labels: type: enhancement, module: CDN, module: remove unused css

#5090 Added new fix for v1 google font
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/HTML/google_fonts.php
Labels: type: enhancement, module: remove unused css

#5011 Closes #4980 Refactor Kinsta thirdparty class
  composer.json
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/kinsta.php
  inc/ThirdParty/Hostings/HostResolver.php
  inc/ThirdParty/Hostings/HostSubscriberFactory.php
  inc/ThirdParty/Hostings/Kinsta.php
  inc/deprecated/3.11.php
  tests/Fixtures/Kinsta_Cache.php
  tests/Fixtures/inc/ThirdParty/Hostings/Kinsta/cleanKinstaCache.php
  tests/Fixtures/inc/ThirdParty/Hostings/Kinsta/cleanKinstaCacheHome.php
  tests/Fixtures/inc/ThirdParty/Hostings/Kinsta/cleanKinstaCacheUrl.php
  tests/Fixtures/inc/ThirdParty/Hostings/Kinsta/cleanKinstaPostCache.php
  tests/Fixtures/inc/ThirdParty/Hostings/Kinsta/displayErrorNotice.php
  tests/Fixtures/inc/ThirdParty/Hostings/Kinsta/removePartialPurgeHooks.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Hostings/Kinsta/cleanKinstaCache.php
  tests/Integration/inc/ThirdParty/Hostings/Kinsta/cleanKinstaCacheHome.php
  tests/Integration/inc/ThirdParty/Hostings/Kinsta/cleanKinstaCacheUrl.php
  tests/Integration/inc/ThirdParty/Hostings/Kinsta/cleanKinstaPostCache.php
  tests/Integration/inc/ThirdParty/Hostings/Kinsta/removePartialPurgeHooks.php
  tests/Unit/bootstrap.php
  tests/Unit/inc/ThirdParty/Hostings/Kinsta/cleanKinstaCache.php
  tests/Unit/inc/ThirdParty/Hostings/Kinsta/cleanKinstaCacheHome.php
  tests/Unit/inc/ThirdParty/Hostings/Kinsta/cleanKinstaCacheUrl.php
  tests/Unit/inc/ThirdParty/Hostings/Kinsta/cleanKinstaPostCache.php
  tests/Unit/inc/ThirdParty/Hostings/Kinsta/displayErrorNotice.php
  tests/Unit/inc/ThirdParty/Hostings/Kinsta/removePartialPurgeHooks.php
Labels: type: enhancement, 3rd party compatibility

#5068 Adding more Flatsome dynamic selectors
  inc/ThirdParty/Themes/Flatsome.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css
