Repository wp-media/wp-rocket, pull requests merged in 2022-09, with the labels that each got.

#5238 Fixes #4961 Remove loading attribute when using JS lazyload
  inc/Dependencies/RocketLazyload/Image.php
Labels: type: bug, module: lazyload images

#5267 Exclude Divi link variable from DJE
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: type: enhancement, 3rd party compatibility, module: delay JS

#5074 Closes #5020 Exclude cfm extension from CDN rewrite
  inc/Engine/CDN/CDN.php
Labels: type: enhancement, module: CDN

#5280 Closes #4710 RUCSS compatibility with cloudflare server push
  inc/Plugin.php
  inc/ThirdParty/Plugins/CDN/Cloudflare.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/CDN/Cloudflare/displayServerPushingModeNotice.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/displayServerPushingModeNotice.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/displayServerPushingModeNotice.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css

#5212 Changed type of null to empty string
  inc/vendors/ip_in_range.php
Labels: type: enhancement, module: cloudflare

#5154 Close #5098 - Fixed warning in Image dimensions when loading certain SVG
  inc/Engine/Media/ImageDimensions/ImageDimensions.php
Labels: type: bug, module: add missing dimensions

#5097 Exclude monetizemore
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#5398 Closes #5396 on fatal error when no AS table on fresh install
  inc/Engine/Preload/Activation/Activation.php
  tests/Fixtures/inc/Engine/Preload/Activation/ActionScheduler_LoggerSchema.php
  tests/Fixtures/inc/Engine/Preload/Activation/ActionScheduler_StoreSchema.php
  tests/Fixtures/inc/Engine/Preload/Activation/isValidAsTables.php
  tests/Unit/inc/Engine/Preload/Activation/activate.php
  tests/Unit/inc/Engine/Preload/Activation/isValidAsTables.php
Labels: type: bug, module: preload

#5411 Closes #5407 - Fatal error for non countable value parameter to count function
  inc/Engine/Preload/Subscriber.php
Labels: type: bug, module: preload

#5138 Closes #4905 Minimalist blogger thirdparty class for delay JS compatibility
  inc/Plugin.php
  inc/ThirdParty/ServiceProvider.php
  inc/ThirdParty/Themes/MinimalistBlogger.php
  inc/ThirdParty/Themes/ThirdpartyTheme.php
  tests/Fixtures/inc/ThirdParty/Themes/MinimalistBlogger/excludeJqueryFromDelayJs.php
  tests/Integration/inc/ThirdParty/Themes/MinimalistBlogger/excludeJqueryFromDelayJs.php
  tests/Unit/inc/ThirdParty/Themes/MinimalistBlogger/excludeJqueryFromDelayJs.php
Labels: type: enhancement, 3rd party compatibility, module: delay JS

#5392 fix bandwidth typo in RocketCDN tab
  .gitignore
  inc/Engine/CDN/RocketCDN/views/cta-big.php
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/displayRocketcdnCta.php
  tests/Integration/.phpunit.result.cache
Labels: type: enhancement, i18n, module: rocketcdn

#5246 Fix #3960: Add notice on no table RUCSS
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displayNoTableNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displayProcessingNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/displayNoTableNotice.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/displayNoTableNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/addLocalizeScriptData.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/addOptions.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displayNoTableNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displayProcessingNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/maybeDisableCombineCss.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/sanitizeOptions.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/updateSafelistItems.php
Labels: type: bug, waiting for feedback, module: remove unused css

#5399 Fixes 5332: Fixed warning on delete completely post.
  inc/Engine/Preload/Database/Queries/Cache.php
Labels: type: bug, module: preload

#5441 Fixes #5440 Check for Action Scheduler missing tables
  inc/Engine/Activation/Activation.php
  inc/Engine/Activation/ServiceProvider.php
  inc/Engine/Admin/Notices.php
  inc/Engine/Admin/NoticesSubscriber.php
  inc/Engine/Admin/ServiceProvider.php
  inc/Engine/HealthCheck/ActionSchedulerCheck.php
  inc/Engine/HealthCheck/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Preload/Activation/Activation.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/Admin/Notices/maybeDisplayAsMissedTablesNotice.php
  tests/Fixtures/inc/Engine/HealthCheck/ActionSchedulerCheck/ActionScheduler_LoggerSchema.php
  tests/Fixtures/inc/Engine/HealthCheck/ActionSchedulerCheck/ActionScheduler_StoreSchema.php
  tests/Fixtures/inc/Engine/HealthCheck/ActionSchedulerCheck/checkOnUpdateOptions.php
  tests/Fixtures/inc/Engine/HealthCheck/ActionSchedulerCheck/maybeRecreateAsTables.php
  tests/Fixtures/inc/Engine/Preload/Activation/activate.php
  tests/Integration/inc/Engine/Admin/Notices/maybeDisplayAsMissedTablesNotice.php
  tests/Unit/inc/Engine/Admin/Notices/maybeDisplayAsMissedTablesNotice.php
  tests/Unit/inc/Engine/HealthCheck/ActionSchedulerCheck/checkOnUpdateOptions.php
  tests/Unit/inc/Engine/HealthCheck/ActionSchedulerCheck/maybeRecreateAsTables.php
  tests/Unit/inc/Engine/Preload/Activation/activate.php
  tests/Unit/inc/Engine/Preload/Activation/isValidAsTables.php
Labels: type: bug, module: preload, module: remove unused css

#5466 Fix fatal error when missing Action Scheduler's tables
  inc/Engine/Activation/Activation.php
  inc/Engine/Activation/ServiceProvider.php
  inc/Engine/Preload/Activation/Activation.php
  inc/Engine/Preload/Activation/ServiceProvider.php
  inc/Engine/Preload/Activation/Subscriber.php
  inc/Engine/Preload/ServiceProvider.php
  tests/Unit/inc/Engine/Preload/Activation/activate.php
  tests/Unit/inc/Engine/Preload/Activation/cleanOnUpdate.php
  tests/Unit/inc/Engine/Preload/Activation/refreshOnUpdate.php
Labels: type: bug, module: preload

#5380 Update action scheduler to v3.5
  inc/Dependencies/ActionScheduler/action-scheduler.php
  inc/Dependencies/ActionScheduler/changelog.txt
  inc/Dependencies/ActionScheduler/classes/ActionScheduler_ActionFactory.php
  inc/Dependencies/ActionScheduler/classes/ActionScheduler_AdminView.php
  inc/Dependencies/ActionScheduler/classes/ActionScheduler_Exception.php
  inc/Dependencies/ActionScheduler/classes/ActionScheduler_ListTable.php
  inc/Dependencies/ActionScheduler/classes/ActionScheduler_QueueRunner.php
  inc/Dependencies/ActionScheduler/classes/abstracts/ActionScheduler_Abstract_ListTable.php
  inc/Dependencies/ActionScheduler/classes/abstracts/ActionScheduler_Abstract_QueueRunner.php
  inc/Dependencies/ActionScheduler/classes/abstracts/ActionScheduler_Store.php
  inc/Dependencies/ActionScheduler/classes/actions/ActionScheduler_Action.php
  inc/Dependencies/ActionScheduler/classes/data-stores/ActionScheduler_DBStore.php
  inc/Dependencies/ActionScheduler/classes/data-stores/ActionScheduler_wpPostStore.php
  inc/Dependencies/ActionScheduler/classes/schema/ActionScheduler_LoggerSchema.php
  inc/Dependencies/ActionScheduler/functions.php
  inc/Dependencies/ActionScheduler/readme.txt
Labels: dependencies
