Repository wp-media/wp-rocket, pull requests merged in 2022-08, with the labels that each got.

#5239 Closes #4357 on automate generating WPR css and js file
  .github/workflows/deploy_plugin.yml
  .gitignore
  assets/css/wpr-admin-rtl.css
  assets/css/wpr-admin.css
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.map
  gulpfile.js
  inc/admin/ui/enqueue.php
Labels: dev initiative

#5273 Closes #5262 - for deprecated notice on type of null passed to json_decode in v3.9.5.1
  inc/Engine/Optimization/RUCSS/Database/Row/UsedCSS.php
Labels: type: enhancement, module: remove unused css

#5275 Closes #5262 - for deprecated notice on type of null passed to json_decode in v3.10.10.1
  inc/Engine/Optimization/RUCSS/Database/Row/UsedCSS.php
Labels: type: enhancement, module: remove unused css

#5278 Closes #5261 on PHP deprecated notice for yoast seo on v3.9.5.1
  inc/3rd-party/plugins/seo/yoast-seo.php
Labels: type: enhancement, 3rd party compatibility, module: preload

#5166 Closes #4105 Allow usage of Monolog v2 while using v1 for deploy
  .github/workflows/deploy_plugin.yml
  composer.json
Labels: 3rd party compatibility, module: Logger, dev initiative

#5260 Close 5255: Removed beta mention
  inc/Engine/Admin/Settings/Page.php
Labels: type: enhancement, effort: [XS]

#5145 Closes #5075 Remove RUCSS resources table
  inc/Engine/Optimization/RUCSS/Admin/Database.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Cron/Subscriber.php
  inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery.php
  inc/Engine/Optimization/RUCSS/Database/Row/ResourceRow.php
  inc/Engine/Optimization/RUCSS/Database/Schemas/Resources.php
  inc/Engine/Optimization/RUCSS/Database/Tables/Resources.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/WPRocketUninstall.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Database/deleteOldResources.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Database/dropRucssDatabaseTables.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronCleanRows.php
  tests/Fixtures/wpdb.php
  tests/Integration/DBTrait.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Database/deleteOldResources.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronCleanRows.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery/createOrUpdate.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Database/Queries/ResourcesQuery/removeByUrl.php
  tests/Integration/inc/Engine/WPRocketUninstall/uninstall.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Database/deleteOldResources.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Database/deleteOldUsedCss.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Database/dropResourcesTable.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Database/dropRucssDatabaseTables.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Database/truncateUsedCssTable.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
  uninstall.php
Labels: type: enhancement, module: remove unused css

#5147 Fixes #5102 Update broken link in activation notice
  inc/admin/ui/notices.php
Labels: type: bug, Module: dashboard

#5317 Revert changes from #5225 rollback modal
  assets/css/wpr-modal.css
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  views/settings/page-sections/tools.php
Labels: module: remove unused css

#5321 Fix Preload to add legacy sitemaps
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Preload/Controller/LoadInitialSitemap.php
  inc/Engine/Preload/ServiceProvider.php
  tests/Fixtures/inc/Engine/Preload/Controller/LoadInitialSitemap/loadInitialSitemap.php
  tests/Unit/inc/Engine/Preload/Controller/LoadInitialSitemap/cancelPreload.php
  tests/Unit/inc/Engine/Preload/Controller/LoadInitialSitemap/loadInitialSitemap.php
Labels: module: preload

#5323 Fixed problem with beaver not preloading on cache clearing
  inc/Engine/Preload/Admin/Subscriber.php
  inc/Engine/Preload/ServiceProvider.php
  inc/Engine/Preload/Subscriber.php
  tests/Fixtures/inc/Engine/Preload/Subscriber/cleanFullCache.php
  tests/Fixtures/inc/Engine/Preload/Subscriber/cleanPartialCache.php
  tests/Fixtures/inc/Engine/Preload/Subscriber/cleanUrls.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/autoPurgeByUrl.php
  tests/Integration/inc/Engine/Preload/Subscriber/cleanFullCache.php
  tests/Integration/inc/Engine/Preload/Subscriber/cleanPartialCache.php
  tests/Integration/inc/Engine/Preload/Subscriber/cleanUrls.php
  tests/Integration/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showEmptyProductGalleryWithDelayJS.php
  tests/Integration/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/showNotemptyProductGalleryWithDelayJS.php
  tests/Unit/inc/Engine/Preload/Subscriber/onPermalinkChanged.php
Labels: module: preload

#5329 Prevent fatal error when Rocket version is float in database
  inc/admin/upgrader.php
Labels: type: bug

#5334 Fixes #5330 Remove the type casting method on pre and type cast the secret key
  inc/admin/options.php
  inc/functions/options.php
Labels: type: bug

#5325 Fixes #4424 Guard against php notice in import settings for cache_webp
  inc/admin/admin.php
Labels: type: bug, module: tools

#5341 Update format method signature to match Monolog V2
  inc/classes/logger/class-html-formatter.php
Labels: type: bug, module: Logger

#5344 Fixes #5343 Exclude trustindex.io from minify
  inc/Engine/Optimization/Minify/JS/AbstractJSOptimization.php
Labels: type: enhancement, 3rd party compatibility, module: minify JS

#5360 Fix dashboard high CPU usage
  inc/Engine/Preload/Admin/Subscriber.php
Labels: type: bug, module: preload

#5359 Prevent error when dropping resources table
  inc/Engine/Optimization/RUCSS/Admin/Database.php
Labels: type: bug, module: remove unused css

#5350 Fixes 5346: Fixed delete from url from preload on 404
  inc/Engine/Preload/Subscriber.php
  tests/Fixtures/inc/Engine/Preload/Subscriber/deleteUrlOnNotFound.php
  tests/Integration/inc/Engine/Preload/Subscriber/deleteUrlOnNotFound.php
Labels: type: enhancement, module: preload, effort: [XS]

#5362 Closes #5351 - force preload table recreation if not exist
  inc/Engine/Preload/Database/Tables/Cache.php
Labels: type: bug, module: preload

#5356 Fixed #5355 Update preload name in RUCSS notice
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
Labels: type: enhancement, module: remove unused css

#5364 Fixes #5363 Guard against empty value before passing it to the delete url method in preload
  inc/Engine/Preload/Subscriber.php
Labels: type: bug, module: preload

#5371 Fix warnings from integration test due to preload table
  tests/Integration/ApiTestCase.php
  tests/Integration/TestCase.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/Engine/Admin/Settings/Settings/sanitizeCallback.php
  tests/Integration/inc/Engine/CDN/RocketCDN/CDNOptionsManager/TestCase.php
  tests/Integration/inc/Engine/Cache/PurgeActionsSubscriber/maybePurgeCacheOnTermChange.php
  tests/Integration/inc/Engine/Cache/PurgeActionsSubscriber/purgeDatesArchives.php
  tests/Integration/inc/Engine/Cache/PurgeActionsSubscriber/purgePostTermsUrls.php
  tests/Integration/inc/Engine/CriticalPath/Admin/Subscriber/setAsyncCssMobileDefaultValue.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSS/getCriticalCssContent.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSS/processHandler.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/insertCriticalCssBuffer.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/delete.php
  tests/Integration/inc/Engine/CriticalPath/RESTWPPost/generate.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Admin/Subscriber/sanitizeOptions.php
  tests/Integration/inc/Engine/Optimization/Minify/AdminSubscriber/cleanMinifyAll.php
  tests/Integration/inc/Engine/Optimization/Minify/CSS/AdminSubscriber/cleanMinify.php
  tests/Integration/inc/Engine/Support/Subscriber/registerSupportRoute.php
  tests/Integration/inc/ThirdParty/Themes/Avada/cleanDomain.php
  tests/Integration/inc/ThirdParty/Themes/Bridge/maybeClearCache.php
  tests/Integration/inc/ThirdParty/Themes/Divi/disableImageDimensionsHeightPercentage.php
  tests/Integration/inc/ThirdParty/Themes/Divi/maybeDisableYoutubePreview.php
  tests/Integration/inc/ThirdParty/Themes/Divi/removeAssetsGenerated.php
  tests/Integration/inc/admin/rocketAfterSaveOptions.php
  tests/Integration/inc/admin/rocketNewUpgrade.php
  tests/Integration/inc/common/rocketCleanCacheThemeUpdate.php
  tests/Integration/inc/common/rocketCleanPostCacheOnSlugChange.php
  tests/Integration/inc/common/rocketGetPurgeUrls.php
  tests/Integration/inc/common/rocketWidgetUpdateCallback.php
  tests/Integration/inc/functions/getRocketSamplePermalink.php
  tests/Integration/inc/functions/rocketCleanDomain.php
  tests/Integration/inc/functions/rocketCleanFiles.php
Labels: module: preload, dev initiative, test

#5370 Fixes #5369 bail out when user is logged to prevent changing preload status
  inc/Engine/Preload/Subscriber.php
Labels: type: bug, module: preload, effort: [XS]
