Repository wp-media/wp-rocket, pull requests merged in 2023-05, with the labels that each got.

#5784 sanitize WooCommerce checkout cart and account urls before exclusion
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
  inc/functions/options.php
  tests/Fixtures/inc/functions/getRocketCacheRejectUri.php
  tests/Unit/inc/functions/getRocketCacheRejectUri.php
Labels: type: enhancement, 3rd party compatibility, module: htaccess

#5877 Enhancement 5296: Add compatibility wp geotargeting
  composer.json
  inc/3rd-party/3rd-party.php
  inc/Plugin.php
  inc/ThirdParty/Plugins/WPGeotargeting.php
  inc/ThirdParty/ServiceProvider.php
  inc/deprecated/3.13.php
  inc/main.php
  tests/Fixtures/inc/ThirdParty/Plugins/WPGeotargeting/activateGeotargetingwp.php
  tests/Fixtures/inc/ThirdParty/Plugins/WPGeotargeting/addGeotCookies.php
  tests/Fixtures/inc/ThirdParty/Plugins/WPGeotargeting/deactivateGeotargetingwp.php
  tests/Fixtures/inc/ThirdParty/Plugins/WPGeotargeting/fixtures.php
  tests/Fixtures/inc/ThirdParty/Plugins/WPGeotargeting/maybeDisableRules.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Plugins/WPGeotargeting/addGeotCookies.php
  tests/Integration/inc/ThirdParty/Plugins/WPGeotargeting/maybeDisableRules.php
  tests/Unit/bootstrap.php
  tests/Unit/inc/ThirdParty/Plugins/WPGeotargeting/activateGeotargetingwp.php
  tests/Unit/inc/ThirdParty/Plugins/WPGeotargeting/addGeotCookies.php
  tests/Unit/inc/ThirdParty/Plugins/WPGeotargeting/deactivateGeotargetingwp.php
  tests/Unit/inc/ThirdParty/Plugins/WPGeotargeting/maybeDisableRules.php
Labels: type: enhancement, waiting for feedback, 3rd party compatibility

#5876 Closes #5282: DJE duplicates ID with elementor recommended exclusions
  assets/js/elementor-animation.js
  tests/Fixtures/inc/ThirdParty/Plugins/PageBuilder/Elementor/addFixAnimationsScript.php
Labels: type: bug, 3rd party compatibility, module: delay JS

#5906 Fix: Allow caching WP Rest API when helper plugin is activated.
  inc/classes/Buffer/class-cache.php
Labels: type: bug, module: cache

#5890 Enhancement/5736 disable concat on rucss
  inc/Plugin.php
  inc/ThirdParty/Themes/ServiceProvider.php
  inc/ThirdParty/Themes/Themify.php
  inc/ThirdParty/Themes/ThirdpartyTheme.php
  tests/Fixtures/inc/ThirdParty/Themes/Themify/disableConcatOnSavingData.php
  tests/Fixtures/inc/ThirdParty/Themes/Themify/disablingConcatOnRucss.php
  tests/Fixtures/inc/ThirdParty/Themes/Themify/maybeEnableDevMode.php
  tests/Unit/inc/ThirdParty/Themes/Themify/disableConcatOnSavingData.php
  tests/Unit/inc/ThirdParty/Themes/Themify/disablingConcatOnRucss.php
  tests/Unit/inc/ThirdParty/Themes/Themify/maybeEnableDevMode.php
Labels: type: enhancement, waiting for feedback, 3rd party compatibility

#5931 Closes #5929: Updated wordings for delayjs one click exclusions
  inc/Engine/Admin/Settings/Page.php
Labels: type: enhancement, module: delay JS, module: user interface

#5939 Fixes #5492: PHP Warning with undefined array key host
  inc/Engine/Optimization/AbstractOptimization.php
  tests/Fixtures/inc/Engine/Optimization/AbstractOptimization/isExternalFile.php
Labels: type: bug, module: cache

#5922 Added fix for the fail on redis by replacing transient by an option
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Frontend/APIClient.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  inc/Engine/WPRocketUninstall.php
  inc/functions/options.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/onUpdate.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/onUpdate.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/APIClient/addToQueue.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/onInstall.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/onUpdate.php
  tests/Unit/inc/functions/rocketCheckKey.php
Labels: type: bug, module: remove unused css

#5934 Fixes #5893: Escape quotes in permalink structure
  inc/functions/files.php
Labels: type: bug, module: filesystem

#5908 Fixes #5801: PHP Deprecated notice
  inc/Dependencies/Database/Base.php
  inc/Dependencies/Database/Column.php
  inc/Dependencies/Database/Queries/Compare.php
  inc/Dependencies/Database/Queries/Date.php
  inc/Dependencies/Database/Queries/Meta.php
  inc/Dependencies/Database/Query.php
  inc/Dependencies/Database/Row.php
  inc/Dependencies/Database/Schema.php
  inc/Dependencies/Database/Table.php
Labels: type: bug
