Repository wp-media/wp-rocket, pull requests merged in 2023-04, with the labels that each got.

#5846 Closes #5844: PRO ISP compatibility
  composer.json
  inc/ThirdParty/Hostings/HostResolver.php
  inc/ThirdParty/Hostings/HostSubscriberFactory.php
  inc/ThirdParty/Hostings/ProIsp.php
  tests/Fixtures/inc/ThirdParty/Hostings/ProIsp/maybeSetVarnishAddonTitle.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Hostings/ProIsp/maybeSetVarnishAddonTitle.php
  tests/Unit/inc/ThirdParty/Hostings/ProIsp/maybeSetVarnishAddonTitle.php
Labels: type: enhancement, 3rd party compatibility

#5826 Added `jquery-migrate` into default exclusions
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
Labels: type: enhancement, waiting for feedback, module: delay JS

#5763 exclude uncode app and plugin js files from combined and delay js
  inc/ThirdParty/Themes/Uncode.php
  tests/Fixtures/inc/ThirdParty/Themes/Uncode/excludeDelayJs.php
  tests/Fixtures/inc/ThirdParty/Themes/Uncode/excludeJs.php
  tests/Integration/inc/ThirdParty/Themes/Uncode/excludeDelayJs.php
  tests/Integration/inc/ThirdParty/Themes/Uncode/excludeJS.php
  tests/Unit/inc/ThirdParty/Themes/Uncode/excludeDelayJS.php
  tests/Unit/inc/ThirdParty/Themes/Uncode/excludeJS.php
Labels: waiting for feedback

#5864 Closes #5862: Fix deprecation errors
  inc/Dependencies/Minify/JS.php
  inc/Engine/Optimization/DelayJS/HTML.php
Labels: type: enhancement, module: minify JS, module: delay JS

#5776 Closes #5127: Replace YouTube iframe with preview image alt attribute empty
  inc/Dependencies/RocketLazyload/Assets.php
  inc/Dependencies/RocketLazyload/Iframe.php
Labels: type: enhancement, module: lazyload youtube preview image

#5828 Added callback `exclude_pages` to `rocket_preload_exclude_urls`
  inc/Engine/Preload/Controller/CheckExcludedTrait.php
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
  tests/Fixtures/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/excludePages.php
  tests/Unit/inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber/excludePages.php
Labels: 3rd party compatibility, module: preload

#5814 Closes #5742: HTML Shown in Sucuri add-on section
  inc/Engine/Admin/Settings/Page.php
Labels: type: bug, 3rd party compatibility, Module: dashboard

#5800 Clear cache when Elementor's maintenance mode changes
  inc/ThirdParty/Plugins/PageBuilder/Elementor.php
Labels: type: enhancement, 3rd party compatibility

#5807 Updated protocol.php to prevent removing https from canonical links
  inc/front/protocol.php
Labels: type: bug, module: cloudflare

#5829 Added logs to delayJs
  inc/Engine/Optimization/DelayJS/HTML.php
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  tests/Unit/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: type: enhancement, module: delay JS

#5819 Closes #5764: Sanitize rocket_clean_user path the same way as we create the path when caching
  inc/classes/Buffer/class-cache.php
  inc/functions/files.php
Labels: type: enhancement, waiting for feedback, module: cache

#5865 use preload exclusions from the backend
  inc/Engine/Optimization/DynamicLists/DynamicLists.php
  inc/Engine/Optimization/DynamicLists/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/DynamicLists/getPreloadExclusions.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/Subscriber/addPreloadExclusions.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/excludeInlineJs.php
  tests/Integration/inc/Engine/Optimization/DynamicLists/Subscriber/addPreloadExclusions.php
  tests/Integration/inc/Engine/Optimization/DynamicLists/Subscriber/updateLists.php
  tests/Unit/inc/Engine/Optimization/DynamicLists/DynamicLists/getPreloadExclusions.php
Labels: type: bug, 3rd party compatibility, module: preload

#5880 Update SEOPress added new version functions
  inc/ThirdParty/Plugins/SEO/SEOPress.php
  tests/Fixtures/inc/ThirdParty/Plugins/SEO/SEOPress/fixtures.php
Labels: type: enhancement, 3rd party compatibility

#5758 closes 5111 serve webp for youtube
  composer.json
  inc/Addon/WebP/Subscriber.php
  inc/Dependencies/RocketLazyload/Assets.php
  inc/Dependencies/RocketLazyload/Image.php
  inc/Engine/Media/Lazyload/Subscriber.php
  tests/Fixtures/inc/Addon/WebP/Subscriber/changeYoutubeThumbnail.php
  tests/Unit/inc/Addon/WebP/Subscriber/changeYoutubeThumbnail.php
Labels: type: enhancement, needs: documentation, module: webp cache
