Repository wp-media/wp-rocket, pull requests merged in 2023-10, with the labels that each got.

#6189 Closes #6152: Add license type to what is reported to Mixpanel
  assets/css/wpr-admin.css
  assets/css/wpr-admin.min.css
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.min.map
  assets/js/wpr-admin.min.js
  inc/Engine/Admin/Settings/Page.php
  inc/admin/admin.php
  inc/functions/admin.php
  src/js/global/main.js
  src/scss/layout/_Rocketanalytics.scss
  src/scss/main.scss
  tests/Fixtures/inc/Engine/CDN/RocketCDN/NoticesSubscriber/promoteRocketcdnNotice.php
  tests/Fixtures/inc/functions/admin/rocketGetLicenseType.php
  tests/Unit/inc/functions/admin/rocketGetLicenseType.php
  views/settings/page.php
Labels: type: enhancement, priority: medium, effort: [XS]

#6188 Fix WP Rocket deactivation modal style applied to the checkboxes in the plugins page in WordPress 6.3
  assets/css/wpr-modal.css
Labels: type: enhancement, priority: medium, effort: [XS], module: user interface

#6203 Closes #6146 - Lazyload for CSS background images
  assets/js/lazyload-css.min.js
  assets/js/lazyload-css.min.js.map
  inc/Engine/Media/Lazyload/CSS/Front/TagGenerator.php
  src/js/global/lazyload-css.js
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Front/TagGenerator/generate.php
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/CSS/external.css.json
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/CSS/external_lazyloaded.css
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/CSS/lazyload.css.json
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/CSS/lazyloaded.css
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/HTML/html_excluded.php
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/HTML/html_output.php
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/maybeReplaceCssImages.php
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/maybeReplaceCssImages.php
  tests/Integration/inc/Engine/Media/Lazyload/CSS/Subscriber/maybeReplaceCssImages.php
Labels: type: enhancement, priority: medium, effort: [S], module: lazyload background css images

#6208 Add Database classes for Above the fold optimization
  inc/Engine/Common/Database/Queries/AbstractQuery.php
  inc/Engine/Media/AboveTheFold/Database/Queries/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Database/Rows/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Database/Schemas/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Database/Tables/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php
  inc/Engine/WPRocketUninstall.php
  inc/Plugin.php
  tests/Integration/inc/Engine/WPRocketUninstall/uninstall.php
  uninstall.php
Labels: module: media, type: sub-task

#6210 Closes #6137: remove unnecessary exclusions css background images' lazyload
  inc/Engine/Media/Lazyload/CSS/Subscriber.php
  tests/Integration/inc/Engine/Media/Lazyload/CSS/Subscriber/addLazyloadScriptExcludeJs.php
  tests/Integration/inc/Engine/Media/Lazyload/CSS/Subscriber/addLazyloadScriptRocketDelayJsExclusions.php
  tests/Integration/inc/Engine/Media/Lazyload/CSS/Subscriber/addLazyloadScriptRocketExcludeDeferJs.php
  tests/Unit/inc/Engine/Media/Lazyload/CSS/Subscriber/addLazyloadScriptExcludeJs.php
  tests/Unit/inc/Engine/Media/Lazyload/CSS/Subscriber/addLazyloadScriptRocketDelayJsExclusions.php
  tests/Unit/inc/Engine/Media/Lazyload/CSS/Subscriber/addLazyloadScriptRocketExcludeDeferJs.php
Labels: type: enhancement, priority: medium, module: defer JS, module: delay JS

#6212 Closes #6175 Fatal error related to Logger
  inc/Engine/Cache/PurgeActionsSubscriber.php
  tests/Fixtures/content/endingContent.php
  tests/Fixtures/inc/Engine/Cache/PurgeActionsSubscriber/onUpdate.php
  tests/Unit/inc/Engine/Cache/PurgeActionsSubscriber/onUpdate.php
  views/cache/advanced-cache.php
Labels: type: bug, module: Logger, priority: medium

#6221 Closes #6157: Improve Pressidium compatibility
  composer.json
  inc/3rd-party/3rd-party.php
  inc/3rd-party/hosting/pressidium.php
  inc/ThirdParty/Hostings/HostResolver.php
  inc/ThirdParty/Hostings/HostSubscriberFactory.php
  inc/ThirdParty/Hostings/Pressidium.php
  tests/Fixtures/classes/NinukisCaching.php
  tests/Fixtures/inc/ThirdParty/Hostings/Pressidium/cleanPost.php
  tests/Fixtures/inc/ThirdParty/Hostings/Pressidium/pressidiumVarnishField.php
  tests/Fixtures/inc/ThirdParty/Hostings/Pressidium/purgeUrl.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Hostings/Pressidium/cleanPost.php
  tests/Integration/inc/ThirdParty/Hostings/Pressidium/clearCacheAfterPressidium.php
  tests/Integration/inc/ThirdParty/Hostings/Pressidium/pressidiumVarnishField.php
  tests/Integration/inc/ThirdParty/Hostings/Pressidium/purgeUrl.php
  tests/Unit/inc/ThirdParty/Hostings/Pressidium/cleanPost.php
  tests/Unit/inc/ThirdParty/Hostings/Pressidium/cleanPressidium.php
  tests/Unit/inc/ThirdParty/Hostings/Pressidium/clearCacheAfterPressidium.php
  tests/Unit/inc/ThirdParty/Hostings/Pressidium/pressidiumVarnishField.php
  tests/Unit/inc/ThirdParty/Hostings/Pressidium/purgeUrl.php
Labels: type: enhancement, 3rd party compatibility

#6216 Closes #6204: Refine RUCSS error reporting
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Row/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Schemas/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Frontend/APIClient.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/updateMessage.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/checkJobStatus.php
  tests/Integration/DBTrait.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/checkJobStatus.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/check_job_status.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/updateMessage.php
Labels: type: enhancement

#6226 Closes #6206: Conflict with Advanced Ads plugin causes fatal error when viewing Popular tab in the Ad New plugins page
  inc/Engine/Plugin/InformationSubscriber.php
Labels: type: bug, 3rd party compatibility

#6198 Closes #6186: Update Delay JS to latest version
  assets/js/lazyload-scripts.min.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: type: enhancement, effort: [XS], module: delay JS

#6230 Enhancement/6213 prevent 400
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
  inc/Engine/Optimization/RUCSS/Context/RUCSSContext.php
  inc/Engine/Optimization/RUCSS/Context/RUCSSOptimizeContext.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Cron/Subscriber.php
  inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Row/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Schemas/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Frontend/APIClient.php
  inc/Engine/Optimization/RUCSS/Frontend/Subscriber.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/checkJobStatus.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/processOnSubmitJobs.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/processPendingJobs.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/updateMessage.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/CSS/rucss.css
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/checkJobStatus.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronRemoveFailedJobs.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/processOnSubmitJobs.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/processPendingJobs.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/scheduleOnSubmitJobs.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS/createNewJob.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS/resetJob.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/HTML/input.html
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/HTML/output.html
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/HTTPCallTrait.php
  tests/Integration/DBTrait.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/addInterval.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/checkJobStatus.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronRemoveFailedJobs.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/processOnSubmitJobs.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/scheduleOnSubmitJobs.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/UsedCSSTrait.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/checkJobStatus.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/clearFailedUrls.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/processOnSubmitJobs.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/processPendingJobs.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/updateMessage.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS/createNewJob.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS/resetJob.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/onInstall.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/onUpdate.php
Labels: type: enhancement, module: remove unused css

#6218 Closes #6181: DB Query can cause timeout
  inc/Engine/Preload/Controller/CheckExcludedTrait.php
  inc/Engine/Preload/Subscriber.php
  inc/functions/posts.php
  tests/Fixtures/inc/Engine/Preload/Controller/CheckExcludedTrait/isExcludedByFilter.php
  tests/Fixtures/inc/Engine/Preload/Subscriber/excludePrivatePostUri.php
  tests/Fixtures/inc/Engine/Preload/Subscriber/excludePrivateUrl.php
  tests/Unit/inc/Engine/Preload/Controller/CheckExcludedTrait/isExcludedByFilter.php
Labels: type: bug, severity: major

#6250 Changed on_submit to pending
  inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS/createNewJob.php
Labels: type: bug, module: remove unused css
