Repository wp-media/wp-rocket, pull requests merged in 2023-01, with the labels that each got.

#5653 Release prices
  dynamic-lists.json
  inc/Engine/License/API/PricingClient.php
  inc/Engine/License/Renewal.php
  inc/admin/upgrader.php
  tests/Fixtures/inc/Engine/License/Renewal/displayRenewalExpiredBanner.php
  tests/Fixtures/inc/Engine/License/Renewal/displayRenewalSoonBanner.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayRenewalExpiredBanner.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayRenewalSoonBanner.php
  tests/Integration/inc/Engine/License/Subscriber/displayRenewalExpiredBanner.php
  tests/Unit/inc/Engine/License/API/UserClient/getUserData.php
  tests/Unit/inc/Engine/License/Renewal/displayRenewalExpiredBanner.php
  tests/Unit/inc/admin/rocketNewUpgrade.php
  wp-rocket.php
Labels: type: enhancement

#5655 Closes #5439 RUCSS - "database error table doesn't exist for queries" errors in the debug.log
  inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/deleteTermUsedCss.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/deleteUsedCssOnUpdateOrDelete.php
Labels: type: bug, module: remove unused css

#5660 Fix grandmother failing tests
  tests/Fixtures/inc/Engine/License/Renewal/displayRenewalSoonBanner.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayRenewalExpiredBanner.php
  tests/Fixtures/inc/Engine/License/Subscriber/displayRenewalSoonBanner.php
Labels: dev initiative

#5666 Added $ to `cache_reject_uri` to prevent partial urls to be used.
  inc/Engine/Preload/Controller/CheckExcludedTrait.php
  inc/functions/formatting.php
  tests/Fixtures/inc/Engine/Preload/Controller/CheckExcludedTrait/addCacheRejectUriToExcluded.php
  tests/Unit/inc/Engine/Preload/Controller/CheckExcludedTrait/addCacheRejectUriToExcluded.php
Labels: type: bug, module: preload

#5668 Add compatibility with Members
  inc/Engine/Capabilities/Manager.php
  inc/Engine/Capabilities/Subscriber.php
Labels: type: enhancement, 3rd party compatibility

#5581 Closes #4773 Clear cache partially for never cache urls
  inc/Engine/Cache/Purge.php
  inc/Engine/Cache/PurgeActionsSubscriber.php
  inc/Engine/Cache/ServiceProvider.php
  inc/admin/options.php
  tests/Fixtures/inc/Engine/Cache/Purge/purgeCacheRejectUriPartially.php
  tests/Integration/inc/Engine/Cache/PurgeActionsSubscriber/purgeCacheRejectUriPartially.php
  tests/Unit/inc/Engine/Cache/Purge/purgeCacheRejectUriPartially.php
  tests/Unit/inc/Engine/Cache/Purge/purgeDatesArchives.php
  tests/Unit/inc/Engine/Cache/Purge/purgePostTermsUrls.php
Labels: type: enhancement, module: cache

#5650 Added call to make homepage generation on clean RUCSS
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCss.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCSSHandler.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/truncateUsedCss.php
Labels: type: bug, module: remove unused css

#5627 Closes #5617 Update Minify dependency with latest changes
  inc/Dependencies/Minify/CSS.php
Labels: type: enhancement, module: minify CSS, module: minify JS

#5215 Closes #5207 on redirect loop
  inc/Engine/Cache/Config/Subscriber.php
  inc/Plugin.php
  inc/classes/Buffer/class-cache.php
  inc/classes/Buffer/class-config.php
  inc/functions/files.php
Labels: type: bug, module: cache

#5656 Added a way to change lazyload regex and logic to change it for Avada
  inc/Dependencies/RocketLazyload/Image.php
  inc/ThirdParty/Themes/Avada.php
  tests/Fixtures/inc/ThirdParty/Themes/Avada/fixRegexLazyloadBgImages.php
  tests/Unit/inc/ThirdParty/Themes/Avada/fixRegexLazyloadBgImages.php
Labels: module: lazyload images

#5673 Fix/5671 fix lock problem on disable rucss
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Preload/Database/Queries/Cache.php
  inc/Engine/Preload/Subscriber.php
  inc/admin/upgrader.php
Labels: module: preload, module: remove unused css
