Repository wp-media/wp-rocket, pull requests merged in 2023-02, with the labels that each got.

#5669 Closes 5533 & 5424 Detect use of Perfmatters and RapidLoad used css
  composer.json
  inc/Engine/Admin/Settings/Page.php
  inc/Plugin.php
  inc/ThirdParty/Plugins/Optimization/Perfmatters.php
  inc/ThirdParty/Plugins/Optimization/RapidLoad.php
  inc/ThirdParty/ServiceProvider.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/Perfmatters/disableRucssSetting.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/RapidLoad/disableRucssSetting.php
  tests/Fixtures/inc/ThirdParty/Plugins/Optimization/RapidLoad/rocketCleanCacheOnDeactivation.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/Perfmatters/disableRucssSetting.php
  tests/Integration/inc/ThirdParty/Plugins/Optimization/RapidLoad/disableRucssSetting.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/Perfmatters/disableRucssSetting.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/RapidLoad/disableRucssSetting.php
  tests/Unit/inc/ThirdParty/Plugins/Optimization/RapidLoad/rocketCleanCacheOnDeactivation.php
  views/settings/sections/fields-container.php
Labels: type: enhancement, 3rd party compatibility, module: remove unused css

#5694 Closes #5682 RocketCDN CTA banner displayed in cdn tab on one dot com hosting
  composer.json
  inc/Engine/CDN/RocketCDN/AdminPageSubscriber.php
  inc/Engine/CDN/RocketCDN/NoticesSubscriber.php
  inc/ThirdParty/Hostings/OneCom.php
  tests/Integration/inc/ThirdParty/Hostings/OneCom/disableCDNChange.php
  tests/Integration/inc/ThirdParty/Hostings/OneCom/excludeFromCDN.php
  tests/Integration/inc/ThirdParty/Hostings/OneCom/maybeSetVarnishAddonTitle.php
  tests/Integration/inc/ThirdParty/Hostings/OneCom/maybeUpdateCDNCname.php
  tests/Integration/inc/ThirdParty/Hostings/OneCom/maybeUpdateCDNZone.php
Labels: type: enhancement, 3rd party compatibility, module: rocketcdn, module: user interface

#5714 Update action scheduler to v3.5.4
  inc/Dependencies/ActionScheduler/action-scheduler.php
  inc/Dependencies/ActionScheduler/changelog.txt
  inc/Dependencies/ActionScheduler/classes/ActionScheduler_ActionFactory.php
  inc/Dependencies/ActionScheduler/classes/ActionScheduler_AdminView.php
  inc/Dependencies/ActionScheduler/classes/ActionScheduler_QueueRunner.php
  inc/Dependencies/ActionScheduler/classes/abstracts/ActionScheduler_Abstract_QueueRunner.php
  inc/Dependencies/ActionScheduler/classes/abstracts/ActionScheduler_Store.php
  inc/Dependencies/ActionScheduler/classes/data-stores/ActionScheduler_DBStore.php
  inc/Dependencies/ActionScheduler/classes/schedules/ActionScheduler_NullSchedule.php
  inc/Dependencies/ActionScheduler/classes/schema/ActionScheduler_StoreSchema.php
  inc/Dependencies/ActionScheduler/functions.php
  inc/Dependencies/ActionScheduler/readme.txt
Labels: type: enhancement, tool: background process

#5696 disable preload for pagination URLs
  inc/Engine/Preload/Controller/CheckExcludedTrait.php
  tests/Fixtures/inc/Engine/Preload/Controller/CheckExcludedTrait/isExcludedByFilter.php
  tests/Unit/inc/Engine/Preload/Controller/CheckExcludedTrait/isExcludedByFilter.php
Labels: type: enhancement, module: preload

#5697 Fix/5645 add guard
  inc/Engine/Plugin/UpdaterSubscriber.php
  inc/Engine/Preload/Database/Queries/Cache.php
  tests/Fixtures/inc/Engine/Preload/Database/Queries/Cache/createOrUpdate.php
  tests/Unit/inc/Engine/Preload/Database/Queries/Cache/createOrUpdate.php
Labels: module: preload

#5664 Closes #5654 Update WebP detection for browsers missing Accept headers data
  inc/Addon/ServiceProvider.php
  inc/Addon/WebP/AbstractWebp.php
  inc/Addon/WebP/AdminSubscriber.php
  inc/Addon/WebP/Subscriber.php
  inc/Plugin.php
  inc/classes/Buffer/class-cache.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/subscriber/Media/class-webp-subscriber.php
  inc/classes/subscriber/third-party/plugins/Images/Webp/webp-interface.php
  tests/Fixtures/inc/Addon/WebP/AdminSubscriber/maybeDisableSettingField.php
  tests/Fixtures/inc/Addon/WebP/AdminSubscriber/webpSectionDescription.php
  tests/Fixtures/inc/Addon/WebP/Subscriber/convertToWebp.php
  tests/Fixtures/inc/Addon/WebP/Subscriber/maybeDisableWebpCache.php
  tests/Fixtures/inc/Addon/WebP/Subscriber/nomatch.html
  tests/Fixtures/inc/Addon/WebP/Subscriber/original.html
  tests/Fixtures/inc/Addon/WebP/Subscriber/syncWebpCacheWithThirdPartyPlugins.php
  tests/Fixtures/inc/Addon/WebP/Subscriber/updated.html
  tests/Fixtures/inc/classes/subscriber/Media/WebpSubscriber/convert-to-webp-match.php
  tests/Fixtures/inc/classes/subscriber/Media/WebpSubscriber/convert-to-webp-noextensions-attributes.php
  tests/Fixtures/inc/classes/subscriber/Media/WebpSubscriber/convert-to-webp-nomatch.php
  tests/Integration/inc/Addon/WebP/Subscriber/convertToWebp.php
  tests/Unit/inc/Addon/WebP/AdminSubscriber/maybeDisableSettingField.php
  tests/Unit/inc/Addon/WebP/AdminSubscriber/webpSectionDescription.php
  tests/Unit/inc/Addon/WebP/Subscriber/convertToWebp.php
  tests/Unit/inc/Addon/WebP/Subscriber/maybeDisableWebpCache.php
  tests/Unit/inc/Addon/WebP/Subscriber/syncWebpCacheWithThirdPartyPlugins.php
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/TestCase.php
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/convertToWebp.php
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/maybeDisableSettingField.php
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/maybeDisableWebpCache.php
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/syncWebpCacheWithThirdPartyPlugins.php
  tests/Unit/inc/classes/subscriber/Media/WebpSubscriber/webpSectionDescription.php
Labels: type: enhancement, module: webp cache

#5759 Fixed the warning when the plugin param is not defined
  inc/Engine/Plugin/UpdaterSubscriber.php
Labels: module: preload

#5757 Closes #5756 Update delay js script
  assets/js/lazyload-scripts.min.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: type: bug, module: delay JS
