Repository wp-media/wp-rocket, pull requests merged in 2023-09, with the labels that each got.

#6148 Fix PHP warnings in tests on PHP 8.1/8.2
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronCleanRows.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/addCdnHelperMessage.php
Labels: type: bug, dev initiative

#6149 Closes #6139 Add lazyload CSS background images to support data
  inc/Engine/Support/Data.php
  tests/Fixtures/inc/Engine/Support/Data/getSupportData.php
Labels: type: enhancement, module: lazyload background css images

#6150 Fixes 6132: Added tests and new logic for supporting pseudoclasses
  inc/Engine/Media/Lazyload/CSS/Front/MappingFormatter.php
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Front/MappingFormatter/format.php
Labels: type: bug, module: lazyload background css images

#6144 Closes #6133 Remove lazyload background images script when DONOTCACHEPAGE
  inc/Engine/Media/Lazyload/CanLazyloadTrait.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
  tests/Integration/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
  tests/Integration/inc/Engine/Media/Lazyload/Subscriber/lazyload.php
  tests/StubTrait.php
  tests/Unit/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
Labels: type: enhancement, module: lazyload background css images

#6167 Closes #6158: Problem with handling identical DOM elements with Lazyload background css images
  assets/js/lazyload-css.js
  assets/js/lazyload-css.min.js
  assets/js/lazyload-css.min.js.map
  inc/Engine/Media/Lazyload/CSS/Front/MappingFormatter.php
  src/js/global/lazyload-css.js
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Front/MappingFormatter/format.php
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/CSS/external.css.json
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/CSS/lazyload.css.json
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/HTML/html_excluded.php
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Subscriber/integration/HTML/html_output.php
Labels: type: bug, priority: high, module: lazyload background css images

#6100 Closes #6033 Add partial clean of SpinupWP cache
  inc/ThirdParty/Hostings/SpinUpWP.php
Labels: type: enhancement, 3rd party compatibility

#6147 Closes 5372: Added 3rd party class for shoptimizer
  inc/Plugin.php
  inc/ThirdParty/Themes/ServiceProvider.php
  inc/ThirdParty/Themes/Shoptimizer.php
  tests/Fixtures/inc/ThirdParty/Themes/Shoptimizer/excludeJqueryDeferjsWithCartDrawer.php
  tests/Integration/inc/ThirdParty/Themes/Shoptimizer/excludeJqueryDeferjsWithCartDrawer.php
  tests/Unit/inc/ThirdParty/Themes/Shoptimizer/excludeJqueryDeferjsWithCartDrawer.php
Labels: type: enhancement, module: defer JS

#6140 Fixed duplicate query on RUCSS
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
Labels: type: bug, module: remove unused css
