Repository wp-media/wp-rocket, pull requests merged in 2023-11, with the labels that each got.

#6234 Close #3444 Added code to delete params files
  inc/Engine/Cache/Purge.php
  inc/functions/files.php
Labels: type: bug, module: cache

#6225 Closes #6199: Lazyload CSS Background Images triggers DOMException errors because of incorrect selector
  inc/Engine/Media/Lazyload/CSS/Front/Extractor.php
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Front/Extractor/CSS/content_with_url.php
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Front/Extractor/extract.php
  tests/Fixtures/inc/Engine/Media/Lazyload/CSS/Front/TagGenerator/generate.php
Labels: type: bug, priority: medium, severity: major, module: lazyload background css images

#6197 Closes #5279: WP Rockets picks up wrong URL as referrer while using Weglot
  composer.json
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Plugin.php
  inc/ThirdParty/Plugins/I18n/Weglot.php
  inc/ThirdParty/ServiceProvider.php
  inc/common/admin-bar.php
  tests/Fixtures/inc/ThirdParty/Plugins/I18n/Weglot/addLangsToReferer.php
  tests/Integration/inc/ThirdParty/Plugins/I18n/Weglot/addLangsToReferer.php
  tests/Unit/inc/ThirdParty/Plugins/I18n/Weglot/addLangsToReferer.php
Labels: type: bug, 3rd party compatibility, priority: medium, severity: major

#6248 Added logic to keep error message
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/updateMessage.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/checkJobStatus.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/updateMessage.php
Labels: type: bug, module: remove unused css

#6261 Closes #6173: Move staging domains to SaaS
  inc/Engine/Optimization/DynamicLists/DynamicLists.php
  inc/Engine/Optimization/DynamicLists/Subscriber.php
  inc/functions/api.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/DynamicLists/getStagings.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/Subscriber/addStagingExclusions.php
  tests/Integration/inc/Engine/Optimization/DynamicLists/Subscriber/addStagingExclusions.php
  tests/Integration/inc/functions/rocketIsLiveSite.php
  tests/Unit/inc/Engine/Optimization/DynamicLists/DynamicLists/getStagings.php
  tests/Unit/inc/functions/rocketIsLiveSite.php
Labels: type: enhancement

#6272 Fixes 6271: Prevent saas looping
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/processOnSubmitJobs.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/processOnSubmitJobs.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/processOnSubmitJobs.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/processOnSubmitJobs.php
Labels: type: bug, module: remove unused css

#6274 Closes #4226: Importing data should not clear cache
  inc/Engine/Cache/PurgeActionsSubscriber.php
  inc/common/purge.php
  inc/functions/api.php
  inc/functions/files.php
  tests/Fixtures/inc/common/rocketCleanCacheThemeUpdate.php
Labels: type: enhancement, module: cache
