Repository wp-media/wp-rocket, pull requests merged in 2023-07, with the labels that each got.

#5995 Add PHPStan usage & fix errors in Cloudflare addon
  composer.json
  inc/Addon/Cloudflare/API/Client.php
  inc/Addon/Cloudflare/API/Endpoints.php
  inc/Addon/Cloudflare/Admin/Subscriber.php
  inc/Addon/Cloudflare/Auth/APIKey.php
  inc/Addon/Cloudflare/Auth/AuthInterface.php
  inc/Addon/Cloudflare/Cloudflare.php
  inc/Addon/Cloudflare/ServiceProvider.php
  inc/Addon/Cloudflare/Subscriber.php
  phpstan.neon.dist
  tests/Fixtures/inc/Addon/Cloudflare/Cloudflare/getCloudflareIps.php
Labels: module: cloudflare, dev initiative

#5993 Enhancement/5984 woocommerce product sorting not woring with wpr
  inc/ThirdParty/Plugins/Ecommerce/WooCommerceSubscriber.php
Labels: type: enhancement, 3rd party compatibility

#6031 Fixes #5970: Delay js new jquery regex not working
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/ThirdParty/Themes/MinimalistBlogger.php
  tests/Fixtures/inc/ThirdParty/Themes/MinimalistBlogger/excludeJqueryFromDelayJs.php
Labels: type: bug, module: delay JS

#5240 Fix #3947: Add a notice on request fail on SAAS server from RUCSS
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/WPRocketUninstall.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displayProcessingNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySaasErrorNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/displayNoTableNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/displaySaasErrorNotice.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/maybeDeleteTransient.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/APIClient/addToQueue.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Frontend/APIClient/getQueueJobStatus.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/displaySaasErrorNotice.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Admin/Subscriber/maybeDeleteTransient.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displayProcessingNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySaasErrorNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Settings/displaySuccessNotice.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/maybeDeleteTransient.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/APIClient/addToQueue.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Frontend/APIClient/getQueueJobStatus.php
Labels: type: enhancement, module: remove unused css

#6004 LazyLoad CSS Background Images: Create skeleton #6000
  composer.json
  inc/Engine/Common/Cache/FilesystemCache.php
  inc/Engine/Common/ExtractCSS/Subscriber.php
  inc/Engine/Media/Lazyload/CSS/Admin/Subscriber.php
  inc/Engine/Media/Lazyload/CSS/Front/Extractor.php
  inc/Engine/Media/Lazyload/CSS/Front/TagGenerator.php
  inc/Engine/Media/Lazyload/CSS/Subscriber.php
Labels: type: new feature, type: sub-task

#6006 Closes #5998 Lazyload CSS background images: filesystem cache
  inc/Dependencies/Psr/SimpleCache/CacheException.php
  inc/Dependencies/Psr/SimpleCache/CacheInterface.php
  inc/Dependencies/Psr/SimpleCache/InvalidArgumentException.php
  inc/Engine/Common/Cache/FilesystemCache.php
  tests/Fixtures/inc/Engine/Common/Cache/FilesystemCache/clear.php
  tests/Fixtures/inc/Engine/Common/Cache/FilesystemCache/delete.php
  tests/Fixtures/inc/Engine/Common/Cache/FilesystemCache/deleteMultiple.php
  tests/Fixtures/inc/Engine/Common/Cache/FilesystemCache/generateUrl.php
  tests/Fixtures/inc/Engine/Common/Cache/FilesystemCache/get.php
  tests/Fixtures/inc/Engine/Common/Cache/FilesystemCache/getMultiple.php
  tests/Fixtures/inc/Engine/Common/Cache/FilesystemCache/has.php
  tests/Fixtures/inc/Engine/Common/Cache/FilesystemCache/set.php
  tests/Fixtures/inc/Engine/Common/Cache/FilesystemCache/setMultiple.php
  tests/Unit/inc/Engine/Common/Cache/FilesystemCache/clear.php
  tests/Unit/inc/Engine/Common/Cache/FilesystemCache/delete.php
  tests/Unit/inc/Engine/Common/Cache/FilesystemCache/deleteMultiple.php
  tests/Unit/inc/Engine/Common/Cache/FilesystemCache/generateUrl.php
  tests/Unit/inc/Engine/Common/Cache/FilesystemCache/get.php
  tests/Unit/inc/Engine/Common/Cache/FilesystemCache/getMultiple.php
  tests/Unit/inc/Engine/Common/Cache/FilesystemCache/has.php
  tests/Unit/inc/Engine/Common/Cache/FilesystemCache/set.php
  tests/Unit/inc/Engine/Common/Cache/FilesystemCache/setMultiple.php
Labels: type: new feature, type: sub-task

#5930 Closes #5902 Add renewal notice for expired license on plugins page
  inc/Engine/Plugin/RenewalNotice.php
  inc/Engine/Plugin/ServiceProvider.php
  inc/Engine/Plugin/UpdaterSubscriber.php
  tests/Fixtures/inc/Engine/Plugin/RenewalNotice/renewalNotice.php
  tests/Integration/inc/Engine/Plugin/RenewalNotice/renewalNotice.php
  tests/Unit/inc/Engine/Plugin/RenewalNotice/renewalNotice.php
  views/plugins/update-renewal-expired-notice.php
Labels: type: enhancement

#6029 Closes #6007 RankMath plugin section
  inc/Engine/Plugin/InformationSubscriber.php
  inc/admin/admin.php
  inc/deprecated/3.14.php
  tests/Fixtures/inc/Engine/Plugin/InformationSubscriber/addPluginsToResult.php
  tests/Unit/inc/Engine/Plugin/InformationSubscriber/addPluginsToResult.php
Labels: waiting for feedback, 3rd party compatibility

#6065 Enhancement/6041 add incompatible plugins backend
  .github/workflows/deploy_dynamic_lists_fallback.yml
  inc/Engine/Optimization/DynamicLists/DynamicLists.php
  inc/Engine/Optimization/DynamicLists/IncompatiblePluginsLists/APIClient.php
  inc/Engine/Optimization/DynamicLists/IncompatiblePluginsLists/DataManager.php
  inc/Engine/Optimization/DynamicLists/ServiceProvider.php
  inc/Engine/Optimization/DynamicLists/Subscriber.php
  inc/Engine/WPRocketUninstall.php
  inc/admin/ui/notices.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/DynamicLists/getIncompatiblePlugins.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/IncompatiblePluginsLists/DataManager/getPluginsList.php
  tests/Fixtures/inc/Engine/Optimization/DynamicLists/Subscriber/addIncompatiblePluginsToDeactivate.php
  tests/Integration/inc/Engine/Optimization/DynamicLists/Subscriber/Test_AddIncompatiblePluginsToDeactivate.php
  tests/Unit/inc/Engine/Optimization/DynamicLists/DynamicLists/getIncompatiblePlugins.php
  tests/Unit/inc/Engine/Optimization/DynamicLists/IncompatiblePluginsLists/DataManager/getPluginsList.php
Labels: type: enhancement, 3rd party compatibility, module: dynamic lists
