Repository wp-media/wp-rocket, pull requests merged in 2023-03, with the labels that each got.

#5795 Fix 5794: update delay js script
  assets/js/lazyload-scripts.min.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
Labels: type: bug, module: delay JS

#5772 Closes #5250 Update Vanilla Lazyload to 17.8.3
  assets/js/lazyload/17.8.3/lazyload.js
  assets/js/lazyload/17.8.3/lazyload.min.js
  inc/Engine/Media/Lazyload/Subscriber.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/content/insertLazyloadScript.php
  tests/Fixtures/inc/Engine/Media/Lazyload/Subscriber/insertLazyloadScript.php
Labels: type: enhancement, module: lazyload images, module: lazyload iframes and videos

#5770 Closes #5674 Cancel AS preload pending jobs after truncating cache table
  inc/Engine/Preload/Subscriber.php
  tests/Unit/inc/Engine/Preload/Subscriber/onPermalinkChanged.php
Labels: type: bug, module: preload

#5749 Fixes #5747 Added referrer by default to actions
  inc/classes/class-abstract-render.php
Labels: type: bug, module: cache, priority: low

#5730 Closes #5687 Remove multiple config files on deactivation
  inc/functions/files.php
Labels: type: bug, module: cache

#5701 Closes #5675 improve wpx hosting compatibility
  composer.json
  inc/ThirdParty/Hostings/WPXCloud.php
  tests/Fixtures/inc/ThirdParty/Hostings/WPXCloud/appendCacheControlHeader.php
  tests/Fixtures/inc/ThirdParty/Hostings/WPXCloud/removeHtaccessHtmlExpire.php
  tests/Integration/inc/ThirdParty/Hostings/WPXCloud/appendCacheControlHeader.php
  tests/Unit/inc/ThirdParty/Hostings/WPXCloud/appendCacheControlHeader.php
Labels: type: enhancement, 3rd party compatibility, needs: documentation

#5704 Closes #5643 Added $_GET inside logs for cache
  inc/classes/Buffer/class-tests.php
Labels: type: enhancement, module: cache

#5835 Closes #5834 Update One.com detection
  inc/ThirdParty/Hostings/HostResolver.php
  tests/Integration/bootstrap.php
  tests/Unit/inc/ThirdParty/Hostings/HostResolver/getHostService.php
Labels: type: enhancement, 3rd party compatibility

#5728 Added a way to change delete old cache interval from preload
  inc/Engine/Preload/Cron/Subscriber.php
  inc/Engine/Preload/Database/Queries/Cache.php
Labels: module: preload

#5739 Closes #5724 Clean up failed RUCSS after a short period of time
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Cron/Subscriber.php
  inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php
  inc/Engine/Preload/Subscriber.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/addInterval.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronRemoveFailedJobs.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/addInterval.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Cron/Subscriber/cronRemoveFailedJobs.php
Labels: type: enhancement, module: remove unused css

#5680 Fix/5585 prevent clearing all cache on restore
  inc/functions/files.php
  tests/Fixtures/inc/functions/rocketCleanFiles.php
  tests/Integration/inc/functions/rocketCleanFiles.php
  tests/Unit/inc/functions/rocketCleanFiles.php
Labels: type: bug, module: cache

#5720 Closes 5719: Forced mobile cache when WpDiscuz is activated.
  inc/ThirdParty/ServiceProvider.php
  inc/classes/subscriber/third-party/plugins/class-mobile-subscriber.php
Labels: type: enhancement, module: cache

#5767 Closes #4215 Add preload fonts before cpcss and rucss
  inc/Engine/Preload/Fonts.php
  tests/Fixtures/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Integration/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Unit/inc/Engine/Preload/Fonts/preloadFonts.php
Labels: type: enhancement, module: critical path css

#5777 Enhancement: Fix the completed action after preload to match the one on wp-rocket.me
  inc/Engine/Preload/Subscriber.php
Labels: dev initiative

#5843 Fixed test
  tests/Unit/inc/functions/rocketCleanHomeFeeds.php
Labels: dev initiative

#5760 Closes #5474 Preconnect is not removed in all cases
  inc/API/bypass.php
  inc/Engine/Optimization/GoogleFonts/Subscriber.php
  tests/Fixtures/inc/API/bypass.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
  tests/Integration/inc/API/bypass.php
  tests/Integration/inc/Engine/Media/EmojisSubscriber/disableEmoji.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/addDelayJsScript.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
  tests/Integration/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Integration/inc/Engine/Preload/Links/Subscriber/addPreloadScript.php
  tests/Unit/inc/API/bypass.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Subscriber/preconnect.php
Labels: type: enhancement, module: google fonts
