Repository wp-media/wp-rocket, pull requests merged in 2023-12, with the labels that each got.

#6280 WPML issue with LL BG
  inc/Engine/Optimization/Minify/AbstractMinifySubscriber.php
Labels: type: bug, 3rd party compatibility, module: lazyload background css images

#6295 Closes #6282: Stop Firing WP Cron when disabled
  assets/js/wpr-admin.js
  assets/js/wpr-admin.js.min.map
  assets/js/wpr-admin.min.js
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  src/js/global/countdown.js
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Settings/addLocalizeScriptData.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Admin/Subscriber/spawnCron.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Admin/Subscriber/spawnCron.php
Labels: type: enhancement

#6317 Fixes #6314 Pass the error code instead of the retries count in the RUCSS strategy
  inc/Engine/Optimization/RUCSS/Strategy/Strategies/DefaultProcess.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Strategy/Strategies/DefaultProcess/execute.php
Labels: type: bug, module: remove unused css

#6285 Closes #6284 LCP & ATF: admin part
  inc/Engine/Media/AboveTheFold/Admin/Controller.php
  inc/Engine/Media/AboveTheFold/Admin/Subscriber.php
  inc/Engine/Media/AboveTheFold/Database/Tables/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/ServiceProvider.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Admin/Controller/deletePostAtf.php
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Admin/Controller/deleteTermAtf.php
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Admin/Controller/truncateAtf.php
  tests/Unit/inc/Engine/Media/AboveTheFold/Admin/Controller/deletePostAtf.php
  tests/Unit/inc/Engine/Media/AboveTheFold/Admin/Controller/deleteTermAtf.php
  tests/Unit/inc/Engine/Media/AboveTheFold/Admin/Controller/truncateAtf.php
Labels: type: sub-task, lcp

#6307 Closes #6281: Task/lcp refactor rucss api cron queue
  inc/3rd-party/plugins/nginx-helper.php
  inc/Addon/Varnish/Subscriber.php
  inc/Engine/Cache/PurgeActionsSubscriber.php
  inc/Engine/Common/Database/Queries/AbstractQuery.php
  inc/Engine/Common/Database/TableInterface.php
  inc/Engine/Common/Database/Tables/AbstractTable.php
  inc/Engine/Common/JobManager/APIHandler/APIClient.php
  inc/Engine/Common/JobManager/APIHandler/AbstractAPIClient.php
  inc/Engine/Common/JobManager/AbstractFactory/SaasFactory.php
  inc/Engine/Common/JobManager/Cron/Subscriber.php
  inc/Engine/Common/JobManager/JobProcessor.php
  inc/Engine/Common/JobManager/Managers/AbstractManager.php
  inc/Engine/Common/JobManager/Managers/ManagerInterface.php
  inc/Engine/Common/JobManager/Queue/Queue.php
  inc/Engine/Common/JobManager/ServiceProvider.php
  inc/Engine/Common/JobManager/Strategy/Context/RetryContext.php
  inc/Engine/Common/JobManager/Strategy/Factory/StrategyFactory.php
  inc/Engine/Common/JobManager/Strategy/Strategies/DefaultProcess.php
  inc/Engine/Common/JobManager/Strategy/Strategies/JobSetFail.php
  inc/Engine/Common/JobManager/Strategy/Strategies/ResetRetryProcess.php
  inc/Engine/Common/JobManager/Strategy/Strategies/StrategyInterface.php
  inc/Engine/Media/AboveTheFold/Context/Context.php
  inc/Engine/Media/AboveTheFold/Database/Queries/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Database/Rows/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Database/Schemas/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Database/Tables/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Frontend/Controller.php
  inc/Engine/Media/AboveTheFold/Jobs/Factory.php
  inc/Engine/Media/AboveTheFold/Jobs/Manager.php
  inc/Engine/Media/AboveTheFold/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Admin/Database.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Context/RUCSSContextSaas.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Cron/Subscriber.php
  inc/Engine/Optimization/RUCSS/Database/Queries/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Database/Tables/UsedCSS.php
  inc/Engine/Optimization/RUCSS/Jobs/Factory.php
  inc/Engine/Optimization/RUCSS/Jobs/Manager.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/Strategy/Factory/StrategyFactory.php
  inc/Engine/Optimization/RUCSS/Strategy/Strategies/JobSetFail.php
  inc/Engine/Optimization/RUCSS/Strategy/Strategies/ResetRetryProcess.php
  inc/Engine/Preload/Subscriber.php
  inc/Plugin.php
  inc/ThirdParty/Hostings/Kinsta.php
  inc/ThirdParty/Hostings/SpinUpWP.php
  inc/ThirdParty/Plugins/CDN/Cloudflare.php
  inc/ThirdParty/Plugins/I18n/TranslatePress.php
  uninstall.php
Labels: type: sub-task, lcp

#6324 Fixes #6323: Get the actual title tag of the document and use as regex directly
  inc/Engine/Media/AboveTheFold/Frontend/Controller.php
Labels: type: bug, lcp

#6303 Closes #6301: Purging cache from post/page editor redirects to posts/pages list when using Classic
  inc/common/admin-bar.php
Labels: type: bug, 3rd party compatibility

#6328 Closes #6319 Create SaaS global clear and banners
  inc/Engine/Media/AboveTheFold/Admin/Controller.php
  inc/Engine/Media/AboveTheFold/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Admin/Settings.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/Optimization/RUCSS/Context/RUCSSOptimizeContext.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Saas/Admin/AdminBar.php
  inc/Engine/Saas/Admin/Clean.php
  inc/Engine/Saas/Admin/Notices.php
  inc/Engine/Saas/Admin/Subscriber.php
  inc/Engine/Saas/ServiceProvider.php
  inc/Plugin.php
Labels: type: sub-task, lcp

#6326 Fixes: #6322: Guard LCP filter from wrong value
  inc/Engine/Media/AboveTheFold/Context/Context.php
Labels: type: bug, lcp

#6106 Fixes #928 Prevent corruption of htaccess file on update
  inc/functions/htaccess.php
  tests/Fixtures/content/htaccessContent.php
  tests/Fixtures/vfs-structure/default.php
Labels: type: bug, module: htaccess

#6336 Closes #6321: LCP/ATF relative images not excluded from LL
  inc/Engine/Media/AboveTheFold/Frontend/Controller.php
Labels: type: bug, lcp

#6347 Closes #6289: Error Code when RUCSS can't be reached
  inc/Engine/Optimization/RUCSS/AbstractAPIClient.php
Labels: type: enhancement, module: remove unused css

#6305 Closes #6278: Do not add URLs to the wpr_rocket_cache table if Preload is disabled
  inc/Engine/Preload/Subscriber.php
  tests/Fixtures/inc/Engine/Preload/Subscriber/updateCacheRow.php
  tests/Integration/inc/Engine/Preload/Subscriber/updateCacheRow.php
  tests/Integration/inc/ThirdParty/Plugins/Smush/isSmushIframesLazyloadActive.php
  tests/Integration/inc/ThirdParty/Plugins/Smush/isSmushLazyloadActive.php
  tests/Integration/inc/ThirdParty/Plugins/Smush/maybeDeactivateRocketLazyload.php
  tests/Unit/inc/Engine/Preload/Subscriber/onPermalinkChanged.php
Labels: type: enhancement, module: preload
