Repository wp-media/wp-rocket, pull requests merged in 2023-06, with the labels that each got.

#5852 Closes #5815 Correctly clear cache for URLs whose permalink contains uppercase letters in non-latin alphabets
  inc/functions/files.php
Labels: type: bug, waiting for feedback, module: cache

#5948 Fix skipped integration tests
  tests/Fixtures/inc/ThirdParty/Themes/Uncode/excludeDelayJs.php
  tests/Fixtures/inc/ThirdParty/Themes/Uncode/excludeJs.php
  tests/Integration/inc/Addon/WebP/Subscriber/convertToWebp.php
  tests/Integration/inc/ThirdParty/Themes/Uncode/excludeDelayJs.php
  tests/Integration/inc/ThirdParty/Themes/Uncode/excludeJs.php
  tests/Unit/inc/ThirdParty/Themes/Uncode/excludeDelayJs.php
  tests/Unit/inc/ThirdParty/Themes/Uncode/excludeJs.php
Labels: type: bug, dev initiative

#5961 Re-add custom $use_cache parameter in BerlinDB Query
  inc/Dependencies/Database/Query.php
Labels: type: bug

#5944 Enhancement/5905 notice cpcss integration tests
  assets/css/wpr-admin.min.css
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/switchToRucss.php
  tests/Fixtures/inc/Engine/CriticalPath/CriticalCSSSubscriber/switchToRucssNotice.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/switchToRucss.php
  tests/Integration/inc/Engine/CriticalPath/CriticalCSSSubscriber/switchToRucssNotice.php
Labels: type: enhancement, module: critical path css

#5953 Closes #5951 Add compatibility with Cloudflare plugin & APO
  .github/workflows/lint_phpcs.yml
  .github/workflows/test_wprocket.yml
  .github/workflows/test_wprocket_legacy.yml
  .github/workflows/test_wprocket_php8.yml
  inc/Addon/Cloudflare/Cloudflare.php
  inc/Engine/Admin/Beacon/Beacon.php
  inc/Engine/Admin/Settings/Page.php
  inc/ThirdParty/Plugins/CDN/Cloudflare.php
  inc/ThirdParty/ServiceProvider.php
  inc/admin/ui/notices.php
  inc/common/purge.php
  src/scss/components/_addon.scss
  tests/Fixtures/WP_Post.php
  tests/Fixtures/inc/ThirdParty/Plugins/CDN/Cloudflare/addAfterRocketCleanToActions.php
  tests/Fixtures/inc/ThirdParty/Plugins/CDN/Cloudflare/addCleanDomainOnPurge.php
  tests/Fixtures/inc/ThirdParty/Plugins/CDN/Cloudflare/addRocketPurgeUrlToPurgeUrl.php
  tests/Fixtures/inc/ThirdParty/Plugins/CDN/Cloudflare/disableCloudflareOption.php
  tests/Fixtures/inc/ThirdParty/Plugins/CDN/Cloudflare/displayApoCacheNotice.php
  tests/Fixtures/inc/ThirdParty/Plugins/CDN/Cloudflare/displayApoCookiesNotice.php
  tests/Fixtures/inc/ThirdParty/Plugins/CDN/Cloudflare/hideAddonRadio.php
  tests/Fixtures/inc/ThirdParty/Plugins/CDN/Cloudflare/updateAddonField.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/saveCloudflareOldSettings.php
  tests/Integration/inc/ThirdParty/Hostings/Kinsta/cleanKinstaPostCache.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/addAfterRocketCleanToActions.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/addCleanDomainOnPurge.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/addRocketPurgeUrlToPurgeUrl.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/disableCloudflareOption.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/displayApoCacheNotice.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/displayApoCookiesNotice.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/hideAddonRadio.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/updateAddonField.php
  tests/Unit/inc/Engine/Cache/Purge/purgePostTermsUrls.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/addAfterRocketCleanToActions.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/addCleanDomainOnPurge.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/addRocketPurgeUrlToPurgeUrl.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/disableCloudflareOption.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/displayApoCacheNotice.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/displayApoCookiesNotice.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/displayServerPushingModeNotice.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/hideAddonRadio.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/updateAddonField.php
  tests/Unit/inc/common/rocketGetPurgeUrls.php
  views/settings/fields/rocket-addon.php
Labels: type: enhancement, 3rd party compatibility, module: cloudflare

#5976 Added a fix for the notice not displaying when cloudflare and APO are enabled
  inc/Addon/Cloudflare/Subscriber.php
  inc/Addon/Sucuri/Subscriber.php
  inc/Engine/Admin/Settings/Page.php
  inc/ThirdParty/Plugins/CDN/Cloudflare.php
  tests/Fixtures/inc/Addon/Cloudflare/Subscriber/addCdnHelperMessage.php
  tests/Fixtures/inc/Addon/Sucuri/Subscriber/addCdnHelperMessage.php
  tests/Fixtures/inc/ThirdParty/Plugins/CDN/Cloudflare/addCdnHelperMessage.php
  tests/Integration/inc/Addon/Cloudflare/Subscriber/addCdnHelperMessage.php
  tests/Integration/inc/Addon/Sucuri/Subscriber/addCdnHelperMessage.php
  tests/Integration/inc/ThirdParty/Plugins/CDN/Cloudflare/addCdnHelperMessage.php
  tests/Unit/inc/Addon/Cloudflare/Subscriber/addCdnHelperMessage.php
  tests/Unit/inc/Addon/Sucuri/Subscriber/addCdnHelperMessage.php
  tests/Unit/inc/ThirdParty/Plugins/CDN/Cloudflare/addCdnHelperMessage.php
Labels: type: bug, module: cloudflare

#5979 Fixed disappearing notice Cloudflare
  inc/Addon/Cloudflare/Subscriber.php
Labels: type: bug, module: cloudflare

#5899 add new filter rocket_rucss_skip_styles_with_attr to skip styles with specific attributes
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/check_job_status.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/treeshake.php
Labels: needs: documentation

#6002 Closes #5927: Fatal Error UsedCSS::revert_to_pending()
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  tests/Fixtures/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/clearFailedUrls.php
  tests/Unit/inc/Engine/Optimization/RUCSS/Controller/UsedCSS/clearFailedUrls.php
Labels: type: bug, module: remove unused css

#5920 Closes #5885: Preload: Don't try to preload private pages
  inc/Engine/Preload/Subscriber.php
  tests/Fixtures/WP_Query.php
  tests/Fixtures/inc/Engine/Preload/Subscriber/excludePrivatePostUri.php
  tests/Integration/inc/Engine/Optimization/DynamicLists/Subscriber/addPreloadExclusions.php
  tests/Integration/inc/Engine/Preload/Subscriber/excludePrivatePostUri.php
  tests/Unit/inc/Engine/Preload/Frontend/FetchSitemap/parseSitemap.php
  tests/Unit/inc/Engine/Preload/Subscriber/excludePrivatePostUri.php
Labels: type: enhancement, module: preload

#5761 Added logic to clean root files
  inc/Engine/Preload/Subscriber.php
  inc/ThirdParty/Plugins/I18n/WPML.php
  tests/Fixtures/inc/ThirdParty/Plugins/I18n/WPML/onChangeDirectoryForDefaultLanguageCleanCache.php
  tests/Fixtures/inc/ThirdParty/Plugins/I18n/WPML/removeRootCachedFiles.php
  tests/Unit/inc/Engine/Preload/Subscriber/onPermalinkChanged.php
  tests/Unit/inc/ThirdParty/Plugins/I18n/WPML/onChangeDirectoryForDefaultLanguageCleanCache.php
  tests/Unit/inc/ThirdParty/Plugins/I18n/WPML/removeRootCachedFiles.php
Labels: waiting for feedback
