Repository wp-media/wp-rocket, pull requests merged in 2024-12, with the labels that each got.

#7166 Fixes #7143 Update file structure for local fonts & CSS fonts
  inc/Engine/Common/AbstractFileSystem.php
  inc/Engine/Media/Fonts/Filesystem.php
  inc/Engine/Media/Fonts/Frontend/Controller.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Controller/HTML/expected_v1.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Controller/HTML/expected_v1_v2.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Controller/HTML/expected_v2.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/HTML/expected_v1.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/HTML/expected_v1_v2.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/HTML/expected_v2.php
  tests/Integration/inc/Engine/Media/Fonts/Frontend/Subscriber/rewriteFonts.php
  tests/Unit/inc/Engine/Media/Fonts/Frontend/Controller/rewriteFonts.php
Labels: type: sub-task

#7163 Closes #7161: Host Google Fonts - Measure time
  inc/Engine/Media/Fonts/Frontend/Controller.php
  tests/Integration/inc/Engine/Media/Fonts/Frontend/Subscriber/rewriteFonts.php
Labels: type: sub-task

#7081 Closes #7058: Implement DJE Safe Mode Feature
  assets/js/wpr-admin.js
  assets/js/wpr-admin.min.js
  assets/js/wpr-admin.min.js.map
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/DelayJS/Admin/Settings.php
  inc/Engine/Optimization/DelayJS/HTML.php
  src/js/global/fields.js
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Settings/sanitizeOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/Subscriber/addOptions.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
  tests/Integration/inc/Engine/Optimization/DelayJS/Subscriber/delayJs.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/Settings/sanitizeOptions.php
  tests/Unit/inc/Engine/Optimization/DelayJS/HTML/delayJs.php
Labels: effort: [M], epics 🔥, module: delay JS

#7169 Closes #7064 CDN Compatibility for host fonts locally
  inc/Engine/Media/Fonts/Filesystem.php
  inc/Engine/Media/Fonts/Frontend/Controller.php
Labels: type: sub-task

#7162 Rewrite google fonts with SaaS visit
  .github/workflows/lint_phpcs.yml
  .github/workflows/lint_phpstan.yml
  .github/workflows/test_wprocket.yml
  .github/workflows/test_wprocket_latest_general_coverage.yml
  .github/workflows/test_wprocket_latest_specific.yml
  .github/workflows/test_wprocket_php8.yml
  inc/Engine/Common/PerformanceHints/WarmUp/Controller.php
  inc/Engine/Media/Fonts/Context/OptimizationContext.php
  inc/Engine/Media/Fonts/Context/SaasContext.php
  inc/Engine/Media/Fonts/Frontend/Controller.php
  inc/Engine/Media/Fonts/Frontend/Subscriber.php
  inc/Engine/Media/Fonts/ServiceProvider.php
  inc/functions/options.php
  tests/Fixtures/inc/Engine/Common/PerformanceHints/WarmUp/Controller/addWPRImageDimensionQueryArg.php
  tests/Fixtures/inc/Engine/Media/Fonts/Context/OptimizationContext/isAllowed.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Controller/rewriteFontsForOptimizations.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/rewriteFontsForOptimizations.php
  tests/Integration/inc/Engine/Media/Fonts/Frontend/Subscriber/rewriteFontsForOptimizations.php
  tests/Unit/inc/Engine/Common/PerformanceHints/WarmUp/Controller/addWPRImageDimensionQueryArg.php
  tests/Unit/inc/Engine/Media/Fonts/Context/Context/isAllowed.php
  tests/Unit/inc/Engine/Media/Fonts/Frontend/Controller/rewriteFontsForOptimizations.php
Labels: type: sub-task

#7090 Closes #7075: Plugin - Accommodate new oneclick exclusions UI for delayjs
  assets/css/wpr-admin.css
  assets/css/wpr-admin.min.css
  assets/img/ad_network.svg
  assets/img/analytics.svg
  assets/img/others.svg
  assets/img/payment.svg
  assets/img/plugins.svg
  assets/img/themes.svg
  assets/js/wpr-admin.js
  assets/js/wpr-admin.min.js
  assets/js/wpr-admin.min.js.map
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Optimization/DelayJS/Admin/SiteList.php
  inc/Engine/Optimization/DynamicLists/AbstractAPIClient.php
  inc/Engine/Optimization/DynamicLists/Subscriber.php
  src/js/global/fields.js
  src/scss/components/fields/_categorizedmultiselect.scss
  tests/Fixtures/classes/WP_Theme.php
  tests/Fixtures/inc/Engine/Optimization/DelayJS/Admin/SiteList/prepareDelayjsUiList.php
  tests/Unit/inc/Engine/Optimization/DelayJS/Admin/SiteList/prepareDelayjsUiList.php
  views/settings/fields/categorized_multiselect.php
Labels: epics 🔥

#7110 Closes #7071 Clean CSS & fonts for host fonts locally
  inc/Engine/Media/Fonts/Clean/Clean.php
  inc/Engine/Media/Fonts/Clean/Subscriber.php
  inc/Engine/Media/Fonts/ServiceProvider.php
  inc/Engine/Optimization/Minify/CSS/AdminSubscriber.php
  inc/Engine/Optimization/RUCSS/Admin/Subscriber.php
  inc/Engine/WPRocketUninstall.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/Media/Fonts/Clean/Clean/cleanOnOptionChange.php
  tests/Unit/inc/Engine/Media/Fonts/Clean/Clean/cleanOnOptionChange.php
Labels: type: sub-task

#7168 Change workflow dynamic lists' endpoints to the new endpoint
  .github/workflows/deploy_dynamic_lists_fallback.yml
Labels: noQA

#7167 Closes #7069: 3.18 - Exclusions part
  inc/Engine/Media/Fonts/FontsTrait.php
  inc/Engine/Media/Fonts/Frontend/Controller.php
  inc/Engine/Optimization/DynamicLists/DynamicLists.php
  inc/Engine/Optimization/DynamicLists/Subscriber.php
  inc/Engine/Optimization/GoogleFonts/AbstractGFOptimization.php
  inc/Engine/Optimization/GoogleFonts/Combine.php
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/HTML/expected_v1_excluded_v2.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/HTML/expected_v1_v2_regex.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/HTML/expected_v2_from_combination.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/HTML/input_v1_v2_regex.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/HTML/input_v2_from_combination.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/rewriteFontsForOptimizations.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Fixtures/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
  tests/Integration/inc/Engine/Media/Fonts/Frontend/Subscriber/rewriteFontsForOptimizations.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Unit/inc/Engine/Optimization/GoogleFonts/CombineV2/optimize.php
Labels: type: sub-task

#7154 Closes #7153: Update plugin family package
  composer.json
  inc/Dependencies/WPMedia/PluginFamily/Model/PluginFamily.php
  inc/Dependencies/WPMedia/PluginFamily/Model/wp_media_plugins.php
Labels: type: enhancement

#7194 Closes #7189 Update self-host google fonts exclusion
  inc/Engine/Media/Fonts/FontsTrait.php
  inc/Engine/Media/Fonts/Frontend/Controller.php
  inc/Engine/Optimization/GoogleFonts/Combine.php
  inc/Engine/Optimization/GoogleFonts/CombineV2.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/HTML/expected_v1_v2_regex.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/HTML/input_v1_v2_regex.php
  tests/Fixtures/inc/Engine/Media/Fonts/Frontend/Subscriber/rewriteFontsForOptimizations.php
Labels: type: sub-task
