Repository wp-media/wp-rocket, pull requests merged in 2024-03, with the labels that each got.

#6469 Closes #6468: Imagify 3rd Compatibility
  inc/classes/subscriber/third-party/plugins/Images/Webp/class-imagify-subscriber.php
  tests/Unit/inc/classes/third-party/plugins/Images/Webp/Imagify_Subscriber/isConvertingToWebp.php
  tests/Unit/inc/classes/third-party/plugins/Images/Webp/Imagify_Subscriber/isServingWebp.php
  tests/Unit/inc/classes/third-party/plugins/Images/Webp/Imagify_Subscriber/isServingWebpCompatibleWithCdn.php
Labels: 3rd party compatibility

#6475 Closes #6461: Deletes old implementation LCP
  inc/Engine/Media/AboveTheFold/Database/Rows/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Database/Schemas/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Database/Tables/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Frontend/Controller.php
  inc/Engine/Media/AboveTheFold/Jobs/Factory.php
  inc/Engine/Media/AboveTheFold/Jobs/Manager.php
  inc/Engine/Media/AboveTheFold/ServiceProvider.php
Labels: lcp

#6459 Closes #6430: Inject beacon script to page
  assets/js/lcp-beacon.js
  assets/js/lcp-beacon.js.min.map
  assets/js/lcp-beacon.min.js
  dynamic-lists-delayjs.json
  dynamic-lists.json
  gulpfile.js
  inc/Engine/Media/AboveTheFold/Database/Rows/AboveTheFold.php
  inc/Engine/Media/AboveTheFold/Frontend/Controller.php
  tests/Fixtures/inc/Engine/CDN/CDN/HTML/siteURLWithPath/rewrite.html
  tests/Fixtures/inc/Engine/CDN/Subscriber/HTML/siteURL/original.html
  tests/Fixtures/inc/Engine/CDN/Subscriber/HTML/siteURL/rewrite.html
  tests/Fixtures/inc/Engine/CDN/Subscriber/HTML/siteURLWithPath/rewrite.html
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Frontend/Subscriber/HTML/input.html
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Frontend/Subscriber/HTML/output.html
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Frontend/Subscriber/HTML/output_w_beacon.html
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Frontend/Subscriber/lcp.php
  tests/Fixtures/inc/Engine/Optimization/Minify/CSS/Subscriber/process.php
  tests/Fixtures/inc/Engine/Optimization/Minify/JS/Subscriber/process.php
  tests/Fixtures/inc/ThirdParty/Themes/Divi/disableImageDimensionsHeightPercentage.php
  tests/Integration/DBTrait.php
  tests/Integration/inc/Engine/Media/AboveTheFold/Frontend/Subscriber/lcp.php
  tests/Integration/inc/Engine/Media/ImageDimensions/Subscriber/specifyImageDimensions.php
  tests/Integration/inc/Engine/Optimization/GoogleFonts/Combine/optimize.php
  tests/Integration/inc/Engine/Optimization/RUCSS/Frontend/Subscriber/treeshake.php
  tests/Integration/inc/Engine/Preload/Fonts/preloadFonts.php
  tests/Integration/inc/ThirdParty/Themes/Divi/disableImageDimensionsHeightPercentage.php
  tests/Unit/inc/Engine/Media/AboveTheFold/Frontend/Controller/addExclusions.php
Labels: type: new feature, lcp

#6481 Closes #6479 Add inline JS data for LCP script
  inc/Engine/Media/AboveTheFold/Frontend/Controller.php
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Frontend/Subscriber/HTML/output_w_beacon.html
  tests/Integration/inc/Engine/Media/AboveTheFold/Cron/Subscriber/atfCleanup.php
  tests/Integration/inc/Engine/Media/AboveTheFold/Frontend/Subscriber/lcp.php
  tests/Unit/inc/Engine/Media/AboveTheFold/Frontend/Controller/addExclusions.php
Labels: type: sub-task, lcp

#6465 Sub-task: #6429 preload links with actions
  inc/Engine/Activation/Activation.php
  inc/Engine/Media/AboveTheFold/Activation/Activation.php
  inc/Engine/Media/AboveTheFold/Activation/ServiceProvider.php
  inc/Engine/Media/AboveTheFold/Admin/Controller.php
  inc/Engine/Media/AboveTheFold/ServiceProvider.php
  inc/Engine/Media/AboveTheFold/WarmUp/Controller.php
  inc/Engine/Media/AboveTheFold/WarmUp/Subscriber.php
  inc/Plugin.php
  tests/Fixtures/inc/Engine/Media/AboveTheFold/WarmUp/Controller/fetchLinks.php
  tests/Unit/inc/Engine/Media/AboveTheFold/WarmUp/Controller/fetchLinks.php
Labels: lcp

#6503 Closes #6470 Send links to SaaS for warmup
  inc/Engine/Common/JobManager/APIHandler/APIClient.php
  inc/Engine/Common/JobManager/APIHandler/AbstractAPIClient.php
  inc/Engine/Common/JobManager/JobProcessor.php
  inc/Engine/Common/Utils.php
  inc/Engine/Media/AboveTheFold/ServiceProvider.php
  inc/Engine/Media/AboveTheFold/WarmUp/APIClient.php
  inc/Engine/Media/AboveTheFold/WarmUp/Controller.php
  tests/Unit/HasLoggerTrait.php
  tests/Unit/inc/Engine/Common/JobManager/APIHandler/APIClient/addToQueue.php
  tests/Unit/inc/Engine/Common/JobManager/APIHandler/APIClient/getQueueJobStatus.php
  tests/Unit/inc/Engine/Media/AboveTheFold/WarmUp/Controller/fetchLinks.php
Labels: type: sub-task, lcp

#6504 Closes #6428 Bail-out of warmup if licence expired since more than 15 days
  inc/Engine/License/API/User.php
  inc/Engine/Media/AboveTheFold/ServiceProvider.php
  inc/Engine/Media/AboveTheFold/WarmUp/Controller.php
  tests/Fixtures/inc/Engine/License/API/User/HasLicenseExpiredPast15Days.php
  tests/Fixtures/inc/Engine/Media/AboveTheFold/WarmUp/Controller/fetchLinks.php
  tests/Unit/inc/Engine/License/API/User/IsLicenseExpiredGracePeriod.php
  tests/Unit/inc/Engine/Media/AboveTheFold/WarmUp/Controller/fetchLinks.php
Labels: type: sub-task, lcp

#6520 316 bug front end optimizations are not applied even when lcpatf data is in the db
  assets/js/lcp-beacon.js
  assets/js/lcp-beacon.js.min.map
  assets/js/lcp-beacon.min.js
  inc/Engine/Common/ExtractCSS/Subscriber.php
  inc/Engine/Media/AboveTheFold/AJAX/Controller.php
  inc/Engine/Media/AboveTheFold/Database/Rows/AboveTheFold.php
  inc/Engine/Media/Lazyload/CSS/Front/Extractor.php
  inc/Engine/Optimization/RUCSS/Controller/UsedCSS.php
  inc/admin/options.php
  inc/classes/Buffer/class-cache.php
  inc/functions/htaccess.php
  tests/Fixtures/inc/Engine/Media/AboveTheFold/AJAX/Controller/addLcpData.php
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Frontend/Subscriber/HTML/output_w_preload.html
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Frontend/Subscriber/lcp.php
Labels: lcp
