Repository wp-media/wp-rocket, pull requests merged in 2025-02, with the labels that each got.

#7269 Closes #7258: Add self hosted font to metatag generator
  inc/Engine/Support/Meta.php
  tests/Fixtures/inc/Engine/Support/Meta/addMetaGenerator.php
  tests/Integration/inc/Engine/Media/Fonts/Frontend/Subscriber/rewriteFontsForOptimizations.php
  tests/Unit/inc/Engine/Support/Meta/addMetaGenerator.php
Labels: type: enhancement

#7254 Closes #6661: safeguard exclusions for non valid path
  inc/Engine/Media/AboveTheFold/Frontend/Controller.php
  tests/Fixtures/inc/Engine/Media/AboveTheFold/Frontend/Controller/addExclusions.php
Labels: type: bug

#7297 Closes #7187: Add filter to disable Homepage cache clearing in rocket_clean_post
  inc/common/purge.php
  tests/Fixtures/inc/common/doAdminPostRocketPurgeCache.php
  tests/Integration/inc/common/doAdminPostRocketPurgeCache.php
Labels: type: enhancement, noQA

#7303 Closes #7239: 3.19 - User interface
  inc/Engine/Admin/Settings/Page.php
  inc/Engine/Admin/Settings/Subscriber.php
  inc/Engine/Media/Fonts/Admin/Settings.php
  tests/Fixtures/inc/admin/rocketFirstInstall.php
Labels: module: preload fonts

#7215 Closes #6550 Delegate creation of the dependencies to the container
  inc/Addon/Cloudflare/ServiceProvider.php
  inc/Addon/ServiceProvider.php
  inc/Addon/Varnish/ServiceProvider.php
  inc/Engine/Activation/Activation.php
  inc/Engine/Activation/ServiceProvider.php
  inc/Engine/Admin/API/ServiceProvider.php
  inc/Engine/Admin/Beacon/ServiceProvider.php
  inc/Engine/Admin/Database/ServiceProvider.php
  inc/Engine/Admin/DomainChange/ServiceProvider.php
  inc/Engine/Admin/ServiceProvider.php
  inc/Engine/Admin/Settings/ServiceProvider.php
  inc/Engine/CDN/RocketCDN/ServiceProvider.php
  inc/Engine/CDN/ServiceProvider.php
  inc/Engine/Cache/ServiceProvider.php
  inc/Engine/Capabilities/ServiceProvider.php
  inc/Engine/Common/ExtractCSS/ServiceProvider.php
  inc/Engine/Common/JobManager/ServiceProvider.php
  inc/Engine/Common/PerformanceHints/Activation/ServiceProvider.php
  inc/Engine/Common/PerformanceHints/ServiceProvider.php
  inc/Engine/CriticalPath/ServiceProvider.php
  inc/Engine/Deactivation/Deactivation.php
  inc/Engine/Deactivation/ServiceProvider.php
  inc/Engine/Debug/ServiceProvider.php
  inc/Engine/HealthCheck/ServiceProvider.php
  inc/Engine/Heartbeat/ServiceProvider.php
  inc/Engine/License/ServiceProvider.php
  inc/Engine/Media/AboveTheFold/ServiceProvider.php
  inc/Engine/Media/Lazyload/CSS/Admin/ServiceProvider.php
  inc/Engine/Media/Lazyload/CSS/ServiceProvider.php
  inc/Engine/Media/ServiceProvider.php
  inc/Engine/Optimization/AdminServiceProvider.php
  inc/Engine/Optimization/DeferJS/ServiceProvider.php
  inc/Engine/Optimization/DelayJS/ServiceProvider.php
  inc/Engine/Optimization/DynamicLists/ServiceProvider.php
  inc/Engine/Optimization/LazyRenderContent/ServiceProvider.php
  inc/Engine/Optimization/RUCSS/ServiceProvider.php
  inc/Engine/Optimization/ServiceProvider.php
  inc/Engine/Plugin/ServiceProvider.php
  inc/Engine/Preload/Activation/ServiceProvider.php
  inc/Engine/Preload/Links/ServiceProvider.php
  inc/Engine/Preload/ServiceProvider.php
  inc/Engine/Saas/ServiceProvider.php
  inc/Engine/Support/ServiceProvider.php
  inc/Logger/ServiceProvider.php
  inc/Plugin.php
  inc/ThirdParty/Hostings/ServiceProvider.php
  inc/ThirdParty/ServiceProvider.php
  inc/classes/ServiceProvider/class-common-subscribers.php
  inc/classes/ServiceProvider/class-options.php
Labels: performance, dev initiative

#7302 Closes #7240: 3.19 - Beacon Insertion
  inc/Engine/Common/PerformanceHints/Cron/CronTrait.php
  inc/Engine/Common/PerformanceHints/Database/Queries/QueriesInterface.php
  inc/Engine/Common/PerformanceHints/ServiceProvider.php
  inc/Engine/Media/PreloadFonts/Context/Context.php
  inc/Engine/Media/PreloadFonts/Factory.php
  inc/Engine/Media/PreloadFonts/Frontend/Controller.php
  inc/Engine/Media/PreloadFonts/ServiceProvider.php
  phpstan-baseline.neon
  tests/Fixtures/inc/Engine/Common/PerformanceHints/Frontend/Subscriber/HTML/no_closing_body_tag_output.html
  tests/Fixtures/inc/Engine/Common/PerformanceHints/Frontend/Subscriber/HTML/output_double_body_tag.html
  tests/Fixtures/inc/Engine/Common/PerformanceHints/Frontend/Subscriber/HTML/output_w_beacon.html
  tests/Fixtures/inc/Engine/Common/PerformanceHints/Frontend/Subscriber/HTML/output_with_beacon_and_atf_opt.html
  tests/Fixtures/inc/Engine/Common/PerformanceHints/Frontend/Subscriber/HTML/output_with_beacon_and_only_lrc_opt.html
  tests/Fixtures/inc/Engine/Common/PerformanceHints/Frontend/Subscriber/maybe_apply_optimizations.php
  tests/Fixtures/inc/Engine/Media/PreloadFonts/AJAX/Controller/checkData.php
  tests/Fixtures/inc/Engine/Media/PreloadFonts/Database/Rows/PreloadFonts/hasPreloadFonts.php
  tests/Integration/DBTrait.php
  tests/Integration/bootstrap.php
  tests/Integration/inc/Engine/Common/PerformanceHints/Frontend/Subscriber/maybe_apply_optimizations.php
  tests/Integration/inc/Engine/Support/Data/getSupportData.php
  tests/Unit/inc/Engine/Media/PreloadFonts/AJAX/Controller/checkData.php
  tests/Unit/inc/Engine/Media/PreloadFonts/Database/Rows/PreloadFonts/hasPreloadFonts.php
Labels: module: preload fonts
